<div class="center">
  <div class="img">
    <img src="../../../assets/img/cancel.png" alt="">
  </div>
  <div class="title">
    <p>Error</p>
  </div>
  <div class="message">
    <p>{{errorMsg}}</p>
  </div>
</div>