<div class="main-content users-roles">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<!-- main form start -->
				<mat-tab-group #tabGroup>
					<!-- Users tab start -->
					<mat-tab>
						<ng-template mat-tab-label>
							Users
						</ng-template>
					</mat-tab>

					<!-- Roles tab start -->
					<mat-tab>
						<ng-template mat-tab-label>
							Roles
						</ng-template>
						<!-- role content start -->
						<div class="col-md-12">
							<button
								mat-raised-button
								type="button"
								class="btn btn-sm btn-danger pull-right"
								routerLinkActive="router-link-active"
								[routerLink]="['/addRole']"
							>
								<i class="material-icons">add</i>
								Add New Role
							</button>
						</div>
						<div class="mat-elevation-z8">
							<table mat-table [dataSource]="usersSource">
								<!-- Role Name Column -->
								<ng-container matColumnDef="role">
									<th mat-header-cell *matHeaderCellDef>Role Name</th>
									<td mat-cell *matCellDef="let element">{{ element.role }}</td>
								</ng-container>

								<!-- Description Column -->
								<ng-container matColumnDef="description">
									<th mat-header-cell *matHeaderCellDef>Descriotion</th>
									<td mat-cell *matCellDef="let element">
										{{ element.description }}
									</td>
								</ng-container>

								<!-- Action Column -->
								<ng-container matColumnDef="action">
									<th mat-header-cell *matHeaderCellDef>Action</th>
									<td mat-cell *matCellDef="let element">
										<button
											mat-raised-button
											class="btn btn-sm btn-danger btn-link btn-sm btn-just-icon"
											type="button"
										>
											<i class="material-icons">create</i>
										</button>
										<button
											mat-raised-button
											class="btn btn-sm btn-danger btn-link btn-sm btn-just-icon"
											type="button"
										>
											<i class="material-icons">file_copy</i>
										</button>
										<button
											mat-raised-button
											class="btn btn-sm btn-danger btn-link btn-sm btn-just-icon"
											type="button"
										>
											<i class="material-icons">delete</i>
										</button>
									</td>
								</ng-container>

								<tr mat-header-row *matHeaderRowDef="usersColumns"></tr>
								<tr mat-row *matRowDef="let row; columns: usersColumns"></tr>
							</table>

							<mat-paginator
								[pageSizeOptions]="[5, 10, 20]"
								showFirstLastButtons
							></mat-paginator>
						</div>
					</mat-tab>
					<!-- Permission tab start -->
					<mat-tab>
						<ng-template mat-tab-label>
							Permission
						</ng-template>
					</mat-tab>
				</mat-tab-group>
			</div>
		</div>
	</div>
</div>
