::ng-deep .add-item {
	input-file {
		height: 100%;
		.input-file-container {
			height: 100%;
			.files-container {
				height: 100%;
				padding-top: 4px !important;
				padding-bottom: 3px !important;

				.file-container {
					height: 100% !important;
					margin-right: 0 !important;
					width: 100% !important;
					overflow: hidden !important;
					min-width: 10rem;
					min-height: 10rem;
					border: 1px solid #dfdfdf !important;
					border-radius: 6px !important;
					transition: 0.3s;
					&:hover {
						border: 2px solid #212121 !important;
					}
					.file-button {
						height: 100% !important;
						width: 100% !important;
					}
					.replace-button,
					.secondary-button {
						width: 100% !important;
					}
				}
			}
		}
	}
	.checkbox {
		margin-top: 13px;
	}

	.dimension-title{
		margin-top: 15px;
	}
}
