<!-- Add Item form component -->
<div class="main-content add-item">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<!-- main form start -->
				<form [formGroup]="addItemForm" (ngSubmit)="submit()">
					<div class="card-form status-dropdown">
						<div class="form-row d-flex justify-content-between">
							<div class="id-card">
								<p>Item ID # {{addItemForm.get('itemId').value}}</p>
							</div>
							<div class="form-group col-md-2">
								<mat-form-field [style.fontSize]="'12px'" appearance="outline">
									<mat-label>Item Type</mat-label>
									<mat-select formControlName="itemType" (selectionChange)="changeValidity()" [compareWith]="compareDropdownType">
										<mat-option [value]="null"></mat-option>
										<mat-option *ngFor="let type of itemTypeDropDown" [value]="type">
											{{ type.value }}
										</mat-option>
									</mat-select>
								</mat-form-field>
							</div>
						</div>
					</div>

					<!-- Add Item Form card start -->
					<div class="card">
						<div class="card-body card-form">
							<div class="form-row">
								<!-- upload picture div -->
								<div class="col-md-3 order-md-2">
									<input-file> </input-file>
								</div>

								<!-- basic info -->
								<div class="col-md-9 order-md-1">
									<div class="form-row">
										<div class="form-group col-md-4">
											<mat-form-field [style.fontSize]="'12px'" appearance="outline"
												class="full-width">
												<mat-label>Name</mat-label>
												<input matInput formControlName="name" placeholder="Name" />
											</mat-form-field>
										</div>
										<div class="form-group col-md-4">
											<mat-form-field [style.fontSize]="'12px'" appearance="outline"
												class="full-width">
												<mat-label>SKU</mat-label>
												<input matInput formControlName="sku" placeholder="SKU" />
											</mat-form-field>
										</div>
										<div class="form-group col-md-4">
											<mat-form-field [style.fontSize]="'12px'" appearance="outline">
												<mat-label>Unit</mat-label>
												<mat-select formControlName="unit" [compareWith]="compareDropdownType">
													<mat-option [value]="null"></mat-option>
													<mat-option *ngFor="let units of itemUnitDropDown" [value]="units">
														{{ units.value }}
													</mat-option>
												</mat-select>
											</mat-form-field>
										</div>
										<div class="form-group col-md-4">
											<mat-form-field [style.fontSize]="'12px'" appearance="outline"
												class="full-width">
												<input type="text" placeholder="Item category" matInput
													formControlName="category" [matAutocomplete]="auto1" />
												<mat-autocomplete #auto1="matAutocomplete" [displayWith]="displayCategory">
													<mat-option *ngFor="let options of filteredCategory"
														[value]="options">
														{{ options.value }}
													</mat-option>
												</mat-autocomplete>
												<button mat-raised-button type="button" matSuffix
													class="btn btn-sm btn-danger btn-link btn-sm btn-just-icon btn-suffix"
													(click)="$event.stopPropagation(); openCategoryModal('Item Category')">
													<i class="material-icons">add</i>
												</button>
											</mat-form-field>
										</div>
										<div class="form-group col-md-4">
											<mat-form-field [style.fontSize]="'12px'" appearance="outline"
												class="full-width">
												<input type="text" placeholder="Brand" matInput formControlName="brand"
													[matAutocomplete]="auto" />
												<mat-autocomplete #auto="matAutocomplete" [displayWith]="displayBrand">
													<mat-option *ngFor="let option of filteredBrand"
														[value]="option">
														{{ option.value }}
													</mat-option>
												</mat-autocomplete>
												<button mat-raised-button type="button" matSuffix
													class="btn btn-sm btn-danger btn-link btn-sm btn-just-icon btn-suffix"
													(click)="$event.stopPropagation(); openBrandModal('Brand')">
													<i class="material-icons">add</i>
												</button>
											</mat-form-field>
										</div>

										<div class="form-group col-md-4">
											<mat-form-field [style.fontSize]="'12px'" appearance="outline"
												class="full-width">
												<mat-label>UPC</mat-label>
												<input matInput formControlName="upc" placeholder="UPC" />
											</mat-form-field>
										</div>
										<div class="form-group col-md-4">
											<mat-form-field [style.fontSize]="'12px'" appearance="outline"
												class="full-width">
												<mat-label>EAN</mat-label>
												<input matInput formControlName="ean" placeholder="EAN" />
											</mat-form-field>
										</div>
										<div class="form-group col-md-4">
											<mat-form-field [style.fontSize]="'12px'" appearance="outline"
												class="full-width">
												<mat-label>MPN</mat-label>
												<input matInput formControlName="mpn" placeholder="MPN" />
											</mat-form-field>
										</div>
										<div class="form-group col-md-4">
											<mat-form-field [style.fontSize]="'12px'" appearance="outline"
												class="full-width">
												<mat-label>ISBN</mat-label>
												<input matInput formControlName="isbn" placeholder="ISBN" />
											</mat-form-field>
										</div>
										<div class="form-group col-md-4">
											<mat-form-field [style.fontSize]="'12px'" appearance="outline"
												class="full-width">
												<mat-label>Cost</mat-label>
												<input matInput formControlName="cost" placeholder="Cost" />
											</mat-form-field>
										</div>
										<div class="form-group col-md-4">
											<mat-form-field [style.fontSize]="'12px'" appearance="outline"
												class="full-width">
												<mat-label>Quantity</mat-label>
												<input matInput formControlName="quantity" placeholder="Quantity" />
											</mat-form-field>
										</div>
										<div class="form-group col-md-4">
											<mat-form-field [style.fontSize]="'12px'" appearance="outline"
												class="full-width">
												<mat-label>Weight (Kg)</mat-label>
												<input matInput formControlName="weight" placeholder="Weight (Kg)" />
											</mat-form-field>
										</div>
									</div>
									<div class="form-row">
										<span class="dimension-title">Dimension:</span>
										<div class="form-group col-md-2">
											<mat-form-field [style.fontSize]="'12px'" appearance="outline"
												class="full-width">
												<mat-label>Length</mat-label>
												<input matInput formControlName="length" type="number"
													placeholder="Length" />
											</mat-form-field>
										</div>
										<span class="dimension-title">X</span>
										<div class="form-group col-md-2">
											<mat-form-field [style.fontSize]="'12px'" appearance="outline"
												class="full-width">
												<mat-label>Breadth</mat-label>
												<input matInput formControlName="breadth" type="number"
													placeholder="Breadth" />
											</mat-form-field>
										</div>
										<span class="dimension-title">X</span>
										<div class="form-group col-md-2">
											<mat-form-field [style.fontSize]="'12px'" appearance="outline"
												class="full-width">
												<mat-label>Height</mat-label>
												<input matInput formControlName="height" type="number"
													placeholder="Height" />
											</mat-form-field>
										</div>
										<!-- <div class="form-group col-md-4 checkbox">
											<mat-checkbox formControlName="refundable" class="example-margin">Returnable
												Item</mat-checkbox>
										</div> -->
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="form-navigation">
						<div>
							<button mat-raised-button class="btn btn-sm" type="reset" [routerLink]="['/items']"
								routerLinkActive="router-link-active">
								Back
							</button>
						</div>
						<div>
							<button mat-raised-button (click)="deleteItem()" type="button" class="btn btn-sm"
								routerLinkActive="router-link-active">
								Delete
							</button>
							<button mat-raised-button type="submit" class="btn btn-sm btn-danger"
								routerLinkActive="router-link-active">
								Save
							</button>
						</div>
					</div>
				</form>
				<!-- main form end -->
			</div>
		</div>
	</div>
</div>