::ng-deep .add-job-form {
    .mat-tab-group {
      .mat-tab-body-wrapper {
        .mat-tab-body {
          .mat-tab-body-content {
            & > .form-row {
              margin: 0;
              & > .form-group {
                .mat-form-field {
                  .mat-form-field-wrapper {
                    padding-bottom: 0;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
 
  
  .full-width {
    width: 100% !important;
  }

  
  .id-card {
    margin-top: -20px;
    display: inline-block;
  }
  
  ::ng-deep .header-buttons {
    display: flex;
    justify-content: space-between;
    .form-row {
      button {
        margin-left: 10px !important;
        color: #3c4858 !important;
        background-color: #fff !important;
      }
    }
  }
  
  .form-row-stops {
    margin-bottom: 30px !important;
    .card-stops {
      margin-bottom: 12px !important;
    }
  }
  
  .tally-card {
    margin: 0 !important;
    .table {
      margin-bottom: 0 !important;
      tbody {
        tr {
          th {
            padding: 0 !important;
          }
          &:first-child {
            th {
              border-top: 0;
            }
          }
        }
      }
    }
  }
  
  ::ng-deep .close-button-negative {
    margin-top: -10px;
  }
  
  .margin-top-small {
    margin-top: 10px !important;
  }
  .no-margin-top {
    margin-top: 0 !important;
  }
  
  ::ng-deep .mat-expansion-panel-header-description {
    display: flex;
    justify-content: space-around;
  }
  .disable-clicks {
    pointer-events: none;
    opacity: 0.7;
  }
  .no-display {
    display: none;
  }
  
  ::ng-deep .header-fields {
    display: flex;
    justify-content: space-between;
    .form-row {
      .form-group {
        width: 500px;
        padding-bottom: 0 !important;
        .mat-form-field-wrapper {
          background: #fff;
          border-radius: 5px;
          padding-bottom: 0 !important;
        }
      }
    }
  }
  .light-btn {
    color: #3c4858 !important;
    background-color: #fff !important;
  }
  .no-display {
    display: none;
    overflow: hidden;
  }
  
  .section-heading {
    &.rwb-details {
      margin-top: 16px;
    }
    .right-actions {
      justify-content: flex-end;
      button {
        height: 42px;
      }
    }
  }
  