<!---------STOPS AND PRODUCT TAB------------->
<form [formGroup]="stopForm">
  <div class="form-row form-row-stops">
    <div class="col-12">
      <div class="card card-plain card-stops">
        <div class="card-header card-header-danger header-buttons">
          <h4 class="card-title">Stops</h4>
          <div class="form-row d-flex flex-row-reverse">
            <button mat-raised-button class="btn btn-sm" (click)="addNewStopInFormArray()" type="button"
              routerLinkActive="router-link-active">
              <i class="material-icons">add</i> Add Stop
            </button>
          </div>
        </div>
      </div>

      <mat-accordion>
        <mat-expansion-panel formArrayName="loadStop" *ngFor="
            let item of stopForm.get('loadStop')['controls'];
            let i = index">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Stop Type : {{ item.controls.stopType.value?.value }}
            </mat-panel-title>
            <mat-panel-title>
              Date : {{ item.controls.arrivalDate.value }}
            </mat-panel-title>
            <mat-panel-description>
              Customer : {{ item.controls.company.value }}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="card-form" [formGroupName]="i">
            <div class="form-row">
              <div class="form-group col-md-2">
                <mat-form-field [style.fontSize]="'12px'" appearance="outline" class="full-width">
                  <mat-label>Stop Sequence no.</mat-label>
                  <input matInput formControlName="sequenceNum" placeholder="Stop Sequence no." type="text" />
                </mat-form-field>
              </div>
              <div class="form-group col-md-2">
                <mat-form-field [style.fontSize]="'12px'" appearance="outline">
                  <mat-label>Stop Type</mat-label>
                  <mat-select formControlName="stopType" [compareWith]="compareDropdownType">
                    <mat-option></mat-option>
                    <mat-option *ngFor="let stop of stopTypeDropDown" [value]="stop">
                      {{ stop.value }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="form-group col-md-2">
                <!-- <mat-form-field [style.fontSize]="'12px'" appearance="outline" class="full-width">
                                            <mat-label>{{item.controls.stopType.value?.value}} Date-Time</mat-label>
                                            <input matInput formControlName="arrivalDate" [owlDateTime]="dt1"
                                              [owlDateTimeTrigger]="dt1"
                                              placeholder="{{item.controls.stopType.value?.value}} Date and Time">
                                            <owl-date-time #dt1 [pickerMode]="'dialog'"></owl-date-time>
                                          </mat-form-field> -->
                <app-date-time [type]="
                    item.controls.stopType.value?.value == undefined
                      ? 'Date-Time'
                      : item.controls.stopType.value?.value +
                        ' Date-Time'
                  " [rowIndex]="i" [dateTimeForm]="item" [stopDateTime]="'arrivalDate'"
                  (myOutput)="dateAdded($event, i, 'arrival')">
                </app-date-time>
              </div>
              <div class="form-group col-md-2">
                <mat-form-field [style.fontSize]="'12px'" appearance="outline" class="full-width">
                  <mat-label>Reference No.</mat-label>
                  <input matInput formControlName="refNum" placeholder="Reference No." type="text" />
                </mat-form-field>
              </div>

              <div class="form-group col-md-4">
                <mat-form-field [style.fontSize]="'12px'" appearance="outline" class="full-width">
                  <input type="text" placeholder="Search Warehouse" matInput formControlName="company"
                    [matAutocomplete]="auto" (keyup)="onChanges($event)" />
                  <button mat-button matSuffix mat-icon-button type="button" (click)="resetStopField(item)">
                    <i class="material-icons close-button-negative">close</i>
                  </button>

                  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="
                      showStopAddress($event.option.value, i)
                    ">
                    <mat-option [value]="null"></mat-option>
                    <mat-option *ngFor="let warehouse of filteredShipper" [value]="warehouse">
                      {{ warehouse.name }}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
              </div>
              <!-- <div class="form-group col-md-1">
                <button type="button" (click)="resetStopField(item)">Reset</button>
              </div> -->
            </div>
            <div class="form-row">
              <div class="form-group col-md-3">
                <mat-form-field [style.fontSize]="'12px'" appearance="outline" class="full-width">
                  <mat-label>Warehouse Name</mat-label>
                  <input matInput formControlName="company" placeholder="Warehouse Name" type="text" />
                  <!-- <mat-select formControlName="company">
                    <mat-option></mat-option>
          <mat-option *ngFor="let comp of companyDropDown" [value]="comp">
                      {{comp.companyName}}
                    </mat-option>
                  </mat-select> -->
                </mat-form-field>
              </div>
              <div class="form-group col-md-3">
                <mat-form-field [style.fontSize]="'12px'" appearance="outline" class="full-width">
                  <mat-label>Contact Number</mat-label>
                  <input matInput formControlName="contact1" placeholder="Phone Number" type="number" />
                </mat-form-field>
              </div>
              <div class="form-group col-md-3">
                <mat-form-field [style.fontSize]="'12px'" appearance="outline" class="full-width">
                  <mat-label>Email</mat-label>
                  <input matInput formControlName="email" placeholder="abc123@company.com" type="email" />
                </mat-form-field>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6 order-md-1">
                <mat-form-field [style.fontSize]="'12px'" appearance="outline" class="full-width">
                  <mat-label>Address Line 1</mat-label>
                  <input matInput formControlName="street1" placeholder="Address Line 1" type="text" />
                </mat-form-field>
              </div>
              <div class="form-group col-md-6 order-md-2">
                <mat-form-field [style.fontSize]="'12px'" appearance="outline" class="full-width">
                  <mat-label>Address Line 2</mat-label>
                  <input matInput formControlName="street2" placeholder="Address Line 2" type="text" />
                </mat-form-field>
              </div>
              <div class="form-group col-md-2 order-md-3">
                <mat-form-field [style.fontSize]="'12px'" appearance="outline" class="full-width">
                  <input type="text" placeholder="City" (input)="onSearchCity(i)"
												aria-label="text" matInput formControlName=city
												[matAutocomplete]="auto5">
											<mat-autocomplete #auto5="matAutocomplete" [displayWith]="displayCity">
												<mat-option *ngFor="let cities of filteredCities" [value]="cities">
													{{ cities.value }}
												</mat-option>
											</mat-autocomplete>
                </mat-form-field>
              </div>
              <div class="form-group col-md-2 order-md-4">
                <mat-form-field [style.fontSize]="'12px'" appearance="outline" class="full-width">
                  <mat-label>State</mat-label>
                  <mat-select formControlName="state" [compareWith]="compareDropdownType">
                    <mat-option [value]="null"></mat-option>
                    <mat-option *ngFor="let state of stateDropDown" [value]="state">
                      {{ state.value }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <!-- <div class="form-group col-md-2 order-md-5">
                <mat-form-field [style.fontSize]="'12px'" appearance="outline" class="full-width">
                  <mat-label>Country</mat-label>
                  <mat-select formControlName="country">
                    <mat-option value="Pakistan">Pakistan</mat-option>
                  </mat-select>
                </mat-form-field>
              </div> -->
              <!-- <div class="form-group col-md-2 order-md-6">
                <mat-form-field [style.fontSize]="'12px'" appearance="outline" class="full-width">
                  <mat-label>Zip Code</mat-label>
                  <input matInput formControlName="zipCode" placeholder="Zip Code" type="text">
                </mat-form-field>
              </div> -->
              <div class="form-group col-md-2 order-md-7">
                <mat-form-field [style.fontSize]="'12px'" appearance="outline" class="full-width">
                  <mat-label>Latitude</mat-label>
                  <input matInput formControlName="latitude" placeholder="Latitude" type="number" />
                </mat-form-field>
              </div>
              <div class="form-group col-md-2 order-md-8">
                <mat-form-field [style.fontSize]="'12px'" appearance="outline" class="full-width">
                  <mat-label>Longitude</mat-label>
                  <input matInput formControlName="longitude" placeholder="Longitude" type="number" />
                </mat-form-field>
              </div>
            </div>
            <div class="form-row">
              <div class="col-12">
                <button type="button" mat-raised-button class="btn btn-sm btn-danger pull-right"
                  (click)="submitLoadStop(item.getRawValue(), i)" routerLinkActive="router-link-active">
                  <i class="material-icons">save</i>
                  Save
                </button>
                <button type="button" mat-raised-button class="btn btn-sm btn-danger pull-right"
                  (click)="deleteLoadStop(item.value.stopId, i)" routerLinkActive="router-link-active">
                  <i class="material-icons">delete</i>
                  Delete
                </button>
              </div>
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
      <!-- <div class="card">
        <div class="card-body card-form">
          
        </div>
      </div> -->
    </div>
  </div>

  <div class="form-row">
    <div class="col-12">
      <div class="card">
        <div class="card-header card-header-danger header-buttons">
          <h4 class="card-title">Products</h4>
          <div class="form-row d-flex flex-row-reverse">
            <button mat-raised-button class="btn btn-sm" (click)="addProductInFormArray()" type="button"
              routerLinkActive="router-link-active">
              <i class="material-icons">add</i> Add Product
            </button>
          </div>
        </div>
        <div class="card-body card-form" formArrayName="loadProduct" *ngFor="
            let item of stopForm.get('loadProduct')[
              'controls'
            ];
            let id = index
          ">
          <div class="form-row" [formGroupName]="id">
            <div class="form-group col-md-2">
              <mat-form-field [style.fontSize]="'12px'" appearance="outline">
                <mat-label>Category</mat-label>
                <mat-select formControlName="category" [compareWith]="compareDropdownType">
                  <mat-option></mat-option>
                  <mat-option *ngFor="let cat of categoryTypeDropDown" [value]="cat">
                    {{ cat.value }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="form-group col-md-2">
              <mat-form-field [style.fontSize]="'12px'" appearance="outline" class="full-width">
                <mat-label>Commodity</mat-label>
                <input matInput formControlName="commodity" placeholder="Commodity" type="text" />
              </mat-form-field>
            </div>
            <div class="form-group col-md-2">
              <mat-form-field [style.fontSize]="'12px'" appearance="outline" class="full-width">
                <mat-label>Weight</mat-label>
                <input matInput formControlName="weight" placeholder="Weight" type="number" />
              </mat-form-field>
            </div>
            <div class="form-group col-md-2">
              <mat-form-field [style.fontSize]="'12px'" appearance="outline" class="full-width">
                <mat-label>Weight Unit</mat-label>
                <!-- <input matInput formControlName="weightUnit" placeholder="Weight Unit" type="text"> -->
                <mat-select formControlName="weightUnit">
                  <mat-option></mat-option>
                  <mat-option value="Kilogram">Kilogram</mat-option>
                  <mat-option value="Ton">Ton</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="form-group col-md-2">
              <mat-form-field [style.fontSize]="'12px'" appearance="outline" class="full-width">
                <mat-label>Package Count</mat-label>
                <input matInput formControlName="packageCount" placeholder="Package Count" type="number" />
              </mat-form-field>
            </div>
            <div class="form-group col-md-2">
              <mat-form-field [style.fontSize]="'12px'" appearance="outline" class="full-width">
                <mat-label>Temperature</mat-label>
                <input matInput formControlName="temperature" placeholder="Temperature" type="number" />
              </mat-form-field>
            </div>
          </div>

          <div class="form-row">
            <div class="col-12">
              <button type="button" mat-raised-button class="btn btn-sm btn-danger pull-right"
                (click)="submitLoadProduct(item.value, id)" routerLinkActive="router-link-active">
                <i class="material-icons">save</i> Save
              </button>
              <button type="button" mat-raised-button class="btn btn-sm btn-danger pull-right" (click)="
                  deleteLoadProduct(item.value.productId, id)
                " routerLinkActive="router-link-active">
                <i class="material-icons">delete</i> Delete
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>