<!-- Create company form component -->
<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <!-- main form start -->
        <form [formGroup]="companyContractForm" (ngSubmit)="submitContract()">
          <div class="card-form status-dropdown">
            <div class="form-row d-flex flex-row-reverse">
              <div class="form-group col-md-2">
                <mat-form-field [style.fontSize]="'12px'" appearance="outline">
                  <mat-label>Status</mat-label>
                  <mat-select formControlName="status">
                    <mat-option></mat-option>
                    <mat-option value="Active">Active</mat-option>
                    <mat-option value="Inactive">Inactive</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
          </div>
          <mat-tab-group>
            <!-- basic info tab start -->
            <mat-tab label="Basic Info">
              <!-- Basic info card start -->
              <div class="card">
                <div class="card-body card-form">
                  <div class="form-row">
                    <div class="form-group col-md-2">
                      <mat-form-field [style.fontSize]="'12px'" appearance="outline">
                        <mat-label>Company</mat-label>
                        <mat-select formControlName="owner" [compareWith]="compareCompany">
                          <mat-option [value]="null"></mat-option>
                          <mat-option *ngFor="let comp of companiesDropDown" [value]="comp">{{ comp.companyName }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div class="form-group col-md-2">
                      <mat-form-field [style.fontSize]="'12px'" appearance="outline">
                        <mat-label>Customer</mat-label>
                        <mat-select formControlName="customer" (selectionChange)="
                            getCustomerRouteDropdown($event.value.companyId)
                          " [compareWith]="compareCompany">
                          <mat-option [value]="null"></mat-option>
                          <mat-option *ngFor="let cust of customerDropDown" [value]="cust">{{ cust.companyName }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div class="form-group col-md-2">
                      <mat-form-field [style.fontSize]="'12px'" appearance="outline">
                        <mat-label>Contract Start</mat-label>
                        <input matInput formControlName="contStartDate" [matDatepicker]="picker"
                          placeholder="Contract Start" />
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker touchUi #picker></mat-datepicker>
                      </mat-form-field>
                    </div>
                    <div class="form-group col-md-2">
                      <mat-form-field [style.fontSize]="'12px'" appearance="outline">
                        <mat-label>Contract End</mat-label>
                        <input matInput formControlName="contEndDate" [matDatepicker]="apicker"
                          placeholder="Contract End" />
                        <mat-datepicker-toggle matSuffix [for]="apicker"></mat-datepicker-toggle>
                        <mat-datepicker touchUi #apicker></mat-datepicker>
                      </mat-form-field>
                    </div>
                    <div class="form-group col-md-2">
                      <mat-form-field [style.fontSize]="'12px'" appearance="outline">
                        <mat-label>Contract Type</mat-label>
                        <mat-select formControlName="contType" (selectionChange)="showDedicationFields($event.value)"
                          [compareWith]="compareDropdownType">
                          <mat-option [value]="null"></mat-option>
                          <mat-option *ngFor="let conType of contractTypeDropDown" [value]="conType">
                            {{ conType.value }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>

                    <!-- visible if cotract type == dedicated -->
                    <div class="form-group col-md-2" *ngIf="showDedicated">
                      <mat-form-field [style.fontSize]="'12px'" appearance="outline" class="full-width">
                        <mat-label>Fixed Rates</mat-label>
                        <input matInput formControlName="fixRate" type="number" placeholder="Fixed Rates" />
                      </mat-form-field>
                    </div>

                    <!-- visible if cotract type !== dedicated -->
                    <div class="form-group col-md-2" *ngIf="!showDedicated">
                      <mat-form-field [style.fontSize]="'12px'" appearance="outline" class="full-width">
                        <mat-label>Detention Charges</mat-label>
                        <input matInput formControlName="detCharges" type="number" placeholder="Detention Charges" />
                      </mat-form-field>
                    </div>

                    <!-- visible if cotract type !== dedicated -->
                    <div class="form-group col-md-2" *ngIf="!showDedicated">
                      <mat-form-field [style.fontSize]="'12px'" appearance="outline" class="full-width">
                        <mat-label>Halting Charges</mat-label>
                        <input matInput formControlName="haltCharges" type="number" placeholder="Halting Charges" />
                      </mat-form-field>
                    </div>
                  </div>
                </div>
              </div>

              <!-- visible if cotract type == perTrip -->
              <div *ngIf="!showDedicated && !showPerTon">
                <!-- add route card removed from here -->

                <div class="card" *ngFor="
                    let router of companyContractForm.get('routeList').controls;
                    let z = index
                  ">
                  <div class="card-heading">
                    <div class="heading-route">
                      <span>{{ router?.value.route?.routeFrom.value }} ({{
                          router?.value.route?.routeFrom.code
                        }}) - {{ router?.value.route?.routeTo.value }} ({{
                          router?.value.route?.routeTo.code
                        }})</span>
                    </div>
                    <!-- <div class="delete-route">
                      <button mat-raised-button class="btn btn-sm btn-danger btn-link btn-sm" type="button"
                        (click)="removeRoute(z)">
                        <i class="material-icons">delete</i>
                        Route
                      </button>
                    </div> -->
                  </div>
                  <div class="card-body">
                    <div class="table-responsive">
                      <table class="table">
                        <thead class="">
                          <th>
                            Rate Start Date
                          </th>
                          <th>
                            Rate End Date
                          </th>
                          <th>
                            Trailer Type
                          </th>
                          <th>
                            Trailer Size
                          </th>
                          <th>
                            Rate Amount
                          </th>
                          <!-- <th>
                            Action
                          </th> -->
                        </thead>
                        <tbody>
                          <tr *ngFor="
                              let rates of router.value.routeRates;
                              let id = index
                            ">
                            <td>
                              {{ rates?.effectiveFrom }}
                            </td>

                            <td>
                              {{ rates?.effectiveTill }}
                            </td>
                            <td>
                              {{ rates?.trailerType?.value }}
                            </td>
                            <td>
                              {{ rates?.trailerSize?.value }}
                            </td>
                            <td>
                              {{ rates?.totalAmount }}
                            </td>
                            <!-- <td>
                              <span>
                                <button *ngIf="router.editable" mat-raised-button class="btn btn-sm btn-danger btn-link btn-sm btn-just-icon"
                                  type="button" (click)="saveEditable(id)">
                                  <i class="material-icons">save</i>
                                </button>
                                <button *ngIf="!router.editable" mat-raised-button class="btn btn-sm btn-danger btn-link btn-sm btn-just-icon"
                                  type="button" (click)="makeEditable(id)">
                                  <i class="material-icons">edit</i>
                                </button>
                                <button mat-raised-button class="btn btn-sm btn-danger btn-link btn-sm btn-just-icon"
                                  type="button" (click)="removeRates(z, rates)">
                                  <i class="material-icons">delete</i>
                                </button>
                              </span>
                            </td> -->
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>

              <!-- visible if cotract type == PER TON -->
              <div *ngIf="!showDedicated && showPerTon">
                <!-- add route card removed from here -->

                <div class="card" *ngFor="
                    let router of companyContractForm.get('routePerTonList')
                      .controls;
                    let z = index
                  ">
                  <div class="card-heading">
                    <div class="heading-route">
                      <span>{{ router?.value.route?.routeFrom.value }} ({{
                          router?.value.route?.routeFrom.code
                        }}) - {{ router?.value.route?.routeTo.value }} ({{
                          router?.value.route?.routeTo.code
                        }})</span>
                    </div>
                    <!-- <div class="delete-route">
                      <button mat-raised-button class="btn btn-sm btn-danger btn-link btn-sm" type="button"
                        (click)="removeRoute(z)">
                        <i class="material-icons">delete</i>
                        Route
                      </button>
                    </div> -->
                  </div>
                  <div class="card-body">
                    <div class="table-responsive">
                      <table class="table">
                        <thead class="">
                          <th>
                            Rate Start Date
                          </th>
                          <th>
                            Rate End Date
                          </th>
                          <th>
                            Trailer Type
                          </th>
                          <th>
                            Trailer Size
                          </th>
                          <th>
                            Rate Per Ton
                          </th>
                          <!-- <th>
                            Rate Amount
                          </th> -->
                        </thead>
                        <tbody>
                          <tr *ngFor="
                              let rates of router.value.routeRates;
                              let id = index
                            ">
                            <td>
                              {{ rates?.effectiveFrom }}
                            </td>

                            <td>
                              {{ rates?.effectiveTill }}
                            </td>
                            <td>
                              {{ rates?.trailerType?.value }}
                            </td>
                            <td>
                              {{ rates?.trailerSize?.value }}
                            </td>
                            <td>
                              {{ rates?.ratePerTon }}
                            </td>
                            <!-- <td>
                              {{rates?.totalAmount}}
                            </td> -->
                            <!-- <td>
                              <span>
                                <button *ngIf="router.editable" mat-raised-button class="btn btn-sm btn-danger btn-link btn-sm btn-just-icon"
                                  type="button" (click)="saveEditable(id)">
                                  <i class="material-icons">save</i>
                                </button>
                                <button *ngIf="!router.editable" mat-raised-button class="btn btn-sm btn-danger btn-link btn-sm btn-just-icon"
                                  type="button" (click)="makeEditable(id)">
                                  <i class="material-icons">edit</i>
                                </button>
                                <button mat-raised-button class="btn btn-sm btn-danger btn-link btn-sm btn-just-icon"
                                  type="button" (click)="removeRates(z, rates)">
                                  <i class="material-icons">delete</i>
                                </button>
                              </span>
                            </td> -->
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>

              <!-- visible if cotract type == dedicated -->
              <div *ngIf="showDedicated && !showPerTon">
                <div class="form-row dedicated-row">
                  <div class="card">
                    <div class="card-header card-header-danger">
                      <h4 class="card-title">Assets</h4>
                    </div>
                    <div class="card-body card-form">
                      <div class="form-row">
                        <div class="col-md-4">
                          <div class="form-row">
                            <div class="form-group col-md-8">
                              <mat-form-field [style.fontSize]="'12px'" appearance="outline">
                                <mat-label>Assest</mat-label>
                                <mat-select formControlName="assets">
                                  <mat-option [value]="null"></mat-option>
                                  <mat-option *ngFor="let asset of assetDropDown" [value]="asset">
                                    {{ asset.tractor.numberPlate }}
                                  </mat-option>
                                </mat-select>
                              </mat-form-field>
                            </div>
                            <div class="form-group col-md-4">
                              <button mat-raised-button class="btn btn-sm btn-danger" type="button"
                                (click)="pushCombinationInArray()">
                                Add
                              </button>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-8">
                          <div class="table-responsive">
                            <table class="table">
                              <thead class=" ">
                                <th>
                                  ID
                                </th>
                                <th>
                                  Trailer
                                </th>
                                <th>
                                  Tractor
                                </th>
                                <th>
                                  Driver 1
                                </th>
                                <th>
                                  Driver 2
                                </th>
                                <th>
                                  Action
                                </th>
                              </thead>
                              <tbody>
                                <tr *ngFor="
                                    let assetComb of companyContractForm.get(
                                      'showCombination'
                                    ).controls;
                                    let k = index
                                  ">
                                  <td>
                                    {{ assetComb?.value.assetCombinationId }}
                                  </td>
                                  <td>
                                    {{ assetComb?.value.trailer.vin }}
                                  </td>
                                  <td>
                                    {{ assetComb?.value.tractor.numberPlate }}
                                  </td>
                                  <td>
                                    {{ assetComb?.value.driver1.firstName }}
                                    {{ assetComb?.value.driver1.lastName }}
                                  </td>
                                  <td>
                                    {{ assetComb?.value.driver2.firstName }}
                                    {{ assetComb?.value.driver2.lastName }}
                                  </td>
                                  <td>
                                    <button mat-raised-button
                                      class="btn btn-sm btn-danger btn-link btn-sm btn-just-icon" type="button"
                                      (click)="removeCombination(k)">
                                      <i class="material-icons">delete</i>
                                    </button>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="form-row dedicated-row">
                  <div class="card" *ngFor="
                      let routers of companyContractForm.get(
                        'routeDedicatedList'
                      ).controls;
                      let id = index
                    ">
                    <div class="card-header card-header-danger">
                      <h4 class="card-title">Routes</h4>
                    </div>
                    <div class="card-heading">
                      <div class="heading-route">
                        <span>{{ routers?.value.route?.routeFrom.value }} ({{
                            routers?.value.route?.routeFrom.code
                          }}) - {{ routers?.value.route?.routeTo.value }} ({{
                            routers?.value.route?.routeTo.code
                          }})</span>
                      </div>
                      <!-- <div class="delete-route">
                        <button mat-raised-button class="btn btn-sm btn-danger btn-link btn-sm" type="button"
                          (click)="removeDedicatedRoute(id)">
                          <i class="material-icons">delete</i>
                          Route
                        </button>
                      </div> -->
                    </div>
                    <div class="card-body">
                      <div class="table-responsive">
                        <table class="table">
                          <thead class="">
                            <th>
                              Rate Start Date
                            </th>
                            <th>
                              Rate End Date
                            </th>
                            <th>
                              Trailer Type
                            </th>
                            <th>
                              Trailer Size
                            </th>
                            <th>
                              Rate Per Km
                            </th>
                            <th>
                              Rate Amount
                            </th>
                            <!-- <th>
                              Action
                            </th> -->
                          </thead>
                          <tbody>
                            <tr *ngFor="
                                let rate of routers.value.routeRates;
                                let b = index
                              ">
                              <td>
                                {{ rate?.effectiveFrom }}
                              </td>

                              <td>
                                {{ rate?.effectiveTill }}
                              </td>
                              <td>
                                {{ rate?.trailerType?.value }}
                              </td>
                              <td>
                                {{ rate?.trailerSize?.value }}
                              </td>
                              <td>
                                {{ rate?.ratePerKm }}
                              </td>
                              <td>
                                {{ rate?.totalAmount }}
                              </td>
                              <!-- <td>
                                <span>
                                  <button *ngIf="router.editable" mat-raised-button class="btn btn-sm btn-danger btn-link btn-sm btn-just-icon"
                                      type="button" (click)="saveEditable(id)">
                                      <i class="material-icons">save</i>
                                    </button>
                                    <button *ngIf="!router.editable" mat-raised-button class="btn btn-sm btn-danger btn-link btn-sm btn-just-icon"
                                      type="button" (click)="makeEditable(id)">
                                      <i class="material-icons">edit</i>
                                    </button>
                                  <button mat-raised-button class="btn btn-sm btn-danger btn-link btn-sm btn-just-icon"
                                    type="button" (click)="removeDedicatedRates(id, rate)">
                                    <i class="material-icons">delete</i>
                                  </button>
                                </span>
                              </td> -->
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </mat-tab>
            <!-- Basic info tab end -->

            <!-- Routes tab start -->
            <mat-tab label="Routes">
              <!-- Routes card start -->

              <!-- add route form card -->
              <div class="row d-flex row-reverse dedicated-row">
                <div class="col-md-12">
                  <button mat-raised-button type="button" class="btn btn-sm btn-danger pull-right"
                    routerLinkActive="router-link-active" (click)="showAddRouteForm = !showAddRouteForm">
                    <i class="material-icons">add</i>
                    Add Route
                  </button>
                </div>
              </div>

              <div class="card" *ngIf="showAddRouteForm">
                <!-- <div class="card-header card-header-danger">
                  <h4 class="card-title ">Route</h4>
                </div> -->
                <div class="card-body card-form">
                  <div class="form-row">
                    <div class="routes-type">
                      <mat-radio-group aria-label="routesTypes" name="routesType"
                        [ngModelOptions]="{ standalone: true }" [(ngModel)]="isArea" (change)="selectionRoute($event)">
                        <mat-radio-button checked="true" value="Intercity">Intercity</mat-radio-button>
                        <mat-radio-button value="Intracity">Intracity</mat-radio-button>
                      </mat-radio-group>
                    </div>
                    <div class="form-group col-md-2" *ngIf="isArea == 'Intracity'">
                      <mat-form-field [style.fontSize]="'12px'" appearance="outline">
                        <mat-label>City</mat-label>
                        <mat-select formControlName="routeCity" (selectionChange)="getRouteByCity($event.value)"
                          [compareWith]="compareDropdownType">
                          <mat-option [value]="null"></mat-option>
                          <mat-option *ngFor="let cit of cityDropDown" [value]="cit">
                            {{ cit.value }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div class="form-group col-md-3">
                      <mat-form-field [style.fontSize]="'12px'" appearance="outline">
                        <mat-label>Route</mat-label>
                        <mat-select formControlName="route" (selectionChange)="showDistance($event.value)">
                          <mat-option [value]="null">Select Route</mat-option>
                          <mat-option [value]="null"></mat-option>
                          <mat-option *ngFor="let rout of routeDropDown" [value]="rout">
                            {{ rout.routeFrom.value }} -
                            {{ rout.routeTo.value }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div class="form-group col-md-3">
                      <mat-form-field [style.fontSize]="'12px'" appearance="outline">
                        <mat-label>Trailer Type</mat-label>
                        <mat-select formControlName="trailerType">
                          <mat-option [value]="null"></mat-option>
                          <mat-option *ngFor="let trailType of trailerTypeDropDown" [value]="trailType">
                            {{ trailType.value }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div class="form-group col-md-3">
                      <mat-form-field [style.fontSize]="'12px'" appearance="outline">
                        <mat-label>Trailer Size</mat-label>
                        <mat-select formControlName="trailerSize">
                          <mat-option [value]="null"></mat-option>
                          <mat-option *ngFor="let trailSize of trailerSizeDropDown" [value]="trailSize">
                            {{ trailSize.value }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div class="form-group col-md-3" *ngIf="!showDedicated">
                      <mat-form-field [style.fontSize]="'12px'" appearance="outline" class="full-width">
                        <mat-label>Distance KM</mat-label>
                        <input matInput formControlName="routeDistance" readonly placeholder="Distance" />
                      </mat-form-field>
                    </div>
                    <div class="form-group col-md-3" *ngIf="showDedicated">
                      <mat-form-field [style.fontSize]="'12px'" appearance="outline" class="full-width">
                        <mat-label>Distance KM</mat-label>
                        <input matInput formControlName="routeDistance" type="number" placeholder="Distance" />
                      </mat-form-field>
                    </div>
                    <div class="form-group col-md-2" *ngIf="showDedicated">
                      <mat-form-field [style.fontSize]="'12px'" appearance="outline" class="full-width">
                        <mat-label>Rates Per Km</mat-label>
                        <input matInput formControlName="routeRate" (keyup)="assignTotalRate($event.target.value)"
                          type="number" placeholder="Rate Per Km" />
                      </mat-form-field>
                    </div>
                    <div class="form-group col-md-2">
                      <mat-form-field [style.fontSize]="'12px'" appearance="outline">
                        <mat-label>Effective From</mat-label>
                        <input matInput formControlName="rateStart" [matDatepicker]="rateStDate"
                          placeholder="Effective From Date" />
                        <mat-datepicker-toggle matSuffix [for]="rateStDate"></mat-datepicker-toggle>
                        <mat-datepicker touchUi #rateStDate></mat-datepicker>
                      </mat-form-field>
                    </div>
                    <div class="form-group col-md-2">
                      <mat-form-field [style.fontSize]="'12px'" appearance="outline">
                        <mat-label>Effective Till</mat-label>
                        <input matInput formControlName="rateEnd" [matDatepicker]="rateEndDate"
                          placeholder="Effective Till Date" />
                        <mat-datepicker-toggle matSuffix [for]="rateEndDate"></mat-datepicker-toggle>
                        <mat-datepicker touchUi #rateEndDate></mat-datepicker>
                      </mat-form-field>
                    </div>
                    <!-- <div class="form-group col-md-2">
                      <mat-form-field [style.fontSize]="'12px'" appearance="outline" class="full-width">
                        <mat-label>Min. Weight</mat-label>
                        <input matInput formControlName="minWeight" type="number" placeholder="Min. Weight">
                      </mat-form-field>
                    </div>
                    <div class="form-group col-md-2">
                      <mat-form-field [style.fontSize]="'12px'" appearance="outline" class="full-width">
                        <mat-label>Max. Weight</mat-label>
                        <input matInput formControlName="maxWeight" type="number" placeholder="Max. Weight">
                      </mat-form-field>
                    </div> -->
                    <div class="form-group col-md-2" *ngIf="!showPerTon">
                      <mat-form-field [style.fontSize]="'12px'" appearance="outline" class="full-width">
                        <mat-label>Total Rate</mat-label>
                        <input matInput formControlName="routeTotalRate" type="number" placeholder="Total Rate" />
                      </mat-form-field>
                    </div>
                    <div class="form-group col-md-2" *ngIf="showPerTon">
                      <mat-form-field [style.fontSize]="'12px'" appearance="outline" class="full-width">
                        <mat-label>Rate Per Ton</mat-label>
                        <input matInput formControlName="routePerTon" type="number" placeholder="Rate Per Ton" />
                      </mat-form-field>
                    </div>
                    <div class="form-group col-md-1">
                      <button (click)="pushRouteInArray()" type="button" mat-raised-button
                        class="btn btn-sm btn-danger">
                        Add
                      </button>
                    </div>
                  </div>
                </div>
              </div>

              <!-- search form -->
              <div class="card">
                <div class="card-body card-form">
                  <div class="form-row">
                    <div class="form-group col-md-3">
                      <mat-form-field [style.fontSize]="'12px'" appearance="outline">
                        <mat-label>Route</mat-label>
                        <mat-select formControlName="searchRoute">
                          <mat-option [value]="null"></mat-option>
                          <mat-option *ngFor="let rout of customerRouteDropDown" [value]="rout">
                            {{ rout.routeFrom.value }} -
                            {{ rout.routeTo.value }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>

                      <!-- search field for route table -->
                      <!-- <mat-form-field [style.fontSize]="'12px'" appearance="outline">
                        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                      </mat-form-field> -->
                    </div>
                    <div class="form-group col-md-3">
                      <mat-form-field [style.fontSize]="'12px'" appearance="outline">
                        <mat-label>Start Date</mat-label>
                        <input matInput formControlName="searchStart" [matDatepicker]="startDate"
                          placeholder="Start Date" />
                        <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
                        <mat-datepicker touchUi #startDate></mat-datepicker>
                      </mat-form-field>
                    </div>
                    <div class="form-group col-md-3">
                      <mat-form-field [style.fontSize]="'12px'" appearance="outline">
                        <mat-label>End Date</mat-label>
                        <input matInput formControlName="searchEnd" [matDatepicker]="endDate" placeholder="End Date" />
                        <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
                        <mat-datepicker touchUi #endDate></mat-datepicker>
                      </mat-form-field>
                    </div>
                    <div class="form-group col-md-3">
                      <button mat-raised-button class="btn btn-sm btn-danger" type="button" (click)="searchRates()">
                        Search
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- <div class="card">
                <div class="card-body">
                  <div class="table-responsive"> -->
              <div *ngIf="showRouteName != null">{{ showRouteName }}</div>
              <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 route-table">
                <!-- Distance Column -->
                <ng-container matColumnDef="startDate">
                  <th mat-header-cell *matHeaderCellDef>Start Date</th>
                  <td mat-cell *matCellDef="let routeData">
                    {{ routeData.effectiveFrom }}
                  </td>
                </ng-container>

                <!-- Start Date Column -->
                <ng-container matColumnDef="endDate">
                  <th mat-header-cell *matHeaderCellDef>End Date</th>
                  <td mat-cell *matCellDef="let routeData">
                    {{ routeData.effectiveTill }}
                  </td>
                </ng-container>

                <!-- End Date Column -->
                <ng-container matColumnDef="amount">
                  <th mat-header-cell *matHeaderCellDef>Amount</th>
                  <td mat-cell *matCellDef="let routeData">
                    {{ routeData.totalAmount }}
                  </td>
                </ng-container>

                <!-- Trailer Type Column -->
                <ng-container matColumnDef="trailerType">
                  <th mat-header-cell *matHeaderCellDef>Trailer Type</th>
                  <td mat-cell *matCellDef="let routeData">
                    {{ routeData.trailerType?.value }}
                  </td>
                </ng-container>

                <!-- Trailer Size Column -->
                <ng-container matColumnDef="trailerSize">
                  <th mat-header-cell *matHeaderCellDef>Trailer Size</th>
                  <td mat-cell *matCellDef="let routeData">
                    {{ routeData.trailerSize?.value }}
                  </td>
                </ng-container>

                <!-- Amount Column -->
                <ng-container matColumnDef="status">
                  <th mat-header-cell *matHeaderCellDef>Status</th>
                  <td mat-cell *matCellDef="let routeData">
                    {{ routeData.status }}
                  </td>
                </ng-container>

                <!-- Amount Column -->
                <ng-container matColumnDef="delete">
                  <th mat-header-cell *matHeaderCellDef></th>
                  <td mat-cell *matCellDef="let routeData; let indx = index">
                    <button mat-raised-button class="btn btn-sm btn-danger" (click)="deleteRouteRate(indx, routeData)"
                      type="button">
                      Delete
                    </button>
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
              </table>

              <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
              <!-- </div>
                </div>
              </div> -->
            </mat-tab>
            <!-- Routes tab end -->

            <!-- Fuel Tab start -->
            <mat-tab label="Fuel Card">
              <div class="card">
                <div class="card-body card-form">
                  <div class="form-row">
                    <div class="form-group col-md-2">
                      <mat-form-field [style.fontSize]="'12px'" appearance="outline" class="full-width">
                        <mat-label>Fuel Card Number</mat-label>
                        <input matInput formControlName="fuelCard" type="text" placeholder="Fuel Card Number" />
                      </mat-form-field>
                    </div>
                    <div class="form-group col-md-2">
                      <mat-form-field [style.fontSize]="'12px'" appearance="outline" class="full-width">
                        <mat-label>Fuel Card Limit</mat-label>
                        <input matInput formControlName="fuelLimit" type="number" placeholder="Fuel Card Limit" />
                      </mat-form-field>
                    </div>
                    <div class="form-group col-md-2">
                      <mat-form-field [style.fontSize]="'12px'" appearance="outline">
                        <mat-label>Fuel Card Expire</mat-label>
                        <input matInput formControlName="fuelExpiry" [matDatepicker]="suppicker"
                          placeholder="Expiry Date" />
                        <mat-datepicker-toggle matSuffix [for]="suppicker"></mat-datepicker-toggle>
                        <mat-datepicker touchUi #suppicker></mat-datepicker>
                      </mat-form-field>
                    </div>
                    <div class="form-group col-md-2">
                      <mat-form-field [style.fontSize]="'12px'" appearance="outline">
                        <mat-label>Supplier</mat-label>
                        <mat-select formControlName="fuelSupp">
                          <mat-option [value]="null"></mat-option>
                          <mat-option *ngFor="let suplier of supplierDropDown" [value]="suplier">
                            {{ suplier.companyName }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div class="form-group col-md-2 check-box">
                      <mat-checkbox formControlName="fuelStatus">
                        Status
                      </mat-checkbox>
                    </div>
                    <div class="form-group col-md-2">
                      <button mat-raised-button class="btn btn-sm btn-danger" (click)="addFuelCard()" type="button"
                        routerLinkActive="router-link-active">
                        Add
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header card-header-danger">
                  <h4 class="card-title">Fuel Cards</h4>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table">
                      <thead>
                        <th>Card Number</th>
                        <th>Card Limit</th>
                        <th>Card Expiry</th>
                        <th>Active</th>
                        <th></th>
                      </thead>
                      <tbody>
                        <tr *ngFor="let fuelData of fuelCards; let ind = index">
                          <td>{{ fuelData?.fuelCardNumber }}</td>
                          <td>Rs. {{ fuelData?.limit }}</td>
                          <td>{{ fuelData?.expiry }}</td>
                          <td class="check-box">
                            <mat-checkbox [checked]="true" *ngIf="fuelData?.status == 'Active'"></mat-checkbox>
                            <mat-checkbox *ngIf="fuelData?.status == 'Inactive'"></mat-checkbox>
                          </td>
                          <td class="td-actions text-right">
                            <!-- <button mat-raised-button type="button"
                              class="btn btn-sm btn-danger btn-link btn-sm btn-just-icon">
                              <i class="material-icons">edit</i>
                            </button> -->
                            <button mat-raised-button type="button" (click)="deleteFuelCard(fuelData, ind)"
                              class="btn btn-sm btn-danger btn-link btn-sm btn-just-icon">
                              <i class="material-icons btn-red">close</i>
                            </button>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </mat-tab>
            <!-- Fuel Tab end -->

            <!-- Document tab start -->
            <mat-tab label="Document">
              <!-- Document card start -->
              <div class="card">
                <div class="card-body card-form">
                  <div class="form-row"></div>
                </div>
              </div>
            </mat-tab>
            <!-- Document tab end -->

            <!-- Distribution tab start -->
            <!-- <mat-tab label="Distribution"> -->

            <!-- Distribution card start -->
            <!-- <div class="card">
                <div class="card-body card-form">
                  <div class="form-row">


                  </div>
                </div>
              </div>
            </mat-tab> -->
            <!-- Distribution tab end -->
          </mat-tab-group>
          <div class="form-navigation">
            <div>
              <button mat-raised-button class="btn btn-sm" type="reset" [routerLink]="['/companyContract']"
                routerLinkActive="router-link-active">
                Back
              </button>
            </div>
            <div>
              <button mat-raised-button class="btn btn-sm" type="button" (click)="deleteContract()"
                routerLinkActive="router-link-active">
                Delete
              </button>
              <button mat-raised-button class="btn btn-sm btn-danger" type="submit"
                routerLinkActive="router-link-active">
                Save
              </button>
            </div>
          </div>
        </form>
        <!-- main form end -->
      </div>
    </div>
  </div>
</div>