.dedicated-row {
  margin-right: 0;
  margin-left: 0;
}

.routes-type {
  padding-bottom: 8px;
  padding-top: 12px;
  padding-right: 17px;
  padding-left: 17px;
}

// ::ng-deep table {
//   tr {
//     td {
//       i {
//         cursor: pointer;
//       }
//       &:last-child {
//         text-align: right;
//       }
//     }
//   }
//   thead {
//     th:last-child {
//       text-align: right;
//     }
//   }
// }

::ng-deep .custom-btn {
  background-color: #fff !important;
  i {
    color: #000 !important;
  }
}

::ng-deep .editable-form-field {
  width: 120px;
  .mat-form-field-wrapper {
    margin: 0;
    padding: 0;
  }
}

.check-box {
  padding-top: 12px;
  padding-left: 16px;
}

.btn-red {
  color: red !important;
}
.route-table {
  width: 100%;
}

.card-heading {
  display: flex;
  justify-content: space-between;
  padding: 32px;
  padding-top: 16px;
  padding-bottom: 0;
  .heading-route {
    font-size: 16px;
    font-weight: 500;
  }
  .delete-route {
    margin-top: -2px;
  }
  & + .card-body {
    padding-top: 0px;
    padding-bottom: 0;
  }
}
