<div class="main-content add-role">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<form [formGroup]="addRoleForm" (ngSubmit)="add()">
					<div class="card">
						<div class="card-body card-form search-form">
							<div class="form-row">
								<div class="form-group col-md-3">
									<mat-form-field
										[style.fontSize]="'12px'"
										appearance="outline"
										class="full-width"
									>
										<mat-label>Role Name</mat-label>
										<input
											matInput
											placeholder="Role Name"
											formControlName="roleName"
										/>
									</mat-form-field>
								</div>
								<div class="form-group col-md-8">
									<mat-form-field
										[style.fontSize]="'12px'"
										appearance="outline"
										class="full-width"
									>
										<mat-label>Decsription</mat-label>
										<input
											matInput
											placeholder="Decsription"
											formControlName="desc"
										/>
									</mat-form-field>
								</div>

								<div class="col-1 row-button">
									<button class="btn btn-sm btn-danger" type="submit">
										<i class="material-icons">add</i>
									</button>
								</div>
							</div>
						</div>
					</div>

					<div class="card">
						<div class="card-header card-header-danger">
							<h4 class="card-title">Contacts</h4>
						</div>
						<div class="card-body">
							<div class="table-responsive">
								<table class="table">
									<thead class=" ">
										<th></th>
										<th>
											Full Access
										</th>
										<th>
											View
										</th>
										<th>
											Create
										</th>
										<th>
											Edit
										</th>
										<th>
											Delete
										</th>
									</thead>
									<tbody>
										<tr>
											<td>
												Customers
											</td>
											<td>
												<mat-checkbox></mat-checkbox>
											</td>
											<td>
												<mat-checkbox></mat-checkbox>
											</td>
											<td>
												<mat-checkbox></mat-checkbox>
											</td>
											<td>
												<mat-checkbox></mat-checkbox>
											</td>
											<td>
												<mat-checkbox></mat-checkbox>
											</td>
										</tr>
										<tr>
											<td>
												Vendors
											</td>
											<td>
												<mat-checkbox></mat-checkbox>
											</td>
											<td>
												<mat-checkbox></mat-checkbox>
											</td>
											<td>
												<mat-checkbox></mat-checkbox>
											</td>
											<td>
												<mat-checkbox></mat-checkbox>
											</td>
											<td>
												<mat-checkbox></mat-checkbox>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
