.trip-details {
	.col-4,
	.col-8 {
		.card {
			margin-top: 0 !important;
			margin-bottom: 10px !important;
		}
	}
}
.table-tally {
	tbody {
		tr.header {
			background-color: #eaeaea;
			td {
				padding: 0 !important;
				&:first-child {
					padding-left: 16px !important;
				}
			}
		}
		tr:not(.header) {
			td {
				padding: 0 !important;
				&:first-child {
					padding-left: 32px !important;
				}
			}
		}
	}
	tfoot {
		th {
			padding: 0 !important;
			&:first-child {
				padding-left: 16px !important;
			}
		}
	}
}

.margin-right {
	margin-right: 10px;
}

// .grid {
//   display: grid;
//   grid-template-columns: repeat(5, 1fr);
//   grid-template-rows: 1fr;
//   grid-column-gap: 10px;
//   .div1 {
//     grid-area: 1 / 1 / 2 / 2;
//   }
//   .div2 {
//     grid-area: 1 / 2 / 2 / 3;
//   }
//   .div3 {
//     grid-area: 1 / 3 / 2 / 4;
//   }
//   .div4 {
//     grid-area: 1 / 4 / 2 / 5;
//   }
//   .div5 {
//     grid-area: 1 / 5 / 2 / 6;
//   }
// }
.info-card,
::ng-deep .mat-expansion-panel-body {
	.title {
		font-size: 1.5em;
		font-weight: 900;
		margin-bottom: 8px;
	}
	.detail {
		margin-bottom: 0;
		margin-right: 24px;
		.detail-title {
			font-weight: 500;
		}
	}
}

.trip-head,
::ng-deep .mat-expansion-panel-body {
	display: flex;
}

.gt {
	font-size: 36px;
	font-weight: 600;
	line-height: inherit;
	padding-top: 4px;
}

.expandable-progress {
	table {
		width: 100%;
		box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14) !important;
		border-collapse: separate !important;
		border-spacing: 1px !important;
		border-radius: 6px !important;
	}

	tr {
		&.example-detail-row {
			height: 0;
		}

		&.example-element-row:not(.example-expanded-row) {
			// background: #777;
			cursor: pointer;

			&:active {
				background: #efefef;
			}
		}
	}

	.example-element-row td {
		border-bottom-width: 0;
	}

	.example-element-detail {
		overflow: hidden;
		display: flex;
		justify-content: space-between;
		h5 {
			font-weight: 500;
			font-size: 14px;
			span {
				font-weight: 400;
			}
		}
	}

	.example-element-diagram {
		min-width: 80px;
		border: 2px solid black;
		padding: 8px;
		font-weight: lighter;
		margin: 8px 0;
		height: 104px;
	}

	.example-element-symbol {
		font-weight: bold;
		font-size: 40px;
		line-height: normal;
	}

	.example-element-description {
		padding: 16px;
	}

	.example-element-description-attribution {
		opacity: 0.5;
	}
}

.flex-rental-row {
	display: flex;
	justify-content: space-around;
}

::ng-deep .card-body.job-window {
	padding: 0 !important;
	.head-row {
		margin: 0;
		padding: 14px 48px 14px 24px;
		background-color: #fff;
		border-radius: 3px;
		font-weight: 600;
		.col-2,
		.col-3 {
			padding: 0;
		}
	}
	.mat-accordion {
		.mat-expansion-panel {
			.mat-expansion-panel-header {
				.mat-expansion-panel-header-title {
					padding-top: 8px;
				}
				.mat-expansion-panel-header-description {
					display: flex;
					justify-content: space-between;
					.details {
						// display: flex;
						padding-top: 6px;
						width: 100%;
						.detail {
							font-size: 14px;
							margin-right: 0;
							span {
								// font-weight: 600;
							}
						}
					}
					.actions {
						display: flex;
						justify-content: flex-end;
					}
				}
			}
		}
	}
}

.title-row {
	background-color: #34485e;
	border-radius: 3px;
	padding: 15px;
	box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14),
		0 7px 10px -5px rgba(52, 73, 94, 0.4);
	margin-bottom: 6px;
	margin-top: 24px;
	.title {
		color: white;
		margin-bottom: 0;
	}
}

.margin-less {
	margin-top: 0;
}
