<div class="main-content">
	<div class="container-fluid">
		<div class="form-row d-flex">
			<div class="id-card margin-right">
				<p>Job ID # {{ jSummary?.jobId }}</p>
			</div>
		</div>
		<div class="form-row trip-details">
			<div class="col-4">
				<div class="card">
					<div class="card-body">
						<div class="row">
							<div class="col-12">
								<div class="table-responsive table-tally">
									<table class="table">
										<thead class=""></thead>
										<tbody>
											<tr class="header">
												<td colspan="2">
													Expenses
												</td>
											</tr>
											<ng-container *ngIf="jSummary">
												<tr *ngFor="let key of objectKeys(jSummary?.expenses)">
													<td>
														{{ key }}
													</td>
													<td>
														{{ (jSummary?.expenses)[key] }}
													</td>
												</tr>
											</ng-container>

											<tr class="header">
												<td colspan="2">
													Income
												</td>
											</tr>
											<ng-container *ngIf="jSummary">
												<tr *ngFor="let key of objectKeys(jSummary?.incomes)">
													<td>
														{{ key }}
													</td>
													<td>
														{{ jSummary.incomes[key] }}
													</td>
												</tr>
											</ng-container>
										</tbody>
										<tfoot>
											<tr>
												<th>Total Expenses</th>
												<th>
													{{ jSummary?.totalExpense }}
												</th>
											</tr>
											<tr>
												<th>Total Income</th>
												<th>
													{{ jSummary?.totalIncome }}
												</th>
											</tr>
											<tr>
												<th>Net Income</th>
												<th>
													{{ jSummary?.netIncome }}
												</th>
											</tr>
										</tfoot>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-8">
				<div class="card">
					<div class="card-body info-card trip-head">
						<div class="row">
							<p class="detail">
								Status:
								<span class="detail-title">
									{{ jSummary?.jobStatus?.value }}
								</span>
							</p>
							<p class="detail">
								Standard Km:
								<span class="detail-title">
									{{ jSummary?.totalKm }}
								</span>
							</p>
							<p class="detail">
								Odometer Km:
								<span class="detail-title">
									{{ jSummary?.odometerKm }}
								</span>
							</p>
							<p class="detail">
								TMS Km:
								<span class="detail-title">
									{{ jSummary?.tmsKm }}
								</span>
							</p>
							<p class="detail">
								Tracker Km:
								<span class="detail-title">
									{{ jSummary?.trackerKm }}
								</span>
							</p>
							<p class="detail">
								Duration (hrs):
								<span class="detail-title">
									{{ jSummary?.durationInHrs }}
								</span>
							</p>
							<p class="detail">
								Fuel/Km:
								<span class="detail-title">
									{{ jSummary?.avgFuelCostPerKm }}
								</span>
							</p>
							<p class="detail">
								Odometer Fuel Avg:
								<span class="detail-title">
									{{ jSummary?.fuelAvg }}
								</span>
							</p>
							<p class="detail">
								Tracker Fuel Avg:
								<span class="detail-title">
									{{ jSummary?.trackerFuelAvg }}
								</span>
							</p>
							
						</div>
						<!-- <div class="row">
							
						</div>
						 -->
					</div>

					<!-- Fueled -->
				</div>

				<div class="title-row">
					<p class="title">Fuel Details</p>
				</div>

				<div class="card card-plain">
					<div class="card-body job-window">
						<div class="row head-row">
							<div class="col-3">Supplier</div>
							<div class="col-3">Date</div>
							<div class="col-2">Fuel(ltrs)</div>
							<div class="col-2">Tank</div>
						</div>
						<mat-accordion>
							<mat-expansion-panel *ngFor="let fuel of jSummary?.fuelDetails">
								<mat-expansion-panel-header>
									<!-- <mat-panel-title>
                    {{ fuel.jobFuelDetailId }}
                  </mat-panel-title> -->
									<mat-panel-description>
										<div class="row details">
											<div class="col-3 detail">
												<!-- Supplier: -->
												<span>
													{{ fuel.supplier?.companyName }}
												</span>
											</div>
											<div class="col-3 detail">
												<!-- Date: -->
												<span>
													{{ fuel.fuelSlipDate }}
												</span>
											</div>
											<div class="col-2 detail">
												<!-- Litre: -->
												<span>
													{{ fuel.fuelInLitre }}
												</span>
											</div>
											<div class="col-2 detail">
												<!-- Tank: -->
												<span>
													{{ fuel.fuelTankType?.value }}
												</span>
											</div>
										</div>
										<!-- <div class="actions">
                        <button mat-raised-button type="button" class="btn btn-sm btn-danger"
                          [routerLink]="['/trips/details' , job.jobId]" routerLinkActive="router-link-active">
                          <i class="material-icons">remove_red_eye</i>
                          View
                        </button>
                      </div> -->
									</mat-panel-description>
								</mat-expansion-panel-header>

								<h6 class="detail">
									Tractor:<br />
									<span class="detail-title">
										{{ fuel.tractor?.numberPlate }}
									</span>
								</h6>

								<h6 class="detail">
									Trailer:<br />
									<span class="detail-title">
										{{ fuel.trailer?.vin }}
									</span>
								</h6>

								<h6 class="detail">
									Driver 1:<br />
									<span class="detail-title">
										{{ fuel.driver1?.employeeName }}
									</span>
								</h6>

								<h6 class="detail">
									Driver 2:<br />
									<span class="detail-title">
										{{ fuel.driver2?.employeeName }}
									</span>
								</h6>

								<h6 class="detail">
									Slip #:<br />
									<span class="detail-title">
										{{ fuel.fuelSlipNumber }}
									</span>
								</h6>

								<h6 class="detail">
									Rate Per Litre:<br />
									<span class="detail-title">
										{{ fuel.ratePerLitre }}
									</span>
								</h6>

								<h6 class="detail">
									Total Amount:<br />
									<span class="detail-title">
										{{ fuel.totalAmount }}
									</span>
								</h6>
							</mat-expansion-panel>
						</mat-accordion>
					</div>
				</div>

				<div class="title-row">
					<p class="title">RWB Details</p>
				</div>

				<div class="card card-plain">
					<div class="card-body job-window">
						<div class="row head-row">
							<div class="col-sm-2">RWB</div>
							<div class="col-sm-3">Date</div>
							<div class="col-sm-3">Customer</div>
							<div class="col-sm-3">Route</div>
							<!-- <div class="col-sm-2">Truck</div> -->
						</div>
						<mat-accordion>
							<mat-expansion-panel
								*ngFor="let rwbDetail of jSummary?.roadwayBills"
							>
								<mat-expansion-panel-header>
									<!-- <mat-panel-title>
                    {{ fuel.jobFuelDetailId }}
                  </mat-panel-title> -->
									<mat-panel-description>
										<div class="row details">
											<div class="col-sm-1 detail">
												<!-- RWB: -->
												<span>
													{{ rwbDetail.rwbId }}
												</span>
											</div>
											<div class="col-sm-3 detail">
												<!-- Date: -->
												<span>
													{{ rwbDetail.rwbDate }}
												</span>
											</div>
											<div class="col-sm-3 detail">
												<!-- Customer: -->
												<span *ngIf="rwbDetail.customer !== null">
													{{ rwbDetail.customer }}
												</span>
												<span *ngIf="rwbDetail.customer === null">
													{{ rwbDetail.broker }}
												</span>
											</div>
											<div class="col-sm-3 detail">
												<!-- Truck ID: -->
												<span>
													{{ rwbDetail.route?.routeFrom?.code }} -
													{{ rwbDetail.route?.routeTo?.code }}
												</span>
											</div>
											<!-- <div class="col-sm-2 detail">
												
												<span>
													{{ rwbDetail.tractorNumber }}
												</span>
											</div> -->
											
										</div>
										
									</mat-panel-description>
								</mat-expansion-panel-header>

								<h6 class="detail">
									Tractor:<br />
									<span class="detail-title">
										{{ rwbDetail.tractorNumber }}
									</span>
								</h6>

								<h6 class="detail">
									Trailer:<br />
									<span class="detail-title">
										{{ rwbDetail.trailerNumber }}
									</span>
								</h6>

								<h6 class="detail">
									Size:<br />
									<span class="detail-title">
										{{ rwbDetail.trailerTypeAndSize }}
									</span>
								</h6>

								<h6 class="detail">
									Driver 1:<br />
									<span class="detail-title">
										{{ rwbDetail.driver1}}
									</span>
								</h6>

								<h6 class="detail">
									Driver 2:<br />
									<span class="detail-title">
										{{ rwbDetail.driver2}}
									</span>
								</h6>

								<!-- <h6 class="detail">
									Load No#:<br />
									<span class="detail-title">
										{{ rwbDetail.loadNumber }}
									</span>
								</h6> -->

								<h6 class="detail">
									Total Income:<br />
									<span class="detail-title">
										{{ rwbDetail.totalIncome }}
									</span>
								</h6>
							</mat-expansion-panel>
						</mat-accordion>
					</div>
				</div>

				<!-- vehicle details card visible if ownership status is owned -->
				<!-- <div class="card" *ngIf="jSummary?. == 'owned'">
          <div class="card-body">
            <div class="grid info-card">
              <div class="div1">
                <p class="title">Tractor</p>
                <p class="detail">
                  Id:
                  <span class="detail-title">
                    hello
                  </span>
                </p>
                <p class="detail">
                  License no.:
                  <span class="detail-title">
                    hello
                  </span>
                </p>
              </div>
              <div class="div2">
                <p class="title">Trailer</p>
                <p class="detail">
                  Id:
                  <span class="detail-title">
                    hello
                  </span>
                </p>
                <p class="detail">
                  Size:
                  <span class="detail-title">
                    hello
                  </span>
                </p>
                <p class="detail">
                  Type:
                  <span class="detail-title">
                    hello
                  </span>
                </p>
              </div>
              <div class="div3">
                <p class="title">Container</p>
                <p class="detail">
                  Id:
                  <span class="detail-title">
                    hello
                  </span>
                </p>
                <p class="detail">
                  Size:
                  <span class="detail-title">
                    hello
                  </span>
                </p>
                <p class="detail">
                  Type:
                  <span class="detail-title">
                    hello
                  </span>
                </p>
              </div>
              <div class="div4">
                <p class="title">Driver 1</p>
                <p class="detail">
                  Id:
                  <span class="detail-title">
                    hello
                  </span>
                </p>
                <p class="detail">
                  Name:
                  <span class="detail-title">
                    hello
                  </span>
                </p>
                <p class="detail">
                  License no.:
                  <span class="detail-title">
                    hello
                  </span>
                </p>
              </div>
              <div class="div5">
                <p class="title">Driver 2</p>
                <p class="detail">
                  Id:
                  <span class="detail-title">
                    hello
                  </span>
                </p>
                <p class="detail">
                  Name:
                  <span class="detail-title">
                    hello
                  </span>
                </p>
                <p class="detail">
                  License no.:
                  <span class="detail-title">
                    hello
                  </span>
                </p>
              </div>
            </div>
          </div>
        </div> -->

				<!-- vehicle details card visible if ownership status is rental -->
				<!-- <div class="card" *ngIf="ownershipStatus == 'rental'">
          <div class="card-body">
            <div class="flex-rental-row info-card">
              <div class="">
                <p class="detail">
                  Broker:
                  <span class="detail-title">
                    hello
                  </span>
                </p>
              </div>
              <div class="">
                <p class="detail">
                  Equipment Type:
                  <span class="detail-title">
                    hello
                  </span>
                </p>
              </div>
              <div class="">
                <p class="detail">
                  Equipment Size:
                  <span class="detail-title">
                    hello
                  </span>
                </p>
              </div>
              <div class="">
                <p class="detail">
                  License Number:
                  <span class="detail-title">
                    hello
                  </span>
                </p>
              </div>
            </div>
          </div>
        </div>
 -->
			</div>
		</div>
		<!-- Neechy Wala  -->
		<div class="form-row">
			<div class="col-12">
				<div class="title-row">
					<p class="title">Stop Progress</p>
				</div>
				<div class="card card-plain margin-less">
					<div class="card-body job-window">
						<div class="row head-row">
							<div class="col-1">Stop</div>
							<div class="col-1">RWB#</div>
							<div class="col-2">Truck</div>
							<div class="col-2">Location</div>
							<div class="col-2">Arrival Time</div>
							<div class="col-2">Departure Time</div>
							<div class="col-2">Detention</div>
						</div>
						<mat-accordion>
							<mat-expansion-panel
								*ngFor="let progress of jSummary?.stopProgresses"
							>
								<mat-expansion-panel-header>
									<!-- <mat-panel-title>
                    {{ progress.stopProgressId }}
                  </mat-panel-title> -->
									<mat-panel-description>
										<div class="row details">
											<div class="col-1 detail">
												<!-- Stop: -->
												<span>
													{{ progress.stopProgressType?.value }}
												</span>
											</div>
											<div class="col-1 detail">
												<!-- RWB-Id: -->
												<span>
													{{ progress.roadwayBillId }}
												</span>
											</div>
											<div class="col-2 detail">
												<!-- RWB-Id: -->
												<span>
													{{ progress.tractor?.numberPlate }}
												</span>
											</div>
											<div class="col-2 detail">
												<!-- Location: -->
												<span>
													{{ progress.warehouse?.address.city.value }}
												</span>
											</div>
											<div class="col-2 detail">
												<!-- Arrival Time: -->
												<span>
													{{ progress.arrivalTime }}
												</span>
											</div>
											<div class="col-2 detail">
												<!-- Departure Time: -->
												<span>
													{{ progress.departureTime }}
												</span>
											</div>
											<div class="col-2 detail">
												<!-- Detention: -->
												<span>
													{{ progress.detentionInHrs }}
												</span>
											</div>
										</div>
										<!-- <div class="actions">
                    <button mat-raised-button type="button" class="btn btn-sm btn-danger"
                      [routerLink]="['/trips/details' , job.jobId]" routerLinkActive="router-link-active">
                      <i class="material-icons">remove_red_eye</i>
                      View
                    </button>
                  </div> -->
									</mat-panel-description>
								</mat-expansion-panel-header>

								<h6 class="detail">
									Tractor:
									<span class="detail-title">
										{{ progress.tractor?.numberPlate }}
									</span>
								</h6>

								<h6 class="detail">
									Trailer:
									<span class="detail-title">
										{{ progress.trailer?.vin }}
									</span>
								</h6>

								<h6 class="detail">
									Driver 1:
									<span class="detail-title">
										{{ progress.driver1?.employeeName }}
									</span>
								</h6>

								<h6 class="detail">
									Driver 2:
									<span class="detail-title">
										{{ progress.driver2?.employeeName }}
									</span>
								</h6>
							</mat-expansion-panel>
						</mat-accordion>
						<div class="row head-row">
							<div class="col-1">Stop</div>
							<div class="col-1">RWB#</div>
							<div class="col-2">Truck</div>
							<div class="col-2">Location</div>
							<div class="col-2">Arrival Time</div>
							<div class="col-2">Departure Time</div>
							<div class="col-2">Detention</div>
						</div>
						<!-- <table mat-table [dataSource]="jSummary?.stopProgresses" multiTemplateDataRows class="mat-elevation-z8">
            <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay; let i = index">
              <th mat-header-cell *matHeaderCellDef> {{columnsHeader[i]}} </th>
              <td mat-cell *matCellDef="let element"> {{element.column}} </td>
            </ng-container>

            <ng-container matColumnDef="expandedDetail">
              <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
                <div class="example-element-detail"
                  [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                  <h5>
                    Tractor:
                    <span>{{element.tractor}}</span>
                  </h5>
                  <h5>
                    Trailer:
                    <span>{{element.trailer}}</span>
                  </h5>
                  <h5>
                    Driver 1:
                    <span>{{element.driver1}}</span>
                  </h5>
                  <h5>
                    Driver 2:
                    <span>{{element.driver2}}</span>
                  </h5>
                </div>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
            <tr mat-row *matRowDef="let element; columns: columnsToDisplay;" class="example-element-row"
              [class.example-expanded-row]="expandedElement === element"
              (click)="expandedElement = expandedElement === element ? null : element">
            </tr>
            <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
          </table> -->
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
