<div class="form-row">
  <div class="col-12 approve-reimbursement">
    <div>
      <table mat-table [dataSource]="dataSource">
        <!-- Reimbursement Id Column -->
        <ng-container matColumnDef="reimbId">
          <th mat-header-cell *matHeaderCellDef>
            Reimbursement Id
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.reimbursementInfoId }}
          </td>
        </ng-container>

        <!-- Job Status Column -->
        <ng-container matColumnDef="jobStatus">
          <th mat-header-cell *matHeaderCellDef>Reimbursed Date</th>
          <td mat-cell *matCellDef="let element">
            {{ element.reimbursementDate }}
          </td>
        </ng-container>

        <!-- Reimbursement Status Column -->
        <ng-container matColumnDef="reimbStatus">
          <th mat-header-cell *matHeaderCellDef>
            Reimbursed Amount
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.reimbursementAmount }}
          </td>
        </ng-container>

        <!-- Close Date Column -->
        <ng-container matColumnDef="closeDate">
          <th mat-header-cell *matHeaderCellDef>Reference No.</th>
          <td mat-cell *matCellDef="let element">
            {{ element.referenceNumber }}
          </td>
        </ng-container>

        <!-- Total Expenses Column -->
        <ng-container matColumnDef="expenses">
          <th mat-header-cell *matHeaderCellDef>Verified By</th>
          <td mat-cell *matCellDef="let element">
            {{ element.reimbursementNote }}
          </td>
        </ng-container>

        <!-- View Column -->
        <ng-container matColumnDef="view">
          <th mat-header-cell *matHeaderCellDef>Action</th>
          <td mat-cell *matCellDef="let element">
            <button mat-raised-button type="submit" class="btn btn-sm btn-danger"
              routerLinkActive="router-link-active" (click)="getReimbursementById(element)">
              View
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>

    </div>
  </div>
</div>
