<h2 mat-dialog-title>Add City</h2>
<form [formGroup]="addCityForm" (ngSubmit)="add()">
  <mat-dialog-content class="mat-typography">
    <div class="form-row">
      <div class="form-group col-md-4">
        <mat-form-field [style.fontSize]="'12px'" appearance="outline">
          <mat-label>City Name</mat-label>
          <input matInput formControlName="name" placeholder="City Name" />
        </mat-form-field>
      </div>

      <div class="form-group col-md-4">
        <mat-form-field [style.fontSize]="'12px'" appearance="outline">
          <mat-label>City Code</mat-label>
          <input matInput formControlName="code" placeholder="City Code" />
        </mat-form-field>
      </div>

      <div class="form-group col-md-4">
        <mat-form-field [style.fontSize]="'12px'" appearance="outline">
          <mat-label>State</mat-label>
          <mat-select formControlName="state">
            <mat-option [value]=null></mat-option>
            <mat-option *ngFor="let states of stateDropDown" [value]="states">
              {{states.value}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button
      class="btn btn-sm btn-danger"
      type="submit">
      <i class="material-icons">add</i>
      Add
    </button>
  </mat-dialog-actions>
</form>
