<h2 mat-dialog-title>Receive Order</h2>
<form [formGroup]="receiveOrderForm" (ngSubmit)="submit()">
  <mat-dialog-content class="mat-typography">
    <div class="form-row card-form">
      <div class="form-group col-md-6">
        <mat-form-field [style.fontSize]="'12px'" appearance="outline">
          <mat-label>Receiving Date</mat-label>
          <input matInput formControlName="orderDate" [matDatepicker]="picker" placeholder="Payment Date" />
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker touchUi #picker></mat-datepicker>
        </mat-form-field>
      </div>
    </div>
    <div class="form-row card-form">
      <table class="tableCust">
        <thead class="heading">
          <th>Item Name</th>
          <th>Quantity Received</th>
        </thead>
        <tbody>
          <tr formArrayName="itemList"
            *ngFor="let items of receiveOrderForm.get('itemList')['controls']; let i = index">
            <td [formGroupName]="i">{{items.value.item.itemName}}</td>
            <td [formGroupName]="i">
            <div class="form-group col-md-6">
              <mat-form-field [style.fontSize]="'12px'" appearance="outline">
                <mat-label>Quantity Received</mat-label>
                <input matInput formControlName="qtyReceived" type="number" placeholder="Quantity Received" />
              </mat-form-field>
            </div>
          </td>
          </tr>
        </tbody>
      </table>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button type="submit" mat-button cdkFocusInitial>Receive</button>
  </mat-dialog-actions>
</form>