<form [formGroup]="progressForm">
  <div class="form-row">
    <div class="col-12 margin-top-small">
      <button type="button" mat-raised-button class="btn btn-sm btn-danger pull-right" (click)="addProgress(true)"
        routerLinkActive="router-link-active">
        <i class="material-icons">add</i>
        Add Progress
      </button>
    </div>
    <div class="col-12 margin-top-small" >
      <div class="card add-progress-card no-margin-top" [ngClass]="{
          'closed-progress-card': !addProgressDiv,
          'opened-progress-card': addProgressDiv
        }">
        <div class="card-body card-form" *ngIf="addProgressDiv">
          <app-progress-form (progressAdded)="newProgressAdded($event)" (progressClose)="closeProgress()">
          </app-progress-form>
        </div>
      </div>
    </div>
    <div class="col-12 margin-top-small" style="margin-bottom: 4px;">
      <mat-accordion>
        <mat-expansion-panel formArrayName="loadProgress" *ngFor="
            let item of progressForm.get('loadProgress')['controls'];
            let l = index
          ">
          <mat-expansion-panel-header>
            <mat-panel-description>
              <div>
                <b>Progress Type:</b>
                {{ item.controls.progressType.value?.value }}
              </div>
              <div>
                <b>Address:</b>
                {{ item.controls.progressCity.value?.value }}
              </div>
              <div>
                <b>Tractor</b>
                {{ item.controls.progressTractor.value?.numberPlate }}
              </div>
              <div>
                <b>Driver 1:</b>
                {{ item.controls.progressDriver1.value?.employeeName }}
              </div>
              <div>
                <b>Driver 2:</b>
                {{ item.controls.progressDriver2.value?.employeeName }}
              </div>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="card-form" [formGroupName]="l">
            <div class="form-row" [ngClass]="{ 'disable-clicks': !editForm }">
              <div class="form-group col-md-2">
                <mat-form-field [style.fontSize]="'12px'" appearance="outline">
                  <mat-label>Progress Type</mat-label>
                  <mat-select formControlName="progressType" [compareWith]="compareDropdownType">
                    <mat-option [value]="null"></mat-option>
                    <mat-option *ngFor="let stop of stopProgTypeDropDown" [value]="stop">
                      {{ stop.value }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="form-group col-md-2">
                <mat-form-field [style.fontSize]="'12px'" appearance="outline" class="date-time full-width">
                  <mat-label>Arrival Time</mat-label>
                  <input matInput [owlDateTime]="dt4" [owlDateTimeTrigger]="dt4" placeholder="Arrival Date Time"
                    formControlName="progressArrival" />
                  <owl-date-time #dt4 [pickerMode]="'dialog'"></owl-date-time>
                </mat-form-field>
              </div>
              <div class="form-group col-md-2">
                <mat-form-field [style.fontSize]="'12px'" appearance="outline" class="date-time full-width">
                  <mat-label>Departure Time</mat-label>
                  <input matInput [owlDateTime]="dt5" [owlDateTimeTrigger]="dt5" placeholder="Departure Date Time"
                    formControlName="progressDeparture" />
                  <owl-date-time #dt5 [pickerMode]="'dialog'"></owl-date-time>
                </mat-form-field>
              </div>
              <div class="form-group col-md-2">
                <mat-form-field [style.fontSize]="'12px'" appearance="outline" class="date-time full-width">
                  <mat-label>Vehicle Ownership</mat-label>
                  <mat-select formControlName="progressVehicleOwn" [compareWith]="compareDropdownType"
                    (selectionChange)="displayProgRentalFields($event.value)">
                    <mat-option [value]="null"></mat-option>
                    <mat-option *ngFor="let veh of vehicleOwnerDropDown" [value]="veh">{{ veh.value }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="form-group col-md-2" *ngIf="!showProgRentalField">
                <mat-form-field [style.fontSize]="'12px'" appearance="outline">
                  <mat-label>Tractor</mat-label>
                  <mat-select formControlName="progressTractor" [compareWith]="compareTractor">
                    <mat-option [value]="null"></mat-option>
                    <mat-option *ngFor="let truck of tractorDropDown" [value]="truck">
                      {{ truck.numberPlate }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="form-group col-md-2" *ngIf="!showProgRentalField">
                <mat-form-field [style.fontSize]="'12px'" appearance="outline">
                  <mat-label>Trailer</mat-label>
                  <mat-select formControlName="progressTrailer" [compareWith]="compareTrailer">
                    <mat-option [value]="null"></mat-option>
                    <mat-option *ngFor="let trail of trailerDropDown" [value]="trail">{{ trail.vin }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="form-group col-md-2" *ngIf="!showProgRentalField">
                <mat-form-field [style.fontSize]="'12px'" appearance="outline">
                  <mat-label>Container</mat-label>
                  <mat-select formControlName="progressContainer" [compareWith]="compareContainer">
                    <mat-option [value]="null"></mat-option>
                    <mat-option *ngFor="let cont of containerDropDown" [value]="cont">
                      {{ cont.containerNumber }}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="form-group col-md-2" *ngIf="!showProgRentalField">
                <mat-form-field [style.fontSize]="'12px'" appearance="outline">
                  <mat-label>Driver 1</mat-label>
                  <mat-select formControlName="progressDriver1" [compareWith]="compareDrivers">
                    <mat-option [value]="null"></mat-option>
                    <mat-option *ngFor="let drive1 of driverDropDown" [value]="drive1">
                      {{ drive1.employeeName }}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="form-group col-md-2" *ngIf="!showProgRentalField">
                <mat-form-field [style.fontSize]="'12px'" appearance="outline">
                  <mat-label>Driver 2</mat-label>
                  <mat-select formControlName="progressDriver2" [compareWith]="compareDrivers">
                    <mat-option [value]="null"></mat-option>
                    <mat-option *ngFor="let drive2 of driverDropDown" [value]="drive2">
                      {{ drive2.employeeName }}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="form-group col-md-2" *ngIf="showProgRentalField">
                <mat-form-field [style.fontSize]="'12px'" appearance="outline">
                  <mat-label>Broker</mat-label>
                  <mat-select formControlName="progressRentalBroker" [compareWith]="compareBroker">
                    <mat-option [value]="null"></mat-option>
                    <mat-option *ngFor="let brok of brokerDropDown" [value]="brok">
                      {{ brok.companyName }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="form-group col-md-2" *ngIf="showProgRentalField">
                <mat-form-field [style.fontSize]="'12px'" appearance="outline">
                  <mat-label>Equipment Type</mat-label>
                  <mat-select formControlName="progressVehicleEquipment" [compareWith]="compareDropdownType">
                    <mat-option [value]="null"></mat-option>
                    <mat-option *ngFor="let progEquipmentType of equipmentDropDown" [value]="progEquipmentType">
                      {{ progEquipmentType.value }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="form-group col-md-2" *ngIf="showProgRentalField">
                <mat-form-field [style.fontSize]="'12px'" appearance="outline">
                  <mat-label>Equipment Size</mat-label>
                  <mat-select formControlName="progressEquipSize" [compareWith]="compareDropdownType">
                    <mat-option [value]="null"></mat-option>
                    <mat-option *ngFor="let progEquipmentSize of equipmentSizeDropDown" [value]="progEquipmentSize">
                      {{ progEquipmentSize.value }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="form-group col-md-2" *ngIf="showProgRentalField">
                <mat-form-field [style.fontSize]="'12px'" appearance="outline">
                  <mat-label>License Number</mat-label>
                  <input matInput formControlName="progressVehicleNumber" placeholder="License Number" type="text" />
                </mat-form-field>
              </div>
              <div class="form-group col-md-2">
                <mat-form-field [style.fontSize]="'12px'" appearance="outline">
                  <mat-label>Starting Km</mat-label>
                  <input matInput formControlName="progressCurrentKm" placeholder="Starting Km" type="number" />
                </mat-form-field>
              </div>
              <div class="form-group col-md-2">
                <mat-form-field [style.fontSize]="'12px'" appearance="outline">
                  <mat-label>Detention Hour</mat-label>
                  <input matInput formControlName="progressDetention" placeholder="Detention In Hrs" type="text" />
                </mat-form-field>
              </div>
              <div class="form-group col-md-2">
                <mat-form-field [style.fontSize]="'12px'" appearance="outline" class="full-width">
                  <mat-label>Warehouse Name</mat-label>
                  <input formControlName="progressWarehouseName" matInput placeholder="Company" type="text" />
                </mat-form-field>
              </div>
              <div class="form-group col-md-3">
                <mat-form-field [style.fontSize]="'12px'" appearance="outline" class="full-width">
                  <mat-label>Address Line 1</mat-label>
                  <input formControlName="progressStreet1" matInput placeholder="Address 1" type="text" />
                </mat-form-field>
              </div>
              <div class="form-group col-md-3">
                <mat-form-field [style.fontSize]="'12px'" appearance="outline" class="full-width">
                  <mat-label>Address Line 2</mat-label>
                  <input formControlName="progressStreet2" matInput placeholder="Address 2" type="text" />
                </mat-form-field>
              </div>
              <div class="form-group col-md-2">
                <mat-form-field [style.fontSize]="'12px'" appearance="outline">
                  <mat-label>City</mat-label>
                  <mat-select formControlName="progressCity" [compareWith]="compareDropdownType">
                    <mat-option [value]="null"></mat-option>
                    <mat-option *ngFor="let citi of cityDropDown" [value]="citi">
                      {{ citi.value }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="form-group col-md-2">
                <mat-form-field [style.fontSize]="'12px'" appearance="outline">
                  <mat-label>State</mat-label>
                  <mat-select formControlName="progressState" [compareWith]="compareDropdownType">
                    <mat-option [value]="null"></mat-option>
                    <mat-option *ngFor="let states of stateDropDown" [value]="states">
                      {{ states.value }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="form-group col-md-2">
                <mat-form-field [style.fontSize]="'12px'" appearance="outline" class="full-width">
                  <mat-label>Latitude</mat-label>
                  <input formControlName="progressLatitude" matInput placeholder="Latitude" type="text" />
                </mat-form-field>
              </div>
              <div class="form-group col-md-2">
                <mat-form-field [style.fontSize]="'12px'" appearance="outline" class="full-width">
                  <mat-label>Longitude</mat-label>
                  <input formControlName="progressLongitude" matInput placeholder="Longitude" type="text" />
                </mat-form-field>
              </div>
              <div class="form-group col-md-2">
                <mat-form-field [style.fontSize]="'12px'" appearance="outline" class="full-width">
                  <mat-label>Contact No.</mat-label>
                  <input formControlName="progressPhone" matInput placeholder="Contact No." type="number" />
                </mat-form-field>
              </div>
              <div class="form-group col-md-2">
                <mat-form-field [style.fontSize]="'12px'" appearance="outline" class="full-width">
                  <mat-label>Email</mat-label>
                  <input formControlName="progressEmail" matInput placeholder="Email" type="text" />
                </mat-form-field>
              </div>
              <div class="form-group col-md-12 textarea">
                <mat-form-field [style.fontSize]="'12px'" appearance="outline" class="full-width">
                  <mat-label>Instructions</mat-label>
                  <textarea matInput formControlName="progressInstruction" placeholder="Instructions"></textarea>
                </mat-form-field>
              </div>
            </div>

            <div class="form-row">
              <div class="col-12">
                <button type="button" mat-raised-button class="btn btn-sm btn-danger pull-right"
                  (click)="updateLoadProgress(item.value)" routerLinkActive="router-link-active"
                  [ngClass]="{ 'no-display': !editForm }">
                  <i class="material-icons">save</i>
                  Save
                </button>
                <button type="button" mat-raised-button class="btn btn-sm btn-danger pull-right"
                  (click)="makeEditable()" routerLinkActive="router-link-active" [ngClass]="{ 'no-display': editForm }">
                  <i class="material-icons">edit</i>
                  Edit
                </button>
                <button type="button" mat-raised-button class="btn btn-sm btn-danger pull-right"
                  (click)="deleteLoadProgress(item.value.progressId, l)">
                  <i class="material-icons">delete</i>
                  Delete
                </button>
              </div>
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
</form>