.main-content {
    .row {
      .col-md-12 {
        .card {
          .card-header {
            display: flex;
            justify-content: flex-end;
            form {
              .input-group {
                input {
                  color: #fff;
                }
              }
            }
          }
          .card-body {
            .table-responsive {
              table {
                width: 100%;
              }
  
              .mat-footer-cell {
                padding-left: 16px;
                padding-right: 40px;
        
                &:first-of-type {
                    padding-left: 16px;
                }
        
                &:last-of-type {
                    padding-right: 16px;
                }
        
                .mat-paginator {
                    margin-left: -16px;
                    margin-right: -16px;
                }
            }
            }
          }
        }
      }
    }
  }
  