// @import " node_modules/ng-pick-datetime/assets/style/picker.min.css";
// @import "../node_modules/ng-pick-datetime/assets/style/picker.min.css";
@import "~ng-pick-datetime/assets/style/picker.min.css";

/* You can add global styles to this file, and also import other style fi0les */
::ng-deep input[type="number"]::-webkit-inner-spin-button,
::ng-deep input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

::ng-deep .status-dropdown {
  margin-top: -34px;
}

::ng-deep .card-form {
  // padding-bottom: 0;
  .form-group {
    margin: 0;
    &.col-12,
    &.col-3,
    &.col-md-10,
    &.col-md-8,
    &.col-md-6,
    &.col-md-5,
    &.col-md-4,
    &.col-md-3,
    &.col-md-2,
    &.col-md-1 {
      padding-bottom: 0;
      .mat-form-field-wrapper {
        padding-bottom: 0;
      }
    }
  }
}

::ng-deep .mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}

::ng-deep .form-navigation {
  position: fixed;
  bottom: 0;
  z-index: 2;
  background-color: #fff;
  width: calc(100% - 260px);
  margin-left: -30px;
  display: flex;
  justify-content: space-between;
  padding: 4px 10px;
  box-shadow: 0px -4px 40px 0px rgba(0, 0, 0, 0.1);
  div:last-child {
    button:first-child {
      margin: 0 15px;
    }
  }
}

::ng-deep .section-heading {
  display: flex;
  justify-content: space-between;
  padding: 1em 0;
  &.first {
    padding-top: 0 !important;
  }
  h4 {
    font-weight: 500 !important;
  }
}

::ng-deep h4 {
  &.heading {
    font-weight: 500 !important;
  }
}

::ng-deep .id-card {
  background-color: #34495e;
  box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(52, 73, 94, 0.4);
  padding: 4px 16px;
  border-radius: 3px;
  margin-bottom: 18px;
  p {
    margin-bottom: 0 !important;
    color: #fff;
    font-size: 14px;
  }
}

::ng-deep .mat-row {
  cursor: pointer;
}

::ng-deep .no-display {
  display: none;
}

::ng-deep .footer-cell {
  text-align: center;
}
