<div class="center">
  <div class="img">
    <img src="../../../assets/img/errorinfo.png" alt="">
  </div>
  <div class="title">
    <p>Info</p>
  </div>
  <div class="message">
    <p>{{infoMsg}}</p>
  </div>
</div>