<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <!-- main form start -->
        <form class="add-job-form" [formGroup]="roadwayBillForm" (ngSubmit)="submitRoadwayBill()">
          <div class="id-card">
            <p>RWB ID # {{ roadwayBillForm.get("rwbId").value }}</p>
          </div>
          <mat-tab-group selectedIndex="0" (selectedTabChange)="changeTab($event)">
            <!-- RWB Details tab start -->
            <mat-tab label="Roadway Bill">
              <!-- rwb status dropdown -->
              <div class="form-row d-flex flex-row-reverse">
                <div class="form-group col-2">
                  <mat-form-field [style.fontSize]="'12px'" appearance="outline">
                    <mat-label>RWB Status</mat-label>
                    <mat-select formControlName="rwbStatus" [compareWith]="compareDropdownType">
                      <mat-option [value]="null"></mat-option>
                      <mat-option *ngFor="let status of rwbStatusDropDown" [value]="status">
                        {{ status.value }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>

                <!-- emptyy trip checker -->
                <div class="form-group col-2 checkbox-padding">
                  <mat-checkbox formControlName="isEmptyTrip" (change)="emptyTrip($event)">Empty Trip
                  </mat-checkbox>
                </div>
              </div>

              <div class="form-row">
                <div class="col-12">
                  <!-- main details rwb form -->
                  <div class="card">
                    <div class="card-header card-header-danger">
                      <h4 class="card-title">Roadway Bill Details</h4>
                    </div>
                    <div class="card-body card-form">
                      <div class="form-row">
                        <div class="form-group col-md-2">
                          <mat-form-field [style.fontSize]="'12px'" appearance="outline" class="full-width">
                            <mat-label>Job ID</mat-label>
                            <input matInput formControlName="jobID" placeholder="Job ID" type="text" />
                          </mat-form-field>
                        </div>
                        <!-- <div class="form-group col-md-2">
													<mat-form-field [style.fontSize]="'12px'" appearance="outline"
														class="full-width">
														<mat-label>Order No.</mat-label>
														<input matInput formControlName="orderNum"
															placeholder="Order No." type="text" />
													</mat-form-field>
												</div> -->
                        <!-- <div class="form-group col-md-2">
                          <mat-form-field [style.fontSize]="'12px'" appearance="outline" class="full-width">
                            <mat-label>RWB ID</mat-label>
                            <input matInput placeholder="RWB ID" type="text">
                          </mat-form-field>
                        </div> -->
                        <div class="form-group col-md-2">
                          <mat-form-field [style.fontSize]="'12px'" appearance="outline">
                            <mat-label>RWB Date</mat-label>
                            <input matInput formControlName="rwbDate" [matDatepicker]="picker" placeholder="RWB Date" />
                            <mat-datepicker-toggle matSuffix [for]="picker">
                            </mat-datepicker-toggle>
                            <mat-datepicker touchUi #picker></mat-datepicker>
                          </mat-form-field>
                        </div>
                        <div class="form-group col-md-2">
                          <mat-form-field [style.fontSize]="'12px'" appearance="outline" class="full-width">
                            <mat-label>Load No.</mat-label>
                            <input matInput formControlName="loadNum" placeholder="Load Number" type="text" />
                          </mat-form-field>
                        </div>
                        <!-- <div class="form-group col-md-2">
                          <mat-form-field [style.fontSize]="'12px'" appearance="outline" class="full-width">
                            <mat-label>Dispatcher</mat-label>
                            <input matInput formControlName="dispatcher" placeholder="Dispatcher Name" type="text">
                          </mat-form-field>
                        </div> -->
                        <div class="form-group col-md-2">
                          <mat-form-field [style.fontSize]="'12px'" appearance="outline" class="full-width">
                            <mat-label>BOL no.</mat-label>
                            <input matInput formControlName="bolNum" placeholder="BOL no." type="text" />
                          </mat-form-field>
                        </div>
                        <div class="form-group col-md-2">
                          <mat-form-field [style.fontSize]="'12px'" appearance="outline" class="full-width">
                            <mat-label>Approximate weight</mat-label>
                            <input matInput formControlName="appWeight" placeholder="Weight In Ton" type="number" />
                          </mat-form-field>
                        </div>
                        <div class="form-group col-md-2">
                          <mat-form-field [style.fontSize]="'12px'" appearance="outline" class="full-width">
                            <mat-label>TMS (Km)</mat-label>
                            <input matInput formControlName="tmsKm" placeholder="TMS (Km)" type="number" />
                          </mat-form-field>
                        </div>
                        <div class="form-group col-md-2">
                          <mat-form-field [style.fontSize]="'12px'" appearance="outline" class="full-width">
                            <mat-label>Tracker (Km)</mat-label>
                            <input matInput formControlName="trackerKm" placeholder="Tracker (Km)" type="number" />
                          </mat-form-field>
                        </div>
                        <div class="form-group col-md-2">
                          <mat-form-field [style.fontSize]="'12px'" appearance="outline">
                            <mat-label>Payment Mode</mat-label>
                            <mat-select formControlName="payMode" [compareWith]="compareDropdownType">
                              <mat-option [value]="null"></mat-option>
                              <mat-option *ngFor="let pay of paymentModeDropDown" [value]="pay">
                                {{ pay.value }}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>
                        <!-- customer type status dropdown -->
                        <div class="form-group col-md-2">
                          <mat-form-field [style.fontSize]="'12px'" appearance="outline">
                            <mat-label>Customer Type</mat-label>
                            <mat-select formControlName="customerType" [compareWith]="compareDropdownType"
                              (selectionChange)="
																displayContractual($event.value)
															">
                              <mat-option [value]="null"></mat-option>
                              <mat-option *ngFor="let customer of customerTypeDropDown" [value]="customer">
                                {{ customer.value }}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>
                        <div class="form-group col-md-2" *ngIf="showCompanyCustomer">
                          <mat-form-field [style.fontSize]="'12px'" appearance="outline">
                            <mat-label>Customer</mat-label>
                            <mat-select formControlName="contractCustomer" (selectionChange)="
                              getRouteForCustomer($event.value)
															">
                              <mat-option [value]="null"></mat-option>
                              <mat-option *ngFor="let custom of customerDropDown" [value]="custom">
                                {{ custom.companyName }}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>
                        <div class="form-group col-md-2" *ngIf="!showCompanyCustomer">
                          <mat-form-field [style.fontSize]="'12px'" appearance="outline">
                            <mat-label>Broker</mat-label>
                            <mat-select formControlName="broker" (selectionChange)="
                            getRouteForCustomer($event.value)
															">
                              <mat-option [value]="null"></mat-option>
                              <mat-option *ngFor="let brok of brokerDropDown" [value]="brok">
                                {{ brok.companyName }}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>

                        <div class="form-group col-md-2">
                          <mat-form-field [style.fontSize]="'12px'" appearance="outline">
                            <mat-label>Vehicle Ownership</mat-label>
                            <mat-select formControlName="vehicleOwn" [compareWith]="compareDropdownType"
                              (selectionChange)="
																displayRentalFields($event.value)
															">
                              <mat-option [value]="null"></mat-option>
                              <mat-option *ngFor="let vehicle of vehicleOwnerDropDown" [value]="vehicle">
                                {{ vehicle.value }}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>
                        <div class="form-group col-12">
                          <mat-form-field [style.fontSize]="'12px'" appearance="outline">
                            <textarea matInput formControlName="instruction" placeholder="Instructions"></textarea>
                          </mat-form-field>
                        </div>
                      </div>

                      <hr style="margin-top: 40px;" />
                      <!-----------ROUTE INFO------------>
                      <div class="form-row section-heading first rwb-details">
                        <h4>Route Info</h4>
                      </div>

                      <div class="form-row d-flex">
                        <div class="routes-type">
                          <mat-radio-group aria-label="routesTypes" name="routesType"
                            [ngModelOptions]="{ standalone: true }" [(ngModel)]="isArea"
                            (change)="selectionRoute($event)">
                            <mat-radio-button checked="true" value="Intercity">Intercity
                            </mat-radio-button>
                            <mat-radio-button value="Intracity">Intracity</mat-radio-button>
                          </mat-radio-group>
                        </div>
                        <div class="form-group col-md-2" *ngIf="isArea == 'Intracity'">
                          <mat-form-field [style.fontSize]="'12px'" appearance="outline">
                            <mat-label>City</mat-label>
                            <mat-select formControlName="routeCity" (selectionChange)="getRouteByCity($event.value)"
                              [compareWith]="compareDropdownType">
                              <mat-option [value]="null"></mat-option>
                              <mat-option *ngFor="let cit of cityDropDown" [value]="cit">
                                {{ cit.value }}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>
                        <div class="form-group col-md-2">
                          <mat-form-field [style.fontSize]="'12px'" appearance="outline">
                            <mat-label>Route</mat-label>
                            <mat-select formControlName="route" (selectionChange)="setTaxLocation($event.value)"
                              [compareWith]="compareRouteType">
                              <mat-option [value]="null"></mat-option>
                              <mat-option *ngFor="let rout of routeDropDown" [value]="rout">
                                {{ rout.routeFrom.value }} -
                                {{ rout.routeTo.value }}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>
                        <div class="form-group col-md-2">
                          <mat-form-field [style.fontSize]="'12px'" appearance="outline">
                            <mat-label>Tax Location</mat-label>
                            <mat-select formControlName="taxProvince" [compareWith]="compareDropdownType">
                              <mat-option [value]="null"></mat-option>
                              <mat-option *ngFor="let province of stateDropDown" [value]="province">
                                {{ province.value }}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>
                      </div>

                      <hr style="margin-top: 40px;" />

                      <!-----------ASSET INFO------------>
                      <!-- side details about asset - visible if vehicle ownership status is owned  -->
                      <div class="form-row section-heading first rwb-details" *ngIf="!showRentalField">
                        <h4>Asset Info</h4>
                        <div class="form-row d-flex right-actions">
                          <div class="form-group col-6">
                            <mat-form-field [style.fontSize]="'12px'" appearance="outline" class="full-width">
                              <mat-label>Asset Combination</mat-label>
                              <mat-select formControlName="assets" (selectionChange)="
																	checkedCombination($event.value)
																">
                                <mat-option [value]="null"></mat-option>
                                <mat-option *ngFor="let asset of assetDropDown" [value]="asset">
                                  {{ asset.tractor.numberPlate }}
                                </mat-option>
                              </mat-select>
                            </mat-form-field>
                          </div>
                          <button mat-raised-button class="btn btn-sm btn-danger" type="button"
                            routerLinkActive="router-link-active" [ngClass]="{ 'no-display': editAsset }"
                            (click)="makeAssetEditable()">
                            <i class="material-icons">edit</i> Edit Asset
                          </button>
                          <button mat-raised-button class="btn btn-sm btn-danger" type="button"
                            routerLinkActive="router-link-active" [ngClass]="{ 'no-display': !editAsset }"
                            (click)="makeAssetEditable()">
                            <i class="material-icons">save</i> Save Asset
                          </button>
                        </div>
                      </div>
                      <div class="card-form asset-body" *ngIf="!showRentalField">
                        <!-- assets card for five different assets -->
                        <div class="asset-row">
                          <div>
                            <!-- Tractor -->
                            <div class="card asset-card">
                              <div class="card-body">
                                <!-- picture here if time permits -->
                                <div class="asset-check" [ngClass]="{ 'no-display': !editAsset }">
                                  <mat-checkbox formControlName="tractor">
                                  </mat-checkbox>
                                </div>
                                <div class="card-title">
                                  <p class="id-title" [ngClass]="{ 'no-display': editAsset }">
                                    Tractor
                                  </p>
                                  <div class="id" [ngClass]="{ 'no-display': !editAsset }">
                                    <mat-form-field [style.fontSize]="'12px'" appearance="outline" class="full-width">
                                      <mat-label>Tractor</mat-label>
                                      <mat-select (selectionChange)="
																					changeAsset($event.value, 'tractor')
																				">
                                        <mat-option [value]="null"></mat-option>
                                        <mat-option *ngFor="
																						let customTractor of tractorDropDown
																					" [value]="customTractor">
                                          {{ customTractor.numberPlate }}
                                        </mat-option>
                                      </mat-select>
                                    </mat-form-field>
                                  </div>
                                  <p class="title">
                                    Id:
                                    <span>{{
																			displayAsset?.tractor?.tractorId
																		}}</span>
                                  </p>
                                  <p class="detail">
                                    Tractor No.:
                                    <span>{{
																			displayAsset?.tractor?.numberPlate
																		}}</span>
                                  </p>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div>
                            <!-- Trailer -->
                            <div class="card asset-card">
                              <div class="card-body">
                                <!-- picture here if time permits -->
                                <div class="asset-check" [ngClass]="{ 'no-display': !editAsset }">
                                  <mat-checkbox formControlName="trailer">
                                  </mat-checkbox>
                                </div>
                                <div class="card-title">
                                  <p class="id-title" [ngClass]="{ 'no-display': editAsset }">
                                    Trailer
                                  </p>
                                  <div class="id" [ngClass]="{ 'no-display': !editAsset }">
                                    <mat-form-field [style.fontSize]="'12px'" appearance="outline" class="full-width">
                                      <mat-label>Trailer</mat-label>
                                      <mat-select (selectionChange)="
																					changeAsset($event.value, 'trailer')
																				">
                                        <mat-option [value]="null"></mat-option>
                                        <mat-option *ngFor="
																						let customTrailer of trailerDropDown
																					" [value]="customTrailer">
                                          {{ customTrailer.vin }}
                                        </mat-option>
                                      </mat-select>
                                    </mat-form-field>
                                  </div>
                                  <p class="title">
                                    Trailer no.:
                                    <span>{{
																			displayAsset?.trailer?.vin
																		}}</span>
                                  </p>
                                  <p class="detail">
                                    Size:
                                    <span>{{
																			displayAsset?.trailer?.trailerSize?.value
																		}}</span>
                                  </p>
                                  <p class="detail">
                                    Type:
                                    <span>{{
																			displayAsset?.trailer?.trailerType?.value
																		}}</span>
                                  </p>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div>
                            <!-- Container -->
                            <div class="card asset-card">
                              <div class="card-body">
                                <!-- picture here if time permits -->
                                <div class="asset-check" [ngClass]="{ 'no-display': !editAsset }">
                                  <mat-checkbox formControlName="container">
                                  </mat-checkbox>
                                </div>
                                <div class="card-title">
                                  <p class="id-title" [ngClass]="{ 'no-display': editAsset }">
                                    Container
                                  </p>
                                  <div class="id" [ngClass]="{ 'no-display': !editAsset }">
                                    <mat-form-field [style.fontSize]="'12px'" appearance="outline" class="full-width">
                                      <mat-label>Container</mat-label>
                                      <mat-select (selectionChange)="
																					changeAsset($event.value, 'container')
																				">
                                        <mat-option [value]="null"></mat-option>
                                        <mat-option *ngFor="
																						let customContainer of containerDropDown
																					" [value]="customContainer">
                                          {{ customContainer.containerNumber }}
                                        </mat-option>
                                      </mat-select>
                                    </mat-form-field>
                                  </div>
                                  <p class="title">
                                    Cont no.:
                                    <span>{{
																			displayAsset?.container?.containerNumber
																		}}</span>
                                  </p>
                                  <p class="detail">
                                    Size:
                                    <span>{{
																			displayAsset?.container?.containerSize
																				?.value
																		}}</span>
                                  </p>
                                  <p class="detail">
                                    Type:
                                    <span>{{
																			displayAsset?.container?.containerType
																				?.value
																		}}</span>
                                  </p>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div>
                            <!-- Driver 1 -->
                            <div class="card asset-card">
                              <div class="card-body">
                                <!-- picture here if time permits -->
                                <div class="asset-check" [ngClass]="{ 'no-display': !editAsset }">
                                  <mat-checkbox formControlName="driver1">
                                  </mat-checkbox>
                                </div>
                                <div class="card-title">
                                  <p class="id-title" [ngClass]="{ 'no-display': editAsset }">
                                    Driver 1
                                  </p>
                                  <div class="id" [ngClass]="{ 'no-display': !editAsset }">
                                    <mat-form-field [style.fontSize]="'12px'" appearance="outline" class="full-width">
                                      <mat-label>Driver 1</mat-label>
                                      <mat-select (selectionChange)="
																					changeAsset($event.value, 'driver1')
																				">
                                        <mat-option [value]="null"></mat-option>
                                        <mat-option *ngFor="
																						let customDriver1 of driverDropDown
																					" [value]="customDriver1">
                                          {{ customDriver1.employeeName }}
                                        </mat-option>
                                      </mat-select>
                                    </mat-form-field>
                                  </div>
                                  <p class="title">
                                    Emp no.:
                                    <span>{{
																			displayAsset?.driver1?.employeeNumber
																		}}</span>
                                  </p>
                                  <p class="detail">
                                    Name:
                                    <span>{{ displayAsset?.driver1?.employeeName }}
                                    </span>
                                  </p>
                                  <p class="detail">
                                    License no.:
                                    <span>{{
																			displayAsset?.driver1?.licenceNumber
																		}}</span>
                                  </p>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div>
                            <!-- Driver 2 -->
                            <div class="card asset-card">
                              <div class="card-body">
                                <!-- picture here if time permits -->
                                <div class="asset-check" [ngClass]="{ 'no-display': !editAsset }">
                                  <mat-checkbox formControlName="driver2">
                                  </mat-checkbox>
                                </div>
                                <div class="card-title">
                                  <p class="id-title" [ngClass]="{ 'no-display': editAsset }">
                                    Driver 2
                                  </p>
                                  <div class="id" [ngClass]="{ 'no-display': !editAsset }">
                                    <mat-form-field [style.fontSize]="'12px'" appearance="outline" class="full-width">
                                      <mat-label>Driver 2</mat-label>
                                      <mat-select (selectionChange)="
																					changeAsset($event.value, 'driver2')
																				">
                                        <mat-option [value]="null"></mat-option>
                                        <mat-option *ngFor="
																						let customDriver2 of driverDropDown
																					" [value]="customDriver2">
                                          {{ customDriver2.employeeName }}
                                        </mat-option>
                                      </mat-select>
                                    </mat-form-field>
                                  </div>
                                  <p class="title">
                                    Emp no.:
                                    <span>{{
																			displayAsset?.driver2?.employeeNumber
																		}}</span>
                                  </p>
                                  <p class="detail">
                                    Name:
                                    <span>{{ displayAsset?.driver2?.employeeName }}
                                    </span>
                                  </p>
                                  <p class="detail">
                                    License no.:
                                    <span>{{
																			displayAsset?.driver2?.licenceNumber
																		}}</span>
                                  </p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <!-- side details about rental - visible if vehicle ownership status is rental  -->
                      <div class="form-row section-heading first rwb-details" *ngIf="showRentalField">
                        <h4>Rental Info</h4>
                      </div>
                      <div class="card-body card-form" *ngIf="showRentalField">
                        <div class="form-row">
                          <div class="form-group col-md-3">
                            <mat-form-field [style.fontSize]="'12px'" appearance="outline">
                              <mat-label>Broker</mat-label>
                              <mat-select formControlName="rentalBroker">
                                <mat-option [value]="null"></mat-option>
                                <mat-option *ngFor="let brok of brokerDropDown" [value]="brok">
                                  {{ brok.companyName }}
                                </mat-option>
                              </mat-select>
                            </mat-form-field>
                          </div>
                          <div class="form-group col-md-3">
                            <mat-form-field [style.fontSize]="'12px'" appearance="outline">
                              <mat-label>Vehicle Equipment Type</mat-label>
                              <mat-select formControlName="equipType" [compareWith]="compareDropdownType">
                                <mat-option [value]="null"></mat-option>
                                <mat-option *ngFor="let VehicleEquip of equipmentDropDown" [value]="VehicleEquip">
                                  {{ VehicleEquip.value }}
                                </mat-option>
                              </mat-select>
                            </mat-form-field>
                          </div>
                          <div class="form-group col-md-3">
                            <mat-form-field [style.fontSize]="'12px'" appearance="outline">
                              <mat-label>Equipment Size</mat-label>
                              <mat-select formControlName="equipSize" [compareWith]="compareDropdownType">
                                <mat-option [value]="null"></mat-option>
                                <mat-option *ngFor="
																		let equipmentSize of equipmentSizeDropDown
																	" [value]="equipmentSize">
                                  {{ equipmentSize.value }}
                                </mat-option>
                              </mat-select>
                            </mat-form-field>
                          </div>
                          <div class="form-group col-md-3">
                            <mat-form-field [style.fontSize]="'12px'" appearance="outline" class="full-width">
                              <mat-label>License Number</mat-label>
                              <input matInput formControlName="licNumber" placeholder="License Number" type="text" />
                            </mat-form-field>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </mat-tab>

            <mat-tab label="Stops">
              <app-stops-product *ngIf="tabIndex === 1"></app-stops-product>
            </mat-tab>
            <mat-tab label="Progress">
              <app-load-progress *ngIf="tabIndex === 2"></app-load-progress>
            </mat-tab>
            <mat-tab label="Financials">
              <app-financials *ngIf="tabIndex === 3"></app-financials>
            </mat-tab>




            <!-- Document Upload tab Start -->
            <mat-tab label="Documents" *ngIf="roadwayBillForm.value.rwbId != null">
              <div class="card">
                <div class="card-body card-form">
                  <div class="form-row">
                    <div class="form-group col-md-4">
                      <mat-form-field [style.fontSize]="'12px'" appearance="outline">
                        <mat-label>Document Type</mat-label>
                        <mat-select>
                          <mat-option></mat-option>
                          <mat-option value="doc">doc</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div class="form-group col-md-4">
                      <mat-form-field [style.fontSize]="'12px'" appearance="outline">
                        <mat-label>Document</mat-label>
                        <ngx-mat-file-input placeholder="Document"></ngx-mat-file-input>
                        <i class="material-icons" matSuffix>folder</i>
                      </mat-form-field>
                    </div>
                    <div class="col-md-4">
                      <button mat-raised-button class="btn btn-sm btn-danger" routerLinkActive="router-link-active">
                        Add
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row document-cards">
                <div *ngFor="let document of documents" class="col-md-4">
                  <div class="card card-chart">
                    <div class="card-header card-header-danger">
                      <p>{{ document.title }}</p>
                    </div>
                    <div class="card-body card-form">
                      <img *ngIf="document.type == 'img'" [src]="document.file" alt="" />
                    </div>
                    <!-- <div class="card-footer">

                    </div> -->
                  </div>
                </div>
              </div>
            </mat-tab>
          </mat-tab-group>

          <!-- footer bar -->
          <div class="form-navigation">
            <div>
              <button mat-raised-button type="reset" class="btn btn-sm" [routerLink]="['/job']"
                routerLinkActive="router-link-active">
                Back
              </button>
              <button mat-raised-button class="btn btn-sm" type="button" (click)="dispatchBill()"
                routerLinkActive="router-link-active" *ngIf="dispatchBtn && !completeBtn">
                Dispatched
              </button>
              <button mat-raised-button class="btn btn-sm" type="button" (click)="completeBill()"
                routerLinkActive="router-link-active" *ngIf="completeBtn">
                Completed
              </button>
            </div>
            <div *ngIf="showSaveBtn">
              <button mat-raised-button class="btn btn-sm btn-danger" type="submit"
                routerLinkActive="router-link-active">
                <i class="material-icons">save</i> Save RWB
              </button>
              <button mat-raised-button class="btn btn-sm" type="button" (click)="deleteRoadwayBill()"
                routerLinkActive="router-link-active">
                Delete
              </button>
              <!-- <button mat-raised-button type="submit" class="btn btn-sm btn-danger"
                routerLinkActive="router-link-active">
                Save
              </button> -->
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>