<div class="main-content invoice">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <button *ngIf="showPendingBtn"
          class="btn btn-sm btn-danger pull-right"
          type="button"
          (click)="checkPendingInvoices()"
        >
          <i class="material-icons">visibility</i>
          Check Pending
        </button>
      </div>
      <div class="col-md-12">
        <!-- main form start -->
        <mat-tab-group selectedIndex="0" (selectedTabChange)="changeTab($event)">
          <!-- Generate invoices tab start -->
          <mat-tab>
            <ng-template mat-tab-label>
              Generate Invoice
            </ng-template>

            <!-- generate invoice tab content -->
            <!-- search bar -->
            <div class="col-md-12">
              <div class="card">
                <div class="card-body card-form search-form">
                  <form [formGroup]="searchForm" (ngSubmit)="search()">
                    <div class="form-row">
                      <div class="form-group col-md-2">
                        <mat-form-field
                          [style.fontSize]="'12px'"
                          appearance="outline"
                        >
                          <mat-label>Customer</mat-label>
                          <mat-select formControlName="customer">
                            <mat-option
                              *ngFor="let custom of customerDropDown"
                              [value]="custom.companyId"
                            >
                              {{ custom.companyName }}
                            </mat-option>
                          </mat-select>
                          <!-- <input type="text" placeholder="Customer or Broker" matInput
														formControlName="customer" [matAutocomplete]="auto"
														(keyup)="onChanges($event)">
													<mat-autocomplete #auto="matAutocomplete">
														<mat-option *ngFor="let custom of customerDropDown"
															[value]="custom.companyName">
															{{ custom.companyName }}
														</mat-option>
													</mat-autocomplete> -->
                        </mat-form-field>
                      </div>

                      <div class="form-group col-md-2">
                        <mat-form-field
                          [style.fontSize]="'12px'"
                          appearance="outline"
                          class="date-time full-width"
                        >
                          <mat-label>Start Date</mat-label>
                          <input
                            matInput
                            [matDatepicker]="picker"
                            formControlName="start"
                          />
                          <mat-datepicker-toggle matSuffix [for]="picker">
                          </mat-datepicker-toggle>
                          <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                      </div>
                      <div class="form-group col-md-2">
                        <mat-form-field
                          [style.fontSize]="'12px'"
                          appearance="outline"
                          class="date-time full-width"
                        >
                          <mat-label>End Date</mat-label>
                          <input
                            matInput
                            [matDatepicker]="picker1"
                            formControlName="end"
                          />
                          <mat-datepicker-toggle matSuffix [for]="picker1">
                          </mat-datepicker-toggle>
                          <mat-datepicker #picker1></mat-datepicker>
                        </mat-form-field>
                      </div>
                      <div class="form-group col-md-2">
                        <mat-form-field
                          [style.fontSize]="'12px'"
                          appearance="outline"
                        >
                          <mat-label>Tax State</mat-label>
                          <mat-select formControlName="state">
                            <mat-option [value]="null"></mat-option>
                            <mat-option
                              *ngFor="let state of stateDropDown"
                              [value]="state.value"
                            >
                              {{ state.value }}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                      <div class="form-group col-md-2">
                        <mat-form-field
                          [style.fontSize]="'12px'"
                          appearance="outline"
                        >
                          <mat-label>Invoice Type</mat-label>
                          <mat-select formControlName="invoiceType">
                            <mat-option
                              *ngFor="let type of invoiceTypeDropDown"
                              [value]="type.value"
                            >
                              {{ type.value }}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                      <!-- <div class="form-group col-md-2">
                        <mat-form-field
                          [style.fontSize]="'12px'"
                          appearance="outline"
                        >
                          <mat-label>Invoice Status</mat-label>
                          <mat-select formControlName="invoiceStatus">
                            <mat-option
                              *ngFor="let invStatus of invoiceDropDown"
                              [value]="invStatus.value"
                            >
                              {{ invStatus.value }}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div> -->
                      <div class="col-2 row-button">
                        <button class="btn btn-sm btn-danger" type="submit">
                          <i class="material-icons">search</i>
                        </button>
                        &nbsp;
                        <button
                          class="btn btn-sm btn-danger"
                          type="button"
                          (click)="clearForm()"
                        >
                          <i class="material-icons">clear</i>
                        </button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>

            <!-- selection table -->
            <div class="col-md-12 mat-elevation-z8">
              <table
                mat-table
                [dataSource]="dataSource"
                class="mat-elevation-z8"
              >
                <!-- Checkbox Column -->
                <ng-container matColumnDef="select">
                  <th mat-header-cell *matHeaderCellDef>
                    <mat-checkbox (change)="onChangeSelectAll($event)">
                    </mat-checkbox>
                  </th>
                  <td mat-cell *matCellDef="let row">
                    <mat-checkbox
                      [checked]="row.selected"
                      (change)="pushBill($event, row)"
                    >
                    </mat-checkbox>
                  </td>
                </ng-container>

                <!-- RWB ID Column -->
                <ng-container matColumnDef="rwbId">
                  <th mat-header-cell *matHeaderCellDef>RWB ID</th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.rwbId }}
                  </td>
                </ng-container>

                <!-- Customer Column -->
                <ng-container matColumnDef="customer">
                  <th mat-header-cell *matHeaderCellDef>Customer/Broker</th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.customerName }}
                  </td>
                </ng-container>

                <!-- Broker Column -->
                <!-- <ng-container matColumnDef="customer">
                  <th mat-header-cell *matHeaderCellDef> Customer </th>
                  <td mat-cell *matCellDef="let element"> {{element.broker}} </td>
                </ng-container> -->

                <!-- Route Column -->
                <ng-container matColumnDef="route">
                  <th mat-header-cell *matHeaderCellDef>Route</th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.route?.routeFrom?.value }} -
                    {{ element.route?.routeTo?.value }}
                  </td>
                </ng-container>

                <!-- Tax Province Column -->
                <ng-container matColumnDef="taxProvince">
                  <th mat-header-cell *matHeaderCellDef>Tax Province</th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.taxState.value }}
                  </td>
                </ng-container>

                <!-- Amount Column -->
                <ng-container matColumnDef="amount">
                  <th mat-header-cell *matHeaderCellDef>Amount</th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.totalIncome }}
                  </td>
                </ng-container>

                <!-- Status Column -->
                <ng-container matColumnDef="status">
                  <th mat-header-cell *matHeaderCellDef>Status</th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.invoiceStatus.value }}
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr
                  mat-row
                  *matRowDef="let row; columns: displayedColumns"
                  (click)="selection.toggle(row)"
                ></tr>
              </table>

              <mat-paginator
                [pageSizeOptions]="[5, 10, 20]"
                showFirstLastButtons
              ></mat-paginator>
            </div>
          </mat-tab>

          <!-- Invoices tab start -->
          <mat-tab>
            <ng-template mat-tab-label>
              Invoices
            </ng-template>

            <!-- generate invoice tab content -->
            <!-- search bar -->
            <div class="col-md-12">
              <div class="card">
                <div class="card-body card-form search-form">
                  <form
                    [formGroup]="searchInvoiceForm"
                    (ngSubmit)="searchInvoice()"
                  >
                    <div class="form-row">
                      <div class="form-group col-md-2">
                        <mat-form-field
                          [style.fontSize]="'12px'"
                          appearance="outline"
                        >
                          <mat-label>Customer</mat-label>
                          <mat-select formControlName="customer">
                            <mat-option
                              *ngFor="let custom of customerDropDown"
                              [value]="custom.companyId"
                            >
                              {{ custom.companyName }}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                      <!-- <div class="form-group col-md-2">
												<mat-form-field [style.fontSize]="'12px'" appearance="outline" class="date-time full-width">
													<mat-label>Period</mat-label>
													<input matInput [matDatepicker]="dp" formControlName="period" />
													<mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
													<mat-datepicker #dp startView="multi-year" (yearSelected)="chosenYearHandler($event)"
														(monthSelected)="chosenMonthHandler($event, dp)"></mat-datepicker>
												</mat-form-field>
											</div> -->
                      <div class="form-group col-md-2">
                        <mat-form-field
                          [style.fontSize]="'12px'"
                          appearance="outline"
                          class="date-time full-width"
                        >
                          <mat-label>Start Date</mat-label>
                          <input
                            matInput
                            [matDatepicker]="picker2"
                            formControlName="start"
                          />
                          <mat-datepicker-toggle matSuffix [for]="picker2">
                          </mat-datepicker-toggle>
                          <mat-datepicker #picker2></mat-datepicker>
                        </mat-form-field>
                      </div>
                      <div class="form-group col-md-2">
                        <mat-form-field
                          [style.fontSize]="'12px'"
                          appearance="outline"
                          class="date-time full-width"
                        >
                          <mat-label>End Date</mat-label>
                          <input
                            matInput
                            [matDatepicker]="picker3"
                            formControlName="end"
                          />
                          <mat-datepicker-toggle matSuffix [for]="picker3">
                          </mat-datepicker-toggle>
                          <mat-datepicker #picker3></mat-datepicker>
                        </mat-form-field>
                      </div>
                      <div class="form-group col-md-2">
                        <mat-form-field
                          [style.fontSize]="'12px'"
                          appearance="outline"
                        >
                          <mat-label>Invoice Type</mat-label>
                          <mat-select formControlName="invoiceType">
                            <mat-option
                              *ngFor="let type of invoiceTypeDropDown"
                              [value]="type.value"
                            >
                              {{ type.value }}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                      <div class="form-group col-md-2">
                        <mat-form-field
                          [style.fontSize]="'12px'"
                          appearance="outline"
                        >
                          <mat-label>Payment Status</mat-label>
                          <mat-select formControlName="paymentStatus">
                            <mat-option
                              *ngFor="let pay of paymentDropDown"
                              [value]="pay.value"
                            >
                              {{ pay.value }}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                      <!-- <div class="form-group col-md-2">
                        <mat-form-field
                          [style.fontSize]="'12px'"
                          appearance="outline"
                        >
                          <mat-label>Invoice Status</mat-label>
                          <mat-select formControlName="invoiceStatus">
                            <mat-option
                              *ngFor="let invStatus of invoiceDropDown"
                              [value]="invStatus.value"
                            >
                              {{ invStatus.value }}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div> -->
                      <div class="col-2 row-button">
                        <button class="btn btn-sm btn-danger" type="submit">
                          <i class="material-icons">search</i>
                        </button>
                        &nbsp;
                        <button
                          class="btn btn-sm btn-danger"
                          type="button"
                          (click)="clearInvoiceForm()"
                        >
                          <i class="material-icons">clear</i>
                        </button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>

            <!-- selection table -->
            <div class="col-md-12 mat-elevation-z8">
              <table
                mat-table
                [dataSource]="invoicesSource"
                class="mat-elevation-z8"
              >
                <!-- Invoice ID Column -->
                <ng-container matColumnDef="invoiceNum">
                  <th mat-header-cell *matHeaderCellDef>Invoice No.</th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.invoiceId }}
                  </td>
                </ng-container>

                <!-- Invoice Date Column -->
                <ng-container matColumnDef="invoiceDate">
                  <th mat-header-cell *matHeaderCellDef>Invoice Date</th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.invoiceDate }}
                  </td>
                </ng-container>

                <!-- Customer Column -->
                <ng-container matColumnDef="customer">
                  <th mat-header-cell *matHeaderCellDef>Customer</th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.recipient.name }}
                  </td>
                </ng-container>

                <!-- Tax Province Column -->
                <ng-container matColumnDef="taxProvince">
                  <th mat-header-cell *matHeaderCellDef>Tax Province</th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.taxState?.value }}
                  </td>
                </ng-container>

                <!-- Amount Column -->
                <ng-container matColumnDef="amount">
                  <th mat-header-cell *matHeaderCellDef>Amount</th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.totalAmount }}
                  </td>
                </ng-container>

                <!-- Status Column -->
                <ng-container matColumnDef="status">
                  <th mat-header-cell *matHeaderCellDef>Payment Status</th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.paymentStatus?.value }}
                  </td>
                </ng-container>

                <!-- View Column -->
                <ng-container matColumnDef="view">
                  <th mat-header-cell *matHeaderCellDef>Action</th>
                  <td mat-cell *matCellDef="let element; let i = index">
                    <button
                      class="btn btn-sm btn-danger"
                      type="button"
                      (click)="viewInvoice(element)"
                    >
                      <i class="material-icons">visibility</i>
                      View
                    </button>

                    <button
                      class="btn btn-sm btn-danger"
                      type="button"
                      (click)="deleteInvoice(element, i)"
                    >
                      <i class="material-icons">delete</i>
                      Delete
                    </button>
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="invoiceColumn"></tr>
                <tr mat-row *matRowDef="let row; columns: invoiceColumn"></tr>
              </table>

              <mat-paginator
                [pageSizeOptions]="[5, 10, 20]"
                showFirstLastButtons
              ></mat-paginator>
            </div>
          </mat-tab>

          <!-- Fixed invoice tab start -->
          <mat-tab>
            <ng-template mat-tab-label>
              Fixed Invoices
            </ng-template>
            <app-fixed-rate-invoice *ngIf="tabIndex === 2"></app-fixed-rate-invoice>
          </mat-tab>

          <!-- Detention invoice tab start -->
          <mat-tab>
            <ng-template mat-tab-label>
              Detention Invoices
            </ng-template>
            <app-detention-invoice *ngIf="tabIndex === 3"></app-detention-invoice>
          </mat-tab>
        </mat-tab-group>

        <!-- form footer -->
        <div class="form-navigation">
          <div>
            <button
              mat-raised-button
              type="reset"
              class="btn btn-sm"
              [routerLink]="['/dashboard']"
              routerLinkActive="router-link-active"
            >
              Back
            </button>
          </div>
          <div *ngIf="showPendingBtn">
            <button
              mat-raised-button
              type="button"
              (click)="generateInvoice()"
              class="btn btn-sm btn-danger"
              routerLinkActive="router-link-active"
            >
              Generate
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
