<h2 mat-dialog-title>Sand Invoice in Email</h2>
<form [formGroup]="emailInvoiceForm" (ngSubmit)="send()">
	<mat-dialog-content class="mat-typography">
		<div class="form-row card-form">
			<div class="form-group col-12">
				<mat-form-field
					[style.fontSize]="'12px'"
					appearance="outline"
					class="full-width"
				>
					<mat-label>To</mat-label>
					<input matInput formControlName="to" placeholder="To" />
				</mat-form-field>
			</div>
			<div class="form-group col-12">
				<mat-form-field
					[style.fontSize]="'12px'"
					appearance="outline"
					class="full-width"
				>
					<mat-label>CC</mat-label>
					<input matInput formControlName="cc" placeholder="CC" />
				</mat-form-field>
			</div>
			<div class="form-group col-12">
				<mat-form-field
					[style.fontSize]="'12px'"
					appearance="outline"
					class="full-width"
				>
					<mat-label>BCC</mat-label>
					<input matInput formControlName="bcc" placeholder="BCC" />
				</mat-form-field>
			</div>
			<div class="form-group col-12">
				<mat-form-field
					[style.fontSize]="'12px'"
					appearance="outline"
					class="full-width"
				>
					<mat-label>Subject</mat-label>
					<input matInput formControlName="subject" placeholder="Subject" />
				</mat-form-field>
			</div>
		</div>
		<div class="col-12 file-name">
			attatched file: abc.pdf
		</div>
		<div class="form-group col-12 no-padding">
			<mat-form-field
				[style.fontSize]="'12px'"
				appearance="outline"
				class="full-width"
			>
				<mat-label>Body</mat-label>
				<textarea matInput placeholder="Body" formControlName="body"></textarea>
			</mat-form-field>
		</div>
	</mat-dialog-content>
	<mat-dialog-actions align="end">
		<button class="btn btn-sm" type="button" mat-button mat-dialog-close>
			<i class="material-icons">close</i>
			Cancel
		</button>
		&nbsp;
		<button class="btn btn-sm btn-danger" type="submit">
			<i class="material-icons">send</i>
			Send
		</button>
	</mat-dialog-actions>
</form>
