.main-content.add-job-page {
  .row {
    .col-md-12 {
      .card {
        .card-header.search-bar {
          display: flex;
          justify-content: flex-end;
          form {
            .input-group {
              input {
                color: #333;
              }
            }
          }
        }
      }
    }
  }
}
::ng-deep .add-job-form {
  .mat-tab-group {
    .mat-tab-body-wrapper {
      .mat-tab-body {
        .mat-tab-body-content {
          & > .form-row {
            margin: 0;
            & > .form-group {
              .mat-form-field {
                .mat-form-field-wrapper {
                  padding-bottom: 0;
                }
              }
            }
          }
        }
      }
    }
  }
}
.extra-margin {
  margin-bottom: 66px;
}

.asset-card {
  margin-top: 0;
  margin-bottom: 20px;
  .card-body {
    .asset-check {
      float: right;
    }
    .card-title {
      .id {
        font-size: 1.5em;
        font-weight: 500;
        margin-bottom: 8px;
      }
      .title {
        margin-bottom: 0;
        span {
          font-weight: 500;
        }
      }
      .detail {
        margin-bottom: 0;
        span {
          font-weight: 500;
        }
      }
    }
  }
}

::ng-deep .header-fields {
  display: flex;
  justify-content: space-between;
  .form-row {
    .form-group {
      width: 500px;
      padding-bottom: 0 !important;
      .mat-form-field-wrapper {
        background: #fff;
        border-radius: 5px;
        padding-bottom: 0 !important;
      }
    }
  }
}

.asset-body {
  .asset-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    & > div {
      width: 19%;
      background-color: #fff;
      box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
      border-radius: 5px;
      // border: 1px solid #aeaeae;
      .card {
        height: 100%;
        box-shadow: none;
        padding-right: 15px;
        padding-left: 15px;
      }
      // padding: 0 5px;
      // &:first-child{
      //   padding-left: 10px;
      // }
      // &:last-child{
      //   padding-right: 10px;
      // }
    }
  }
}

::ng-deep .header-buttons {
  display: flex;
  justify-content: space-between;
  .form-row {
    button {
      margin-left: 10px !important;
      color: #3c4858 !important;
      background-color: #fff !important;
    }
  }
}

.form-row-stops {
  margin-bottom: 30px !important;
  .card-stops {
    margin-bottom: 12px !important;
  }
}

::ng-deep .job-id-container {
  .id-card {
    margin-top: 8px;
  }
  .form-row {
    margin: 0 !important;
    .col-md-6 {
      padding-bottom: 0 !important;
      .mat-form-field-wrapper {
        padding-bottom: 0 !important;
      }
    }
  }
}

// asset info styles
.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 10px;
  .div1 {
    grid-area: 1 / 1 / 2 / 2;
  }
  .div2 {
    grid-area: 1 / 2 / 2 / 3;
  }
  .div3 {
    grid-area: 1 / 3 / 2 / 4;
  }
  .div4 {
    grid-area: 1 / 4 / 2 / 5;
  }
  .div5 {
    grid-area: 1 / 5 / 2 / 6;
  }
  // div {

  // }
}

.info-card {
  .title {
    font-size: 1.5em;
    font-weight: 500;
    margin-bottom: 8px;
  }
  .detail {
    margin-bottom: 0;
    .detail-title {
      font-weight: 500;
    }
  }
  .main {
    font-size: 1.5em;
    font-weight: 500;
    margin-bottom: 8px;
  }
}

.flex-rental-row {
  display: flex;
  justify-content: space-around;
}
.no-margin-top{
  margin-top: 0;
}
.small-margin-top{
  margin-top: 10px !important;
}
.small-margin-bottom{
  margin-bottom: 10px !important;
}
.add-fuel-card {
  margin-bottom: 0;
  overflow: hidden;
  transition: 0.9s;
}
.closed-fuel-card {
  height: 0;
}
.opened-fuel-card {
  height: auto;
}
.disable-clicks {
  pointer-events: none;
  opacity: 0.7;
}
.no-display {
  display: none;
}
