<div class="main-content add-job-page">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<!-- main form start -->
				<form class="add-job-form" [formGroup]="jobForm" (ngSubmit)="submitJob()">
					<mat-tab-group>
						<!-- Job Details tab start -->
						<mat-tab class="job-tab" label="Job Details">
							<!-- job status dropdown -->
							<div
								class="form-row d-flex justify-content-between job-id-container card-form small-margin-top">
								<div class="id-card">
									<p>Job ID # {{ jobForm.get("jobID").value }}</p>
								</div>

								<div class="form-group col-md-2">
									<mat-form-field [style.fontSize]="'12px'" appearance="outline">
										<mat-label>Job Status</mat-label>
										<mat-select formControlName="jobStat" [compareWith]="compareDropdownType"
											(selectionChange)="displayOpenJobFields($event.value)">
											<mat-option [value]="null"></mat-option>
											<mat-option *ngFor="let stat of jobStatusDropDown" [value]="stat">
												{{ stat.value }}
											</mat-option>
										</mat-select>
									</mat-form-field>
								</div>
							</div>

							<!-- card to show asset info if present -->
							<!-- <div class="form-row">
                <div class="card job-info no-margin-top">
                  <div class="card-body"> -->

							<!-- shown if asset type is owned -->
							<!-- <div class="grid info-card">
                      <div class="div1">
                        <p class="title">Tractor</p>
                        <p class="detail">
                          Id:
                          <span class="detail-title"> -->
							<!-- {{jobData?.tractor?.tractorId}} -->

							<!-- abcdefg abcdefg
                          </span>
                        </p>
                        <p class="detail">
                          License no.:
                          <span class="detail-title"> -->
							<!-- {{jobData?.tractor?.numberPlate}} -->

							<!-- abcdefg abcdefg
                          </span>
                        </p>
                      </div>
                      <div class="div1">
                        <p class="main">No Tractor</p>
                      </div>
                      <div class="div2">
                        <p class="title">Trailer</p>
                        <p class="detail">
                          Id:
                          <span class="detail-title"> -->
							<!-- {{jobData?.trailer?.trailerId}} -->

							<!-- abcdefg abcdefg
                          </span>
                        </p>
                        <p class="detail">
                          Size:
                          <span class="detail-title"> -->
							<!-- {{jobData?.trailer?.trailerSize?.value}} -->

							<!-- abcdefg abcdefg
                          </span>
                        </p>
                        <p class="detail">
                          Type:
                          <span class="detail-title"> -->
							<!-- {{jobData?.trailer?.trailerType?.value}} -->

							<!-- abcdefg abcdefg
                          </span>
                        </p>
                      </div>
                      <div class="div2">
                        <p class="main">No Trailer</p>
                      </div>
                      <div class="div3">
                        <p class="title">Container</p>
                        <p class="detail">
                          Id:
                          <span class="detail-title"> -->
							<!-- {{jobData?.container?.containerId}} -->

							<!-- abcdefg abcdefg
                          </span>
                        </p>
                        <p class="detail">
                          Size:
                          <span class="detail-title"> -->
							<!-- {{jobData?.container?.containerSize?.value}} -->

							<!-- abcdefg abcdefg
                          </span>
                        </p>
                        <p class="detail">
                          Type:
                          <span class="detail-title"> -->
							<!-- {{jobData?.container?.containerType?.value}} -->

							<!-- abcdefg abcdefg
                          </span>
                        </p>
                      </div>
                      <div class="div3">
                        <p class="main">No Container</p>
                      </div>
                      <div class="div4">
                        <p class="title">Driver 1</p>
                        <p class="detail">
                          Id:
                          <span class="detail-title"> -->
							<!-- {{jobData?.driver1?.employeeId}} -->

							<!-- abcdefg abcdefg
                          </span>
                        </p>
                        <p class="detail">
                          Name:
                          <span class="detail-title"> -->
							<!-- {{jobData?.driver1?.firstName}}
                            {{jobData?.driver1?.lastName}} -->
							<!-- abcdefg abcdefg

                          </span>
                        </p>
                        <p class="detail">
                          License no.:
                          <span class="detail-title"> -->
							<!-- {{jobData?.driver1?.licenceNumber}} -->

							<!-- abcdefg abcdefg
                          </span>
                        </p>
                      </div>
                      <div class="div4">
                        <p class="main">No Driver 1</p>
                      </div>
                      <div class="div5">
                        <p class="title">Driver 2</p>
                        <p class="detail">
                          Id:
                          <span class="detail-title"> -->
							<!-- {{jobData?.driver2?.employeeId}} -->

							<!-- abcdefg abcdefg
                          </span>
                        </p>
                        <p class="detail">
                          Name:
                          <span class="detail-title"> -->
							<!-- {{jobData?.driver2?.firstName}}
                            {{jobData?.driver2?.lastName}} -->
							<!-- abcdefg abcdefg

                          </span>
                        </p>
                        <p class="detail">
                          License no.:
                          <span class="detail-title"> -->
							<!-- {{jobData?.driver2?.licenceNumber}} -->

							<!-- abcdefg abcdefg
                          </span>
                        </p>
                      </div>
                      <div class="div5">
                        <p class="main">No Driver 2</p>
                      </div>
                    </div> -->

							<!-- shown if asset type is rental -->
							<!-- <div class="flex-rental-row info-card">
                      <div class="">
                        <p class="detail">
                          Broker:
                          <span class="detail-title"> -->
							<!-- {{jobData?.rentalVehicle?.broker?.companyName}} -->
							<!-- abcdefg abcdefg
                          </span>
                        </p>
                      </div>
                      <div class="">
                        <p class="detail">
                          Equipment Type:
                          <span class="detail-title"> -->
							<!-- {{jobData?.rentalVehicle?.equipmentType?.value}} -->
							<!-- abcdefg abcdefg
                          </span>
                        </p>
                      </div>
                      <div class="">
                        <p class="detail">
                          Equipment Size:
                          <span class="detail-title"> -->
							<!-- {{jobData?.rentalVehicle?.equipmentSize?.value}} -->
							<!-- abcdefg abcdefg
                          </span>
                        </p>
                      </div>
                      <div class="">
                        <p class="detail">
                          License Number:
                          <span class="detail-title"> -->
							<!-- {{jobData?.rentalVehicle?.vehicleNumber}} -->
							<!-- abcdefg abcdefg
                          </span>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div> -->

							<!-- main form start -->
							<div class="form-row">
								<!-- main details job form -->
								<div class="card">
									<div class="card-header card-header-danger">
										<h4 class="card-title">Job Details</h4>
									</div>
									<div class="card-body card-form">
										<div class="form-row">

											<div class="form-group col-md-3">
												<mat-form-field [style.fontSize]="'12px'" appearance="outline"
													class="full-width">
													<mat-label>Job Advance</mat-label>
													<input matInput formControlName="advance" placeholder="Job Advance"
														type="number" />
												</mat-form-field>
											</div>
											<div class="form-group col-md-3">
												<mat-form-field [style.fontSize]="'12px'" appearance="outline">
													<mat-label>Job Start Date</mat-label>
													<input matInput formControlName="jobStartDate"
														[matDatepicker]="picker" placeholder="Job Start Date" />
													<mat-datepicker-toggle matSuffix [for]="picker">
													</mat-datepicker-toggle>
													<mat-datepicker touchUi #picker></mat-datepicker>
												</mat-form-field>
											</div>
											<div class="form-group col-md-3">
												<mat-form-field [style.fontSize]="'12px'" appearance="outline"
													class="full-width">
													<mat-label>Job Start Km</mat-label>
													<input matInput formControlName="startKm" placeholder="Job Start Km"
														type="number" />
												</mat-form-field>
											</div>
											<div class="form-group col-md-3">
												<mat-form-field [style.fontSize]="'12px'" appearance="outline"
													class="full-width">
													<mat-label>Job End Km</mat-label>
													<input matInput formControlName="endKm" placeholder="Job End Km"
														type="number" />
												</mat-form-field>
											</div>
											<div class="form-group col-md-3">
												<mat-form-field [style.fontSize]="'12px'" appearance="outline"
													class="full-width">
													<mat-label>Job Odometer Km</mat-label>
													<input matInput formControlName="odometerKm" readonly
														placeholder="Job Odometer Km" type="number" />
												</mat-form-field>
											</div>
											<div class="form-group col-md-3">
												<mat-form-field [style.fontSize]="'12px'" appearance="outline"
													class="full-width">
													<mat-label>Job Standard Km</mat-label>
													<input matInput formControlName="totalKm" readonly
														placeholder="Job Standard Km" type="number" />
												</mat-form-field>
											</div>
											<div class="form-group col-md-3">
												<mat-form-field [style.fontSize]="'12px'" appearance="outline">
													<mat-label>Job Completion Date</mat-label>
													<input matInput formControlName="jobCompDate"
														[matDatepicker]="apicker" placeholder="Job Completion Date" />
													<mat-datepicker-toggle matSuffix [for]="apicker">
													</mat-datepicker-toggle>
													<mat-datepicker touchUi #apicker></mat-datepicker>
												</mat-form-field>
											</div>
											<div class="form-group col-md-3">
												<mat-form-field [style.fontSize]="'12px'" appearance="outline">
													<mat-label>Base Station Start</mat-label>
													<mat-select formControlName="baseStart"
														[compareWith]="compareDropdownType">
														<mat-option [value]="null"></mat-option>
														<mat-option *ngFor="let baseStation of baseStationDropDown"
															[value]="baseStation">
															{{ baseStation.value }}
														</mat-option>
													</mat-select>
												</mat-form-field>
											</div>
											<div class="form-group col-md-3">
												<mat-form-field [style.fontSize]="'12px'" appearance="outline">
													<mat-label>Base Station Close</mat-label>
													<mat-select formControlName="baseEnd"
														[compareWith]="compareDropdownType">
														<mat-option [value]="null"></mat-option>
														<mat-option *ngFor="let baseStat of baseStationDropDown"
															[value]="baseStat">
															{{ baseStat.value }}
														</mat-option>
													</mat-select>
												</mat-form-field>
											</div>
											<div class="form-group col-md-3">
												<mat-form-field [style.fontSize]="'12px'" appearance="outline">
													<mat-label>Total TMS (Km)</mat-label>
													<input matInput formControlName="tmsKm" placeholder="TMS (Km)"
														type="number" readonly />
												</mat-form-field>
											</div>
											<div class="form-group col-md-3">
												<mat-form-field [style.fontSize]="'12px'" appearance="outline">
													<mat-label>Total Tracker (Km)</mat-label>
													<input matInput formControlName="trackerKm"
														placeholder="Tracker (Km)" type="number" readonly />
												</mat-form-field>
											</div>
										</div>
									</div>
								</div>
							</div>

							<!-------------Vehicle Details Start-------------->
							<div class="form-row">
								<div class="card">
									<div class="card-header card-header-danger">
										<h4 class="card-title">Vehicle Details</h4>
									</div>
									<div class="card-body card-form">
										<div class="form-row">
											<div class="card job-info no-margin-top">
												<div class="card-body">

													<!-- shown if asset type is owned -->
													<div class="grid info-card" *ngIf="jobForm.get('rental').value == null">
														<div class="div1" *ngIf="jobForm.get('tractor').value !== null">
															<p class="title">Tractor</p>
															<p class="detail">
																Truck No:
																<span class="detail-title">
																	{{jobForm.get('tractor').value?.numberPlate}}
																</span>
															</p>
														</div>
														<div class="div1" *ngIf="jobForm.get('tractor').value === null">
															<p class="main">No Tractor</p>
														</div>
														<div class="div2" *ngIf="jobForm.get('trailer').value !== null">
															<p class="title">Trailer</p>
															<p class="detail">
																Trailer No:
																<span class="detail-title">
																	{{jobForm.get('trailer').value?.vin}}
																</span>
															</p>
															<p class="detail">
																Type-Size:
																<span class="detail-title">
																	{{jobForm.get('trailer').value?.trailerType?.value}}
																	- {{jobForm.get('trailer').value?.trailerSize?.value}}
																</span>
															</p>
														</div>
														<div class="div2" *ngIf="jobForm.get('trailer').value === null">
															<p class="main">No Trailer</p>
														</div>
														<div class="div3" *ngIf="jobForm.get('container').value !== null">
															<p class="title">Container</p>
															<p class="detail">
																Container No:
																<span class="detail-title">
																	{{jobForm.get('container').value?.containerNumber}}
																</span>
															</p>
															<p class="detail">
																Type-Size:
																<span class="detail-title">
																	{{jobForm.get('container').value?.containerType?.value}}
																	 - {{jobForm.get('container').value?.containerSize?.value}}
																</span>
															</p>
														</div>
														<div class="div3" *ngIf="jobForm.get('container').value === null">
															<p class="main">No Container</p>
														</div>
														<div class="div4" *ngIf="jobForm.get('driver1').value !== null">
															<p class="title">Driver 1</p>
															
															<p class="detail">
																Name:
																<span class="detail-title">
																	{{jobForm.get('driver1').value?.employeeNumber}} - {{jobForm.get('driver1').value?.employeeName}}
																</span>
															</p>
														
														</div>
														<div class="div4" *ngIf="jobForm.get('driver1').value === null">
															<p class="main">No Driver 1</p>
														</div>
														<div class="div5" *ngIf="jobForm.get('driver2').value !== null">
															<p class="title">Driver 2</p>
															
															<p class="detail">
																Name:
																<span class="detail-title">
																	{{jobForm.get('driver2').value?.employeeNumber}} - {{jobForm.get('driver2').value?.employeeName}}
																</span>
															</p>
														</div>
														<div class="div5" *ngIf="jobForm.get('driver2').value === null">
															<p class="main">No Driver 2</p>
														</div>
													</div>

													<!-- shown if asset type is rental -->
													<div class="flex-rental-row info-card" *ngIf="jobForm.get('rental').value !== null">
														<div class="">
															<p class="detail">
																Broker:
																<span class="detail-title">
																	{{jobForm.get('rental').value?.broker.companyName}}
																</span>
															</p>
														</div>
														<div class="">
															<p class="detail">
																Equipment Type:
																<span class="detail-title">
																	{{jobForm.get('rental').value?.equipmentType?.value}}
																</span>
															</p>
														</div>
														<div class="">
															<p class="detail">
																Equipment Size:
																<span class="detail-title">
																	{{jobForm.get('rental').value?.equipmentSize?.value}}
																</span>
															</p>
														</div>
														<div class="">
															<p class="detail">
																Vehicle Number:
																<span class="detail-title">
																	{{jobForm.get('rental').value?.vehicleNumber}}
																</span>
															</p>
														</div>
													</div>
												</div>
											</div>

										</div>
									</div>
								</div>
							</div>

							<div class="form-row form-row-stops">
								<div class="col-12">
									<div class="card card-plain card-stops">
										<div class="card-header card-header-danger header-buttons">
											<h4 class="card-title">Fuel Details</h4>
											<div class="form-row d-flex flex-row-reverse">
												<button mat-raised-button class="btn btn-sm" type="button"
													(click)="addFuel(true)" routerLinkActive="router-link-active">
													<i class="material-icons">add</i> Add Fuel Detail
												</button>
											</div>
										</div>
									</div>

									<div class="col-12 small-margin-top small-margin-bottom">
										<div class="card add-fuel-card no-margin-top" [ngClass]="{
												'closed-fuel-card': !addFuelDiv,
												'opened-fuel-card': addFuelDiv
											}">
											<div class="card-body card-form">
												<div class="form-row">
													<div class="form-group col-md-2">
														<mat-form-field [style.fontSize]="'12px'" appearance="outline">
															<mat-label>Tank Type</mat-label>
															<mat-select formControlName="fuelTank">
																<mat-option [value]="null"></mat-option>
																<mat-option *ngFor="let tank of fuelTankDropDown"
																	[value]="tank">{{ tank.value }}</mat-option>
															</mat-select>
														</mat-form-field>
													</div>
													<div class="form-group col-md-2">
														<mat-form-field [style.fontSize]="'12px'" appearance="outline">
															<mat-label>Tractor</mat-label>
															<mat-select formControlName="fuelTractor">
																<mat-option [value]="null"></mat-option>
																<mat-option *ngFor="let truck of tractorDropDown"
																	[value]="truck">{{ truck.numberPlate }}</mat-option>
															</mat-select>
														</mat-form-field>
													</div>
													<div class="form-group col-md-2">
														<mat-form-field [style.fontSize]="'12px'" appearance="outline">
															<mat-label>Trailer</mat-label>
															<mat-select formControlName="fuelTrailer">
																<mat-option [value]="null"></mat-option>
																<mat-option *ngFor="let trail of trailerDropDown"
																	[value]="trail">{{ trail.asset?.vin }}</mat-option>
															</mat-select>
														</mat-form-field>
													</div>
													<!-- <div class="form-group col-md-2">
                            <mat-form-field [style.fontSize]="'12px'" appearance="outline">
                              <mat-label>Container</mat-label>
                              <mat-select formControlName="fuelContainer">
                                <mat-option [value]=null></mat-option>
                                <mat-option *ngFor="let cont of containerDropDown" [value]="cont">{{cont.containerNumber}}</mat-option>
                              </mat-select>
                            </mat-form-field>
                          </div> -->
													<!-- <div class="form-group col-md-2">
                            <mat-form-field [style.fontSize]="'12px'" appearance="outline">
                              <mat-label>Driver 1</mat-label>
                              <mat-select formControlName="fuelDriver1">
                                <mat-option [value]=null></mat-option>
                                <mat-option *ngFor="let drive1 of driverDropDown" [value]="drive1">{{drive1.firstName}} {{drive1.lastName}}
                                </mat-option>
                              </mat-select>
                            </mat-form-field>
                          </div> -->
													<!-- <div class="form-group col-md-2">
                            <mat-form-field [style.fontSize]="'12px'" appearance="outline">
                              <mat-label>Driver 2</mat-label>
                              <mat-select formControlName="fuelDriver2">
                                <mat-option [value]=null></mat-option>
                                <mat-option *ngFor="let drive2 of driverDropDown" [value]="drive2">{{drive2.firstName}} {{drive2.lastName}}
                                </mat-option>
                              </mat-select>
                            </mat-form-field>
                          </div> -->
													<div class="form-group col-md-2">
														<mat-form-field [style.fontSize]="'12px'" appearance="outline"
															class="full-width">
															<mat-label>Supplier Name</mat-label>
															<mat-select formControlName="fuelSupplier">
																<mat-option [value]="null"></mat-option>
																<mat-option *ngFor="let suppliers of supplierDropDown"
																	[value]="suppliers">{{ suppliers.companyName }}
																</mat-option>
															</mat-select>
														</mat-form-field>
													</div>
													<div class="form-group col-md-2">
														<mat-form-field [style.fontSize]="'12px'" appearance="outline"
															class="full-width">
															<mat-label>Fuel Card</mat-label>
															<mat-select formControlName="fuelCard">
																<mat-option [value]="null"></mat-option>
																<mat-option *ngFor="let card of fuelCardDropDown"
																	[value]="card">{{ card.fuelCardNumber }}
																</mat-option>
															</mat-select>
														</mat-form-field>
													</div>
													<div class="form-group col-md-2">
														<mat-form-field [style.fontSize]="'12px'" appearance="outline"
															class="full-width">
															<mat-label>Fuel Slip</mat-label>
															<input matInput formControlName="fuelSlip"
																placeholder="Fuel Slip" type="text" />
														</mat-form-field>
													</div>
													<div class="form-group col-md-2">
														<mat-form-field [style.fontSize]="'12px'" appearance="outline">
															<mat-label>Slip Date</mat-label>
															<input matInput formControlName="slipDate"
																[matDatepicker]="zpicker" placeholder="Slip Date" />
															<mat-datepicker-toggle matSuffix [for]="zpicker">
															</mat-datepicker-toggle>
															<mat-datepicker touchUi #zpicker></mat-datepicker>
														</mat-form-field>
													</div>
													<div class="form-group col-md-2">
														<mat-form-field [style.fontSize]="'12px'" appearance="outline"
															class="full-width">
															<mat-label>Km. Reading</mat-label>
															<input matInput formControlName="readingKm"
																placeholder="Km. Reading" type="number" />
														</mat-form-field>
													</div>
													<div class="form-group col-md-2">
														<mat-form-field [style.fontSize]="'12px'" appearance="outline"
															class="full-width">
															<mat-label>Fuel (in ltr.)</mat-label>
															<input matInput formControlName="fuelLitre"
																placeholder="Fuel (in ltr.)" type="number" />
														</mat-form-field>
													</div>
													<!-- <div class="form-group col-md-2">
														<mat-form-field [style.fontSize]="'12px'" appearance="outline"
															class="full-width">
															<mat-label>Fuel Rate (per ltr.)</mat-label>
															<input matInput formControlName="fuelRate"
																placeholder="Fuel Rate (per ltr.)" type="number" />
														</mat-form-field>
													</div>
													<div class="form-group col-md-2">
														<mat-form-field [style.fontSize]="'12px'" appearance="outline"
															class="full-width">
															<mat-label>Fuel Amount</mat-label>
															<input matInput formControlName="fuelAmount"
																placeholder="Fuel Amount" type="number" />
														</mat-form-field>
													</div> -->
												</div>

												<div class="form-row">
													<div class="col-12">
														<button type="button" mat-raised-button
															class="btn btn-sm btn-danger pull-right"
															(click)="submitJobFuel()"
															routerLinkActive="router-link-active">
															<i class="material-icons">add</i>
															Add
														</button>
														<button type="button" mat-raised-button
															class="btn btn-sm btn-danger pull-right"
															(click)="addFuel(false)">
															<i class="material-icons">clear</i>
															Close
														</button>
													</div>
												</div>
											</div>
										</div>
									</div>

									<mat-accordion class="">
										<mat-expansion-panel formArrayName="fuelList" *ngFor="
												let item of jobForm.get('fuelList')['controls'];
												let id = index
											">
											<mat-expansion-panel-header>
												<mat-panel-title>
													Fuel Slip # : {{ item.value.fuelSlipArrayItem }}
												</mat-panel-title>
												<mat-panel-description>
													Slip Date : {{ item.value.slipDateArrayItem }}
												</mat-panel-description>
												<mat-panel-description>
													Tractor : {{ item.value.fuelTractorArrayItem?.numberPlate }}
												</mat-panel-description>
											</mat-expansion-panel-header>
											<div class="card-form" [formGroupName]="id">
												<div class="form-row" [ngClass]="{ 'disable-clicks': !editForm }">
													<div class="form-group col-md-2">
														<mat-form-field [style.fontSize]="'12px'" appearance="outline">
															<mat-label>Tank Type</mat-label>
															<mat-select formControlName="fuelTankArrayItem"
																[compareWith]="compareDropdownType">
																<mat-option [value]="null"></mat-option>
																<mat-option *ngFor="let tank of fuelTankDropDown"
																	[value]="tank">{{ tank.value }}</mat-option>
															</mat-select>
														</mat-form-field>
													</div>
													<div class="form-group col-md-2">
														<mat-form-field [style.fontSize]="'12px'" appearance="outline">
															<mat-label>Tractor</mat-label>
															<mat-select formControlName="fuelTractorArrayItem"
																[compareWith]="compareTractor">
																<mat-option [value]="null"></mat-option>
																<mat-option *ngFor="let truck of tractorDropDown"
																	[value]="truck">{{ truck.numberPlate }}</mat-option>
															</mat-select>
														</mat-form-field>
													</div>
													<div class="form-group col-md-2">
														<mat-form-field [style.fontSize]="'12px'" appearance="outline">
															<mat-label>Trailer</mat-label>
															<mat-select formControlName="fuelTrailerArrayItem"
																[compareWith]="compareTrailer">
																<mat-option [value]="null"></mat-option>
																<mat-option *ngFor="let trail of trailerDropDown"
																	[value]="trail">{{ trail.asset?.vin }}</mat-option>
															</mat-select>
														</mat-form-field>
													</div>
													
													<div class="form-group col-md-2">
														<mat-form-field [style.fontSize]="'12px'" appearance="outline"
															class="full-width">
															<mat-label>Supplier Name</mat-label>
															<mat-select formControlName="fuelSupplierArrayItem"
																[compareWith]="compareSupplier">
																<mat-option [value]="null"></mat-option>
																<mat-option *ngFor="let suppliers of supplierDropDown"
																	[value]="suppliers">{{ suppliers.companyName }}
																</mat-option>
															</mat-select>
														</mat-form-field>
													</div>
													<div class="form-group col-md-2">
														<mat-form-field [style.fontSize]="'12px'" appearance="outline"
															class="full-width">
															<mat-label>Fuel Card</mat-label>
															<mat-select formControlName="fuelCardArrayItem"
																[compareWith]="compareFuelCard">
																<mat-option [value]="null"></mat-option>
																<mat-option *ngFor="let card of fuelCardDropDown"
																	[value]="card">{{ card.fuelCardNumber }}
																</mat-option>
															</mat-select>
														</mat-form-field>
													</div>
													<div class="form-group col-md-2">
														<mat-form-field [style.fontSize]="'12px'" appearance="outline"
															class="full-width">
															<mat-label>Fuel Slip</mat-label>
															<input matInput formControlName="fuelSlipArrayItem"
																placeholder="Fuel Slip" type="text" />
														</mat-form-field>
													</div>
													<div class="form-group col-md-2">
														<mat-form-field [style.fontSize]="'12px'" appearance="outline">
															<mat-label>Slip Date</mat-label>
															<input matInput formControlName="slipDateArrayItem"
																[matDatepicker]="zpicker" placeholder="Slip Date" />
															<mat-datepicker-toggle matSuffix [for]="zpicker">
															</mat-datepicker-toggle>
															<mat-datepicker touchUi #zpicker></mat-datepicker>
														</mat-form-field>
													</div>
													<div class="form-group col-md-2">
														<mat-form-field [style.fontSize]="'12px'" appearance="outline"
															class="full-width">
															<mat-label>Km. Reading</mat-label>
															<input matInput formControlName="readingKmArrayItem"
																placeholder="Km. Reading" type="number" />
														</mat-form-field>
													</div>
													<div class="form-group col-md-2">
														<mat-form-field [style.fontSize]="'12px'" appearance="outline"
															class="full-width">
															<mat-label>Fuel (in ltr.)</mat-label>
															<input matInput formControlName="fuelLitreArrayItem"
																placeholder="Fuel (in ltr.)" type="number" />
														</mat-form-field>
													</div>
													<div class="form-group col-md-2">
														<mat-form-field [style.fontSize]="'12px'" appearance="outline"
															class="full-width">
															<mat-label>Fuel Rate (per ltr.)</mat-label>
															<input matInput formControlName="fuelRateArrayItem"
																placeholder="Fuel Rate (per ltr.)" type="number" readonly />
														</mat-form-field>
													</div>
													<div class="form-group col-md-2">
														<mat-form-field [style.fontSize]="'12px'" appearance="outline"
															class="full-width">
															<mat-label>Fuel Amount</mat-label>
															<input matInput formControlName="fuelAmountArrayItem"
																placeholder="Fuel Amount" type="number" readonly />
														</mat-form-field>
													</div>
												</div>
												<div class="form-row">
													<div class="col-12">
														<button type="button" mat-raised-button
															class="btn btn-sm btn-danger pull-right"
															(click)="updateFuelDetail(item.value)"
															routerLinkActive="router-link-active"
															[ngClass]="{ 'no-display': !editForm }">
															<i class="material-icons">save</i>
															Save
														</button>
														<button type="button" mat-raised-button
															class="btn btn-sm btn-danger pull-right"
															(click)="makeEditable()"
															routerLinkActive="router-link-active"
															[ngClass]="{ 'no-display': editForm }">
															<i class="material-icons">edit</i>
															Edit
														</button>
														<button type="button" mat-raised-button
															class="btn btn-sm btn-danger pull-right" (click)="
																deleteFuel(item.value.fuelIdArrayItem, id)
															" routerLinkActive="router-link-active">
															<i class="material-icons">delete</i>
															Delete
														</button>
													</div>
												</div>
											</div>
										</mat-expansion-panel>
									</mat-accordion>
									<!-- <div class="card">
                                  <div class="card-body card-form">
                                    
                                  </div>
                                </div> -->
								</div>
							</div>
						</mat-tab>

						<!-- RWB tab start -->
						<mat-tab label="RWB" *ngIf="jobForm.get('jobID').value !== ''">
							<div class="col-12 extra-margin">
								<button mat-raised-button type="button" (click)="setJobId()"
									class="btn btn-sm btn-danger pull-right" [routerLink]="['/job/addRWB']"
									routerLinkActive="router-link-active">
									<i class="material-icons">add</i>
									Add RWB
								</button>
							</div>
							<div class="col-12">
								<div class="card">
									<div class="card-header card-header-danger search-bar">
										<div class="">
											<form class="navbar-form">
												<div class="input-group no-border">
													<input type="text" class="form-control" matInput
														placeholder="Search..." />
												</div>
											</form>
										</div>
									</div>
									<div class="card-body">
										<table class="table table-hover">
											<thead>
												<th>RWB ID</th>
												<th>Load No.</th>
												<th>Route</th>
												<th>RWB Status</th>
												<th></th>
											</thead>
											<tbody>
												<tr *ngFor="let rwb of job?.roadwayBills">
													<td>
														{{ rwb?.rwbId }}
													</td>
													<td>
														{{ rwb?.loadNumber }}
													</td>
													<td>
														{{ rwb?.route?.routeFrom?.code }} -
														{{ rwb?.route?.routeTo?.code }}
													</td>
													<td>
														{{ rwb?.rwbStatus?.value }}
													</td>
													<td>
														<button mat-raised-button type="button"
															(click)="setJobId(job); findRoadwayBillByID(rwb)"
															class="btn btn-sm btn-danger"
															routerLinkActive="router-link-active">
															Edit
														</button>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</mat-tab>
					</mat-tab-group>

					<!-- footer bar -->
					<div class="form-navigation">
						<div>
							<button mat-raised-button type="reset" class="btn btn-sm" [routerLink]="['/job']"
								routerLinkActive="router-link-active">
								Back
							</button>
						</div>
						<div>
							<button mat-raised-button class="btn btn-sm" type="button" (click)="deleteJob()"
								routerLinkActive="router-link-active">
								Delete
							</button>
							<button mat-raised-button type="submit" class="btn btn-sm btn-danger"
								routerLinkActive="router-link-active">
								Save
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>