::ng-deep .add-inventory {
	.row {
		.col-md-12 {
			.card {
				.card-header {
					display: flex;
					justify-content: space-between;
					form {
						.input-group {
							input {
								color: #fff;
							}
						}
					}
				}
				.card-body {
					.table-responsive {
						table {
							width: 100%;
						}
					}
				}
			}
		}
	}
	form {
		.mat-form-field {
			.btn-suffix {
				margin-top: -8px;
			}
		}
	}
}
