<!-- Add Inventory Adjustement form component -->
<div class="main-content add-inventory">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<!-- main form start -->
				<form [formGroup]="addInventoryAdjForm" (ngSubmit)="submit()">
					<!-- <div class="card-form status-dropdown">
						<div class="form-row d-flex flex-row-reverse">
							<div class="form-group col-md-2">
								<mat-form-field [style.fontSize]="'12px'" appearance="outline">
									<mat-label>Mode of Adjustement</mat-label>
									<mat-select formControlName="mode">
										<mat-option></mat-option>
										<mat-option value="quantity"
											>Quantity Adjustement</mat-option
										>
										<mat-option value="value">Value Adjustement</mat-option>
									</mat-select>
								</mat-form-field>
							</div>
						</div>
					</div> -->

					<!-- Add Inventory Adjustement Form card start -->
					<div class="card">
						<div class="card-body card-form">
							<div class="form-row">
								<!-- basic info -->
								<div class="form-group col-md-4">
									<mat-form-field [style.fontSize]="'12px'" appearance="outline"
										class="full-width">
										<input type="text" placeholder="Item" aria-label="Number" matInput
										formControlName="itemName" [matAutocomplete]="auto" />
										<mat-autocomplete #auto="matAutocomplete" [displayWith]="displayItem">
											<mat-option *ngFor="let option of filteredItem"
												[value]="option">
												{{ option.itemName }}
											</mat-option>
										</mat-autocomplete>
									</mat-form-field>
								</div>
								<div class="form-group col-md-4">
									<mat-form-field [style.fontSize]="'12px'" appearance="outline" class="full-width">
										<mat-label>Adjusted Quantity</mat-label>
										<input matInput formControlName="adjQty" placeholder="Adjusted Quantity" />
									</mat-form-field>
								</div>
								<div class="form-group col-md-4">
									<mat-form-field [style.fontSize]="'12px'" appearance="outline"
										class="date-time full-width">
										<mat-label>Adjustment Date</mat-label>
										<input matInput [matDatepicker]="picker" formControlName="date" />
										<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
										<mat-datepicker #picker></mat-datepicker>
									</mat-form-field>
								</div>
								<div class="form-group col-md-4">
									<mat-form-field [style.fontSize]="'12px'" appearance="outline" class="full-width">
										<mat-label>Reference Number</mat-label>
										<input matInput formControlName="refNo" placeholder="Reference Number" />
									</mat-form-field>
								</div>
								<div class="form-group col-md-4">
									<mat-form-field [style.fontSize]="'12px'" appearance="outline" class="full-width">
										<mat-label>Reason</mat-label>
										<input matInput formControlName="reason" placeholder="Adjustment Reason" />
									</mat-form-field>
								</div>
							</div>
						</div>
					</div>

					<!-- Add Adjusted Enteries section -->
					<!-- <div class="form-row">
						<div class="col-12">
							<div class="card">
								<div class="card-header card-header-danger header-buttons">
									<h4 class="card-title">Adjust Items</h4>
									<div class="form-row d-flex flex-row-reverse">
										<button mat-raised-button class="btn btn-sm" type="button"
											routerLinkActive="router-link-active">
											<i class="material-icons">add</i> Add Row
										</button>
									</div>
								</div>
								<div class="card-body card-form">
									<div class="form-row">
										<div class="form-group col-md-5">
											<mat-form-field [style.fontSize]="'12px'" appearance="outline"
												class="full-width">
												<input type="text" placeholder="Item" aria-label="Number" matInput
													[formControl]="itemName" [matAutocomplete]="auto" />
												<mat-autocomplete #auto="matAutocomplete">
													<mat-option *ngFor="let option of filteredOptions | async"
														[value]="option">
														{{ option }}
													</mat-option>
												</mat-autocomplete>
												<button mat-raised-button type="button" matSuffix
													class="btn btn-sm btn-danger btn-link btn-sm btn-just-icon btn-suffix"
													(click)="$event.stopPropagation()" [routerLink]="['/items/add']">
													<i class="material-icons">add</i>
												</button>
											</mat-form-field>
										</div>
										<div class="form-group col-md-2">
											<mat-form-field [style.fontSize]="'12px'" appearance="outline"
												class="full-width">
												<mat-label>Quantity Available</mat-label>
												<input matInput formControlName="quantityAvailable"
													placeholder="Quantity Available" type="text" />
											</mat-form-field>
										</div>
										<div class="form-group col-md-2">
											<mat-form-field [style.fontSize]="'12px'" appearance="outline"
												class="full-width">
												<mat-label>New Quantity on Hand</mat-label>
												<input matInput formControlName="newQuantity"
													placeholder="New Quantity on Hand" type="text" />
											</mat-form-field>
										</div>
										<div class="form-group col-md-2">
											<mat-form-field [style.fontSize]="'12px'" appearance="outline"
												class="full-width">
												<mat-label>Adjusted Quantity</mat-label>
												<input matInput formControlName="adjustedQuantity"
													placeholder="Adjusted Quantity" type="text" />
											</mat-form-field>
										</div>

										<div class="col-md-1">
											<button mat-raised-button
												class="btn btn-sm btn-danger btn-link btn-sm btn-just-icon"
												type="button">
												<i class="material-icons">delete</i>
											</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div> -->

					<div class="form-navigation">
						<div>
							<button mat-raised-button class="btn btn-sm" type="reset" [routerLink]="['/inventoryAdj']"
								routerLinkActive="router-link-active">
								Back
							</button>
						</div>
						<div>
							<button mat-raised-button (click)="deleteInventoryAdj()" type="button" class="btn btn-sm"
								routerLinkActive="router-link-active">
								Delete
							</button>
							<button mat-raised-button type="submit" class="btn btn-sm btn-danger"
								routerLinkActive="router-link-active">
								Save
							</button>
						</div>
					</div>
				</form>
				<!-- main form end -->
			</div>
		</div>
	</div>
</div>