::ng-deep .accounts {
  .mat-table {
    width: 100%;
    &.trial-balance {
      .mat-row {
        height: auto;
        .mat-cell {
          padding-top: 4px;
          padding-bottom: 4px;
          font-size: 12px;
        }
      }
    }
  }
}
