<div class="main-content accounts">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <!-- main form start -->
        <mat-tab-group>
          <!-- Trial Balance tab start -->
          <mat-tab>
            <ng-template mat-tab-label>
              Trial Balance
            </ng-template>

            <!-- trial balance tab content -->
            <div class="card">
              <div class="card-body card-form search-form">

                <!-- search form for the duration of trial balance -->
                <form [formGroup]="searchForm" (ngSubmit)="getTrialBalance()">

                  <div class="form-row">
                    <div class="form-group col-md-5">
                      <mat-form-field [style.fontSize]="'12px'" appearance="outline" class="date-time full-width">
                        <mat-label>Start Date</mat-label>
                        <input matInput [matDatepicker]="picker" formControlName="start">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                      </mat-form-field>
                    </div>
                    <div class="form-group col-md-5">
                      <mat-form-field [style.fontSize]="'12px'" appearance="outline" class="date-time full-width">
                        <mat-label>End Date</mat-label>
                        <input matInput [matDatepicker]="picker1" formControlName="end">
                        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                        <mat-datepicker #picker1></mat-datepicker>
                      </mat-form-field>
                    </div>
                    <div class="col-2 row-button">
                      <button class="btn btn-sm btn-danger" type="submit">
                        <i class="material-icons">search</i>
                      </button>
                      &nbsp;
                      <button class="btn btn-sm btn-danger" type="button" (click)="clearSearchForm()">
                        <i class="material-icons">clear</i>
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>

            <div class="mat-elevation-z8">
              <table mat-table [dataSource]="dataSource" class="trial-balance">

                <!-- Expense Column -->
                <ng-container matColumnDef="expense">
                  <th mat-header-cell *matHeaderCellDef> Account Name </th>
                  <td mat-cell *matCellDef="let balance"> {{balance.accountHead}} </td>
                  <td mat-footer-cell *matFooterCellDef> <b>Total</b> </td>
                </ng-container>

                <!-- Debit Column -->
                <ng-container matColumnDef="debit">
                  <th mat-header-cell *matHeaderCellDef> Debit </th>
                  <td mat-cell *matCellDef="let balance"> {{balance.debitAmount}} </td>
                  <td mat-footer-cell *matFooterCellDef><b> {{trialBalDebitTotal}}</b> </td>
                </ng-container>

                <!-- Credit Column -->
                <ng-container matColumnDef="credit">
                  <th mat-header-cell *matHeaderCellDef> Credit </th>
                  <td mat-cell *matCellDef="let balance"> {{balance.creditAmount}} </td>
                  <td mat-footer-cell *matFooterCellDef> <b>{{trialBalCreditTotal}}</b></td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
              </table>

            </div>

          </mat-tab>

          <!-- Adjusted Entries tab start -->
          <mat-tab>

            <ng-template mat-tab-label>
              Adjusted Entries
            </ng-template>

            <!-- adjusted entries tab content -->
            <div class="col-md-12">

              <!--Search adjusted Entries Form-->

              <div class="card">
                <div class="card-body card-form search-form">
  
                  <!-- search form for the duration of trial balance -->
                  <form [formGroup]="adjustedEntrySearchForm" (ngSubmit)="getFilteredAdjustedEntries()">
  
                    <div class="form-row">
                      <div class="form-group col-md-4">
                        <mat-form-field [style.fontSize]="'12px'" appearance="outline" class="full-width">
                          <mat-label>Account Head</mat-label>
                          <mat-select formControlName="accountName">
                            <mat-optgroup *ngFor="let accHead of expenseHeadDropDown" [label]="accHead.name"
                              [disabled]="accHead.disabled">
                              <mat-option *ngFor="let acc of accHead.values" [value]="acc.value">
                                {{acc.value}}
                              </mat-option>
                            </mat-optgroup>
                          </mat-select>
                        </mat-form-field>
                      </div>
                      <div class="form-group col-md-3">
                        <mat-form-field [style.fontSize]="'12px'" appearance="outline" class="date-time full-width">
                          <mat-label>Start Date</mat-label>
                          <input matInput [matDatepicker]="picker5" formControlName="adjEntStart">
                          <mat-datepicker-toggle matSuffix [for]="picker5"></mat-datepicker-toggle>
                          <mat-datepicker #picker5></mat-datepicker>
                        </mat-form-field>
                      </div>
                      <div class="form-group col-md-3">
                        <mat-form-field [style.fontSize]="'12px'" appearance="outline" class="date-time full-width">
                          <mat-label>End Date</mat-label>
                          <input matInput [matDatepicker]="picker6" formControlName="adjEntEnd">
                          <mat-datepicker-toggle matSuffix [for]="picker6"></mat-datepicker-toggle>
                          <mat-datepicker #picker6></mat-datepicker>
                        </mat-form-field>
                      </div>
                      <div class="col-2 row-button">
                        <button class="btn btn-sm btn-danger" type="submit">
                          <i class="material-icons">search</i>
                        </button>
                        &nbsp;
                        <button class="btn btn-sm btn-danger" type="button" (click)="clearAdjEntSearchForm()">
                          <i class="material-icons">clear</i>
                        </button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
              <!-- End adjusted entry Search Form -->

              <div class="card">
                <div class="card-body card-form search-form">
                  <!-- adjusted entry add Form -->
                  <form [formGroup]="adjustedEntryForm" (ngSubmit)="addAdjustedEntry()">

                    <div class="form-row">
                      <div class="form-group col-md-4">
                        <mat-form-field [style.fontSize]="'12px'" appearance="outline" class="full-width">
                          <mat-label>Account Head</mat-label>
                          <mat-select formControlName="expenseHead">
                            <mat-optgroup *ngFor="let expHead of expenseHeadDropDown" [label]="expHead.name"
                              [disabled]="expHead.disabled">
                              <mat-option *ngFor="let exp of expHead.values" [value]="exp.value">
                                {{exp.value}}
                              </mat-option>
                            </mat-optgroup>
                          </mat-select>
                        </mat-form-field>
                      </div>
                      <div class="form-group col-md-2">
                        <mat-form-field [style.fontSize]="'12px'" appearance="outline" class="date-time full-width">
                          <mat-label>Date</mat-label>
                          <input matInput [matDatepicker]="picker2" formControlName="date">
                          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                          <mat-datepicker #picker2></mat-datepicker>
                        </mat-form-field>
                      </div>
                      <div class="form-group col-md-2">
                        <mat-form-field [style.fontSize]="'12px'" appearance="outline" class="full-width">
                          <mat-label>Account Type</mat-label>
                          <mat-select formControlName="expenseType">
                            <mat-option value="Debit">Debit</mat-option>
                            <mat-option value="Credit">Credit</mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                      <div class="form-group col-md-2">
                        <mat-form-field [style.fontSize]="'12px'" appearance="outline" class="full-width">
                          <mat-label>Amount</mat-label>
                          <input matInput placeholder="Amount" type="number" formControlName="expenseAmount" />
                        </mat-form-field>
                      </div>
                      <div class="col-2 row-button">
                        <button class="btn btn-sm btn-danger" type="submit">
                          <i class="material-icons">add</i>
                          Add Adjusted Entry
                        </button>
                      </div>
                    </div>
                  </form>

                </div>
              </div>
              <div class="mat-elevation-z8">
                <table mat-table [dataSource]="adjustedDataSource">

                  <!-- Date Column -->
                  <ng-container matColumnDef="date">
                    <th mat-header-cell *matHeaderCellDef> Date </th>
                    <td mat-cell *matCellDef="let element"> {{element.date}} </td>
                    <td mat-footer-cell *matFooterCellDef> <b>Total</b></td>
                  </ng-container>

                  <!-- Expense Column -->
                  <ng-container matColumnDef="expense">
                    <th mat-header-cell *matHeaderCellDef> Expense Head </th>
                    <td mat-cell *matCellDef="let element"> {{element.accountHead}} </td>
                    <td mat-footer-cell *matFooterCellDef></td>
                  </ng-container>

                  <!-- Debit Column -->
                  <ng-container matColumnDef="debit">
                    <th mat-header-cell *matHeaderCellDef> Debit </th>
                    <td mat-cell *matCellDef="let element"> {{element.debitAmount}} </td>
                    <td mat-footer-cell *matFooterCellDef> <b>{{AdjEntryDebitTotal}}</b> </td>
                  </ng-container>

                  <!-- Credit Column -->
                  <ng-container matColumnDef="credit">
                    <th mat-header-cell *matHeaderCellDef> Credit </th>
                    <td mat-cell *matCellDef="let element"> {{element.creditAmount}} </td>
                    <td mat-footer-cell *matFooterCellDef> <b>{{AdjEntryCreditTotal}}</b> </td>
                  </ng-container>

                  <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef> Action </th>
                    <td mat-cell *matCellDef="let element; let i = index">
                      <button class="btn btn-sm btn-danger" type="button"
                        (click)="deleteAdjustedEntry(element, i)">
                        <i class="material-icons">delete</i>
                      </button>
                    </td>
                    <td mat-footer-cell *matFooterCellDef></td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="adjustedEntryColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: adjustedEntryColumns;"></tr>
                  <tr mat-footer-row *matFooterRowDef="adjustedEntryColumns"></tr>

                </table>

              </div>
            </div>

          </mat-tab>

          <!-- Adjusted Trial Balance tab start -->
          <mat-tab>

            <ng-template mat-tab-label>
              Adjusted Trial Balance
            </ng-template>

            <!-- adjusted trial balance tab content -->
            <div class="card">
              <div class="card-body card-form search-form">

                <!-- search form for the duration of trial balance -->
                <form [formGroup]="adjustedSearchForm" (ngSubmit)="getAdjustedTrialBalance()">

                  <div class="form-row">
                    <div class="form-group col-md-5">
                      <mat-form-field [style.fontSize]="'12px'" appearance="outline" class="date-time full-width">
                        <mat-label>Start Date</mat-label>
                        <input matInput [matDatepicker]="zpicker" formControlName="adjStart">
                        <mat-datepicker-toggle matSuffix [for]="zpicker"></mat-datepicker-toggle>
                        <mat-datepicker #zpicker></mat-datepicker>
                      </mat-form-field>
                    </div>
                    <div class="form-group col-md-5">
                      <mat-form-field [style.fontSize]="'12px'" appearance="outline" class="date-time full-width">
                        <mat-label>End Date</mat-label>
                        <input matInput [matDatepicker]="picker3" formControlName="adjEnd">
                        <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                        <mat-datepicker #picker3></mat-datepicker>
                      </mat-form-field>
                    </div>
                    <div class="col-2 row-button">
                      <button class="btn btn-sm btn-danger" type="submit">
                        <i class="material-icons">search</i>
                      </button>
                      &nbsp;
                      <button class="btn btn-sm btn-danger" type="button" (click)="clearAdjustedSearchForm()">
                        <i class="material-icons">clear</i>
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>


            <div class="mat-elevation-z8">
              <table mat-table [dataSource]="AdjustedTrialDataSource" class="trial-balance">

                <!-- Expense Column -->
                <ng-container matColumnDef="expense">
                  <th mat-header-cell *matHeaderCellDef> Account Name </th>
                  <td mat-cell *matCellDef="let balance"> {{balance.accountHead}} </td>
                  <td mat-footer-cell *matFooterCellDef><b>Total</b> </td>
                </ng-container>

                <!-- Debit Column -->
                <ng-container matColumnDef="debit">
                  <th mat-header-cell *matHeaderCellDef> Debit </th>
                  <td mat-cell *matCellDef="let balance"> {{balance.debitAmount}} </td>
                  <td mat-footer-cell *matFooterCellDef> <b>{{AdjBalDebitTotal}}</b> </td>
                </ng-container>

                <!-- Credit Column -->
                <ng-container matColumnDef="credit">
                  <th mat-header-cell *matHeaderCellDef> Credit </th>
                  <td mat-cell *matCellDef="let balance"> {{balance.creditAmount}} </td>
                  <td mat-footer-cell *matFooterCellDef> {{AdjBalCreditTotal}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
              </table>

            </div>

          </mat-tab>
        </mat-tab-group>

        <!-- form footer -->
        <!-- <div class="form-navigation">
          <div>
            <button mat-raised-button type="reset" class="btn btn-sm" [routerLink]="['/dashboard']"
              routerLinkActive="router-link-active">
              Back
            </button>
          </div>
          <div>
            <button mat-raised-button type="submit" class="btn btn-sm btn-danger" routerLinkActive="router-link-active">
              Save
            </button>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</div>