::ng-deep .custom-btn {
  background-color: #fff !important;
  i {
    color: #000 !important;
  }
}

::ng-deep .editable-form-field {
  width: 120px;
  .mat-form-field-wrapper {
    margin: 0;
    padding: 0;
  }
}
