<h2 mat-dialog-title>Add an Option</h2>
<form [formGroup]="addOptionForm" (ngSubmit)="add()">
  <mat-dialog-content class="mat-typography">
    <div class="form-row">
      <div class="form-group col-md-6">
        <mat-form-field [style.fontSize]="'12px'" appearance="outline">
          <mat-label>Dropdown Name</mat-label>
          <input matInput formControlName="name" placeholder="Dropdown Name" />
        </mat-form-field>
      </div>

      <div class="form-group col-md-6">
        <mat-form-field [style.fontSize]="'12px'" appearance="outline">
          <mat-label>Dropdown Code</mat-label>
          <input matInput formControlName="code" placeholder="Dropdown Code" />
        </mat-form-field>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button
      class="btn btn-sm btn-danger"
      type="submit"
      [mat-dialog-close]="true"
    >
      <i class="material-icons">add</i>
      Add
    </button>
  </mat-dialog-actions>
</form>
