::ng-deep .view-invoice {
	.header {
		margin: 20px 20px 64px 20px;
		.title {
			font-size: 20px;
			font-weight: 500;
			margin-bottom: 32px;
		}
		.col-md-6,
		.col-md-3 {
			.heading {
				p {
					font-size: 12px;
					color: gray;
					margin-bottom: 4px;
				}
			}
			.text {
				p {
					font-size: 14px;
					font-weight: 500;
					color: black;
				}
			}
		}
	}
	.body {
		.mat-table {
			width: 100%;
			box-shadow: none;
			.mat-header-row {
				border-top: 2px solid #34495e;
			}
		}
	}
	.footer {
		margin-top: 64px;
		margin-right: 20px;
		border: none;
		table {
			width: 460px;
			tr {
				th {
					text-align: right;
					color: #34495e;
					padding: 8px;
				}
				td {
					text-align: right;
					&.total {
						font-size: 18px;
						font-weight: 500;
						color: #34495e;
						line-height: 1;
					}
				}
				&:last-child {
					border-top: 2px solid #34495e;
				}
			}
		}
	}
	.note {
		margin: 0 20px;
		.heading {
			font-size: 12px;
			color: gray;
			margin-bottom: 4px;
		}
		ul {
			margin-left: -24px;
			li {
				font-size: 14px;
				font-weight: 500;
				color: black;
			}
		}
	}
}
