<!-- Create company form component -->
<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">

        <!-- main form start -->
        <form [formGroup]="addEmployeeForm" (ngSubmit)="submitEmployee()">
          <div class="card-form status-dropdown">
            <div class="form-row d-flex justify-content-between">
              <div class="id-card">
                <p>Employee ID # {{addEmployeeForm.get('empId').value}}</p>
              </div>
              <div class="form-group col-md-2">
                <mat-form-field [style.fontSize]="'12px'" appearance="outline">
                  <mat-label>Employee Status</mat-label>
                  <mat-select formControlName="empStatus">
                    <mat-option></mat-option>
                    <mat-option value="Active">Active</mat-option>
                    <mat-option value="Inactive">Inactive</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
          </div>
          <mat-tab-group>

            <!-- basic info tab start -->
            <mat-tab label="Basic Info">

              <!-- Basic info card start -->
              <div class="card">
                <div class="card-body card-form">
                  <div class="form-row">

                    <!-- upload picture div -->
                    <div class="col-md-3 order-md-2">
                      <input-file formControlName="empPicture" (change)="uploadEmployeePicture()">
                      </input-file>
                    </div>

                    <!-- basic info -->
                    <div class="col-md-9 order-md-1">
                      <div class="form-row">
                        <div class="form-group col-md-4">
                          <mat-form-field [style.fontSize]="'12px'" appearance="outline">
                            <mat-label>Company</mat-label>
                            <mat-select formControlName="empCompany" [compareWith]="compareCompany"
                              (selectionChange)="getCompanyAddresses($event.value)">
                              <mat-option [value]=null></mat-option>
                              <mat-option *ngFor="let comp of companiesDropDown" [value]="comp">{{comp.companyName}}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>
                        <div class="form-group col-md-4">
                          <mat-form-field [style.fontSize]="'12px'" appearance="outline">
                            <mat-label>Location</mat-label>
                            <mat-select formControlName="businessAddress" [compareWith]="compareLocation">
                              <mat-option [value]=null></mat-option>
                              <mat-option *ngFor="let location of companyAddress" [value]="location">
                                {{location.street1}}, {{location.city.value}}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>
                        <div class="form-group col-md-4">
                          <mat-form-field [style.fontSize]="'12px'" appearance="outline">
                            <mat-label>Employee Type</mat-label>
                            <mat-select formControlName="empType" [compareWith]="compareDropdownType"
                            (selectionChange)="showSupplier($event.value)">
                              <mat-option [value]=null></mat-option>
                              <mat-option *ngFor="let empTypes of employeeTypeDropDown" [value]="empTypes">
                                {{empTypes.value}}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>
                        <div class="form-group col-md-4" *ngIf="showSupplierField">
                          <mat-form-field [style.fontSize]="'12px'" appearance="outline">
                            <mat-label>Supplier</mat-label>
                            <mat-select formControlName="empSupplier">
                              <mat-option [value]=null></mat-option>
                              <mat-option *ngFor="let supp of supplierCompanyDropDown" [value]="supp">
                                {{supp.companyName}}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>
                        <div class="form-group col-md-4">
                          <mat-form-field [style.fontSize]="'12px'" appearance="outline" class="full-width">
                            <mat-label>First Name</mat-label>
                            <input matInput formControlName="firstName" placeholder="First Name">
                          </mat-form-field>
                        </div>
                        <div class="form-group col-md-4">
                          <mat-form-field [style.fontSize]="'12px'" appearance="outline" class="full-width">
                            <mat-label>Last Name</mat-label>
                            <input matInput formControlName="lastName" placeholder="Last Name">
                          </mat-form-field>
                        </div>
                        <div class="form-group col-md-4">
                          <mat-form-field [style.fontSize]="'12px'" appearance="outline" class="full-width">
                            <mat-label>Employee Number</mat-label>
                            <input matInput formControlName="empNo" placeholder="Employee Number">
                          </mat-form-field>
                        </div>
                        <div class="form-group col-md-4">
                          <mat-form-field [style.fontSize]="'12px'" appearance="outline">
                            <mat-label>Date of Birth</mat-label>
                            <input matInput formControlName="empDob" [matDatepicker]="picker"
                              placeholder="Date of Birth">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker touchUi #picker></mat-datepicker>
                          </mat-form-field>
                        </div>
                        <div class="form-group col-md-4">
                          <mat-form-field [style.fontSize]="'12px'" appearance="outline" class="full-width">
                            <mat-label>CNIC Number</mat-label>
                            <input matInput formControlName="empCnic" placeholder="CNIC Number" type="text">
                          </mat-form-field>
                        </div>
                        <div class="form-group col-md-4">
                          <mat-form-field [style.fontSize]="'12px'" appearance="outline">
                            <mat-label>CNIC Expiry</mat-label>
                            <input matInput formControlName="cnicExpiry" [matDatepicker]="sPicker"
                              placeholder="CNIC Expiry">
                            <mat-datepicker-toggle matSuffix [for]="sPicker"></mat-datepicker-toggle>
                            <mat-datepicker touchUi #sPicker></mat-datepicker>
                          </mat-form-field>
                        </div>
                        <div class="form-group col-md-4">
                          <mat-form-field [style.fontSize]="'12px'" appearance="outline">
                            <mat-label>Department</mat-label>
                            <mat-select formControlName="empDepartment" [compareWith]="compareDropdownType">
                              <mat-option [value]=null></mat-option>
                              <mat-option *ngFor="let dept of departmentDropDown" [value]="dept">{{dept.value}}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>
                        <div class="form-group col-md-4">
                          <mat-form-field [style.fontSize]="'12px'" appearance="outline">
                            <mat-label>Position</mat-label>
                            <mat-select formControlName="empPosition" [compareWith]="compareDropdownType"
                              (selectionChange)="showLicenseDetail($event.value)">
                              <mat-option [value]=null></mat-option>
                              <mat-option *ngFor="let post of positionDropDown" [value]="post">{{post.value}}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>
                        <div class="form-group col-md-4">
                          <mat-form-field [style.fontSize]="'12px'" appearance="outline" class="full-width">
                            <mat-label>Next of Kin Name</mat-label>
                            <input matInput formControlName="empKinName" placeholder="Next of Kin Name">
                          </mat-form-field>
                        </div>
                        <div class="form-group col-md-4">
                          <mat-form-field [style.fontSize]="'12px'" appearance="outline" class="full-width">
                            <mat-label>Next of Kin Relation</mat-label>
                            <input matInput formControlName="empKinRelation" placeholder="Next of Kin Relation">
                          </mat-form-field>
                        </div>
                        <div class="form-group col-md-4">
                          <mat-form-field [style.fontSize]="'12px'" appearance="outline" class="full-width">
                            <mat-label>NTN Number</mat-label>
                            <input matInput formControlName="empNtn" placeholder="NTN Number" type="text">
                          </mat-form-field>
                        </div>
                        <div class="form-group col-md-4" *ngIf="showLicenseField">
                          <mat-form-field [style.fontSize]="'12px'" appearance="outline" class="full-width">
                            <mat-label>License Number</mat-label>
                            <input matInput formControlName="empLicenseNo" placeholder="License Number" type="text">
                          </mat-form-field>
                        </div>
                        <div class="form-group col-md-4" *ngIf="showLicenseField">
                          <mat-form-field [style.fontSize]="'12px'" appearance="outline" class="full-width">
                            <mat-label>License Class</mat-label>
                            <input matInput formControlName="empLicenceClass" placeholder="License Class" type="text">
                          </mat-form-field>
                        </div>
                        <div class="form-group col-md-4" *ngIf="showLicenseField">
                          <mat-form-field [style.fontSize]="'12px'" appearance="outline">
                            <mat-label>License Issue</mat-label>
                            <input matInput formControlName="empLicenseIssue" [matDatepicker]="oPicker"
                              placeholder="License Issue Date">
                            <mat-datepicker-toggle matSuffix [for]="oPicker"></mat-datepicker-toggle>
                            <mat-datepicker touchUi #oPicker></mat-datepicker>
                          </mat-form-field>
                        </div>
                        <div class="form-group col-md-4" *ngIf="showLicenseField">
                          <mat-form-field [style.fontSize]="'12px'" appearance="outline">
                            <mat-label>License Expiry</mat-label>
                            <input matInput formControlName="empLicenseExpiry" [matDatepicker]="bPicker"
                              placeholder="License Expiry Date">
                            <mat-datepicker-toggle matSuffix [for]="bPicker"></mat-datepicker-toggle>
                            <mat-datepicker touchUi #bPicker></mat-datepicker>
                          </mat-form-field>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="section-heading">
                    <h4>Address</h4>
                  </div>
                  <div formArrayName="empAddress"
                    *ngFor="let item of addEmployeeForm.get('empAddress')['controls']; let i = index;">
                    <div [formGroupName]="i">
                      <br *ngIf="i > 0">
                      <div class="form-row">
                        <div class="form-group col-md-6 order-md-1">
                          <mat-form-field [style.fontSize]="'12px'" appearance="outline" class="full-width">
                            <mat-label>Address Line 1</mat-label>
                            <input matInput formControlName="street1" placeholder="Address Line 1">
                          </mat-form-field>
                        </div>
                        <div class="form-group col-md-6 order-md-5">
                          <mat-form-field [style.fontSize]="'12px'" appearance="outline" class="full-width">
                            <mat-label>Address Line 2</mat-label>
                            <input matInput formControlName="street2" placeholder="Address Line 2">
                          </mat-form-field>
                        </div>
                        <div class="form-group col-md-3 order-md-2">
                          <mat-form-field [style.fontSize]="'12px'" appearance="outline">
                            <mat-label>City</mat-label>
                            <mat-select formControlName="city" [compareWith]="compareDropdownType">
                              <mat-option [value]=null></mat-option>
                              <mat-option *ngFor="let cities of cityDropDown" [value]="cities">
                                {{cities.value}}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>
                        <div class="form-group col-md-2 order-md-3">
                          <mat-form-field [style.fontSize]="'12px'" appearance="outline">
                            <mat-label>State</mat-label>
                            <mat-select formControlName="state" [compareWith]="compareDropdownType">
                              <mat-option [value]=null></mat-option>
                              <mat-option *ngFor="let states of stateDropDown" [value]="states">
                                {{states.value}}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>
                        <div class="form-group col-md-1 order-md-4">
                          <mat-form-field [style.fontSize]="'12px'" appearance="outline" class="full-width">
                            <mat-label>Zip</mat-label>
                            <input matInput formControlName="zipCode" placeholder="Zip" type="number">
                          </mat-form-field>
                        </div>
                        <div class="form-group col-md-6 order-md-6">
                          <mat-form-field [style.fontSize]="'12px'" appearance="outline">
                            <mat-label>Country</mat-label>
                            <mat-select formControlName="country">
                              <mat-option [value]=null></mat-option>
                              <mat-option value="Pakistan">Pakistan</mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>
                      </div>
                      <div class="form-row flex-row-reverse">
                        <div class="col-2 row-button">
                          <button class="btn btn-sm btn-danger" *ngIf="i > 0" (click)="deleteAddress(item, i)"
                            type="button">Delete
                            Address</button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="section-heading">
                    <h4>Contact Details</h4>
                    <div class="">
                      <button class="btn btn-sm btn-danger" (click)="addNewContact()" type="button">Add Contact</button>
                    </div>
                  </div>
                  <div formArrayName="empContact"
                    *ngFor="let item of addEmployeeForm.get('empContact')['controls']; let j = index;">
                    <div [formGroupName]="j">
                      <div class="form-row">
                        <div class="form-group col-md-2 col-4">
                          <mat-form-field [style.fontSize]="'12px'" appearance="outline" class="full-width">
                            <!-- <input matInput value="phone" readonly> -->
                            <mat-label>Contact Type</mat-label>
                            <mat-select formControlName="channel" [compareWith]="compareDropdownType">
                              <mat-option *ngFor="let chanType of channelTypeDropDown" [value]="chanType">
                                {{chanType.value}}
                              </mat-option>
                            </mat-select>
                            <!-- <mat-error *ngIf="addCompanyForm.controls.businessType.errors?.required">
                                              Please Select Business Type.
                                            </mat-error> -->
                          </mat-form-field>
                        </div>
                        <!-- <div class="form-group col-md-4 col-8" *ngIf="item.controls.channel.value?.value == 'Mobile'">
                          <mat-form-field [style.fontSize]="'12px'" appearance="outline" class="full-width">
                            <mat-label>+92 300 000 0000</mat-label>
                            <input matInput formControlName="data">
                            <span matPrefix>+92&nbsp;</span>
                          </mat-form-field>
                        </div> -->
                        <div class="form-group col-md-4 col-8" *ngIf="item.controls.channel.value?.value !== 'Email'">
                          <mat-form-field [style.fontSize]="'12px'" appearance="outline" class="full-width">
                            <!-- <mat-label>+92 300 000 0000</mat-label> -->
                            <input matInput formControlName="data">
                          </mat-form-field>
                        </div>
                        <div class="form-group col-md-4 col-8" *ngIf="item.controls.channel.value?.value == 'Email'">
                          <mat-form-field [style.fontSize]="'12px'" appearance="outline" class="full-width">
                            <mat-label>email</mat-label>
                            <input matInput formControlName="data" placeholder="abc1234@example.com" type="email">
                          </mat-form-field>
                        </div>
                        <div class="col-md-2">
                          <button mat-raised-button type="button"
                            class="btn btn-sm btn-danger btn-link btn-sm btn-just-icon"
                            routerLinkActive="router-link-active" *ngIf="j>=channelTypeDropDown?.length" (click)="deleteContact(item, j)">
                            <i class="material-icons">delete</i>
                          </button>
                        </div>
                      </div>

                      <!-- <div class="form-row">
                                      <div class="form-group col-md-2 col-4">
                                        <mat-form-field [style.fontSize]="'12px'" appearance="outline" class="full-width">
                                          <input matInput value="e-mail" readonly>
                                        </mat-form-field>
                                      </div>
                                      <div class="form-group col-md-4 col-8">
                                        <mat-form-field [style.fontSize]="'12px'" appearance="outline" class="full-width">
                                          <mat-label>email</mat-label>
                                          <input formControlName="email" matInput placeholder="jonsnow@example.com" type="email">
                                        </mat-form-field>
                                      </div>
                                    </div> -->
                    </div>
                  </div>
                </div>
              </div>
              <!-- <div class="form-row no-margin flex-row-reverse">
                <div class="col-2 row-button">
                  <button class="btn btn-sm btn-danger" type="button" (click)="addNewAddress()">
                    <i class="material-icons">add</i>
                    Add More Address
                  </button>
                </div>
              </div> -->
              <!-- <div class="card">
                <div class="card-body card-form">
                  
                </div>
              </div> -->


              <!-- Contact card -->
              <!-- <div class="form-row no-margin flex-row-reverse">
                <div class="col-2 row-button">
                  <button class="btn btn-sm btn-danger" type="button" (click)="addNewContact()">
                    <i class="material-icons">add</i>
                    Add More Contact
                  </button>
                </div>
              </div> -->
              <!-- <div class="card">
                <div class="card-body card-form">
                  
                </div>
              </div> -->


              <!-- contract card -->
              <!-- <button type="button" (click)="addNewContract()">Add Contract</button> -->
              <div class="card" formArrayName="empContract"
                *ngFor="let item of addEmployeeForm.get('empContract')['controls']; let k = index;">
                <div class="card-body card-form" [formGroupName]="k">
                  <div class="form-row">
                    <!-- <div class="form-group col-md-2">
                      <mat-form-field [style.fontSize]="'12px'" appearance="outline">
                        <mat-label>Contract Status</mat-label>
                        <mat-select formControlName="contractStatus">
                          <mat-option></mat-option>
                    <mat-option value="Active">Active</mat-option>
                          <mat-option value="Inactive">Inactive</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div class="form-group col-md-2">
                      <mat-form-field [style.fontSize]="'12px'" appearance="outline">
                        <mat-label>Contract Type</mat-label>
                        <mat-select>
                          <mat-option value="Permanent">Permanent</mat-option>
                          <mat-option value="Contarctual">Contractual</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div> -->

                    <!-- Visible if contract type is contractual -->
                    <!-- <div class="form-group col-md-2">
                      <mat-form-field [style.fontSize]="'12px'" appearance="outline" class="full-width">
                        <mat-label>Contractor</mat-label>
                        <input matInput placeholder="Contractor">
                      </mat-form-field>
                    </div> -->
                    <div class="form-group col-md-2">
                      <mat-form-field [style.fontSize]="'12px'" appearance="outline">
                        <mat-label>Contract Start</mat-label>
                        <input matInput formControlName="startDate" [matDatepicker]="cPicker"
                          placeholder="Contract Start">
                        <mat-datepicker-toggle matSuffix [for]="cPicker"></mat-datepicker-toggle>
                        <mat-datepicker touchUi #cPicker></mat-datepicker>
                      </mat-form-field>
                    </div>
                    <div class="form-group col-md-2">
                      <mat-form-field [style.fontSize]="'12px'" appearance="outline">
                        <mat-label>Contract End</mat-label>
                        <input matInput formControlName="endDate" [matDatepicker]="dPicker" placeholder="Contract End">
                        <mat-datepicker-toggle matSuffix [for]="dPicker"></mat-datepicker-toggle>
                        <mat-datepicker touchUi #dPicker></mat-datepicker>
                      </mat-form-field>
                    </div>

                    <div class="form-group col-md-2">
                      <mat-form-field [style.fontSize]="'12px'" appearance="outline" class="full-width">
                        <mat-label>Salary</mat-label>
                        <input matInput formControlName="salary" placeholder="Salary" type="number">
                      </mat-form-field>
                    </div>
                    <div class="form-group col-md-3">
                      <mat-form-field [style.fontSize]="'12px'" appearance="outline" class="full-width">
                        <mat-label>Previous Employer 1</mat-label>
                        <input matInput formControlName="previousEmployer1" placeholder="Previous Employer 1">
                      </mat-form-field>
                    </div>
                    <div class="form-group col-md-3">
                      <mat-form-field [style.fontSize]="'12px'" appearance="outline" class="full-width">
                        <mat-label>Previous Employer 2</mat-label>
                        <input matInput formControlName="previousEmployer2" placeholder="Previous Employer 2">
                      </mat-form-field>
                    </div>
                    <div class="form-group col-md-3">
                      <mat-form-field [style.fontSize]="'12px'" appearance="outline" class="full-width">
                        <mat-label>Separation Reason</mat-label>
                        <input matInput formControlName="separationReason" placeholder="Separation Experience">
                      </mat-form-field>
                    </div>
                    <div class="form-group col-md-3">
                      <mat-form-field [style.fontSize]="'12px'" appearance="outline" class="full-width">
                        <mat-label>Working Experience</mat-label>
                        <input matInput formControlName="workingExperience" placeholder="Working Experience">
                      </mat-form-field>
                    </div>
                  </div>
                </div>
              </div>
              <!-- <button *ngIf="k > 0" (click)="deleteContracts(item, k)" type="button">Delete Contract</button> -->
            </mat-tab>
            <!-- Basic info tab end -->

            <!-- Training Profile tab Start -->
            <mat-tab label="Training Profile" *ngIf="showTrainingProfileTab">
              <div class="row accordion-container">
                <div class="col-12">
                  <button mat-raised-button type="button" (click)="addTrainingProfile()"
                    class="btn btn-sm btn-danger pull-right">
                    <i class="material-icons">add</i>
                    Add Training Profile
                  </button>
                </div>
              </div>
              <mat-accordion formArrayName="empTrainingProfile"
                *ngFor="let profiles of addEmployeeForm.get('empTrainingProfile')['controls']; let m = index;">
                <mat-expansion-panel [formGroupName]="m">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      <img src="../../assets/img/cover.jpeg" alt="">
                      <p>Training Title: {{profiles.controls.trainingType.value}}</p>
                    </mat-panel-title>
                    <mat-panel-description>
                      Training Expiry: {{profiles.controls.trainingExpiry.value}}
                    </mat-panel-description>
                  </mat-expansion-panel-header>
                  <div class="card-form">
                    <div class="form-row">

                      <!-- upload picture div -->

                      <!-- basic info -->
                      <div class="col-md-12">
                        <div class="form-row">
                          <div class="form-group col-md-4">
                            <mat-form-field [style.fontSize]="'12px'" appearance="outline" class="full-width">
                              <mat-label>Type of Training</mat-label>
                              <input matInput formControlName="trainingType" placeholder="Type of Training">
                            </mat-form-field>
                          </div>
                          <div class="form-group col-md-4">
                            <mat-form-field [style.fontSize]="'12px'" appearance="outline">
                              <mat-label>Date of Training</mat-label>
                              <input matInput formControlName="trainingDate" [matDatepicker]="ePicker"
                                placeholder="Date of Training">
                              <mat-datepicker-toggle matSuffix [for]="ePicker"></mat-datepicker-toggle>
                              <mat-datepicker touchUi #ePicker></mat-datepicker>
                            </mat-form-field>
                          </div>
                          <div class="form-group col-md-4">
                            <mat-form-field [style.fontSize]="'12px'" appearance="outline">
                              <mat-label>Expiry Date of Training</mat-label>
                              <input matInput formControlName="trainingExpiry" [matDatepicker]="fPicker"
                                placeholder="Expiry Date of Training">
                              <mat-datepicker-toggle matSuffix [for]="fPicker"></mat-datepicker-toggle>
                              <mat-datepicker touchUi #fPicker></mat-datepicker>
                            </mat-form-field>
                          </div>

                          <div class="form-group col-md-4">
                            <mat-form-field [style.fontSize]="'12px'" appearance="outline" class="full-width">
                              <mat-label>Trainer Name</mat-label>
                              <input matInput formControlName="trainerName" placeholder="Trainer Name">
                            </mat-form-field>
                          </div>
                          <div class="form-group col-md-4">
                            <mat-form-field [style.fontSize]="'12px'" appearance="outline" class="full-width">
                              <mat-label>Station</mat-label>
                              <input matInput formControlName="trainerStation" placeholder="Station">
                            </mat-form-field>
                          </div>
                        </div>

                        <div class="form-row margin-top">
                          <div class="form-group col-md-3">
                            <div *ngIf="profiles.value.trainingProfileURL == null">
                              <h4 class="heading">
                                Training Certificate
                              </h4>
                              <input-file formControlName="trainingFile">
                              </input-file>
                            </div>
                            <div class="preview-pic" *ngIf="profiles.value.trainingProfileURL != null">
                              <h4 class="heading">
                                Training Certificate
                              </h4>
                              <img [src]="profiles.value.trainingProfileURL" alt="">
                            </div>

                            <div *ngIf="profiles.value.trainingProfileURL != null">
                              <button mat-raised-button type="button" (click)="deleteTrainingProfUrl(m)"
                               class="btn btn-sm btn-danger">
                                <i class="material-icons">delete</i>
                              </button>
                              <button mat-raised-button type="button" (click)="viewFile(profiles.value.trainingProfileURL)" class="btn btn-sm">
                                <i class="material-icons">remove_red_eye</i>
                              </button>
                            </div>
                          </div>

                          <div class="form-group col-md-3">
                            <div *ngIf="profiles.value.attendanceSheetURL == null">
                              <h4 class="heading">
                                Attendance Sheet
                              </h4>
                              <input-file formControlName="trainingAttendance">
                              </input-file>
                            </div>
                            <div class="preview-pic" *ngIf="profiles.value.attendanceSheetURL != null">
                              <h4 class="heading">
                                Attendance Sheet
                              </h4>
                              <img [src]="profiles.value.attendanceSheetURL" alt="">
                            </div>

                            <div *ngIf="profiles.value.attendanceSheetURL != null">
                              <button mat-raised-button type="button" (click)="deleteTrainingAttendaceUrl(m)" class="btn btn-sm btn-danger">
                                <i class="material-icons">delete</i>
                              </button>
                              <button mat-raised-button type="button" (click)="viewFile(profiles.value.attendanceSheetURL)" class="btn btn-sm">
                                <i class="material-icons">remove_red_eye</i>
                              </button>
                            </div>
                          </div>

                          <div class="form-group col-md-3">
                            <div *ngIf="profiles.value.pictureWithTrainerURL == null">
                              <h4 class="heading">
                                Picture With Trainer
                              </h4>
                              <input-file formControlName="trainingPicture">
                              </input-file>
                            </div>

                            <div class="preview-pic" *ngIf="profiles.value.pictureWithTrainerURL != null">
                              <h4 class="heading">
                                Picture With Trainer
                              </h4>
                              <img [src]="profiles.value.pictureWithTrainerURL" alt="">
                            </div>

                            <div *ngIf="profiles.value.pictureWithTrainerURL != null">
                              <button mat-raised-button type="button" (click)="deleteTrainingPicUrl(m)" class="btn btn-sm btn-danger">
                                <i class="material-icons">delete</i>
                              </button>
                              <button mat-raised-button type="button" (click)="viewFile(profiles.value.pictureWithTrainerURL)" class="btn btn-sm">
                                <i class="material-icons">remove_red_eye</i>
                              </button>
                            </div>
                          </div>
                        </div>



                        <div class="form-row form-conclusion">
                          <div>
                            <button mat-raised-button (click)="deleteTrainingProfile(m, profiles.value.trainingProfileId)" type="button"
                              class="btn btn-sm">
                              <i class="material-icons">delete</i>
                            </button>
                            <button mat-raised-button type="button" (click)="submitTrainingProfile(profiles)"
                              class="btn btn-sm btn-danger">
                              <i class="material-icons">save</i>
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                </mat-expansion-panel>
              </mat-accordion>
            </mat-tab>
            <!-- Training Profile tab End -->

            <!-- Medical Test Reports tab Start -->
            <mat-tab label="Medical Test Reports" *ngIf="showMedicalTestTab">
              <div class="row accordion-container">
                <div class="col-12">
                  <button mat-raised-button type="button" (click)="addMedicalReport()"
                    class="btn btn-sm btn-danger pull-right">
                    <i class="material-icons">add</i>
                    Add Medical Test Report
                  </button>
                </div>
              </div>
              <mat-accordion formArrayName="empMedicalReport"
                *ngFor="let medReport of addEmployeeForm.get('empMedicalReport')['controls']; let n = index;">
                <mat-expansion-panel [formGroupName]="n">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      <img src="../../assets/img/cover.jpeg" alt="">
                      <p>Medical Test Title</p>
                    </mat-panel-title>
                    <mat-panel-description>
                      Result
                    </mat-panel-description>
                  </mat-expansion-panel-header>
                  <div class="card-form">
                    <div class="form-row">

                      <!-- upload picture div -->
                      <div class="col-md-3" *ngIf="medReport.value.medicalUrl == ''">
                        <input-file formControlName="medFile">
                        </input-file>
                      </div>

                      <div class="preview-pic col-md-3" *ngIf="medReport.value.medicalUrl != ''">
                        <img [src]="medReport.value.medicalUrl" alt="">
                        <button mat-raised-button type="button" (click)="deleteMedicalUrl()"
                         class="btn btn-sm btn-danger">
                          <i class="material-icons">delete</i>
                        </button>
                        <button mat-raised-button type="button" (click)="viewMedicalReportFile(medReport.value.medicalUrl)" class="btn btn-sm">
                          <i class="material-icons">remove_red_eye</i>
                        </button>
                      </div>

                      <!-- <div *ngIf="medReport.value.medicalUrl != ''"> -->
                        <!-- <button mat-raised-button type="button" (click)="deleteMedicalUrl()"
                         class="btn btn-sm btn-danger">
                          <i class="material-icons">delete</i>
                        </button>
                        <button mat-raised-button type="button" (click)="viewMedicalReportFile(medReport.value.medicalUrl)" class="btn btn-sm">
                          <i class="material-icons">remove_red_eye</i>
                        </button> -->
                      <!-- </div> -->

                      <!-- basic info -->
                      <div class="col-md-9">
                        <div class="form-row">
                          <div class="form-group col-md-4">
                            <mat-form-field [style.fontSize]="'12px'" appearance="outline" class="full-width">
                              <mat-label>Type of Medical Test</mat-label>
                              <input matInput formControlName="medType" placeholder="Type of Medical Test">
                            </mat-form-field>
                          </div>
                          <div class="form-group col-md-4">
                            <mat-form-field [style.fontSize]="'12px'" appearance="outline">
                              <mat-label>Date of Test</mat-label>
                              <input matInput formControlName="medDate" [matDatepicker]="gPicker"
                                placeholder="Date of Test">
                              <mat-datepicker-toggle matSuffix [for]="gPicker"></mat-datepicker-toggle>
                              <mat-datepicker touchUi #gPicker></mat-datepicker>
                            </mat-form-field>
                          </div>
                          <div class="form-group col-md-4">
                            <mat-form-field [style.fontSize]="'12px'" appearance="outline" class="full-width">
                              <mat-label>Result</mat-label>
                              <input matInput formControlName="medResult" placeholder="Result">
                            </mat-form-field>
                          </div>
                          <div class="form-group col-md-4">
                            <mat-form-field [style.fontSize]="'12px'" appearance="outline" class="full-width">
                              <mat-label>Hospital Name</mat-label>
                              <input matInput formControlName="medHospName" placeholder="Hospital Name">
                            </mat-form-field>
                          </div>
                          <div class="form-group col-md-4">
                            <mat-form-field [style.fontSize]="'12px'" appearance="outline" class="full-width">
                              <mat-label>Station</mat-label>
                              <input matInput formControlName="medStation" placeholder="Station">
                            </mat-form-field>
                          </div>
                        </div>
                        <div class="form-row form-conclusion">
                          <div>
                            <button mat-raised-button class="btn btn-sm" (click)="deleteMedicalReport(n, medReport.value.medicalId)" type="button">
                              <i class="material-icons">delete</i>

                            </button>
                            <button mat-raised-button type="button" (click)="submitMedicalReport(medReport)"
                              class="btn btn-sm btn-danger">
                              <i class="material-icons">save</i>
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                </mat-expansion-panel>
              </mat-accordion>
            </mat-tab>
            <!-- Medical Test Reports tab End -->

            <!-- References tab Start -->
            <mat-tab label="References" *ngIf="showReferenceTab">
              <div class="row accordion-container">
                <div class="col-12">
                  <button mat-raised-button type="button" (click)="addEmployeeReference()"
                    class="btn btn-sm btn-danger pull-right">
                    <i class="material-icons">add</i>
                    Add Reference
                  </button>
                </div>
              </div>
              <mat-accordion formArrayName="empReferences"
                *ngFor="let reference of addEmployeeForm.get('empReferences')['controls']; let p = index;">
                <mat-expansion-panel [formGroupName]="p">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      <img src="../../assets/img/cover.jpeg" alt="">
                      <p>Reference Person Name</p>
                    </mat-panel-title>
                    <mat-panel-description>
                      Relationship
                    </mat-panel-description>
                  </mat-expansion-panel-header>
                  <div class="card-form">
                    <div class="form-row">

                      <!-- upload picture div -->
                      <!-- <div class="col-md-3">
                        <input-file formControlName="refFile">
                        </input-file>
                      </div> -->

                      <!-- basic info -->
                      <div class="col-md-12">
                        <div class="form-row">
                          <div class="form-group col-md-4">
                            <mat-form-field [style.fontSize]="'12px'" appearance="outline" class="full-width">
                              <mat-label>Name</mat-label>
                              <input matInput formControlName="refName" placeholder="Name">
                            </mat-form-field>
                          </div>
                          <div class="form-group col-md-4">
                            <mat-form-field [style.fontSize]="'12px'" appearance="outline" class="full-width">
                              <mat-label>Contact No.</mat-label>
                              <input matInput formControlName="refContact" placeholder="Contact No.">
                            </mat-form-field>
                          </div>
                          <div class="form-group col-md-4">
                            <mat-form-field [style.fontSize]="'12px'" appearance="outline">
                              <mat-label>Relation</mat-label>
                              <input matInput formControlName="refRelation" placeholder="Relation">
                            </mat-form-field>
                          </div>
                          <div class="form-group col-md-4">
                            <mat-form-field [style.fontSize]="'12px'" appearance="outline">
                              <mat-label>CNIC Number</mat-label>
                              <input matInput formControlName="refCnic" placeholder="CNIC number." type="text">
                            </mat-form-field>
                          </div>
                          <div class="form-group col-md-8">
                            <mat-form-field [style.fontSize]="'12px'" appearance="outline" class="full-width">
                              <mat-label>Address</mat-label>
                              <input matInput formControlName="refAddress" placeholder="Full Address">
                            </mat-form-field>
                          </div>
                          <div class="col-md-3" *ngIf="reference.value.refFormUrl == ''">
                            <h5>REFERENCE CNIC</h5>
                            <input-file formControlName="refFile">
                            </input-file>
                          </div>
                          <div class="preview-pic col-md-3" *ngIf="reference.value.refFormUrl != ''">
                            <h5>REFERENCE CNIC</h5>
                            <img [src]="reference.value.refFormUrl" alt="">
                            <button mat-raised-button type="button" (click)="deleteRefFormUrl()"
                             class="btn btn-sm btn-danger">
                              <i class="material-icons">delete</i>
                            </button>
                            <button mat-raised-button type="button" (click)="viewRefFormFile(reference.value.refFormUrl)" class="btn btn-sm">
                              <i class="material-icons">remove_red_eye</i>
                            </button>
                          </div>

                          <div class="col-md-3" *ngIf="reference.value.refCnicUrl == ''">
                            <h5>REFERENCE FORM</h5>
                            <input-file formControlName="refForm">
                            </input-file>
                          </div>
                          <div class="preview-pic col-md-3" *ngIf="reference.value.refCnicUrl != ''">
                            <h5>REFERENCE FORM</h5>
                            <img [src]="reference.value.refCnicUrl" alt="">
                            <button mat-raised-button type="button" (click)="deleteRefCnicUrl()"
                             class="btn btn-sm btn-danger">
                              <i class="material-icons">delete</i>
                            </button>
                            <button mat-raised-button type="button" (click)="viewRefFormFile(reference.value.refCnicUrl)" class="btn btn-sm">
                              <i class="material-icons">remove_red_eye</i>
                            </button>
                          </div>
                        </div>
                        <div class="form-row form-conclusion">
                          <div>
                            <button mat-raised-button class="btn btn-sm" (click)="deleteEmployeeReference(p, reference.value.refId)"
                              type="button">
                              <i class="material-icons">delete</i>
                            </button>
                            <button mat-raised-button class="btn btn-sm btn-danger" type="button"
                              (click)="submitEmployeeReference(reference)">
                              <i class="material-icons">save</i>
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </mat-expansion-panel>
              </mat-accordion>
            </mat-tab>
            <!-- References tab End -->

            <!-- Heavy Vehicle Experience tab Start -->
            <mat-tab *ngIf="showHeavyVehicleTab" label="Heavy Vehicle Experience">
              <div class="card">
                <div class="card-body card-form">
                  <div class="form-row">
                    <div class="form-group col-md-2">
                      <mat-form-field [style.fontSize]="'12px'" appearance="outline">
                        <mat-label>Carrier Start Date</mat-label>
                        <input matInput formControlName="empHVstart" [matDatepicker]="hPicker"
                          placeholder="Carrier Start Date">
                        <mat-datepicker-toggle matSuffix [for]="hPicker"></mat-datepicker-toggle>
                        <mat-datepicker touchUi #hPicker></mat-datepicker>
                      </mat-form-field>
                    </div>
                    <div class="form-group col-md-2">
                      <mat-form-field [style.fontSize]="'12px'" appearance="outline">
                        <mat-label>Carrier End Date</mat-label>
                        <input matInput formControlName="empHVend" [matDatepicker]="edPicker"
                          placeholder="Carrier End Date">
                        <mat-datepicker-toggle matSuffix [for]="edPicker"></mat-datepicker-toggle>
                        <mat-datepicker touchUi #edPicker></mat-datepicker>
                      </mat-form-field>
                    </div>
                    <div class="form-group col-md-3">
                      <mat-form-field [style.fontSize]="'12px'" appearance="outline" class="full-width">
                        <mat-label>Truck Operated</mat-label>
                        <input matInput formControlName="empHVtruck" placeholder="Truck Operated">
                      </mat-form-field>
                    </div>
                    <div class="form-group col-md-3">
                      <mat-form-field [style.fontSize]="'12px'" appearance="outline" class="full-width">
                        <mat-label>Ex Company Name</mat-label>
                        <input matInput formControlName="empHVcompany" placeholder="Ex Company Name">
                      </mat-form-field>
                    </div>
                    <div class="form-group col-md-2">
                      <button mat-raised-button class="btn btn-sm btn-danger" (click)="addHeavyVehicleExp()"
                        type="button">
                        Add
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table">
                      <thead>
                        <th>
                          Start Date
                        </th>
                        <th>
                          End Date
                        </th>
                        <th>
                          Truck Operated
                        </th>
                        <th>
                          Ex Company Name
                        </th>
                      </thead>
                      <tbody>
                        <tr *ngFor="let heavy of getHeavyVehicle let q = index">
                          <td>
                            {{heavy?.experienceStartDate}}
                          </td>
                          <td>
                            {{heavy?.experienceEndDate}}
                          </td>
                          <td>
                            {{heavy?.trucksOperated}}
                          </td>
                          <td>
                            {{heavy?.experienceCompanyName}}
                          </td>
                          <td>
                            <span>
                              <button mat-raised-button class="btn btn-sm btn-danger btn-link btn-sm btn-just-icon"
                                type="button" (click)="deleteHeavyVehicleExp(heavy)">
                                <i class="material-icons">delete</i>
                              </button>
                            </span>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </mat-tab>
            <!-- Heavy Vehicle Experience tab End -->

          </mat-tab-group>
          <div class="form-navigation">
            <div>
              <button mat-raised-button class="btn btn-sm" type="reset" [routerLink]="['/employees']"
                routerLinkActive="router-link-active">
                Back
              </button>
            </div>
            <div>
              <button mat-raised-button (click)="deleteEmployee()" type="button" class="btn btn-sm"
                routerLinkActive="router-link-active">
                Delete
              </button>
              <button mat-raised-button type="submit" class="btn btn-sm btn-danger"
                routerLinkActive="router-link-active">
                Save
              </button>
            </div>
          </div>
        </form>
        <!-- main form end -->
      </div>
    </div>
  </div>
</div>