::ng-deep input-file {
  height: 100%;
  .input-file-container {
    height: 100%;
    .files-container {
      height: 100%;
      padding-top: 4px !important;
      padding-bottom: 3px !important;

      .file-container {
        height: 100% !important;
        margin-right: 0 !important;
        width: 100% !important;
        overflow: hidden !important;
        min-width: 10rem;
        min-height: 10rem;
        border: 1px solid #dfdfdf !important;
        border-radius: 6px !important;
        transition: 0.3s;
        &:hover {
          border: 2px solid #212121 !important;
        }
        .file-button {
          height: 100% !important;
          width: 100% !important;
        }
        .replace-button,
        .secondary-button {
          width: 100% !important;
        }
      }
    }
  }
}

.form-conclusion {
  justify-content: flex-end;
  div {
    button:first-child {
      margin: 0 10px;
    }
  }
}

::ng-deep .mat-tab-body-content {
  .accordion-container {
    margin: 0;
    .col-12 {
      padding: 0;
    }
  }
  .mat-accordion {
    .mat-expansion-panel {
      .mat-expansion-panel-header {
        .mat-content {
          .mat-expansion-panel-header-title {
            img {
              width: 24px;
              height: 24px;
              border: 1px solid #acacac;
              border-radius: 5px;
              margin-right: 16px;
            }
            p {
              margin-bottom: 0;
              color: rgba(0, 0, 0, 0.54);
            }
          }
        }
      }
    }
  }
}

.row-button {
  button {
    width: 100%;
  }
}

.no-margin {
  margin-right: 0;
  margin-left: 0;
}

.preview-pic {
  height: 250px;
  width: 250px;
  img {
    height: 250px;
    width: 250px;
  }
}

.margin-top {
  margin-top: 16px !important;
}
