::ng-deep .fixed-rate-invoice {
    .mat-table {
      width: 100%;
      .action-cell {
        text-align: right;
      }
    }
  }
  
  .add-Inv-card {
    margin-bottom: 0;
    overflow: hidden;
    transition: 0.9s;
  }
  .closed-Inv-card {
    height: 0;
  }
  .opened-Inv-card {
    height: auto;
  }
  .disable-clicks {
    pointer-events: none;
    opacity: 0.7;
  }
  .no-display {
    display: none;
  }
  