.main-content {
  .row {
    .col-md-12 {
      .card {
        .card-header {
          display: flex;
          justify-content: flex-end;
          form {
            .input-group {
              input {
                color: #fff;
              }
            }
          }
        }
      }
    }
  }
}

::ng-deep .card-body.job-window {
  .mat-accordion {
    .mat-expansion-panel {
      .mat-expansion-panel-header {
        .mat-expansion-panel-header-title {
          padding-top: 8px;
        }
        .mat-expansion-panel-header-description {
          display: flex;
          justify-content: flex-end;
          .details {
            display: flex;
            padding-top: 6px;
            .detail {
              font-size: 14px;
              margin-right: 20px;
              span {
                font-weight: 600;
              }
            }
          }
          .actions {
            display: flex;
            justify-content: flex-end;
          }
        }
      }
    }
  }
}
