<div class="main-content job-page">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <button mat-raised-button type="submit" class="btn btn-sm btn-danger pull-right" [routerLink]="['/job/add']"
          routerLinkActive="router-link-active">
          <i class="material-icons">add</i>
          Add Job
        </button>
      </div>
      <div class="col-md-12">
        <div class="card">
          <div class="card-body card-form search-form">
            <form [formGroup]="form" (ngSubmit)="search()">

              <div class="form-row">

                <div class="form-group col-md-1">
                  <mat-form-field [style.fontSize]="'12px'" appearance="outline" class="full-width">
                    <mat-label>Job ID</mat-label>
                    <input matInput placeholder="Job ID" formControlName="jobId" />
                  </mat-form-field>
                </div>
                <div class="form-group col-md-1">
                  <mat-form-field [style.fontSize]="'12px'" appearance="outline" class="full-width">
                    <mat-label>RWB ID</mat-label>
                    <input matInput placeholder="RWB ID" formControlName="rwbId" />
                  </mat-form-field>
                </div>
                <div class="form-group col-md-2">
                  <!-- <mat-checkbox formControlName="rateStatus">Rate Status</mat-checkbox> -->
                  <mat-form-field [style.fontSize]="'12px'" appearance="outline">
                    <mat-label>Ownership</mat-label>
                    <mat-select formControlName="ownerShipStatus">
                      <mat-option value=""></mat-option>
                      <mat-option value="false">Owned</mat-option>
                      <mat-option value="true">Rental</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="form-group col-md-1">
                  <mat-form-field [style.fontSize]="'12px'" appearance="outline" class="full-width">
                    <mat-label>Number Plate</mat-label>
                    <input matInput placeholder="Number Plate" formControlName="lic" />
                  </mat-form-field>
                </div>
                <div class="form-group col-md-2">
                  <mat-form-field [style.fontSize]="'12px'" appearance="outline" class="date-time full-width">
                    <mat-label>Start Date</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="start">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
                </div>
                <div class="form-group col-md-2">
                  <mat-form-field [style.fontSize]="'12px'" appearance="outline" class="date-time full-width">
                    <mat-label>End Date</mat-label>
                    <input matInput [matDatepicker]="picker1" formControlName="end">
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                  </mat-form-field>
                </div>
                <div class="form-group col-md-1">
                  <!-- <mat-checkbox formControlName="rateStatus">Rate Status</mat-checkbox> -->
                  <mat-form-field [style.fontSize]="'12px'" appearance="outline">
                    <mat-label>Job Status</mat-label>
                    <mat-select formControlName="jobStatus">
                      <mat-option value=""></mat-option>
                      <mat-option value="Open">Open</mat-option>
                      <mat-option value="Close">Close</mat-option>
                    </mat-select>
                  </mat-form-field>

                </div>
                <div class="col-2 row-button">
                  <button class="btn btn-sm btn-danger" type="submit">
                    <i class="material-icons">search</i>
                  </button>
                  &nbsp;
                  <button class="btn btn-sm btn-danger" type="button" (click)="ClearForm()">
                    <i class="material-icons">clear</i>
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="card card-plain">
          <div class="card-header card-header-danger">
            <div class="">
              <form class="navbar-form">
                <div class="input-group no-border">
                  <input type="text" class="form-control" matInput (keyup)="applyFilter($event.target.value)"
                    placeholder="Search...">
                </div>
              </form>
            </div>
          </div>
          <div class="card-body job-window">
            <mat-accordion>
              <mat-expansion-panel *ngFor="let job of jobData">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Job No: {{job.jobId}}
                  </mat-panel-title>
                  <mat-panel-title>
                    Status: {{job.jobStatus?.value}}
                  </mat-panel-title>
                  <mat-panel-title>
                    Start Date: {{job.startDate}}
                  </mat-panel-title>
                  <mat-panel-title>
                    End Date: {{job.endDate}}
                  </mat-panel-title>
                  <mat-panel-description>
                    <!-- <div class="details" *ngIf="job.vehicleOwnership.value == checkOwned">
                      <div class="detail" *ngIf="job.tractor != null">
                        tractor:
                        <span>
                          {{job.tractor?.numberPlate}}
                        </span>
                      </div>
                      <div class="detail" *ngIf="job.trailer != null">
                        trailer:
                        <span>
                          {{job.trailer?.asset?.vin}}
                        </span>
                      </div>
                      <div class="detail" *ngIf="job.driver1 != null">
                        driver 1:
                        <span>
                          {{job.driver1?.firstName}} {{job.driver1?.lastName}}
                        </span>
                      </div>
                      <div class="detail" *ngIf="job.driver2 != null">
                        driver 2:
                        <span>
                          {{job.driver2?.firstName}} {{job.driver2?.lastName}}
                        </span>
                      </div>
                    </div>
                    <div class="details" *ngIf="job.vehicleOwnership.value == checkRental">
                      <div class="detail">
                        broker:
                        <span>
                          {{job.rentalVehicle?.broker?.companyName}}
                        </span>
                      </div>
                      <div class="detail">
                        type:
                        <span>
                          {{job.rentalVehicle?.equipmentType?.value}}
                        </span>
                      </div>
                      <div class="detail">
                        size:
                        <span>
                          {{job.rentalVehicle?.equipmentSize?.value}}
                        </span>
                      </div>
                      <div class="detail">
                        license no.:
                        <span>
                          {{job.rentalVehicle?.vehicleNumber}}
                        </span>
                      </div>
                    </div> -->
                    <div class="actions">
                      <button mat-raised-button type="button" class="btn btn-sm btn-danger"
                        [routerLink]="['/job/addRWB']" (click)="setJobId(job)" routerLinkActive="router-link-active">
                        <i class="material-icons">add</i>
                        Add RWB
                      </button>
                      <button mat-raised-button type="button" (click)="findJobByID(job)" class="btn btn-sm btn-danger">
                        Edit Job
                      </button>
                    </div>
                  </mat-panel-description>
                </mat-expansion-panel-header>

                <table class="table table-hover">
                  <thead>
                    <th>RWB ID</th>
                    <th>Load No.</th>
                    <th>Route</th>
                    <th>Tractor</th>
                    <th>RWB Status</th>
                  </thead>
                  <tbody>
                    <tr *ngFor="let rwb of job?.roadwayBills">
                      <td>
                        {{rwb?.rwbId}}
                      </td>
                      <td>
                        {{rwb?.loadNumber}}
                      </td>
                      <td>
                        {{rwb?.route?.routeFrom?.code}} - {{rwb.route?.routeTo?.code}}
                      </td>
                      <td>{{rwb?.tractorNumber}}</td>
                      <td>
                        {{rwb?.rwbStatus?.value}}
                      </td>
                      <td>
                        <button mat-raised-button type="button" (click)="setJobId(job); findRoadwayBillByID(rwb)"
                          class="btn btn-sm btn-danger" routerLinkActive="router-link-active">
                          Edit
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </mat-expansion-panel>
            </mat-accordion>
            <mat-paginator showFirstLastButtons
              [length]="length"
              [pageSize]="pageSize"
              [pageSizeOptions]="pageSizeOptions"
              (page)="pageEvent = getServerData($event)"></mat-paginator>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>