::ng-deep html {
  height: 100%;
  body {
    height: 100%;
    .wrapper {
      height: 100%;
      .main-panel {
        height: 100%;
      }
    }
  }
}

.main {
  height: 100%;
  display: flex;
  .login-container {
    height: 100%;
    width: 420px;
    margin: 0;
    background-color: #f1f3f7;
    box-shadow: 3px 0 28px hsla(0, 0%, 45%, 0.5);
    .title {
      text-transform: uppercase;
      padding: 5px 0px;
      display: inline-block;
      font-size: 18px;
      color: #3c4858;
      white-space: nowrap;
      font-weight: 400;
      line-height: 30px;
      overflow: hidden;
      text-align: center;
      display: block;
      margin-top: 8vh;
    }
    .login-form {
      max-width: 280px;
      margin: 0 auto;
      margin-top: 3vh;
      .form-row {
        .form-group {
          padding-bottom: 0 !important;
          margin-top: 0 !important;
          &.col-12 {
            padding-bottom: 0;
            .mat-form-field-appearance-outline .mat-form-field-wrapper {
              margin-bottom: 0;
            }
          }
          a {
            color: #399bda;
            text-decoration: none;
            font-size: 0.9em;
          }
        }
        .col-12 {
          button {
            width: 100%;
          }
        }
      }
    }
  }
  .right-container {
    height: 100%;
    background-image: url(../../assets/img/login-img.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    width: calc(100% - 420px);
  }

  .invalidUsr{
    width: 100%;
    padding: 8px;
    text-align: center;
  }
}
