<div class="main">
  <div class="login-container">
    <p class="title">Logex.net</p>
    <form class="login-form" [formGroup]="loginForm" (ngSubmit)="login()">
      <div class="form-row">
        <div class="form-group col-12">
          <mat-form-field [style.fontSize]="'12px'" appearance="outline" class="full-width">
            <mat-label>Email or Username</mat-label>
            <input matInput formControlName="userName" placeholder="Email or Username">
          </mat-form-field>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-12 password-input">
          <mat-form-field [style.fontSize]="'12px'" appearance="outline" class="full-width">
            <mat-label>Password</mat-label>
            <input matInput formControlName="password" placeholder="Password" type="password">
          </mat-form-field>
          <!-- <a href="#">Forgot Password</a> -->
        </div>
      </div>
      <div class="form-row" *ngIf="invalidUserMsg != null">
        <mat-error style="width: 100%; padding: 8px; text-align: center;">
          <strong>{{invalidUserMsg}}</strong>
        </mat-error>
      </div>
      <div class="form-row">
        <div class="col-12">
          <button class="btn btn-sm btn-danger" type="submit" routerLinkActive="router-link-active">
            Sign in
          </button>
        </div>
      </div>
    </form>
  </div>
  <div class="right-container">
  </div>
</div>