<h2 mat-dialog-title>Add Area</h2>
<form [formGroup]="addAreaForm" (ngSubmit)="add()">
  <mat-dialog-content class="mat-typography">
    <div class="form-row">
      <div class="form-group col-md-4">
        <mat-form-field [style.fontSize]="'12px'" appearance="outline">
          <mat-label>Area Name</mat-label>
          <input matInput formControlName="name" placeholder="Area Name" />
        </mat-form-field>
      </div>

      <div class="form-group col-md-4">
        <mat-form-field [style.fontSize]="'12px'" appearance="outline">
          <mat-label>Area Code</mat-label>
          <input matInput formControlName="code" placeholder="Area Code" />
        </mat-form-field>
      </div>

      <div class="form-group col-md-4">
        <mat-form-field [style.fontSize]="'12px'" appearance="outline">
          <mat-label>City</mat-label>
          <mat-select formControlName="city">
            <mat-option [value]=null></mat-option>
            <mat-option *ngFor="let cities of citiesDropDown" [value]="cities">
              {{cities.value}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button
      class="btn btn-sm btn-danger"
      type="submit"
    >
      <i class="material-icons">add</i>
      Add
    </button>
  </mat-dialog-actions>
</form>
