<form [formGroup]="dateTimeForm">
  <mat-form-field [style.fontSize]="'11px'" appearance="outline" class="date-time" >
    <mat-label>{{type}}</mat-label>
    <input name="progressDate" matInput [formControlName]="stopDateTime" [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1"
      placeholder="Date Time">
    <owl-date-time #dt1 [pickerMode]="'dialog'"></owl-date-time>
  </mat-form-field>
</form>