<div class="main-content view-invoice">
  <div class="container-fluid">
    <div class="row d-flex flex-row-reverse">
      <div class="col-md-2">
        <button class="btn btn-sm btn-danger" type="button" (click)="getPaymentInfo(invData)">
          <i class="material-icons">info</i>
          View Payment Info
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-body card-form">
            <div class="form-row header">
              <div class="col-md-6">
                <div class="heading">
                  <p>
                    Billed From
                  </p>
                </div>
                <div class="text">
                  <p>
                    {{ invData.sender?.name }} <br />
                    {{ invData.sender?.address }} <br />
                  </p>
                </div>
              </div>
              <div class="col-md-3">
                <div class="heading">
                  <p>
                    Invoice Number
                  </p>
                </div>
                <div class="text">
                  <p>
                    {{ invData.dhInvoiceId }}
                  </p>
                </div>
              </div>
              <div class="col-md-3">
                <div class="heading">
                  <p>
                    Date of Issue
                  </p>
                </div>
                <div class="text">
                  <p>
                    {{ invData.invoiceDate }}
                  </p>
                </div>
              </div>
              <!-- billed from -->
              <div class="col-md-6">
                <div class="heading">
                  <p>
                    Billed To
                  </p>
                </div>
                <div class="text">
                  <p>
                    {{ invData.recipient?.name }} <br />
                    {{ invData.recipient?.address }} <br />
                  </p>
                </div>
              </div>

              <div class="col-md-3">
                <div class="heading">
                  <p>
                    Customer Tax Info
                  </p>
                </div>
                <div class="text">
                  <p>
                    <span *ngIf="invData.recipient.ntn != null">NTN = {{ invData.recipient?.ntn }} </span><br />
                    <span *ngIf="invData.recipient.strn != null">STRN = {{ invData.recipient?.strn }} </span><br />
                    <span *ngIf="invData.recipient.sra != null">SNTN = {{ invData.recipient?.sra }} </span><br />
                    <span *ngIf="invData.recipient.pra != null">
                      PNTN = {{ invData.recipient?.pra }} </span><br />
                    <span *ngIf="invData.recipient.bra != null">BNTN = {{ invData.recipient?.bra }} </span><br />
                    <span *ngIf="invData.recipient.kra != null">PNTN = {{ invData.recipient?.kra }} </span><br />
                  </p>
                </div>
              </div>
              <div class="col-md-3">
                <div class="heading">
                  <p>
                    Sender Tax Info
                  </p>
                </div>
                <div class="text">
                  <p>
                    <span *ngIf="invData.sender.ntn != null">NTN = {{ invData.sender?.ntn }} </span><br />
                    <span *ngIf="invData.sender.strn != null">STRN = {{ invData.sender?.strn }} </span><br />
                    <span *ngIf="invData.sender.sra != null">SNTN = {{ invData.sender?.sra }} </span><br />
                    <span *ngIf="invData.sender.pra != null">
                      PNTN = {{ invData.sender?.pra }} </span><br />
                    <span *ngIf="invData.sender.bra != null">BNTN = {{ invData.sender?.bra }} </span><br />
                    <span *ngIf="invData.sender.kra != null">PNTN = {{ invData.sender?.kra }} </span><br />
                  </p>
                </div>
              </div>
            </div>

            <!-- rwb details Table if Per Trip -->
            <div class="col-md-12 body">
              <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                <!-- SNo. Column -->
                <ng-container matColumnDef="sNo">
                  <th mat-header-cell *matHeaderCellDef>SNo.</th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.sNo }}
                  </td>
                </ng-container>

                <!-- RWB ID Column -->
                <ng-container matColumnDef="rwbId">
                  <th mat-header-cell *matHeaderCellDef>RWB ID</th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.rwbId }}
                  </td>
                </ng-container>

                <!-- route Column -->
                <ng-container matColumnDef="route">
                  <th mat-header-cell *matHeaderCellDef>Route</th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.route?.routeFrom?.code }} -
                    {{ element.route?.routeTo?.code }}
                  </td>
                </ng-container>

                <!-- Departure Date Column -->
                <ng-container matColumnDef="departure">
                  <th mat-header-cell *matHeaderCellDef>RWB Date</th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.date }}
                  </td>
                </ng-container>

                <!-- Vehicle Num Column -->
                <ng-container matColumnDef="vehicleNo">
                  <th mat-header-cell *matHeaderCellDef>Vehicle</th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.vehicleNumber }}
                  </td>
                </ng-container>

                <!-- Trip Charges Column -->
                <ng-container matColumnDef="tripCharges">
                  <th mat-header-cell *matHeaderCellDef>Stop Type</th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.stopType?.value }}
                  </td>
                </ng-container>

                <!-- Loading Charges Column -->
                <ng-container matColumnDef="loadingCharges">
                  <th mat-header-cell *matHeaderCellDef>Arrival</th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.arrivalTime }}
                  </td>
                </ng-container>

                <!-- offloadCharges Column -->
                <ng-container matColumnDef="offloadCharges">
                  <th mat-header-cell *matHeaderCellDef>Departure</th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.departureTime }}
                  </td>
                </ng-container>

                <!-- Status Column -->
                <ng-container matColumnDef="detentionCharges">
                  <th mat-header-cell *matHeaderCellDef>Detn/Haul</th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.dh }}
                  </td>
                </ng-container>

                <!-- Status Column -->
                <ng-container matColumnDef="otherCharges">
                  <th mat-header-cell *matHeaderCellDef>Detn. Rate</th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.dhRate }}
                  </td>
                </ng-container>

                <!-- Status Column -->
                <ng-container matColumnDef="amount">
                  <th mat-header-cell *matHeaderCellDef>Total Amount</th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.totalAmount }}
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
              </table>
            </div>

            <!-- footer with totals -->
            <div class="form-row d-flex flex-row-reverse footer">
              <table>
                <tr>
                  <th>Gross Invoice Amount:</th>
                  <td>Rs. {{ invData.grossAmount }}</td>
                </tr>
                <tr *ngIf="invData.tax !== 0">
                  <th>Add: Services Sales Tax ({{ invData.taxPercent }})</th>
                  <td>Rs. {{ invData.tax }}</td>
                </tr>
                <tr>
                  <th>Invoice Total Amount</th>
                  <td class="total">Rs. {{ invData.totalAmount }}</td>
                </tr>
              </table>
            </div>

            <div style="color: black;">
              <strong style="font-weight: 600;">Amount in Words:</strong>
              <b>{{ invData.amountInWords }} </b>
            </div>

            <div class="note">
              <p class="heading">Note:</p>
              {{ invData.note }}
            </div>
          </div>
        </div>

        <!-- form footer -->
        <div class="form-navigation">
          <div>
            <button mat-raised-button type="reset" class="btn btn-sm" [routerLink]="['/invoice']"
              routerLinkActive="router-link-active">
              Back
            </button>
          </div>
          <div>
            <button mat-raised-button type="button" *ngIf="invData.paymentStatus.value !== 'Paid'"
            (click)="openReceiveDialogDialog(invData)" class="btn btn-sm">
              Receive Payment
            </button>
            <!-- <button
              mat-raised-button
              type="button"
              class="btn btn-sm"
              (click)="openEmailInvoiceDialog()"
            >
              Send in Email
            </button> -->
            <button mat-raised-button type="button" class="btn btn-sm btn-danger" routerLinkActive="router-link-active"
              (click)="printInvoice()">
              Print
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>