<div class="col-md-12 fixed-rate-invoice">
  <div class="form-row d-flex flex-row-reverse">
    <button
      mat-raised-button
      class="btn btn-sm"
      type="button"
      (click)="showInvDiv(true)"
      routerLinkActive="router-link-active"
    >
      <i class="material-icons">receipt</i> Generate Invoice
    </button>
  </div>

  <div
    class="card add-Inv-card no-margin-top"
    [ngClass]="{
      'closed-Inv-card': !addInvDiv,
      'opened-Inv-card': addInvDiv
    }"
  >
    <div class="card-body card-form">
      <form [formGroup]="addInvForm" (ngSubmit)="addInvoice()">
        <div class="form-row">
          <div class="form-group col-md-4">
            <mat-form-field
              [style.fontSize]="'12px'"
              appearance="outline"
              class="date-time full-width"
            >
              <mat-label>Month and Year</mat-label>
              <input
                matInput
                [matDatepicker]="picker2"
                formControlName="period"
              />
              <mat-datepicker-toggle
                matSuffix
                [for]="picker2"
              ></mat-datepicker-toggle>
              <mat-datepicker
                #picker2
                startView="multi-year"
                (yearSelected)="chosenYearHandler2($event)"
                (monthSelected)="chosenMonthHandler2($event, picker2)"
              ></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="form-group col-md-4">
            <mat-form-field [style.fontSize]="'12px'" appearance="outline">
              <mat-label>Customer</mat-label>
              <mat-select formControlName="customer">
                <mat-option
                  *ngFor="let custom of customerDropDown"
                  [value]="custom.companyId"
                >
                  {{ custom.companyName }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-4" style="display: flex;">
            <button
              type="submit"
              mat-raised-button
              class="btn btn-sm btn-danger pull-right"
              routerLinkActive="router-link-active"
            >
              <i class="material-icons">receipt</i>
              Generate
            </button>
            <button
              type="button"
              mat-raised-button
              class="btn btn-sm btn-danger pull-right"
              (click)="showInvDiv(false)"
            >
              <i class="material-icons">clear</i>
              Close
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="card">
    <div class="card-body card-form search-form">
      <form [formGroup]="searchForm" (ngSubmit)="search()">
        <div class="form-row">
          <div class="form-group col-md-2">
            <mat-form-field [style.fontSize]="'12px'" appearance="outline">
              <mat-label>Customer</mat-label>
              <mat-select formControlName="customer">
                <mat-option
                  *ngFor="let custom of customerDropDown"
                  [value]="custom.companyId"
                >
                  {{ custom.companyName }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="form-group col-md-2">
            <mat-form-field
              [style.fontSize]="'12px'"
              appearance="outline"
              class="date-time full-width"
            >
              <mat-label>Period</mat-label>
              <input
                matInput
                [matDatepicker]="picker"
                formControlName="month"
              />
              <mat-datepicker-toggle
                matSuffix
                [for]="picker"
              ></mat-datepicker-toggle>
              <mat-datepicker
                #picker
                startView="multi-year"
                (yearSelected)="chosenYearHandler($event)"
                (monthSelected)="chosenMonthHandler($event, picker)"
              ></mat-datepicker>
            </mat-form-field>
          </div>

          <div class="form-group col-md-2">
            <mat-form-field
              [style.fontSize]="'12px'"
              appearance="outline"
              class="date-time full-width"
            >
              <mat-label>Start Date</mat-label>
              <input
                matInput
                [matDatepicker]="picker4"
                formControlName="startDate"
              />
              <mat-datepicker-toggle matSuffix [for]="picker4">
              </mat-datepicker-toggle>
              <mat-datepicker #picker4></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="form-group col-md-2">
            <mat-form-field
              [style.fontSize]="'12px'"
              appearance="outline"
              class="date-time full-width"
            >
              <mat-label>End Date</mat-label>
              <input
                matInput
                [matDatepicker]="picker3"
                formControlName="endDate"
              />
              <mat-datepicker-toggle matSuffix [for]="picker3">
              </mat-datepicker-toggle>
              <mat-datepicker #picker3></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="form-group col-md-2">
            <mat-form-field [style.fontSize]="'12px'" appearance="outline">
              <mat-label>Payment Type</mat-label>
              <mat-select formControlName="paymentStatus">
                <mat-option
                  *ngFor="let pay of paymentDropDown"
                  [value]="pay.value"
                >
                  {{ pay.value }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-2 row-button">
            <button class="btn btn-sm btn-danger" type="submit">
              <i class="material-icons">search</i>
            </button>
            &nbsp;
            <button
              class="btn btn-sm btn-danger"
              type="button"
              (click)="clearForm()"
            >
              <i class="material-icons">clear</i>
            </button>
            <!-- <button class="btn btn-sm btn-danger" style="margin-left: 12px;" type="button"
							(click)="addInvoice()">
							<i class="material-icons">receipt</i> Generate
						</button> -->
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- selection table -->
<div class="col-md-12 mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <!-- RWB ID Column -->
    <ng-container matColumnDef="invoiceNum">
      <th mat-header-cell *matHeaderCellDef>Invoice No.</th>
      <td mat-cell *matCellDef="let element">{{ element.invoiceId }}</td>
    </ng-container>

    <!-- RWB ID Column -->
    <ng-container matColumnDef="invoiceDate">
      <th mat-header-cell *matHeaderCellDef>Invoice Date</th>
      <td mat-cell *matCellDef="let element">{{ element.invoiceDate }}</td>
    </ng-container>

    <!-- Customer Column -->
    <ng-container matColumnDef="customer">
      <th mat-header-cell *matHeaderCellDef>Customer</th>
      <td mat-cell *matCellDef="let element">{{ element.recipient.name }}</td>
    </ng-container>

    <!-- Tax Province Column -->
    <ng-container matColumnDef="taxProvince">
      <th mat-header-cell *matHeaderCellDef>Tax Province</th>
      <td mat-cell *matCellDef="let element">{{ element.taxState?.value }}</td>
    </ng-container>

    <!-- Amount Column -->
    <ng-container matColumnDef="amount">
      <th mat-header-cell *matHeaderCellDef>Amount</th>
      <td mat-cell *matCellDef="let element">
        {{ element.totalAmount }}
      </td>
    </ng-container>

    <!-- Status Column -->
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef> Payment Status</th>
      <td mat-cell *matCellDef="let element">
        {{ element.paymentStatus?.value }}
      </td>
    </ng-container>

    <ng-container matColumnDef="view">
      <th mat-header-cell *matHeaderCellDef>Action</th>
      <td mat-cell *matCellDef="let element; let i = index">
        <button
          class="btn btn-sm btn-danger"
          type="button"
          (click)="viewInvoice(element)"
        >
          <i class="material-icons">visibility</i>
          View
        </button>
        <button
          class="btn btn-sm btn-danger"
          type="button"
          (click)="deleteInvoice(element, i)"
        >
          <i class="material-icons">delete</i>
          Delete
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: displayedColumns"
      (click)="selection.toggle(row)"
    ></tr>
  </table>

  <mat-paginator
    [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons
  ></mat-paginator>
</div>
