<h2 mat-dialog-title>Pending Invoices</h2>
<mat-dialog-content class="mat-typography check-pending">
	<div class="form-row">
		<table mat-table [dataSource]="dataSource">
			<!-- Customer Column -->
			<ng-container matColumnDef="customer">
				<th mat-header-cell *matHeaderCellDef>Customer</th>
				<td mat-cell *matCellDef="let element">{{ element.companyName }}</td>
			</ng-container>

			<!-- Invoices Column -->
			<ng-container matColumnDef="perTrip">
				<th mat-header-cell *matHeaderCellDef>Per Trip</th>
				<td mat-cell *matCellDef="let element">{{ element.perTrip }}</td>
			</ng-container>

			<ng-container matColumnDef="perTon">
				<th mat-header-cell *matHeaderCellDef>Per Ton</th>
				<td mat-cell *matCellDef="let element">{{ element.perTon }}</td>
			</ng-container>

			<ng-container matColumnDef="dedicated">
				<th mat-header-cell *matHeaderCellDef>Dedicated</th>
				<td mat-cell *matCellDef="let element">{{ element.dedicated }}</td>
			</ng-container>

			<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
			<tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
		</table>
	</div>
</mat-dialog-content>
<mat-dialog-actions align="end">
	<button class="btn btn-sm btn-danger" matDialogClose>
		Close
	</button>
</mat-dialog-actions>
