<form [formGroup]="progressForm" (ngSubmit)="submitProgress()">
  <div class="form-row">
    <div class="form-group col-md-2">
      <mat-form-field [style.fontSize]="'12px'" appearance="outline">
        <mat-label>Progress Type</mat-label>
        <mat-select formControlName="stopType" [compareWith]="compareDropdownType">
          <mat-option [value]=null></mat-option>
          <mat-option *ngFor="let stop of stopProgTypeDropDown" [value]="stop">
            {{stop.value}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="form-group col-md-2">
      <mat-form-field [style.fontSize]="'12px'" appearance="outline" class="date-time full-width">
        <mat-label>Arrival Time</mat-label>
        <input formControlName="arrivalDateTime" matInput [owlDateTime]="dt2" [owlDateTimeTrigger]="dt2"
          placeholder="Arrival Date Time">
        <owl-date-time #dt2 [pickerMode]="'dialog'"></owl-date-time>
      </mat-form-field>
    </div>
    <div class="form-group col-md-2">
      <mat-form-field [style.fontSize]="'12px'" appearance="outline" class="date-time full-width">
        <mat-label>Departure Time</mat-label>
        <input formControlName="departureDateTime" matInput [owlDateTime]="dt3" [owlDateTimeTrigger]="dt3"
          placeholder="Departure Date Time">
        <owl-date-time #dt3 [pickerMode]="'dialog'"></owl-date-time>
      </mat-form-field>
    </div>
    <div class="form-group col-md-2">
      <mat-form-field [style.fontSize]="'12px'" appearance="outline" class="date-time full-width">
        <mat-label>Vehicle Ownership</mat-label>
        <mat-select formControlName="vehicleOwn" (selectionChange)="displayRentalFields($event.value)">
          <mat-option [value]=null></mat-option>
          <mat-option *ngFor="let veh of vehicleOwnerDropDown" [value]="veh">{{veh.value}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="form-group col-md-2" *ngIf="!displayProgRentalFields">
      <mat-form-field [style.fontSize]="'12px'" appearance="outline">
        <mat-label>Tractor</mat-label>
        <mat-select formControlName="tractor">
          <mat-option [value]=null></mat-option>
          <mat-option *ngFor="let truck of tractorDropDown" [value]="truck">{{truck.numberPlate}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="form-group col-md-2" *ngIf="!displayProgRentalFields">
      <mat-form-field [style.fontSize]="'12px'" appearance="outline">
        <mat-label>Trailer</mat-label>
        <mat-select formControlName="trailer">
          <mat-option [value]=null></mat-option>
          <mat-option *ngFor="let trail of trailerDropDown" [value]="trail">{{trail.vin}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="form-group col-md-2" *ngIf="!displayProgRentalFields">
      <mat-form-field [style.fontSize]="'12px'" appearance="outline">
        <mat-label>Container</mat-label>
        <mat-select formControlName="container">
          <mat-option [value]=null></mat-option>
          <mat-option *ngFor="let cont of containerDropDown" [value]="cont">{{cont.containerNumber}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="form-group col-md-2" *ngIf="!displayProgRentalFields">
      <mat-form-field [style.fontSize]="'12px'" appearance="outline">
        <mat-label>Driver 1</mat-label>
        <mat-select formControlName="driver1">
          <mat-option [value]=null></mat-option>
          <mat-option *ngFor="let drive1 of driverDropDown" [value]="drive1">{{drive1.employeeName}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="form-group col-md-2" *ngIf="!displayProgRentalFields">
      <mat-form-field [style.fontSize]="'12px'" appearance="outline">
        <mat-label>Driver 2</mat-label>
        <mat-select formControlName="driver2">
          <mat-option [value]=null></mat-option>
          <mat-option *ngFor="let drive2 of driverDropDown" [value]="drive2">{{drive2.employeeName}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="form-group col-md-2" *ngIf="displayProgRentalFields">
      <mat-form-field [style.fontSize]="'12px'" appearance="outline">
        <mat-label>Broker</mat-label>
        <mat-select formControlName="rentalBroker">
          <mat-option [value]=null></mat-option>
          <mat-option *ngFor="let brok of brokerDropDown" [value]="brok">
            {{brok.companyName}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="form-group col-md-2" *ngIf="displayProgRentalFields">
      <mat-form-field [style.fontSize]="'12px'" appearance="outline">
        <mat-label>Equipment Type</mat-label>
        <mat-select formControlName="vehicleEquipment">
          <mat-option [value]=null></mat-option>
          <mat-option *ngFor="let type of equipmentDropDown" [value]="type">{{type.value}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="form-group col-md-2" *ngIf="displayProgRentalFields">
      <mat-form-field [style.fontSize]="'12px'" appearance="outline">
        <mat-label>Equipment Size</mat-label>
        <mat-select formControlName="equipSize">
          <mat-option [value]=null></mat-option>
          <mat-option *ngFor="let size of equipmentSizeDropDown" [value]="size">{{size.value}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="form-group col-md-2" *ngIf="displayProgRentalFields">
      <mat-form-field [style.fontSize]="'12px'" appearance="outline">
        <mat-label>Vehicle Number</mat-label>
        <input matInput formControlName="vehicleNum" placeholder="Vehicle Number" type="text">
      </mat-form-field>
    </div>
    <div class="form-group col-md-2">
      <mat-form-field [style.fontSize]="'12px'" appearance="outline">
        <mat-label>Starting Km</mat-label>
        <input matInput formControlName="startKm" placeholder="Starting Km" type="number">
      </mat-form-field>
    </div>
    <!-- <div class="form-group col-md-2">
      <mat-form-field [style.fontSize]="'12px'" appearance="outline">
        <mat-label>Detention Hour</mat-label>
        <input matInput formControlName="detention" placeholder="Detention In Hrs" type="text">
      </mat-form-field>
    </div> -->
    <div class="form-group col-md-2">
      <mat-form-field [style.fontSize]="'12px'" appearance="outline" class="full-width">
        <mat-label>Company Name</mat-label>
        <input formControlName="warehouseName" matInput placeholder="Company" type="text">
      </mat-form-field>
    </div>
    <div class="form-group col-md-3">
      <mat-form-field [style.fontSize]="'12px'" appearance="outline" class="full-width">
        <mat-label>Address Line 1</mat-label>
        <input matInput formControlName="street1" placeholder="Address 1" type="text">
      </mat-form-field>
    </div>
    <div class="form-group col-md-3">
      <mat-form-field [style.fontSize]="'12px'" appearance="outline" class="full-width">
        <mat-label>Address Line 2</mat-label>
        <input matInput formControlName="street2" placeholder="Address 2" type="text">
      </mat-form-field>
    </div>
    <div class="form-group col-md-2">
      <mat-form-field [style.fontSize]="'12px'" appearance="outline">
        <mat-label>City</mat-label>
        <mat-select formControlName="city">
          <mat-option [value]=null></mat-option>
          <mat-option *ngFor="let cities of cityDropDown" [value]="cities">
            {{cities.value}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="form-group col-md-2">
      <mat-form-field [style.fontSize]="'12px'" appearance="outline">
        <mat-label>State</mat-label>
        <mat-select formControlName="state" [compareWith]="compareDropdownType">
          <mat-option [value]=null></mat-option>
          <mat-option *ngFor="let state of stateDropDown" [value]="state">
            {{state.value}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <!-- <div class="form-group col-md-2">
      <mat-form-field [style.fontSize]="'12px'" appearance="outline" class="full-width">
        <mat-label>Zip</mat-label>
        <input formControlName="zipCode" matInput placeholder="Zip" type="text">
      </mat-form-field>
    </div>
    <div class="form-group col-md-2">
      <mat-form-field [style.fontSize]="'12px'" appearance="outline" class="full-width">
        <mat-label>Country</mat-label>
        <mat-select formControlName="country">
          <mat-option value="Pakistan">Pakistan</mat-option>
        </mat-select>
      </mat-form-field>
    </div> -->
    <div class="form-group col-md-2">
      <mat-form-field [style.fontSize]="'12px'" appearance="outline" class="full-width">
        <mat-label>Latitude</mat-label>
        <input formControlName="latitude" matInput placeholder="Latitude" type="text">
      </mat-form-field>
    </div>
    <div class="form-group col-md-2">
      <mat-form-field [style.fontSize]="'12px'" appearance="outline" class="full-width">
        <mat-label>Longitude</mat-label>
        <input formControlName="longitude" matInput placeholder="Longitude" type="text">
      </mat-form-field>
    </div>
    <div class="form-group col-md-2">
      <mat-form-field [style.fontSize]="'12px'" appearance="outline" class="full-width">
        <mat-label>Contact No.</mat-label>
        <input formControlName="phone" matInput placeholder="Contact Number" type="number">
      </mat-form-field>
    </div>
    <div class="form-group col-md-2">
      <mat-form-field [style.fontSize]="'12px'" appearance="outline" class="full-width">
        <mat-label>Email</mat-label>
        <input formControlName="email" matInput placeholder="Email" type="text">
      </mat-form-field>
    </div>
    <div class="form-group col-md-12 textarea">
      <mat-form-field [style.fontSize]="'12px'" appearance="outline" class="full-width">
        <mat-label>Instructions</mat-label>
        <textarea formControlName="instruction" matInput placeholder="Instructions"></textarea>
      </mat-form-field>
    </div>

  </div>

  <div class="form-row">
    <div class="col-12">
      <button type="submit" mat-raised-button class="btn btn-sm btn-danger pull-right"
        routerLinkActive="router-link-active">
        <i class="material-icons">add</i>
        Add
      </button>
      <button type="button" (click)="closeProgressForm()" mat-raised-button class="btn btn-sm btn-danger pull-right">
        <i class="material-icons">clear</i>
        Close
      </button>
    </div>
  </div>
</form>