::ng-deep .reimbursement {
  .row {
    .mat-tab-group {
      .form-row {
        margin: 0;
        .job-window {
          padding: 0 !important;
          .head-row {
            margin: 0;
            padding: 14px 48px 14px 24px;
            background-color: #fff;
            border-radius: 3px;
            font-weight: 600;
            .col-2,
            .col-3 {
              padding: 0;
            }
          }
          .mat-accordion {
            .mat-expansion-panel {
              .mat-expansion-panel-header {
                .mat-expansion-panel-header-title {
                  padding-top: 8px;
                }
                .mat-expansion-panel-header-description {
                  display: flex;
                  justify-content: space-between;
                  .details {
                    // display: flex;
                    padding-top: 6px;
                    width: 100%;
                    .detail {
                      font-size: 14px;
                      margin-right: 0;
                      // &:first-child {
                      //   text-align: center;
                      // }
                    }
                  }
                  .actions {
                    display: flex;
                    justify-content: flex-end;
                  }
                }
              }
            }
          }
        }
        .approve-reimbursement {
          .mat-table {
            width: 100%;
          }
        }
      }
    }
    .form-navigation {
      justify-content: flex-end;
      .footer-text {
        font-size: 14px;
        margin-right: 56px;
        font-weight: 500;
        span {
          font-weight: 600;
        }
      }
    }
  }
}
