<div class="main-content reimbursement">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-body card-form search-form">
            <form [formGroup]="searchForm" (ngSubmit)="search()">
              <div class="form-row">
                <div class="form-group col-md-2">
                  <mat-form-field [style.fontSize]="'12px'" appearance="outline" class="full-width">
                    <mat-label>Job ID</mat-label>
                    <input matInput placeholder="Job ID" formControlName="jobId" />
                  </mat-form-field>
                </div>
                <div class="form-group col-md-2">
                  <!-- <mat-checkbox formControlName="rateStatus">Rate Status</mat-checkbox> -->
                  <mat-form-field [style.fontSize]="'12px'" appearance="outline">
                    <mat-label>Base Station</mat-label>
                    <mat-select formControlName="baseStation">
                      <mat-option [value]="null"></mat-option>
                      <mat-option [value]="station.value" *ngFor="let station of baseStationDropDown">
                        {{ station.value }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>

                <div class="form-group col-md-2">
                  <mat-form-field [style.fontSize]="'12px'" appearance="outline" class="date-time full-width">
                    <mat-label>Start Date</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="start" />
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
                </div>
                <div class="form-group col-md-2">
                  <mat-form-field [style.fontSize]="'12px'" appearance="outline" class="date-time full-width">
                    <mat-label>End Date</mat-label>
                    <input matInput [matDatepicker]="picker1" formControlName="end" />
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                  </mat-form-field>
                </div>
                <!-- <div class="form-group col-md-2">
                  <mat-form-field [style.fontSize]="'12px'" appearance="outline">
                    <mat-label>Reimbursement Status</mat-label>
                    <mat-select formControlName="reimbStatus">
                      <mat-option [value]="null"></mat-option>
                      <mat-option [value]="status.value" *ngFor="let status of reimbursementDropDown">
                        {{ status.value }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div> -->
                <div class="col-2 row-button">
                  <button class="btn btn-sm btn-danger" type="submit">
                    <i class="material-icons">search</i>
                  </button>
                  &nbsp;
                  <button class="btn btn-sm btn-danger" type="button" (click)="clearForm()">
                    <i class="material-icons">clear</i>
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>

      <div class="col-md-12">
        <!-- main form start -->
        <mat-tab-group #tabGroup (selectedTabChange)="tabChanged($event)">
          <!-- Send for reimbursement tab start -->
          <!-- Approve Reimbursement tab start -->
					<mat-tab (click)="showFooterReimburse = false">
						<ng-template mat-tab-label>
							Pending For Approval
						</ng-template>

						<div class="form-row">
							<div class="col-12">
								<div class="card card-plain">
									<div class="card-body job-window">
										<div class="row head-row">
											<div class="col-1"><mat-checkbox (change)="selectAll($event.checked)"> </mat-checkbox></div>
											<div class="col-2">Job ID</div>
											<div class="col-2">Job Status</div>
											<div class="col-2">Reimbursement Status</div>
											<div class="col-2">Job Close Date</div>
											<div class="col-2">Total Expenses</div>
										</div>
										<mat-accordion>
											<mat-expansion-panel
												*ngFor="let items of jobApprovalData"
											>
												<mat-expansion-panel-header
													(keydown.Space)="$event.stopImmediatePropagation()"
												>
													<mat-panel-description
														(click)="$event.stopPropagation()"
													>
														<div class="row details">
															<div class="col-1 detail">
																<span>
																	<mat-checkbox [checked]="items.selected"
																		(change)="
																			addJobForApproval($event.checked, items)
																		"
																	></mat-checkbox>
																</span>
															</div>
															<div class="col-2 detail">
																<span>
																	{{ items?.jobId }}
																</span>
															</div>
															<div class="col-2 detail">
																<span>
																	{{ items?.jobStatus?.value }}
																</span>
															</div>
															<div class="col-2 detail">
																<span>
																	{{ items?.reimbursementStatus?.value }}
																</span>
															</div>
															<div class="col-2 detail">
																<span>
																	{{ items?.endDate }}
																</span>
															</div>
															<div class="col-2 detail">
																<span>
																	{{ items?.reimbursementExpense }}
																</span>
															</div>
														</div>
													</mat-panel-description>
												</mat-expansion-panel-header>

												<!-- rwb table of jobs -->
												<table class="table table-hover">
													<thead>
														<th>RWB ID</th>
														<th>Route</th>
														<th>Tractor</th>
														<th>RWB Status</th>
														<th>RWB Reimbursement Expenses</th>
													</thead>
													<tbody>
														<tr *ngFor="let rwb of items.roadwayBills">
															<td>
																{{ rwb?.rwbId }}
															</td>
															<td>
																{{ rwb?.route?.routeFrom?.code }} -
																{{ rwb.route?.routeTo?.code }}
															</td>
															<td>{{ rwb?.tractorNumber }}</td>
															<td>
																{{ rwb?.rwbStatus?.value }}
															</td>
															<td>
																{{ rwb?.reimbursementExpense }}
															</td>
														</tr>
													</tbody>
												</table>
											</mat-expansion-panel>
										</mat-accordion>
									</div>
								</div>
							</div>
						</div>
					</mat-tab>
          <!-- Approve Reimbursement tab start -->
          <mat-tab (click)="showFooterReimburse = true">
            <ng-template mat-tab-label>
              Approve Reimbursement
            </ng-template>
            <app-reimbursed-data></app-reimbursed-data>
          </mat-tab>
        </mat-tab-group>

        <!-- form footer -->
        <div class="form-navigation">
          <div *ngIf="!showFooterReimburse">
            <button mat-raised-button type="button" class="btn btn-sm" routerLinkActive="router-link-active"
              (click)="getPreviewDocument()">
              Preview
            </button>
            <button mat-raised-button type="button" (click)="sendJobForApproval()" class="btn btn-sm">
              Reimburse Amount
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>