<!-- Create company form component -->
<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">

        <!-- main form start -->
        <form [formGroup]="containerForm" (ngSubmit)="submitContainer()">
          <div class="card-form status-dropdown">
            <div class="form-row d-flex justify-content-between">
              <div class="id-card">
                <p>Container ID # {{containerForm.get('contId').value}}</p>
              </div>
              <div class="col-md-2 form-row">

                <div class="form-group col-12">
                  <mat-form-field [style.fontSize]="'12px'" appearance="outline">
                    <mat-label>Status</mat-label>
                    <mat-select formControlName="status">
                      <mat-option></mat-option>
                      <mat-option value="Active">Active</mat-option>
                      <mat-option value="Inactive">Inactive</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>

              </div>

            </div>
          </div>

          <div class="card">
            <div class="card-body card-form">
              <div class="form-row">
                <div class="form-group col-md-3">
                  <mat-form-field [style.fontSize]="'12px'" appearance="outline">
                    <mat-label>Owner</mat-label>
                    <mat-select formControlName="owner" [compareWith]="compareCompany">
                      <mat-option [value]=null></mat-option>
                      <mat-option *ngFor="let comp of companiesDropDown" [value]="comp">{{comp.companyName}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="form-group col-md-3">
                  <mat-form-field [style.fontSize]="'12px'" appearance="outline">
                    <mat-label>Lease Type</mat-label>
                    <mat-select formControlName="leasetype" [compareWith]="compareDropdownType"
                      (selectionChange)="showSupplier($event.value)">
                      <mat-option [value]=null></mat-option>
                      <mat-option *ngFor="let lease of leaseTypeDropDown" [value]="lease">{{lease.value}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div *ngIf="showSuppField" class="form-group col-md-3">
                  <mat-form-field [style.fontSize]="'12px'" appearance="outline">
                    <mat-label>Supplier</mat-label>
                    <mat-select formControlName="suppId" [compareWith]="compareDropdownType">
                      <mat-option [value]=null></mat-option>
                      <mat-option *ngFor="let supType of supplierDropDown" [value]="supType">
                        {{supType.value}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="form-group col-md-3">
                  <mat-form-field [style.fontSize]="'12px'" appearance="outline">
                    <mat-label>Container Size</mat-label>
                    <mat-select formControlName="containerSize" [compareWith]="compareDropdownType">
                      <mat-option [value]=null></mat-option>
                      <mat-option *ngFor="let contSize of containerSizeDropDown" [value]="contSize">
                        {{contSize.value}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="form-group col-md-3">
                  <mat-form-field [style.fontSize]="'12px'" appearance="outline" class="full-width">
                    <mat-label>Container Make</mat-label>
                    <input matInput formControlName="make" placeholder="Container Make">
                  </mat-form-field>
                </div>
                <div class="form-group col-md-3">
                  <mat-form-field [style.fontSize]="'12px'" appearance="outline" class="full-width">
                    <mat-label>Container Manufacturing Year</mat-label>
                    <input matInput formControlName="year" placeholder="Container Manufacturing Year">
                  </mat-form-field>
                </div>
                <div class="form-group col-md-3">
                  <mat-form-field [style.fontSize]="'12px'" appearance="outline">
                    <mat-label>Purchase Date</mat-label>
                    <input matInput formControlName="purchaseDate" [matDatepicker]="picker" placeholder="Purchase Date">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker touchUi #picker></mat-datepicker>
                  </mat-form-field>
                </div>
                <div class="form-group col-md-3">
                  <mat-form-field [style.fontSize]="'12px'" appearance="outline" class="full-width">
                    <mat-label>Container Number</mat-label>
                    <input matInput formControlName="containerNumber" placeholder="Container Number">
                  </mat-form-field>
                </div>
                <div class="form-group col-md-3">
                  <mat-form-field [style.fontSize]="'12px'" appearance="outline" class="full-width">
                    <mat-label>Weight Capacity</mat-label>
                    <input matInput formControlName="weight" type="number" placeholder="Weight Capacity">
                  </mat-form-field>
                </div>
                <div class="form-group col-md-3">
                  <mat-form-field [style.fontSize]="'12px'" appearance="outline" class="full-width">
                    <mat-label>Weight Unit</mat-label>
                    <input matInput formControlName="weightUnit" placeholder="Weight Capacity">
                  </mat-form-field>
                </div>
                <div class="form-group col-md-3">
                  <mat-form-field [style.fontSize]="'12px'" appearance="outline">
                    <mat-label>Container Type</mat-label>
                    <mat-select formControlName="containerType" [compareWith]="compareDropdownType">
                      <mat-option [value]=null></mat-option>
                      <mat-option *ngFor="let contType of containerTypeDropDown" [value]="contType">
                        {{contType.value}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>




          <div class="form-navigation">
            <div>
              <button mat-raised-button class="btn btn-sm" type="reset" [routerLink]="['/container']"
                routerLinkActive="router-link-active">
                Back
              </button>
            </div>
            <div>
              <button mat-raised-button (click)="deleteContainer()" type="button" class="btn btn-sm"
                routerLinkActive="router-link-active">
                Delete
              </button>
              <button mat-raised-button type="submit" class="btn btn-sm btn-danger"
                routerLinkActive="router-link-active">
                Save
              </button>
            </div>
          </div>
        </form>
        <!-- main form end -->
      </div>
    </div>
  </div>
</div>