<div class="center">
  <div class="img">
    <img src="../../../assets/img/checked.png" alt="">
  </div>
  <div class="title">
    <p>Success</p>
  </div>
  <div class="message">
    <p>{{successMsg}}</p>
  </div>
</div>