.center {
  padding: 32px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  .image {
    img {
      width: 128px;
    }
  }
  .title {
    p {
      margin: 0;
      font-weight: 500;
      font-size: 32px;
      padding: 16px;
    }
  }
  .message {
    p {
      margin: 0;
      font-size: 14px;
    }
  }
}
