<!-- Add Item form component -->
<div class="main-content add-item">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card-form status-dropdown">
          <div class="form-row d-flex justify-content-end">
            <div class="form-group col-md-3">
              <mat-form-field
                [style.fontSize]="'12px'"
                appearance="outline"
                class="full-width"
              >
                <mat-label>Reimbursement Status</mat-label>
                <input matInput disabled placeholder="Reimbursement Status" />
              </mat-form-field>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-body card-form">
            <div class="form-row">
              <div class="form-group col-md-3">
                <mat-form-field
                  [style.fontSize]="'12px'"
                  appearance="outline"
                  class="full-width"
                >
                  <mat-label>Date</mat-label>
                  <input matInput [value]="reimbursedData.reimbursementDate" disabled placeholder="Date" />
                </mat-form-field>
              </div>
              <div class="form-group col-md-3">
                <mat-form-field
                  [style.fontSize]="'12px'"
                  appearance="outline"
                  class="full-width"
                >
                  <mat-label>Reference No.</mat-label>
                  <input matInput [value]="reimbursedData.referenceNumber" disabled placeholder="Reference No." />
                </mat-form-field>
              </div>
              <div class="form-group col-md-3">
                <mat-form-field
                  [style.fontSize]="'12px'"
                  appearance="outline"
                  class="full-width"
                >
                  <mat-label>Amount</mat-label>
                  <input matInput [value]="reimbursedData.reimbursementAmount" disabled placeholder="Amount" />
                </mat-form-field>
              </div>
              <div class="form-group col-md-3">
                <mat-form-field
                  [style.fontSize]="'12px'"
                  appearance="outline"
                  class="full-width"
                >
                  <mat-label>Verified By</mat-label>
                  <input matInput disabled [value]="reimbursedData.reimbursementNote" placeholder="Verified By" />
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>

        <div>
          <table mat-table [dataSource]="dataSource" style="width: 100%;">
            <!-- Job Id Column -->
            <ng-container matColumnDef="jobId">
              <th mat-header-cell *matHeaderCellDef>
                Job Id
              </th>
              <td mat-cell *matCellDef="let element">
                {{ element.jobId }}
              </td>
            </ng-container>

            <!-- Job Status Column -->
            <ng-container matColumnDef="jobStatus">
              <th mat-header-cell *matHeaderCellDef>Job Status</th>
              <td mat-cell *matCellDef="let element">
                {{ element.jobStatus?.value }}
              </td>
            </ng-container>

            <!-- Reimbursement Status Column -->
            <ng-container matColumnDef="reimbStatus">
              <th mat-header-cell *matHeaderCellDef>
                Reimbursement Status
              </th>
              <td mat-cell *matCellDef="let element">
                {{ element.reimbursementStatus?.value }}
              </td>
            </ng-container>

            <!-- Close Date Column -->
            <ng-container matColumnDef="closeDate">
              <th mat-header-cell *matHeaderCellDef>Close Date</th>
              <td mat-cell *matCellDef="let element">
                {{ element.endDate }}
              </td>
            </ng-container>

            <!-- Total Expenses Column -->
            <ng-container matColumnDef="expenses">
              <th mat-header-cell *matHeaderCellDef>Total Expenses</th>
              <td mat-cell *matCellDef="let element">
                {{ element.reimbursementExpense }}
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>

          <mat-paginator
            [pageSizeOptions]="[5, 10, 20]"
            showFirstLastButtons
          ></mat-paginator>
        </div>

        <div class="form-navigation">
          <div>
            <button
              mat-raised-button
              class="btn btn-sm"
              type="reset"
              (click)="goBack()"
              routerLinkActive="router-link-active"
            >
              Back
            </button>
          </div>
          <div>
            <!-- <button
              mat-raised-button
              (click)="deleteItem()"
              type="button"
              class="btn btn-sm"
              routerLinkActive="router-link-active"
            >
              Delete
            </button>
            <button
              mat-raised-button
              type="submit"
              class="btn btn-sm btn-danger"
              routerLinkActive="router-link-active"
            >
              Save
            </button> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
