<div class="main-content add-options">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <!-- Categories start -->
        <div class="card">
          <div class="card-body card-form search-form">
            <form [formGroup]="lookupForm" (ngSubmit)="search()">
              <div class="form-row">
                <div class="form-group col-md-5">
                  <!-- <mat-checkbox formControlName="rateStatus">Rate Status</mat-checkbox> -->
                  <mat-form-field
                    [style.fontSize]="'12px'"
                    appearance="outline"
                  >
                    <mat-label>Category</mat-label>
                    <mat-select formControlName="category">
                      <mat-option [value]="null"></mat-option>
                      <!-- <mat-option [value]="station.value" *ngFor="let station of baseStationDropDown">{{station.value}}
                      </mat-option> -->
                    </mat-select>
                  </mat-form-field>
                </div>

                <div class="form-group col-md-5">
                  <!-- <mat-checkbox formControlName="rateStatus">Rate Status</mat-checkbox> -->
                  <mat-form-field
                    [style.fontSize]="'12px'"
                    appearance="outline"
                  >
                    <mat-label>Dropdown</mat-label>
                    <mat-select formControlName="dropdown">
                      <mat-option [value]="null"></mat-option>
                      <!-- <mat-option [value]="station.value" *ngFor="let station of baseStationDropDown">{{station.value}}
                      </mat-option> -->
                    </mat-select>
                  </mat-form-field>
                </div>

                <div class="col-2 row-button">
                  <button class="btn btn-sm btn-danger" type="submit">
                    <i class="material-icons">search</i>
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>

        <!-- Table start -->
        <div class="mat-elevation-z8">
          <table mat-table [dataSource]="dataSource">
            <!-- Option Name Column -->
            <ng-container matColumnDef="optionName">
              <th mat-header-cell *matHeaderCellDef>Option Name</th>
              <td mat-cell *matCellDef="let element">
                {{ element.optionName }}
              </td>
            </ng-container>

            <!-- Option Code Column -->
            <ng-container matColumnDef="optionCode">
              <th mat-header-cell *matHeaderCellDef>Option Code</th>
              <td mat-cell *matCellDef="let element">
                {{ element.optionCode }}
              </td>
            </ng-container>

            <!-- Action Column -->
            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef>
                <button
                  mat-raised-button
                  type="submit"
                  class="btn btn-sm btn-danger pull-right"
                  routerLinkActive="router-link-active"
                  (click)="openDialog()"
                >
                  <i class="material-icons">add</i>
                  Add Option
                </button>
              </th>
              <td mat-cell *matCellDef="let element"></td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>

          <mat-paginator
            [pageSizeOptions]="[5, 10, 20]"
            showFirstLastButtons
          ></mat-paginator>
        </div>
      </div>
    </div>
  </div>
</div>
