<!-- Create company form component -->
<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">

        <!-- main form start -->
        <form [formGroup]="companyForm" (ngSubmit)="submitCompany()">
          <div class="card-form status-dropdown">
            <div class="form-row d-flex flex-row-reverse">
              <div class="form-group col-md-2">
                <mat-form-field [style.fontSize]="'12px'" appearance="outline">
                  <mat-label>Status</mat-label>
                  <mat-select formControlName="companyStatus">
                    <mat-option></mat-option>
                    <mat-option value="Active">Active</mat-option>
                    <mat-option value="Inactive">Inactive</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
          </div>
          <mat-tab-group>

            <!-- Company tab start -->
            <mat-tab label="Company">

              <!-- main card for Company form -->
              <div class="card">
                <div class="card-body card-form">

                  <!-- first form row -->
                  <div class="form-row">
                    <div class="form-group col-md-3">
                      <mat-form-field [style.fontSize]="'12px'" appearance="outline" class="full-width">
                        <mat-label>Legal Name</mat-label>
                        <input formControlName="legalName" matInput placeholder="Legal Name" />

                      </mat-form-field>
                    </div>
                    <div class="form-group col-md-3">
                      <mat-form-field [style.fontSize]="'12px'" appearance="outline">
                        <mat-label>Formation</mat-label>
                        <mat-select formControlName="formation" [compareWith]="compareDropdownType">
                          <mat-option></mat-option>
                          <mat-option *ngFor="let formationType of formationDropDown" [value]="formationType">
                            {{formationType.value}}</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <!-- <div class="form-group col-3 internal-checkbox">
                      <mat-checkbox>Internal</mat-checkbox>
                    </div> -->

                  </div>

                  <!-- third form row (will be enabled for both company types) -->
                  <div class="form-row">
                    <div class="form-group col-md-3">
                      <mat-form-field [style.fontSize]="'12px'" appearance="outline" class="full-width">
                        <mat-label>NTN Number</mat-label>
                        <input formControlName="ntnNumber" matInput placeholder="NTN Number" type="text">
                      </mat-form-field>
                    </div>
                    <div class="form-group col-md-3">
                      <mat-form-field [style.fontSize]="'12px'" appearance="outline" class="full-width">
                        <mat-label>STRN Number</mat-label>
                        <input formControlName="strnNumber" matInput placeholder="STRN Number" type="text">
                      </mat-form-field>
                    </div>
                    <div class="form-group col-md-3">
                      <mat-form-field [style.fontSize]="'12px'" appearance="outline" class="full-width">
                        <mat-label>SNTN Number</mat-label>
                        <input formControlName="sraNumber" matInput placeholder="SNTN Number" type="text">
                      </mat-form-field>
                    </div>
                    <div class="form-group col-md-3">
                      <mat-form-field [style.fontSize]="'12px'" appearance="outline" class="full-width">
                        <mat-label>PNTN Number</mat-label>
                        <input formControlName="praNumber" matInput placeholder="PNTN Number" type="text">
                      </mat-form-field>
                    </div>
                    <div class="form-group col-md-3">
                      <mat-form-field [style.fontSize]="'12px'" appearance="outline" class="full-width">
                        <mat-label>KNTN Number</mat-label>
                        <input formControlName="kraNumber" matInput placeholder="KNTN Number" type="text">
                      </mat-form-field>
                    </div>
                    <div class="form-group col-md-3">
                      <mat-form-field [style.fontSize]="'12px'" appearance="outline" class="full-width">
                        <mat-label>BNTN Number</mat-label>
                        <input formControlName="braNumber" matInput placeholder="BNTN Number" type="text">
                      </mat-form-field>
                    </div>
                    <div class="form-group col-md-3">
                      <mat-form-field [style.fontSize]="'12px'" appearance="outline" class="full-width">
                        <mat-label>Company Code</mat-label>
                        <input matInput formControlName="companyCode" placeholder="Company Code" type="text">
                      </mat-form-field>
                    </div>
                    <div class="form-group col-md-3">
                      <mat-form-field [style.fontSize]="'12px'" appearance="outline">
                        <mat-label>Business Type</mat-label>
                        <mat-select formControlName="businessType" [compareWith]="compareDropdownType">
                          <!-- <mat-option value=""></mat-option> -->
                          <mat-option></mat-option>
                          <mat-option *ngFor="let busType of businessTypeDropDown" [value]="busType">
                            {{busType.value}}</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Address card -->
              <!-- <div class="form-row no-margin flex-row-reverse">
                <div class="col-2 row-button">
                </div>
              </div> -->
              <div class="card">
                <div class="card-body card-form">
                  <div class="section-heading first">
                    <h4>Address</h4>
                    <!-- <div class="">
                      <button class="btn btn-sm btn-danger" (click)="addNewAddress()" type="button">Add Address</button>
                    </div> -->
                  </div>
                  <div formArrayName="address"
                    *ngFor="let item of companyForm.get('address')['controls']; let i = index;">
                    <div [formGroupName]="i">
                      <br *ngIf="i > 0">
                      <div class="form-row">
                        <div class="form-group col-md-6 order-md-1">
                          <mat-form-field [style.fontSize]="'12px'" appearance="outline" class="full-width">
                            <mat-label>Address Line 1</mat-label>
                            <input formControlName="street1" matInput placeholder="Address Line 1">
                          </mat-form-field>
                        </div>
                        <div class="form-group col-md-6 order-md-5">
                          <mat-form-field [style.fontSize]="'12px'" appearance="outline" class="full-width">
                            <mat-label>Address Line 2</mat-label>
                            <input formControlName="street2" matInput placeholder="Address Line 2">
                          </mat-form-field>
                        </div>
                        <div class="form-group col-md-3 order-md-2">
                          <mat-form-field [style.fontSize]="'12px'" appearance="outline">
                            <mat-label>City</mat-label>
                            <mat-select formControlName="city" [compareWith]="compareDropdownType">
                              <mat-option [value]=null></mat-option>
                              <mat-option *ngFor="let cit of cities" [value]="cit">
                                {{cit.value}}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>
                        <div class="form-group col-md-2 order-md-3">
                          <mat-form-field [style.fontSize]="'12px'" appearance="outline">
                            <mat-label>State</mat-label>
                            <mat-select formControlName="state" [compareWith]="compareDropdownType">
                              <mat-option [value]=null></mat-option>
                              <mat-option *ngFor="let states of stateDropDown" [value]="states">
                                {{states.value}}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>
                        <div class="form-group col-md-1 order-md-4">
                          <mat-form-field [style.fontSize]="'12px'" appearance="outline" class="full-width">
                            <mat-label>Zip</mat-label>
                            <input formControlName="zipCode" matInput placeholder="Zip" type="number">
                          </mat-form-field>
                        </div>
                        <div class="form-group col-md-6 order-md-6">
                          <mat-form-field [style.fontSize]="'12px'" appearance="outline">
                            <mat-label>Country</mat-label>
                            <mat-select formControlName="country">
                              <mat-option [value]=null></mat-option>
                              <mat-option value="Pakistan">Pakistan</mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>
                      </div>
                      <!-- <div class="form-row no-margin flex-row-reverse">
                        <div class="col-2 row-button">
                          <button class="btn btn-sm btn-danger" (click)="deleteAddress(item, i)"
                            type="button">Delete
                            Address</button>
                        </div>
                      </div> -->
                    </div>
                  </div>
                  <div class="section-heading">
                    <h4>Contact Details</h4>
                    <div class="">
                      <button class="btn btn-sm btn-danger" (click)="addNewContact()" type="button">Add Contact</button>
                    </div>
                  </div>
                  <div formArrayName="contact"
                    *ngFor="let item of companyForm.get('contact')['controls']; let j = index;">
                    <div [formGroupName]="j">
                      <div class="form-row">
                        <div class="form-group col-md-2 col-4">
                          <mat-form-field [style.fontSize]="'12px'" appearance="outline" class="full-width">
                            <!-- <input matInput value="phone" readonly> -->
                            <mat-label>Contact Type</mat-label>
                            <mat-select formControlName="channel" [compareWith]="compareDropdownType">
                              <mat-option *ngFor="let chanType of channelTypeDropDown" [value]="chanType">
                                {{chanType.value}}
                              </mat-option>
                            </mat-select>

                          </mat-form-field>
                        </div>
                        <div class="form-group col-md-4 col-8" *ngIf="item.controls.channel.value?.value == 'Mobile'">
                          <mat-form-field [style.fontSize]="'12px'" appearance="outline" class="full-width">
                            <!-- <mat-label>+92 300 000 0000</mat-label> -->
                            <input matInput formControlName="data" type="number">
                            <span matPrefix>+92&nbsp;</span>
                          </mat-form-field>
                        </div>
                        <div class="form-group col-md-4 col-8"
                          *ngIf="item.controls.channel.value?.value !== 'Mobile' && item.controls.channel.value?.value !== 'Email'">
                          <mat-form-field [style.fontSize]="'12px'" appearance="outline" class="full-width">
                            <!-- <mat-label>+92 300 000 0000</mat-label> -->
                            <input matInput formControlName="data">
                          </mat-form-field>
                        </div>
                        <div class="form-group col-md-4 col-8" *ngIf="item.controls.channel.value?.value == 'Email'">
                          <mat-form-field [style.fontSize]="'12px'" appearance="outline" class="full-width">
                            <mat-label>email</mat-label>
                            <input matInput formControlName="data" placeholder="abc1234@example.com" type="email">
                          </mat-form-field>
                        </div>
                        <div class="col-md-4">
                          <button mat-raised-button type="button"
                            class="btn btn-sm btn-danger btn-link btn-sm btn-just-icon"
                            routerLinkActive="router-link-active" *ngIf="j >= channelTypeDropDown?.length"
                            (click)="deleteContact(item, j)">
                            <i class="material-icons">delete</i>
                          </button>

                        </div>
                      </div>
                      <!-- <div class="form-row">
                                      <div class="form-group col-md-2 col-4">
                                        <mat-form-field [style.fontSize]="'12px'" appearance="outline" class="full-width">
                                          <input matInput value="e-mail" readonly>
                                        </mat-form-field>
                                      </div>
                                      <div class="form-group col-md-4 col-8">
                                        <mat-form-field [style.fontSize]="'12px'" appearance="outline" class="full-width">
                                          <mat-label>email</mat-label>
                                          <input formControlName="email" matInput placeholder="jonsnow@example.com" type="email">
                                        </mat-form-field>
                                      </div>
                                    </div> -->
                    </div>
                  </div>
                </div>
              </div>

              <!-- Contact card -->
              <!-- <div class="form-row no-margin flex-row-reverse">
                <div class="col-2 row-button">
                </div>
              </div> -->
            </mat-tab>
            <!-- Company tab end -->

            <!-- Lookup tab Start -->
            <!-- <mat-tab label="Lookup" *ngIf="companyForm.get('companyId').value != ''">

              
              <div class="card">
                <div class="card-body card-form">
                  <div class="form-row">
                    <div class="form-group col-md-10">
                      <mat-form-field [style.fontSize]="'12px'" appearance="outline" class="full-width">
                        <input type="text" placeholder="Pick one" aria-label="Number" matInput [formControl]="myControl"
                          [matAutocomplete]="auto">
                        <mat-autocomplete #auto="matAutocomplete">
                          <mat-option></mat-option>
                          <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                            {{option}}
                          </mat-option>
                        </mat-autocomplete>
                      </mat-form-field>
                    </div>
                    <div class="col-md-2">
                      <button class="full-width" mat-raised-button type="submit" class="btn btn-sm btn-danger"
                        routerLinkActive="router-link-active">
                        Search
                      </button>
                    </div>
                  </div>
                </div>
              </div> -->

              <!-- Lookup table card -->
              <!-- <div class="card">
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table">
                      <thead class=" ">
                        <th>
                          ID
                        </th>
                        <th>
                          Value
                        </th>
                        <th>
                          Status
                        </th>
                      </thead>
                      <tbody>
                        <tr>
                          <td>
                            1
                          </td>
                          <td>
                            Dakota Rice
                          </td>
                          <td>
                            <mat-checkbox></mat-checkbox>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>


            </mat-tab> -->
            <!-- Lookup tab End -->

            
            <!-- Supplier Fuel Rates Start -->
            <mat-tab label="Supplier Fuel Rate" *ngIf="companyForm.get('companyId').value != ''">
              <div class="card">
                <div class="card-body card-form">
                  <div class="form-row">
                    <div class="form-group col-md-4">
                      <mat-form-field [style.fontSize]="'12px'" appearance="outline">
                        <mat-label>Supplier</mat-label>
                        <mat-select formControlName="fuelSupplier">
                          <mat-option></mat-option>
                          <mat-option *ngFor="let supp of supplierDropDown" [value]="supp">
                            {{supp.companyName}}</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div class="form-group col-md-2">
                      <mat-form-field [style.fontSize]="'12px'" appearance="outline">
                        <mat-label>Effective Date</mat-label>
                        <input matInput formControlName="fuelStartDate" [matDatepicker]="picker"
                          placeholder="Effective Date">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker touchUi #picker></mat-datepicker>
                      </mat-form-field>
                    </div>
                    <div class="form-group col-md-2">
                      <mat-form-field [style.fontSize]="'12px'" appearance="outline">
                        <mat-label>Expiry Date</mat-label>
                        <input matInput formControlName="fuelEndDate" [matDatepicker]="apicker" placeholder=" Date">
                        <mat-datepicker-toggle matSuffix [for]="apicker"></mat-datepicker-toggle>
                        <mat-datepicker touchUi #apicker></mat-datepicker>
                      </mat-form-field>
                    </div>
                    <div class="form-group col-md-2">
                      <mat-form-field [style.fontSize]="'12px'" appearance="outline" class="full-width">
                        <mat-label>Fuel Rate/Ltr.</mat-label>
                        <input matInput formControlName="fuelPerLitre" type="number" placeholder="Fuel Rate/Ltr.">
                      </mat-form-field>
                    </div>


                    <div class="form-group col-md-2">
                      <button mat-raised-button class="btn btn-sm btn-danger" type="button" (click)="addFuelRate()"
                        routerLinkActive="router-link-active">
                        Add
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header card-header-danger">
                  <h4 class="card-title ">Supplier Fuel Rates</h4>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table">
                      <thead>
                        <th>Supplier Name</th>
                        <th>Effective Date</th>
                        <th>Expiry Date</th>
                        <th>Fuel Rate/Ltr.</th>
                        <th></th>
                      </thead>
                      <tbody>
                        <tr *ngFor="let fuelData of fuelRates; let k = index">
                          <td>{{fuelData?.supplier.companyName}}</td>
                          <td>{{fuelData?.fuelRates[0].startDate}}</td>
                          <td>{{fuelData?.fuelRates[0].endDate}}</td>
                          <td>Rs. {{fuelData?.fuelRates[0].ratePerLitre}}</td>
                          <td class="td-actions text-right">
                            <button mat-raised-button type="button" (click)="deleteFuelRate(fuelData, k)"
                              class="btn btn-sm btn-danger btn-link btn-sm btn-just-icon">
                              <i class="material-icons btn-red">close</i>
                            </button>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </mat-tab>
            <!-- Supplier Fuel Rates End -->

            <!-- User Registeration Tab Start -->
            <!-- User details commented out - start -->

            <!-- <mat-tab label="User Registeration">
              <div class="card">
                <div class="card-body card-form">
                  <div class="form-row">
                    <div class="form-group col-md-2">
                      <mat-form-field [style.fontSize]="'12px'" appearance="outline" class="full-width">
                        <mat-label>Username</mat-label>
                        <input matInput type="text" placeholder="Username">
                      </mat-form-field>
                    </div>
                    <div class="form-group col-md-2">
                      <mat-form-field [style.fontSize]="'12px'" appearance="outline" class="full-width">
                        <mat-label>Password</mat-label>
                        <input matInput type="password" placeholder="Password">
                      </mat-form-field>
                    </div>
                    <div class="form-group col-md-2">
                      <mat-form-field [style.fontSize]="'12px'" appearance="outline">
                        <mat-label>Employee</mat-label>
                        <mat-select>
                          <mat-option></mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div class="form-group col-md-2">
                      <mat-form-field [style.fontSize]="'12px'" appearance="outline">
                        <mat-label>Role</mat-label>
                        <mat-select>
                          <mat-option></mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div class="form-group col-md-2">
                      <mat-form-field [style.fontSize]="'12px'" appearance="outline">
                        <mat-label>Privileges</mat-label>
                        <mat-select multiple>
                          <mat-option></mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div class="form-group col-md-2">
                      <button mat-raised-button class="btn btn-sm btn-danger" type="submit"
                        routerLinkActive="router-link-active">
                        Add
                      </button>
                    </div>
                  </div>
                </div>
              </div>


              <div class="card">
                <div class="card-header card-header-danger">
                  <h4 class="card-title ">User Details</h4>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table">
                      <thead>
                        <th>Username</th>
                        <th>Role</th>
                        <th>Employee</th>
                        <th>Privileges</th>
                      </thead>
                      <tbody>
                        <tr>
                          <td>name</td>
                          <td>name</td>
                          <td>name</td>
                          <td>name</td>
                          <td class="td-actions text-right">
                            <button mat-raised-button type="button"
                              class="btn btn-sm btn-danger btn-link btn-sm btn-just-icon">
                              <i class="material-icons btn-red">close</i>
                            </button>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>


            </mat-tab> -->
            <!-- User Registeration Tab End -->

            <!-- User details commented out - end -->


          </mat-tab-group>
          <div class="form-navigation">
            <div>
              <button mat-raised-button type="reset" class="btn btn-sm" [routerLink]="['/dashboard']"
                routerLinkActive="router-link-active">
                Back
              </button>
            </div>
            <div>
              <button mat-raised-button class="btn btn-sm" type="button" (click)="deleteCompany()"
                routerLinkActive="router-link-active">
                Delete
              </button>
              <button mat-raised-button type="submit" class="btn btn-sm btn-danger"
                routerLinkActive="router-link-active">
                Save
              </button>
            </div>
          </div>
        </form>
        <!-- main form end -->
      </div>
    </div>
  </div>
</div>