<h2 mat-dialog-title>Add {{displayData}}</h2>
<form [formGroup]="addOptionForm" (ngSubmit)="add()">
  <mat-dialog-content class="mat-typography">
    <div class="form-row">
      <div class="form-group col-md-6">
        <mat-form-field [style.fontSize]="'12px'" appearance="outline">
          <mat-label>{{displayData}} Name</mat-label>
          <input matInput formControlName="name" placeholder="Name" />
        </mat-form-field>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button class="btn btn-sm btn-danger" type="submit">
      <i class="material-icons">add</i>
      Add
    </button>
    <button class="btn btn-sm btn-danger" [mat-dialog-close]="true">
      <i class="material-icons">clear</i>
      Close
    </button>
  </mat-dialog-actions>
</form>