<!-- Create company form component -->
<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">

        <!-- main form start -->
        <form>


          <div class="card">
            <div class="card-body card-form">
              <div class="form-row">
                <div class="form-group col-md-4">
                  <mat-form-field [style.fontSize]="'12px'" appearance="outline">
                    <mat-label>Supplier</mat-label>
                    <mat-select>
                      <mat-option></mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="form-group col-md-2">
                  <mat-form-field [style.fontSize]="'12px'" appearance="outline">
                    <mat-label>Effective Date</mat-label>
                    <input matInput [matDatepicker]="picker" placeholder="Effective Date">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker touchUi #picker></mat-datepicker>
                  </mat-form-field>
                </div>
                <div class="form-group col-md-2">
                  <mat-form-field [style.fontSize]="'12px'" appearance="outline">
                    <mat-label>Expiry Date</mat-label>
                    <input matInput [matDatepicker]="apicker" placeholder=" Date">
                    <mat-datepicker-toggle matSuffix [for]="apicker"></mat-datepicker-toggle>
                    <mat-datepicker touchUi #apicker></mat-datepicker>
                  </mat-form-field>
                </div>
                <div class="form-group col-md-2">
                  <mat-form-field [style.fontSize]="'12px'" appearance="outline" class="full-width">
                    <mat-label>Fuel Rate/Ltr.</mat-label>
                    <input matInput type="number" placeholder="Fuel Rate/Ltr.">
                  </mat-form-field>
                </div>


                <div class="form-group col-md-2">
                  <button mat-raised-button class="btn btn-sm btn-danger" type="submit"
                    routerLinkActive="router-link-active">
                    Add
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header card-header-danger">
              <h4 class="card-title ">Fuel Cards</h4>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table">
                  <thead>
                    <th>Effective Date</th>
                    <th>Expiry Date</th>
                    <th>Fuel Rate/Ltr.</th>
                    <th></th>
                  </thead>
                  <tbody>
                    <tr>
                      <td>01-01-2018</td>
                      <td>31-01-2018</td>
                      <td>80.00</td>
                      <td class="td-actions text-right">
                        <button mat-raised-button type="button"
                          class="btn btn-sm btn-danger btn-link btn-sm btn-just-icon">
                          <i class="material-icons btn-red">close</i>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>


          <div class="form-navigation">
            <div>
              <button mat-raised-button class="btn btn-sm" type="reset" [routerLink]="['/companyContract']"
                routerLinkActive="router-link-active">
                Back
              </button>
            </div>
            <div>
              <button mat-raised-button class="btn btn-sm" type="button"
                routerLinkActive="router-link-active">
                Delete
              </button>
              <button mat-raised-button class="btn btn-sm btn-danger" type="submit"
                routerLinkActive="router-link-active">
                Save
              </button>
            </div>
          </div>
        </form>
        <!-- main form end -->
      </div>
    </div>
  </div>
</div>