.company-type {
  padding-bottom: 8px;
}
.full-width {
  width: 100%;
}
.internal-checkbox {
  padding-top: 20px;
  padding-left: 16px;
  padding-bottom: 0;
}

.document-cards {
  margin: 0;
}

// ::ng-deep .mat-form-field-wrapper {
//   overflow-x: hidden;
// }

.row-button {
  button {
    width: 100%;
  }
}

.no-margin {
  margin-right: 0;
  margin-left: 0;
}
