<!-- Create company form component -->
<div class="main-content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<!-- main form start -->
				<form [formGroup]="addCompanyForm" (ngSubmit)="submitCompany()">
					<div class="card-form status-dropdown">
						<div class="form-row d-flex justify-content-between">
							<div class="id-card">
								<p>Company ID # {{ addCompanyForm.get("companyId").value }}</p>
							</div>
							<div class="form-group col-md-2">
								<mat-form-field [style.fontSize]="'12px'" appearance="outline">
									<mat-label>Status</mat-label>
									<mat-select formControlName="companyStatus">
										<mat-option></mat-option>
										<mat-option value="Active">Active</mat-option>
										<mat-option value="Inactive">Inactive</mat-option>
									</mat-select>
									<mat-error *ngIf="
											addCompanyForm.controls.companyStatus.errors?.required
										">
										Please Select Company Status
									</mat-error>
								</mat-form-field>
							</div>
						</div>
					</div>
					<mat-tab-group>
						<!-- basic info tab start -->
						<mat-tab label="Basic Info">
							<!-- Company or individual radio buttons card -->
							<div class="card">
								<div class="card-body company-type">
									<mat-radio-group aria-label="Business" name="business"
										[ngModelOptions]="{ standalone: true }" [(ngModel)]="companyType">
										<mat-radio-button checked="true" value="Company">Company</mat-radio-button>
										<mat-radio-button value="Individual">Individual</mat-radio-button>
									</mat-radio-group>
								</div>
							</div>

							<!-- main card for basic info form -->
							<div class="card">
								<div class="card-body card-form">
									<!-- first form row (will be enabled when company type is company) -->
									<div class="form-row">
										<div class="form-group col-md-3" *ngIf="companyType == 'Company'">
											<mat-form-field [style.fontSize]="'12px'" appearance="outline"
												class="full-width">
												<mat-label>Company Name</mat-label>
												<input formControlName="legalName" matInput
													placeholder="Company Name" />
												<mat-error *ngIf="
														addCompanyForm.controls.legalName.errors?.required
													">
													Company Name Is Required.
												</mat-error>
											</mat-form-field>
										</div>
										<div class="form-group col-md-3" *ngIf="companyType == 'Individual'">
											<mat-form-field [style.fontSize]="'12px'" appearance="outline"
												class="full-width">
												<mat-label>Full Name</mat-label>
												<input matInput formControlName="fullName" placeholder="Full Name" />
												<mat-error *ngIf="
														addCompanyForm.controls.fullName.errors?.required
													">
													Full Name Required.
												</mat-error>
											</mat-form-field>
										</div>
										<div class="form-group col-md-3">
											<mat-form-field [style.fontSize]="'12px'" appearance="outline">
												<mat-label>Formation</mat-label>
												<mat-select formControlName="formation"
													[compareWith]="compareDropdownType">
													<mat-option [value]="null"></mat-option>
													<mat-option *ngFor="let formationType of formationDropDown"
														[value]="formationType">
														{{ formationType.value }}</mat-option>
												</mat-select>
											</mat-form-field>
										</div>
									</div>

									<!-- Second form row (will be enabled for both company types) -->
									<div class="form-row">
										<div class="form-group col-md-3">
											<mat-form-field [style.fontSize]="'12px'" appearance="outline"
												class="full-width">
												<mat-label>NTN Number</mat-label>
												<input formControlName="ntnNumber" matInput placeholder="NTN Number"
													type="text" />
											</mat-form-field>
										</div>
										<div class="form-group col-md-3">
											<mat-form-field [style.fontSize]="'12px'" appearance="outline"
												class="full-width">
												<mat-label>STRN Number</mat-label>
												<input formControlName="strnNumber" matInput placeholder="STRN Number"
													type="text" />
											</mat-form-field>
										</div>
										<div class="form-group col-md-3">
											<mat-form-field [style.fontSize]="'12px'" appearance="outline"
												class="full-width">
												<mat-label>SNTN Number</mat-label>
												<input formControlName="sraNumber" matInput placeholder="SNTN Number"
													type="text" />
											</mat-form-field>
										</div>
										<div class="form-group col-md-3">
											<mat-form-field [style.fontSize]="'12px'" appearance="outline"
												class="full-width">
												<mat-label>PNTN Number</mat-label>
												<input formControlName="praNumber" matInput placeholder="PNTN Number"
													type="text" />
											</mat-form-field>
										</div>
										<div class="form-group col-md-3">
											<mat-form-field [style.fontSize]="'12px'" appearance="outline"
												class="full-width">
												<mat-label>KNTN Number</mat-label>
												<input formControlName="kraNumber" matInput placeholder="KNTN Number"
													type="text" />
											</mat-form-field>
										</div>
										<div class="form-group col-md-3">
											<mat-form-field [style.fontSize]="'12px'" appearance="outline"
												class="full-width">
												<mat-label>BNTN Number</mat-label>
												<input formControlName="braNumber" matInput placeholder="BNTN Number"
													type="text" />
											</mat-form-field>
										</div>
										<div class="form-group col-md-3">
											<mat-form-field [style.fontSize]="'12px'" appearance="outline"
												class="full-width">
												<mat-label>Company Code</mat-label>
												<input matInput formControlName="companyCode" placeholder="Company Code"
													type="text" />
											</mat-form-field>
										</div>
										<div class="form-group col-md-3">
											<mat-form-field [style.fontSize]="'12px'" appearance="outline">
												<mat-label>Business Type</mat-label>
												<mat-select formControlName="businessType"
													[compareWith]="compareDropdownType"
													(selectionChange)="showSupplierTypes($event.value)">
													<!-- <mat-option value=""></mat-option> -->
													<mat-option [value]="null"></mat-option>
													<mat-option *ngFor="let busType of businessTypeDropDown"
														[value]="busType">
														{{ busType.value }}</mat-option>
												</mat-select>
												<mat-error *ngIf="
														addCompanyForm.controls.businessType.errors
															?.required
													">
													Please Select Business Type.
												</mat-error>
											</mat-form-field>
										</div>

										<!-- supplier type dropdown (will be enabled if business type is supplier) -->
										<div class="form-group col-md-3" *ngIf="showSupplierType">
											<mat-form-field [style.fontSize]="'12px'" appearance="outline">
												<mat-label>Supplier Type</mat-label>
												<mat-select formControlName="supplyType"
													[compareWith]="compareDropdownType">
													<mat-option [value]="null"></mat-option>
													<mat-option *ngFor="let supType of supplierDropDown"
														[value]="supType">
														{{ supType.value }}</mat-option>
												</mat-select>
											</mat-form-field>
										</div>
									</div>
								</div>
							</div>

							<!-- Address card -->
							<!-- <div class="form-row no-margin flex-row-reverse">
                <div class="col-2 row-button">
                </div>
              </div> -->
							<div class="card">
								<div class="card-body card-form">
									<div class="section-heading first">
										<h4>Address</h4>
										<!-- <div class="">
                      <button class="btn btn-sm btn-danger" (click)="addNewAddress()" type="button">Add Address</button>
                    </div> -->
									</div>
									<div formArrayName="address" *ngFor="
											let item of addCompanyForm.get('address')['controls'];
											let i = index
										">
										<div [formGroupName]="i">
											<br *ngIf="i > 0" />
											<div class="form-row">
												<div class="form-group col-md-6 order-md-1">
													<mat-form-field [style.fontSize]="'12px'" appearance="outline"
														class="full-width">
														<mat-label>Address Line 1</mat-label>
														<input formControlName="street1" matInput
															placeholder="Address Line 1" />
													</mat-form-field>
												</div>
												<div class="form-group col-md-6 order-md-5">
													<mat-form-field [style.fontSize]="'12px'" appearance="outline"
														class="full-width">
														<mat-label>Address Line 2</mat-label>
														<input formControlName="street2" matInput
															placeholder="Address Line 2" />
													</mat-form-field>
												</div>
												<div class="form-group col-md-3 order-md-2">
													<mat-form-field [style.fontSize]="'12px'" appearance="outline">
														<mat-label>City</mat-label>
														<mat-select formControlName="city"
															[compareWith]="compareDropdownType">
															<mat-option [value]="null"></mat-option>
															<mat-option *ngFor="let cities of cityDropDown"
																[value]="cities">
																{{ cities.value }}
															</mat-option>
														</mat-select>
													</mat-form-field>
												</div>
												<div class="form-group col-md-2 order-md-3">
													<mat-form-field [style.fontSize]="'12px'" appearance="outline">
														<mat-label>State</mat-label>
														<mat-select formControlName="state"
															[compareWith]="compareDropdownType">
															<mat-option [value]="null"></mat-option>
															<mat-option *ngFor="let states of stateDropDown"
																[value]="states">
																{{ states.value }}
															</mat-option>
														</mat-select>
													</mat-form-field>
												</div>
												<div class="form-group col-md-1 order-md-4">
													<mat-form-field [style.fontSize]="'12px'" appearance="outline"
														class="full-width">
														<mat-label>Zip</mat-label>
														<input formControlName="zipCode" matInput placeholder="Zip"
															type="number" />
													</mat-form-field>
												</div>
												<div class="form-group col-md-6 order-md-6">
													<mat-form-field [style.fontSize]="'12px'" appearance="outline">
														<mat-label>Country</mat-label>
														<mat-select formControlName="country">
															<mat-option></mat-option>
															<mat-option value="Pakistan">Pakistan</mat-option>
														</mat-select>
													</mat-form-field>
												</div>
											</div>
											<!-- <div class="form-row no-margin flex-row-reverse">
                        <div class="col-2 row-button">
                          <button class="btn btn-sm btn-danger" (click)="deleteAddress(item, i)" type="button">Delete
                            Address</button>
                        </div>
                      </div> -->
										</div>
									</div>
									<div class="section-heading">
										<h4>Contact Details</h4>
										<div class="">
											<button class="btn btn-sm btn-danger" (click)="addNewContact()"
												type="button">
												Add Contact
											</button>
										</div>
									</div>
									<div formArrayName="contact" *ngFor="
											let item of addCompanyForm.get('contact')['controls'];
											let j = index
										">
										<div [formGroupName]="j">
											<div class="form-row">
												<div class="form-group col-md-2 col-4">
													<mat-form-field [style.fontSize]="'12px'" appearance="outline"
														class="full-width">
														<!-- <input matInput value="phone" readonly> -->
														<mat-label>Contact Type</mat-label>
														<mat-select formControlName="channel"
															[compareWith]="compareDropdownType">
															<mat-option *ngFor="let chanType of channelTypeDropDown"
																[value]="chanType">
																{{ chanType.value }}
															</mat-option>
														</mat-select>
														<!-- <mat-error *ngIf="addCompanyForm.controls.businessType.errors?.required">
                                              Please Select Business Type.
                                            </mat-error> -->
													</mat-form-field>
												</div>
												<div class="form-group col-md-4 col-8"
													*ngIf="item.controls.channel.value?.value == 'Mobile'">
													<mat-form-field [style.fontSize]="'12px'" appearance="outline"
														class="full-width">
														<!-- <mat-label>+92 300 000 0000</mat-label> -->
														<input matInput formControlName="data" type="number" />
														<span matPrefix>+92&nbsp;</span>
													</mat-form-field>
												</div>
												<div class="form-group col-md-4 col-8" *ngIf="
														item.controls.channel.value?.value !== 'Mobile' &&
														item.controls.channel.value?.value !== 'Email'
													">
													<mat-form-field [style.fontSize]="'12px'" appearance="outline"
														class="full-width">
														<!-- <mat-label>+92 300 000 0000</mat-label> -->
														<input matInput formControlName="data" />
													</mat-form-field>
												</div>
												<div class="form-group col-md-4 col-8"
													*ngIf="item.controls.channel.value?.value == 'Email'">
													<mat-form-field [style.fontSize]="'12px'" appearance="outline"
														class="full-width">
														<mat-label>email</mat-label>
														<input matInput formControlName="data"
															placeholder="abc1234@example.com" type="email" />
													</mat-form-field>
												</div>
												<div class="col-md-4">
													<button mat-raised-button type="button"
														class="btn btn-sm btn-danger btn-link btn-sm btn-just-icon"
														routerLinkActive="router-link-active"
														*ngIf="j >= channelTypeDropDown?.length"
														(click)="deleteContact(item, j)">
														<i class="material-icons">delete</i>
													</button>
												</div>
											</div>
											<!-- <div class="form-row">
                                      <div class="form-group col-md-2 col-4">
                                        <mat-form-field [style.fontSize]="'12px'" appearance="outline" class="full-width">
                                          <input matInput value="e-mail" readonly>
                                        </mat-form-field>
                                      </div>
                                      <div class="form-group col-md-4 col-8">
                                        <mat-form-field [style.fontSize]="'12px'" appearance="outline" class="full-width">
                                          <mat-label>email</mat-label>
                                          <input formControlName="email" matInput placeholder="jonsnow@example.com" type="email">
                                        </mat-form-field>
                                      </div>
                                    </div> -->
										</div>
									</div>
								</div>
							</div>

							<!-- Contact card -->
							<!-- <div class="form-row no-margin flex-row-reverse">
                <div class="col-2 row-button">
                </div>
              </div> -->
							<!-- <div class="card">
                <div class="card-body card-form">

                </div>
              </div> -->
						</mat-tab>
						<!-- Basic info tab end -->

						<!-- Document Upload tab Start -->
						<mat-tab label="Documents">
							<div class="card">
								<div class="card-body card-form">
									<div class="form-row">
										<div class="form-group col-md-4">
											<mat-form-field [style.fontSize]="'12px'" appearance="outline">
												<mat-label>Document Type</mat-label>
												<mat-select>
													<mat-option></mat-option>
													<mat-option value="feul">Feul Supplier</mat-option>
													<mat-option value="truck">Truck Manufacturer</mat-option>
													<mat-option value="trailer">Trailer Manufacturer</mat-option>
													<mat-option value="pakistan">Pakistan</mat-option>
													<mat-option value="spareParts">Spare Parts</mat-option>
													<mat-option value="container">Container Supplier</mat-option>
													<mat-option value="tire">Tire Supplier</mat-option>
													<mat-option value="maintenance">Maintenance</mat-option>
													<mat-option value="washing">Washing</mat-option>
												</mat-select>
											</mat-form-field>
										</div>
										<div class="form-group col-md-4">
											<mat-form-field [style.fontSize]="'12px'" appearance="outline">
												<mat-label>Document</mat-label>
												<ngx-mat-file-input placeholder="Document"></ngx-mat-file-input>
												<i class="material-icons" matSuffix>folder</i>
											</mat-form-field>
										</div>
										<div class="col-md-4">
											<button mat-raised-button class="btn btn-sm btn-danger"
												routerLinkActive="router-link-active">
												Add
											</button>
										</div>
									</div>
								</div>
							</div>
							<div class="row document-cards">
								<div *ngFor="let document of documents" class="col-md-4">
									<div class="card card-chart">
										<div class="card-header card-header-danger">
											<p>{{ document.title }}</p>
										</div>
										<div class="card-body card-form">
											<img *ngIf="document.type == 'img'" [src]="document.file" alt="" />
										</div>
										<!-- <div class="card-footer">

                    </div> -->
									</div>
								</div>
							</div>
						</mat-tab>
						<!-- Document Upload tab End -->
					</mat-tab-group>
					<div class="form-navigation">
						<div>
							<button mat-raised-button type="reset" class="btn btn-sm" [routerLink]="['/companies']"
								routerLinkActive="router-link-active">
								Back
							</button>
						</div>
						<div>
							<button mat-raised-button class="btn btn-sm" type="button" (click)="deleteCompany()"
								routerLinkActive="router-link-active">
								Delete
							</button>
							<button mat-raised-button type="submit" class="btn btn-sm btn-danger"
								routerLinkActive="router-link-active">
								Save
							</button>
						</div>
					</div>
				</form>
				<!-- main form end -->
			</div>
		</div>
	</div>
</div>