<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <button
          mat-raised-button
          type="submit"
          class="btn btn-sm btn-danger pull-right"
          [routerLink]="['/container/add']"
          routerLinkActive="router-link-active"
        >
          <i class="material-icons">add</i>
          Add Container
        </button>
      </div>
      <div class="col-md-12">
        <div class="card">
          <div class="card-body card-form search-form">
            <form [formGroup]="form" (ngSubmit)="search()">
              <div class="form-row">
                <div class="form-group col-md-1">
                  <mat-form-field
                    [style.fontSize]="'12px'"
                    appearance="outline"
                    class="full-width"
                  >
                    <mat-label>Job ID</mat-label>
                    <input
                      matInput
                      placeholder="Job ID"
                      formControlName="jobId"
                    />
                  </mat-form-field>
                </div>
                <div class="form-group col-md-1">
                  <mat-form-field
                    [style.fontSize]="'12px'"
                    appearance="outline"
                    class="full-width"
                  >
                    <mat-label>RWB ID</mat-label>
                    <input
                      matInput
                      placeholder="RWB ID"
                      formControlName="rwbId"
                    />
                  </mat-form-field>
                </div>
                <div class="form-group col-md-2">
                  <!-- <mat-checkbox formControlName="rateStatus">Rate Status</mat-checkbox> -->
                  <mat-form-field
                    [style.fontSize]="'12px'"
                    appearance="outline"
                  >
                    <mat-label>Ownership</mat-label>
                    <mat-select formControlName="ownerShipStatus">
                      <mat-option value=""></mat-option>
                      <mat-option value="false">Owned</mat-option>
                      <mat-option value="true">Rental</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="form-group col-md-1">
                  <mat-form-field
                    [style.fontSize]="'12px'"
                    appearance="outline"
                    class="full-width"
                  >
                    <mat-label>Number Plate</mat-label>
                    <input
                      matInput
                      placeholder="Number Plate"
                      formControlName="lic"
                    />
                  </mat-form-field>
                </div>
                <div class="form-group col-md-2">
                  <mat-form-field
                    [style.fontSize]="'12px'"
                    appearance="outline"
                    class="date-time full-width"
                  >
                    <mat-label>Start Date</mat-label>
                    <input
                      matInput
                      [matDatepicker]="picker"
                      formControlName="start"
                    />
                    <mat-datepicker-toggle
                      matSuffix
                      [for]="picker"
                    ></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
                </div>
                <div class="form-group col-md-2">
                  <mat-form-field
                    [style.fontSize]="'12px'"
                    appearance="outline"
                    class="date-time full-width"
                  >
                    <mat-label>End Date</mat-label>
                    <input
                      matInput
                      [matDatepicker]="picker1"
                      formControlName="end"
                    />
                    <mat-datepicker-toggle
                      matSuffix
                      [for]="picker1"
                    ></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                  </mat-form-field>
                </div>
                <div class="form-group col-md-1">
                  <!-- <mat-checkbox formControlName="rateStatus">Rate Status</mat-checkbox> -->
                  <mat-form-field
                    [style.fontSize]="'12px'"
                    appearance="outline"
                  >
                    <mat-label>Job Status</mat-label>
                    <mat-select formControlName="jobStatus">
                      <mat-option value=""></mat-option>
                      <mat-option value="Open">Open</mat-option>
                      <mat-option value="Close">Close</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-2 row-button">
                  <button class="btn btn-sm btn-danger" type="submit">
                    <i class="material-icons">search</i>
                  </button>
                  &nbsp;
                  <button
                    class="btn btn-sm btn-danger"
                    type="button"
                    (click)="ClearForm()"
                  >
                    <i class="material-icons">clear</i>
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <div class="">
              <form class="navbar-form">
                <div class="input-group no-border">
                  <input
                    type="text"
                    class="form-control"
                    matInput
                    (keyup)="applyFilter($event.target.value)"
                    placeholder="Search..."
                  />
                </div>
              </form>
            </div>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table
                mat-table
                [dataSource]="dataSource"
                class="mat-elevation-z8"
              >
                <!-- Position Column -->
                <ng-container matColumnDef="name">
                  <th mat-header-cell *matHeaderCellDef>Container Number</th>
                  <td
                    mat-cell
                    (click)="findContainerById(container)"
                    *matCellDef="let container"
                  >
                    {{ container.containerNumber }}
                  </td>
                  <td
                    mat-footer-cell
                    *matFooterCellDef
                    colspan="4"
                    class="footer-cell"
                  >
                    No Container Found.
                  </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="businessType">
                  <th mat-header-cell *matHeaderCellDef>Container Size</th>
                  <td
                    mat-cell
                    (click)="findContainerById(container)"
                    *matCellDef="let container"
                  >
                    {{ container.containerSize.value }}
                  </td>
                  <td mat-footer-cell *matFooterCellDef class="no-display"></td>
                </ng-container>

                <!-- Weight Column -->
                <ng-container matColumnDef="address">
                  <th mat-header-cell *matHeaderCellDef>Lease Type</th>
                  <td
                    mat-cell
                    (click)="findContainerById(container)"
                    *matCellDef="let container"
                  >
                    {{ container.leaseType.value }}
                  </td>
                  <td mat-footer-cell *matFooterCellDef class="no-display"></td>
                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="verified">
                  <th mat-header-cell *matHeaderCellDef>Container Weight</th>
                  <td
                    mat-cell
                    (click)="findContainerById(container)"
                    *matCellDef="let container"
                  >
                    {{ container.containerWeight }}
                  </td>
                  <td mat-footer-cell *matFooterCellDef class="no-display"></td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr
                  mat-row
                  *matRowDef="let row; columns: displayedColumns"
                ></tr>
                <tr
                  mat-footer-row
                  *matFooterRowDef="displayedColumns"
                  [hidden]="dataSource && dataSource.data.length > 0"
                ></tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
