<div class="payment-info">
  <table mat-table [dataSource]="dataSource">
    <!-- Payment Date Column -->
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef>Payment Date</th>
      <td mat-cell *matCellDef="let element">{{ element.paymentDate }}</td>
    </ng-container>

    <!-- Reference No. Column -->
    <ng-container matColumnDef="refNo">
      <th mat-header-cell *matHeaderCellDef>Reference No.</th>
      <td mat-cell *matCellDef="let element">{{ element.referenceNumber }}</td>
    </ng-container>

    <!-- Total Amount Column -->
    <ng-container matColumnDef="amount">
      <th mat-header-cell *matHeaderCellDef>Total Amount</th>
      <td mat-cell *matCellDef="let element">{{ element.paymentAmount }}</td>
    </ng-container>

    <!-- Verified By Column -->
    <ng-container matColumnDef="verifiedBy">
      <th mat-header-cell *matHeaderCellDef>Verified By</th>
      <td mat-cell *matCellDef="let element">{{ element.paymentNote }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator
    [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons
  ></mat-paginator>
</div>
