<!----EXPENCE TABLE START --------->
<form [formGroup]="financialForm">
<div class="form-row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header card-header-danger header-buttons">
        <h4 class="card-title">Expenses</h4>
        <div class="form-row d-flex flex-row-reverse">
          <button (click)="addExpense()" mat-raised-button class="btn btn-sm" type="button"
            routerLinkActive="router-link-active">
            <i class="material-icons">add</i> Add Expense
          </button>
        </div>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class=" ">
              <th>
                Expense Type
              </th>
              <th>
                Description
              </th>
              <th>
                Amount
              </th>
              <th>Action</th>
            </thead>
            <tbody>
              <tr formArrayName="expenseList" *ngFor="
                    let expense of financialForm.get(
                      'expenseList'
                    )['controls'];
                    let z = index
                  ">
                <td [formGroupName]="z">
                  <span *ngIf="!expense.value.editable">{{
                      expense.value?.expenseType?.value
                    }}</span>
                  <span *ngIf="expense.value.editable">
                    <mat-form-field [style.fontSize]="'12px'" style="width: 117px;" appearance="outline">
                      <mat-label>Category</mat-label>
                      <mat-select formControlName="expenseType" [compareWith]="compareDropdownType">
                        <mat-option></mat-option>
                        <mat-option *ngFor="let exp of expenseTypeDropDown" [value]="exp">
                          {{ exp.value }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </span>
                </td>
                <td [formGroupName]="z">
                  <span *ngIf="!expense.value.editable">{{
                      expense.value.description
                    }}</span>
                  <span *ngIf="expense.value.editable">
                    <mat-form-field [style.fontSize]="'12px'" style="width: 117px;" appearance="outline"
                      class="editable-form-field">
                      <input matInput formControlName="description" placeholder="Description" />
                    </mat-form-field>
                  </span>
                </td>
                <td [formGroupName]="z">
                  <span *ngIf="!expense.value.editable">{{
                      expense.value.amount
                    }}</span>
                  <span *ngIf="expense.value.editable">
                    <mat-form-field [style.fontSize]="'12px'" style="width: 117px;" appearance="outline"
                      class="editable-form-field">
                      <input matInput formControlName="amount" placeholder="Amount" />
                    </mat-form-field>
                  </span>
                </td>
                <td [formGroupName]="z">
                  <span>
                    <button *ngIf="expense.value.editable" mat-raised-button type="button"
                      class="btn btn-sm btn-danger btn-link btn-sm btn-just-icon" routerLinkActive="router-link-active"
                      (click)="saveExpense(z)">
                      <i class="material-icons">save</i>
                    </button>
                    <button *ngIf="!expense.value.editable" mat-raised-button type="button"
                      class="btn btn-sm btn-danger btn-link btn-sm btn-just-icon" routerLinkActive="router-link-active"
                      (click)="makeExpenseEditable(expense, z)">
                      <i class="material-icons">edit</i>
                    </button>
                    <button mat-raised-button type="button" class="btn btn-sm btn-danger btn-link btn-sm btn-just-icon"
                      routerLinkActive="router-link-active" (click)="
                          removeExpense(expense.value.expenseId, z)
                        ">
                      <i class="material-icons">delete</i>
                    </button>
                  </span>
                </td>
              </tr>
              <!-- <tr>
                  <th>Total Expense</th>
                  <td>Rs. 4000/-</td>
                </tr> -->
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <!--INCOMES TAB START-->
  <div class="col-md-12">
    <div class="card">
      <div class="card-header card-header-danger header-buttons">
        <h4 class="card-title">Income</h4>
        <div class="form-row d-flex flex-row-reverse">
          <button (click)="addIncome()" mat-raised-button class="btn btn-sm" type="button"
            routerLinkActive="router-link-active">
            <i class="material-icons">add</i> Add Income
          </button>
        </div>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class=" ">
              <th>
                Income Type
              </th>
              <th>
                Description
              </th>
              <th>
                Amount
              </th>
              <th>Action</th>
            </thead>
            <tbody>
              <tr formArrayName="incomeList" *ngFor="
                    let income of financialForm.get('incomeList')[
                      'controls'
                    ];
                    let k = index
                  ">
                <td [formGroupName]="k">
                  <span *ngIf="!income.value.editable">{{
                      income.value?.incomeType?.value
                    }}</span>
                  <span *ngIf="income.value.editable">
                    <mat-form-field [style.fontSize]="'12px'" style="width: 117px;" appearance="outline">
                      <mat-label>Category</mat-label>
                      <mat-select formControlName="incomeType" [compareWith]="compareDropdownType">
                        <mat-option></mat-option>
                        <mat-option *ngFor="let inc of incomeTypeDropDown" [value]="inc">
                          {{ inc.value }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </span>
                </td>
                <td [formGroupName]="k">
                  <span *ngIf="!income.value.editable">{{
                      income.value.description
                    }}</span>
                  <span *ngIf="income.value.editable">
                    <mat-form-field [style.fontSize]="'12px'" style="width: 117px;" appearance="outline"
                      class="editable-form-field">
                      <input matInput formControlName="description" placeholder="Description" />
                    </mat-form-field>
                  </span>
                </td>
                <td [formGroupName]="k">
                  <span *ngIf="!income.value.editable">{{
                      income.value.amount
                    }}</span>
                  <span *ngIf="income.value.editable">
                    <mat-form-field [style.fontSize]="'12px'" style="width: 117px;" appearance="outline"
                      class="editable-form-field">
                      <input matInput formControlName="amount" placeholder="Amount" />
                    </mat-form-field>
                  </span>
                </td>
                <td [formGroupName]="k">
                  <span>
                    <button *ngIf="income.value.editable" mat-raised-button type="button"
                      class="btn btn-sm btn-danger btn-link btn-sm btn-just-icon" routerLinkActive="router-link-active"
                      (click)="saveIncome(k)">
                      <i class="material-icons">save</i>
                    </button>
                    <button *ngIf="!income.value.editable" mat-raised-button type="button"
                      class="btn btn-sm btn-danger btn-link btn-sm btn-just-icon" routerLinkActive="router-link-active"
                      (click)="makeIncomeEditable(income, k)">
                      <i class="material-icons">edit</i>
                    </button>
                    <button mat-raised-button type="button" class="btn btn-sm btn-danger btn-link btn-sm btn-just-icon"
                      routerLinkActive="router-link-active" (click)="
                          removeIncome(income.value.incomeId, k)
                        ">
                      <i class="material-icons">delete</i>
                    </button>
                  </span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <!--INCOMES TAB END-->
</div>
<div class="form-row d-flex flex-row-reverse">
  <div class="col-md-6">
    <div class="card tally-card">
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <tbody>
              <!-- <tr>
                  <th>Total Income</th>
                  <td>Rs. {{financialForm.get('totalIncome').value}}/-</td>
                </tr> -->
              <tr>
                <th>Total Expense</th>
                <td>
                  Rs.
                  {{
                    financialForm.get("totalExpense").value
                    }}/-
                </td>
              </tr>
              <!-- <tr>
                  <th>Gross Profit/Loss</th>
                  <td>Rs. {{financialForm.get('netIncome').value}}/-</td>
                </tr> -->
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
</form>
<!---------Financials tab End ------------->