::ng-deep .add-job-form {
    .mat-tab-group {
      .mat-tab-body-wrapper {
        .mat-tab-body {
          .mat-tab-body-content {
            & > .form-row {
              margin: 0;
              & > .form-group {
                .mat-form-field {
                  .mat-form-field-wrapper {
                    padding-bottom: 0;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  
  .routes-type {
    padding-bottom: 8px;
    padding-top: 12px;
    padding-right: 17px;
    padding-left: 17px;
  }
  
  .full-width {
    width: 100% !important;
  }
  
  .checkbox-padding {
    padding-top: 12px;
    text-align: right;
    padding-right: 24px;
  }
  
  .job-info {
    margin: 16px 5px;
  }
  
  .id-card {
    margin-top: -20px;
    display: inline-block;
  }
  
  ::ng-deep .header-buttons {
    display: flex;
    justify-content: space-between;
    .form-row {
      button {
        margin-left: 10px !important;
        color: #3c4858 !important;
        background-color: #fff !important;
      }
    }
  }
  
  .form-row-stops {
    margin-bottom: 30px !important;
    .card-stops {
      margin-bottom: 12px !important;
    }
  }
  
  .table-responsive:not(.progress-table) {
    .table {
      tr {
        td {
          padding: 0 !important;
        }
      }
    }
  }
  
  .tally-card {
    margin: 0 !important;
    .table {
      margin-bottom: 0 !important;
      tbody {
        tr {
          th {
            padding: 0 !important;
          }
          &:first-child {
            th {
              border-top: 0;
            }
          }
        }
      }
    }
  }
  
  .progress-card {
    display: flex;
    .progress-timeline {
      width: 64px;
      svg {
        width: 64px;
        height: 100%;
        line {
          stroke: rgba($color: #000000, $alpha: 0.6);
          &.line-one {
            stroke: rgba($color: #000000, $alpha: 0);
          }
        }
        circle {
          fill: rgba($color: #000000, $alpha: 1);
        }
      }
    }
    .responsive-table {
      width: calc(100% - 64px);
    }
  }
  
  .grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 10px;
    .div1 {
      grid-area: 1 / 1 / 2 / 2;
    }
    .div2 {
      grid-area: 1 / 2 / 2 / 3;
    }
    .div3 {
      grid-area: 1 / 3 / 2 / 4;
    }
    .div4 {
      grid-area: 1 / 4 / 2 / 5;
    }
    .div5 {
      grid-area: 1 / 5 / 2 / 6;
    }
    // div {
  
    // }
  }
  
  .info-card {
    .title {
      font-size: 1.5em;
      font-weight: 500;
      margin-bottom: 8px;
    }
    .detail {
      margin-bottom: 0;
      .detail-title {
        font-weight: 500;
      }
    }
    .main {
      font-size: 1.5em;
      font-weight: 500;
      margin-bottom: 8px;
    }
  }
  
  ::ng-deep .close-button-negative {
    margin-top: -10px;
  }
  
  .flex-rental-row {
    display: flex;
    justify-content: space-around;
  }
  .margin-top-small {
    margin-top: 10px !important;
  }
  .no-margin-top {
    margin-top: 0 !important;
  }
  .add-progress-card {
    margin-bottom: 0;
    overflow: hidden;
    transition: 0.9s;
  }
  .closed-progress-card {
    height: 0;
  }
  .opened-progress-card {
    height: auto;
  }
  ::ng-deep .textarea {
    padding-bottom: 0 !important;
    .mat-form-field-wrapper {
      padding-bottom: 0 !important;
    }
  }
  
  ::ng-deep .mat-expansion-panel-header-description {
    display: flex;
    justify-content: space-around;
  }
  .disable-clicks {
    pointer-events: none;
    opacity: 0.7;
  }
  .no-display {
    display: none;
  }
  
  .asset-body {
    .asset-row {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      & > div {
        width: 19%;
        background-color: #fff;
        // box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
        border-radius: 5px;
        // border: 1px solid #aeaeae;
        .card {
          height: 100%;
          box-shadow: none;
          padding-right: 15px;
          padding-left: 15px;
        }
        // padding: 0 5px;
        // &:first-child{
        //   padding-left: 10px;
        // }
        // &:last-child{
        //   padding-right: 10px;
        // }
      }
    }
  }
  
  ::ng-deep .asset-card {
    margin-top: 0;
    margin-bottom: 20px;
    .card-body {
      .card-title {
        .id {
          margin-bottom: 8px;
          .mat-form-field {
            width: calc(100% - 20px) !important;
            .mat-form-field-wrapper {
              margin: 0 !important;
              padding-bottom: 0 !important;
            }
          }
        }
        .id-title {
          font-size: 1.5em;
          font-weight: 500;
          margin-bottom: 8px;
        }
        .title {
          margin-bottom: 0;
          span {
            font-weight: 500;
          }
        }
        .detail {
          margin-bottom: 0;
          span {
            font-weight: 500;
          }
        }
      }
      .asset-check {
        position: absolute;
        top: 28px;
        right: 0;
      }
    }
  }
  ::ng-deep .header-fields {
    display: flex;
    justify-content: space-between;
    .form-row {
      .form-group {
        width: 500px;
        padding-bottom: 0 !important;
        .mat-form-field-wrapper {
          background: #fff;
          border-radius: 5px;
          padding-bottom: 0 !important;
        }
      }
    }
  }
  .light-btn {
    color: #3c4858 !important;
    background-color: #fff !important;
  }
  .no-display {
    display: none;
    overflow: hidden;
  }
  
  .section-heading {
    &.rwb-details {
      margin-top: 16px;
    }
    .right-actions {
      justify-content: flex-end;
      button {
        height: 42px;
      }
    }
  }
  