<!-- Add Vendor form component -->
<div class="main-content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<!-- main form start -->
				<form [formGroup]="addVendorForm" (ngSubmit)="submitVendor()">
					<div class="card-form status-dropdown">
						<div class="form-row d-flex justify-content-between">
							<div class="id-card">
								<p>Vendor ID #</p>
							</div>
							<div class="form-group col-md-2">
								<mat-form-field [style.fontSize]="'12px'" appearance="outline">
									<mat-label>Vendor Status</mat-label>
									<mat-select formControlName="vendorStatus">
										<mat-option></mat-option>
										<mat-option value="Active">Active</mat-option>
										<mat-option value="Inactive">Inactive</mat-option>
									</mat-select>
								</mat-form-field>
							</div>
						</div>
					</div>

					<!-- Main Form Card Start -->
					<div class="card">
						<div class="card-body card-form">
							<div class="form-row">
								<div class="form-group col-md-3">
									<mat-form-field
										[style.fontSize]="'12px'"
										appearance="outline"
									>
										<mat-label>Salutation</mat-label>
										<mat-select formControlName="salutation">
											<mat-option [value]="null"></mat-option>
										</mat-select>
									</mat-form-field>
								</div>
								<div class="form-group col-md-3">
									<mat-form-field
										[style.fontSize]="'12px'"
										appearance="outline"
										class="full-width"
									>
										<mat-label>First Name</mat-label>
										<input
											matInput
											formControlName="firstName"
											placeholder="First Name"
										/>
									</mat-form-field>
								</div>
								<div class="form-group col-md-3">
									<mat-form-field
										[style.fontSize]="'12px'"
										appearance="outline"
										class="full-width"
									>
										<mat-label>Last Name</mat-label>
										<input
											matInput
											formControlName="lastName"
											placeholder="Last Name"
										/>
									</mat-form-field>
								</div>
								<div class="form-group col-md-3">
									<mat-form-field
										[style.fontSize]="'12px'"
										appearance="outline"
										class="full-width"
									>
										<mat-label>Company Name</mat-label>
										<input
											matInput
											formControlName="companyName"
											placeholder="Company Name"
										/>
									</mat-form-field>
								</div>
								<div class="form-group col-md-3">
									<mat-form-field
										[style.fontSize]="'12px'"
										appearance="outline"
										class="full-width"
									>
										<mat-label>Vendor Name</mat-label>
										<input
											matInput
											formControlName="vendorName"
											placeholder="Vendor Name"
										/>
									</mat-form-field>
								</div>
								<div class="form-group col-md-3">
									<mat-form-field
										[style.fontSize]="'12px'"
										appearance="outline"
										class="full-width"
									>
										<mat-label>Vendor Website</mat-label>
										<input
											matInput
											formControlName="vendorWeb"
											placeholder="Vendor Website"
										/>
									</mat-form-field>
								</div>
								<div class="form-group col-md-3">
									<mat-form-field
										[style.fontSize]="'12px'"
										appearance="outline"
									>
										<mat-label>Currency</mat-label>
										<mat-select formControlName="currency">
											<mat-option [value]="null"></mat-option>
										</mat-select>
									</mat-form-field>
								</div>
								<div class="form-group col-md-3">
									<mat-form-field
										[style.fontSize]="'12px'"
										appearance="outline"
									>
										<mat-label>Payment Terms</mat-label>
										<mat-select formControlName="paymentTerms">
											<mat-option [value]="null"></mat-option>
										</mat-select>
									</mat-form-field>
								</div>
							</div>

							<div class="section-heading">
								<h4>Address</h4>
							</div>
							<!-- <div
								formArrayName="empAddress"
								*ngFor="
									let item of addEmployeeForm.get('empAddress')['controls'];
									let i = index
								"
							>
								<div [formGroupName]="i">
									<br *ngIf="i > 0" />
									<div class="form-row">
										<div class="form-group col-md-6 order-md-1">
											<mat-form-field
												[style.fontSize]="'12px'"
												appearance="outline"
												class="full-width"
											>
												<mat-label>Address Line 1</mat-label>
												<input
													matInput
													formControlName="street1"
													placeholder="Address Line 1"
												/>
											</mat-form-field>
										</div>
										<div class="form-group col-md-6 order-md-5">
											<mat-form-field
												[style.fontSize]="'12px'"
												appearance="outline"
												class="full-width"
											>
												<mat-label>Address Line 2</mat-label>
												<input
													matInput
													formControlName="street2"
													placeholder="Address Line 2"
												/>
											</mat-form-field>
										</div>
										<div class="form-group col-md-3 order-md-2">
											<mat-form-field
												[style.fontSize]="'12px'"
												appearance="outline"
											>
												<mat-label>City</mat-label>
												<mat-select
													formControlName="city"
													[compareWith]="compareDropdownType"
												>
													<mat-option [value]="null"></mat-option>
													<mat-option
														*ngFor="let cities of cityDropDown"
														[value]="cities"
													>
														{{ cities.value }}
													</mat-option>
												</mat-select>
											</mat-form-field>
										</div>
										<div class="form-group col-md-2 order-md-3">
											<mat-form-field
												[style.fontSize]="'12px'"
												appearance="outline"
											>
												<mat-label>State</mat-label>
												<mat-select
													formControlName="state"
													[compareWith]="compareDropdownType"
												>
													<mat-option [value]="null"></mat-option>
													<mat-option
														*ngFor="let states of stateDropDown"
														[value]="states"
													>
														{{ states.value }}
													</mat-option>
												</mat-select>
											</mat-form-field>
										</div>
										<div class="form-group col-md-1 order-md-4">
											<mat-form-field
												[style.fontSize]="'12px'"
												appearance="outline"
												class="full-width"
											>
												<mat-label>Zip</mat-label>
												<input
													matInput
													formControlName="zipCode"
													placeholder="Zip"
													type="number"
												/>
											</mat-form-field>
										</div>
										<div class="form-group col-md-6 order-md-6">
											<mat-form-field
												[style.fontSize]="'12px'"
												appearance="outline"
											>
												<mat-label>Country</mat-label>
												<mat-select formControlName="country">
													<mat-option [value]="null"></mat-option>
													<mat-option value="Pakistan">Pakistan</mat-option>
												</mat-select>
											</mat-form-field>
										</div>
									</div>
									<div class="form-row flex-row-reverse">
										<div class="col-2 row-button">
											<button
												class="btn btn-sm btn-danger"
												*ngIf="i > 0"
												(click)="deleteAddress(item, i)"
												type="button"
											>
												Delete Address
											</button>
										</div>
									</div>
								</div>
							</div> -->
							<div class="section-heading">
								<h4>Contact Details</h4>
								<div class="">
									<button
										class="btn btn-sm btn-danger"
										(click)="addNewContact()"
										type="button"
									>
										Add Contact
									</button>
								</div>
							</div>
							<!-- <div
								formArrayName="empContact"
								*ngFor="
									let item of addEmployeeForm.get('empContact')['controls'];
									let j = index
								"
							>
								<div [formGroupName]="j">
									<div class="form-row">
										<div class="form-group col-md-2 col-4">
											<mat-form-field
												[style.fontSize]="'12px'"
												appearance="outline"
												class="full-width"
											>
												<mat-label>Contact Type</mat-label>
												<mat-select
													formControlName="channel"
													[compareWith]="compareDropdownType"
												>
													<mat-option
														*ngFor="let chanType of channelTypeDropDown"
														[value]="chanType"
													>
														{{ chanType.value }}
													</mat-option>
												</mat-select>
	
											</mat-form-field>
										</div>
										<div
											class="form-group col-md-4 col-8"
											*ngIf="item.controls.channel.value?.value == 'Mobile'"
										>
											<mat-form-field
												[style.fontSize]="'12px'"
												appearance="outline"
												class="full-width"
											>
												<input matInput formControlName="data" type="number" />
												<span matPrefix>+92&nbsp;</span>
											</mat-form-field>
										</div>
										<div
											class="form-group col-md-4 col-8"
											*ngIf="
												item.controls.channel.value?.value !== 'Mobile' &&
												item.controls.channel.value?.value !== 'Email'
											"
										>
											<mat-form-field
												[style.fontSize]="'12px'"
												appearance="outline"
												class="full-width"
											>
												<input matInput formControlName="data" />
											</mat-form-field>
										</div>
										<div
											class="form-group col-md-4 col-8"
											*ngIf="item.controls.channel.value?.value == 'Email'"
										>
											<mat-form-field
												[style.fontSize]="'12px'"
												appearance="outline"
												class="full-width"
											>
												<mat-label>email</mat-label>
												<input
													matInput
													formControlName="data"
													placeholder="abc1234@example.com"
													type="email"
												/>
											</mat-form-field>
										</div>
										<div class="col-md-2">
											<button
												mat-raised-button
												type="button"
												class="btn btn-sm btn-danger btn-link btn-sm btn-just-icon"
												routerLinkActive="router-link-active"
												*ngIf="j >= channelTypeDropDown?.length"
												(click)="deleteContact(item, j)"
											>
												<i class="material-icons">delete</i>
											</button>
										</div>
									</div>

								</div>
							</div> -->
						</div>
					</div>

					<div class="form-navigation">
						<div>
							<button
								mat-raised-button
								class="btn btn-sm"
								type="reset"
								[routerLink]="['/vendors']"
								routerLinkActive="router-link-active"
							>
								Back
							</button>
						</div>
						<div>
							<button
								mat-raised-button
								(click)="deleteVendor()"
								type="button"
								class="btn btn-sm"
								routerLinkActive="router-link-active"
							>
								Delete
							</button>
							<button
								mat-raised-button
								type="submit"
								class="btn btn-sm btn-danger"
								routerLinkActive="router-link-active"
							>
								Save
							</button>
						</div>
					</div>
				</form>
				<!-- main form end -->
			</div>
		</div>
	</div>
</div>
