<!-- Routes component -->
<div class="main-content routes">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <mat-tab-group>
          <!-- Intercity Routes tab Start -->
          <mat-tab label="Intercity Routes">
            <!-- Routes Add Card -->
            <div class="card">
              <div class="card-body card-form">
                <form
                  [formGroup]="addIntercityRouteForm"
                  (ngSubmit)="addIntercityRoute()"
                >
                  <div class="form-row">
                    <div class="form-group col-md-4">
                      <mat-form-field
                        [style.fontSize]="'12px'"
                        appearance="outline"
                        class="full-width"
                      >
                        <mat-label>From</mat-label>
                        <mat-select formControlName="routeFrom">
                          <mat-option></mat-option>
                          <mat-option *ngFor="let city of cityDropDown" [value]="city">
                            {{city.value}}
                          </mat-option>
                        </mat-select>
                        <button
                          mat-raised-button
                          type="button"
                          matSuffix
                          class="btn btn-sm btn-danger btn-link btn-sm btn-just-icon btn-suffix"
                          (click)="$event.stopPropagation(); openAddCityDialog();"
                        >
                          <i class="material-icons">add</i>
                        </button>
                      </mat-form-field>
                    </div>
                    <div class="form-group col-md-4">
                      <mat-form-field
                        [style.fontSize]="'12px'"
                        appearance="outline"
                        class="full-width"
                      >
                        <mat-label>To</mat-label>
                        <mat-select formControlName="routeTo">
                          <mat-option></mat-option>
                          <mat-option *ngFor="let cities of cityDropDown" [value]="cities">
                            {{cities.value}}
                          </mat-option>
                        </mat-select>
                        <button
                          mat-raised-button
                          type="button"
                          matSuffix
                          class="btn btn-sm btn-danger btn-link btn-sm btn-just-icon btn-suffix"
                          (click)="
                            $event.stopPropagation(); openAddCityDialog()
                          "
                        >
                          <i class="material-icons">add</i>
                        </button>
                      </mat-form-field>
                    </div>
                    <div class="form-group col-md-3">
                      <mat-form-field
                        [style.fontSize]="'12px'"
                        appearance="outline"
                        class="full-width"
                      >
                        <mat-label>Distance</mat-label>
                        <input
                          matInput
                          formControlName="routeDistance"
                          placeholder="Distance Km"
                          type="number"
                        />
                      </mat-form-field>
                    </div>
                    <div class="col-md-1">
                      <button
                        class="full-width"
                        mat-raised-button
                        type="submit"
                        class="btn btn-sm btn-danger"
                      >
                        Add
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>

            <!-- show routes table -->
            <div class="example-header">
              <mat-form-field>
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search Cities Route">
              </mat-form-field>
            </div>

            <div class="mat-elevation-z8">
              <table mat-table [dataSource]="interCityRoutes">
                <!-- Route ID Column -->
                <ng-container matColumnDef="routeId">
                  <th mat-header-cell *matHeaderCellDef>Route ID</th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.routeId }}
                  </td>
                </ng-container>

                <!-- From Column -->
                <ng-container matColumnDef="from">
                  <th mat-header-cell *matHeaderCellDef>From</th>
                  <td mat-cell *matCellDef="let element">{{ element.routeFrom?.value }}</td>
                </ng-container>

                <!-- To Column -->
                <ng-container matColumnDef="to">
                  <th mat-header-cell *matHeaderCellDef>To</th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.routeTo?.value }}
                  </td>
                </ng-container>

                <!-- Distance Column -->
                <ng-container matColumnDef="distance">
                  <th mat-header-cell *matHeaderCellDef>Distance</th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.avgDistanceInKM }}
                  </td>
                </ng-container>

                <!-- Action Column -->
                <ng-container matColumnDef="action">
                  <th mat-header-cell *matHeaderCellDef></th>
                  <td mat-cell *matCellDef="let element" let j = index;>
                    <button
                      mat-raised-button
                      class="btn btn-sm btn-danger btn-link btn-sm btn-just-icon"
                      type="button" (click)="deleteInterCityRoute(element, j)"
                    >
                      <i class="material-icons">delete</i>
                    </button>
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="intercityColumns"></tr>
                <tr
                  mat-row
                  *matRowDef="let row; columns: intercityColumns"
                ></tr>
              </table>

              <mat-paginator
                [pageSizeOptions]="[5, 10, 20]"
                showFirstLastButtons
              ></mat-paginator>
            </div>
          </mat-tab>
          <!-- Intercity Routes tab End -->

          <!-- Intracity Routes tab Start -->
          <mat-tab label="Intracity Routes">
            <!-- Routes Add Card -->
            <div class="card">
              <div class="card-body card-form">
                <form
                  [formGroup]="addIntracityRouteForm"
                  (ngSubmit)="addIntracityRoute()"
                >
                  <div class="form-row">

                    <div class="form-group col-md-3">
                      <mat-form-field
                        [style.fontSize]="'12px'"
                        appearance="outline"
                        class="full-width"
                      >
                        <mat-label>City</mat-label>
                        <mat-select formControlName="routeCity" (selectionChange)="getAreaByCity($event.value.code)">
                          <mat-option></mat-option>
                          <mat-option
                            *ngFor="let citi of cityDropDown"
                            [value]="citi"
                          >
                            {{ citi.value }}
                          </mat-option>
                        </mat-select>
                        <button
                          mat-raised-button
                          type="button"
                          matSuffix
                          class="btn btn-sm btn-danger btn-link btn-sm btn-just-icon btn-suffix"
                          (click)="
                            $event.stopPropagation(); openAddCityDialog()
                          "
                        >
                          <i class="material-icons">add</i>
                        </button>
                      </mat-form-field>
                    </div>

                    <div class="form-group col-md-3">
                      <mat-form-field
                        [style.fontSize]="'12px'"
                        appearance="outline"
                        class="full-width"
                      >
                        <mat-label>From</mat-label>
                        <mat-select formControlName="routeFrom">
                          <mat-option></mat-option>
                          <mat-option *ngFor="let areas of areaDropDown" [value]="areas">
                            {{areas.value}}
                          </mat-option>
                        </mat-select>
                        <button
                          mat-raised-button
                          type="button"
                          matSuffix
                          class="btn btn-sm btn-danger btn-link btn-sm btn-just-icon btn-suffix"
                          (click)="
                            $event.stopPropagation(); openAddAreaDialog()
                          "
                        >
                          <i class="material-icons">add</i>
                        </button>
                      </mat-form-field>
                    </div>
                    <div class="form-group col-md-3">
                      <mat-form-field
                        [style.fontSize]="'12px'"
                        appearance="outline"
                        class="full-width"
                      >
                        <mat-label>To</mat-label>
                        <mat-select formControlName="routeTo">
                          <mat-option></mat-option>
                          <mat-option
                            *ngFor="let area of areaDropDown"
                            [value]="area"
                          >
                            {{ area.value }}
                          </mat-option>
                        </mat-select>
                        <button
                          mat-raised-button
                          type="button"
                          matSuffix
                          class="btn btn-sm btn-danger btn-link btn-sm btn-just-icon btn-suffix"
                          (click)="
                            $event.stopPropagation(); openAddAreaDialog()
                          "
                        >
                          <i class="material-icons">add</i>
                        </button>
                      </mat-form-field>
                    </div>
                  
                    <div class="form-group col-md-2">
                      <mat-form-field
                        [style.fontSize]="'12px'"
                        appearance="outline"
                        class="full-width"
                      >
                        <mat-label>Distance</mat-label>
                        <input
                          matInput
                          formControlName="routeDistance"
                          placeholder="Distance Km"
                          type="number"
                        />
                      </mat-form-field>
                    </div>
                    <div class="col-md-1">
                      <button
                        class="full-width"
                        mat-raised-button
                        type="submit"
                        class="btn btn-sm btn-danger"
                      >
                        Add
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>

            <!-- show routes table -->
            <div class="example-header">
              <mat-form-field>
                <input matInput (keyup)="applyAreaFilter($event.target.value)" placeholder="Search Area Route">
              </mat-form-field>
            </div>

            <div class="mat-elevation-z8">
              <table mat-table [dataSource]="intraCityRoutes">
                <!-- Route ID Column -->
                <ng-container matColumnDef="routeId">
                  <th mat-header-cell *matHeaderCellDef>Route ID</th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.routeId }}
                  </td>
                </ng-container>

                <!-- From Column -->
                <ng-container matColumnDef="from">
                  <th mat-header-cell *matHeaderCellDef>From</th>
                  <td mat-cell *matCellDef="let element">{{ element.routeFrom?.value }}</td>
                </ng-container>

                <!-- To Column -->
                <ng-container matColumnDef="to">
                  <th mat-header-cell *matHeaderCellDef>To</th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.routeTo?.value }}
                  </td>
                </ng-container>

                <!-- City Column -->
                <!-- <ng-container matColumnDef="city">
                  <th mat-header-cell *matHeaderCellDef>City</th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.city }}
                  </td>
                </ng-container> -->

                <!-- Distance Column -->
                <ng-container matColumnDef="distance">
                  <th mat-header-cell *matHeaderCellDef>Distance</th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.avgDistanceInKM }}
                  </td>
                </ng-container>

                <!-- Action Column -->
                <ng-container matColumnDef="action">
                  <th mat-header-cell *matHeaderCellDef></th>
                  <td mat-cell *matCellDef="let element" let k = index;>
                    <button
                      mat-raised-button 
                      class="btn btn-sm btn-danger btn-link btn-sm btn-just-icon"
                      type="button" (click)="deleteIntraCityRoute(element, k)"
                    >
                      <i class="material-icons">delete</i>
                    </button>
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="intracityColumns"></tr>
                <tr
                  mat-row
                  *matRowDef="let row; columns: intracityColumns"
                ></tr>
              </table>

              <mat-paginator
                [pageSizeOptions]="[5, 10, 20]"
                showFirstLastButtons
              ></mat-paginator>
            </div>
          </mat-tab>
          <!-- Intracity Routes tab End -->
        </mat-tab-group>
        <!-- <div class="form-navigation">
            <div>
              <button mat-raised-button type="reset" class="btn btn-sm" [routerLink]="['/dashboard']"
                routerLinkActive="router-link-active">
                Back
              </button>
            </div>
            <div>
              <button mat-raised-button class="btn btn-sm" type="button" (click)="deleteCompany()"
                routerLinkActive="router-link-active">
                Delete
              </button>
              <button mat-raised-button type="submit" class="btn btn-sm btn-danger"
                routerLinkActive="router-link-active">
                Save
              </button>
            </div>
          </div> -->
        <!-- main form end -->
      </div>
    </div>
  </div>
</div>
