::ng-deep .routes {
  .mat-tab-group {
    form {
      .mat-form-field {
        .btn-suffix {
          margin-top: -8px;
        }
      }
    }
    .mat-table{
      width: 100%;
      tr{
        td:last-child{
          text-align: right;
        }
      }
    }

    .example-header {
      min-height: 64px;
      padding: 8px 24px 0;
    }
  }
}
