<!-- Add Inventory Adjustement form component -->
<div class="main-content add-purchase">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<!-- main form start -->
				<form [formGroup]="addPurchaseOrder" (ngSubmit)="submit()">
					<div class="card-form status-dropdown">
						<div class="form-row d-flex justify-content-between">
							<div class="id-card">
								<p>Purchase Order ID # {{ addPurchaseOrder.get("purchaseId").value }}</p>
							</div>
							<div class="form-group col-md-2">
								<mat-form-field [style.fontSize]="'12px'" appearance="outline">
									<mat-label>Order Status</mat-label>
									<mat-select formControlName="orderStatus" [compareWith]="compareDropdownType">
										<mat-option [value]="null"></mat-option>
										<mat-option *ngFor="let status of orderStatusDropDown"
											[value]="status">
											{{ status.value }}
										</mat-option>
									</mat-select>
								</mat-form-field>
							</div>
						</div>
					</div>

					<!-- Add Inventory Adjustement Form card start -->
					<div class="card">
						<div class="card-body card-form">
							<div class="form-row">
								<!-- basic info -->
								<div class="form-group col-md-4">
									<mat-form-field [style.fontSize]="'12px'" appearance="outline" class="full-width">
										<input type="text" placeholder="Vendor Name" aria-label="Number" matInput
											formControlName="vendorName" [matAutocomplete]="auto1" />
										<mat-autocomplete #auto1="matAutocomplete" [displayWith]="displayVendor">
											<mat-option *ngFor="let option of filteredVendor" [value]="option">
												{{ option.companyName }}
											</mat-option>
										</mat-autocomplete>
									</mat-form-field>
								</div>
								<!-- <div class="form-group col-md-4">
									<mat-form-field [style.fontSize]="'12px'" appearance="outline" class="full-width">
										<mat-label>Deliver To</mat-label>
										<input matInput formControlName="warehouse" placeholder="Select Warehouse" />
									</mat-form-field>
								</div> -->
								<div class="form-group col-md-4">
									<mat-form-field [style.fontSize]="'12px'" appearance="outline" class="full-width">
										<mat-label>Reference No.</mat-label>
										<input matInput formControlName="refNo" placeholder="Reference No."
											type="text" />
									</mat-form-field>
								</div>
								<div class="form-group col-md-4">
									<mat-form-field [style.fontSize]="'12px'" appearance="outline"
										class="date-time full-width">
										<mat-label>Order Date</mat-label>
										<input matInput [matDatepicker]="picker" formControlName="date" />
										<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
										<mat-datepicker #picker></mat-datepicker>
									</mat-form-field>
								</div>
								<div class="form-group col-md-4">
									<mat-form-field [style.fontSize]="'12px'" appearance="outline"
										class="date-time full-width">
										<mat-label>Expected Delivery Date</mat-label>
										<input matInput [matDatepicker]="picker1" formControlName="expectedDate" />
										<mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
										<mat-datepicker #picker1></mat-datepicker>
									</mat-form-field>
								</div>
							</div>
						</div>
					</div>

					<!-- Add Adjusted Enteries section -->
					<div class="form-row">
						<div class="col-12">
							<div class="card">
								<div class="card-header card-header-danger header-buttons">
									<h4 class="card-title">Items</h4>
									<div class="form-row d-flex flex-row-reverse">
										<button mat-raised-button class="btn btn-sm" type="button"
											(click)="addNewItem()" routerLinkActive="router-link-active">
											<i class="material-icons">add</i> Add Item
										</button>
									</div>
								</div>
								<div class="card-body card-form" formArrayName="itemList" 
								*ngFor="let items of addPurchaseOrder.get('itemList')['controls']; let i = index">
									<div class="form-row" [formGroupName]="i">
										<div class="form-group col-md-2">
											<mat-form-field [style.fontSize]="'12px'" appearance="outline"
												class="full-width">
												<input type="text" placeholder="Item" aria-label="Number" matInput
												(input)="onSearchItem(i)" formControlName="item" 
												[matAutocomplete]="auto" />
												<mat-autocomplete #auto="matAutocomplete" [displayWith]="displayItem">
													<mat-option *ngFor="let option of filteredItem"
														[value]="option" (onSelectionChange)="getRate($event, i)">
														{{ option.itemName }}
													</mat-option>
												</mat-autocomplete>
											</mat-form-field>
										</div>
										<div class="form-group col-md-2">
											<mat-form-field [style.fontSize]="'12px'" appearance="outline"
												class="full-width">
												<mat-label>Quantity Ordered</mat-label>
												<input matInput formControlName="qtyOrderedTotal" placeholder="Quantity Ordered"
												(input)="getTotalAmount(i)" type="number" />
											</mat-form-field>
										</div>
										<div class="form-group col-md-2">
											<mat-form-field [style.fontSize]="'12px'" appearance="outline"
												class="full-width">
												<mat-label>Quantity Remaining</mat-label>
												<input matInput formControlName="qtyRemaining" readonly placeholder="Quantity Remaining"
													type="number" />
											</mat-form-field>
										</div>
										<div class="form-group col-md-2">
											<mat-form-field [style.fontSize]="'12px'" appearance="outline"
												class="full-width">
												<mat-label>Rate</mat-label>
												<input matInput formControlName="rate" placeholder="Rate"
												(input)="getTotalAmount2(i)" type="number" />
											</mat-form-field>
										</div>
										<div class="form-group col-md-2">
											<mat-form-field [style.fontSize]="'12px'" appearance="outline"
												class="full-width">
												<mat-label>Amount</mat-label>
												<input matInput formControlName="amount" placeholder="Amount"
													type="number" />
											</mat-form-field>
										</div>
										<div class="col-md-1">
											<button mat-raised-button
												class="btn btn-sm btn-danger btn-link btn-sm btn-just-icon"
												type="button" (click)="deleteItem(i)">
												<i class="material-icons">delete</i>
											</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="form-row d-flex flex-row-reverse">
						<div class="col-4">
							<div class="card">
								<div class="card-body tally-table">
									<table>
										<tr>
											<td>Gross Amount:</td>
											<td>{{addPurchaseOrder.get('grossAmount').value}}</td>
										</tr>
										<tr>
											<th>Total Amount:</th>
											<th>{{addPurchaseOrder.get('totalAmount').value}}</th>
										</tr>
									</table>
								</div>
							</div>
						</div>
					</div>

					<div class="form-navigation">
						<div>
							<button mat-raised-button class="btn btn-sm" type="reset" [routerLink]="['/purchaseOrder']"
								routerLinkActive="router-link-active">
								Back
							</button>
						</div>
						<div>
							<button mat-raised-button (click)="deletePurchaseOrder()" type="button" class="btn btn-sm"
								routerLinkActive="router-link-active">
								Delete
							</button>
							<button mat-raised-button type="submit" class="btn btn-sm btn-danger"
								routerLinkActive="router-link-active">
								Save
							</button>
							<button *ngIf="showRecvBtn" mat-raised-button type="button" class="btn btn-sm btn-danger"
								(click)="openReceiveOrderDialog()" routerLinkActive="router-link-active">
								Receive Order
							</button>
						</div>
					</div>
				</form>
				<!-- main form end -->
			</div>
		</div>
	</div>
</div>