<!-- Create company form component -->
<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">

        <!-- main form start -->
        <form [formGroup]="trailerForm" (ngSubmit)="submitTrailer()">
          <div class="card-form status-dropdown">
            <div class="form-row d-flex justify-content-between">
              <div class="id-card">
                <p>Trailer ID # {{trailerForm.get('trailId').value}}</p>
              </div>
              <div class="form-group col-md-2">
                <mat-form-field [style.fontSize]="'12px'" appearance="outline">
                  <mat-label>Status</mat-label>
                  <mat-select formControlName="status">
                    <mat-option></mat-option>
                    <mat-option value="Active">Active</mat-option>
                    <mat-option value="Inactive">Inactive</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

            </div>
          </div>
          <!-- Vehiclecard start -->
          <div class="card">
            <div class="card-body card-form">
              <div class="form-row">
                <div class="form-group col-md-2">
                  <mat-form-field [style.fontSize]="'12px'" appearance="outline">
                    <mat-label>Owner</mat-label>
                    <mat-select formControlName="owner" [compareWith]="compareCompany">
                      <mat-option [value]=null></mat-option>
                      <mat-option *ngFor="let comp of companiesDropDown" [value]="comp">{{comp.companyName}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="form-group col-md-2">
                  <mat-form-field [style.fontSize]="'12px'" appearance="outline">
                    <mat-label>Lease Type</mat-label>
                    <mat-select formControlName="leasetype" [compareWith]="compareDropdownType"
                      (selectionChange)="showSupplier($event.value)">
                      <mat-option [value]=null></mat-option>
                      <mat-option *ngFor="let lease of leaseTypeDropDown" [value]="lease">{{lease.value}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div *ngIf="showSuppField" class="form-group col-md-2">
                  <mat-form-field [style.fontSize]="'12px'" appearance="outline">
                    <mat-label>Supplier</mat-label>
                    <mat-select formControlName="suppId">
                      <mat-option [value]=null></mat-option>
                      <mat-option *ngFor="let supType of supplierDropDown" [value]="supType">
                        {{supType.companyName}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>

                <!-- Trailer number is vin number -->
                <div class="form-group col-md-2">
                  <mat-form-field [style.fontSize]="'12px'" appearance="outline" class="full-width">
                    <mat-label>Trailer Number</mat-label>
                    <input matInput formControlName="vinNum" placeholder="Trailer Number">
                  </mat-form-field>
                </div>

                <!-- <div class="form-group col-md-2">
                  <mat-form-field [style.fontSize]="'12px'" appearance="outline" class="full-width">
                    <mat-label>Color</mat-label>
                    <input matInput formControlName="colour" placeholder="Color">
                  </mat-form-field>
                </div>
                <div class="form-group col-md-2">
                  <mat-form-field [style.fontSize]="'12px'" appearance="outline">
                    <mat-label>Make</mat-label>
                    <mat-select formControlName="make" [compareWith]="compareDropdownType">
                      <mat-option></mat-option>
                      <mat-option *ngFor="let makes of makeDropDown" [value]="makes">{{makes.value}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="form-group col-md-2">
                  <mat-form-field [style.fontSize]="'12px'" appearance="outline">
                    <mat-label>Model</mat-label>
                    <input matInput formControlName="model" placeholder="Model" type="text">
                  </mat-form-field>
                </div> -->
                <div class="form-group col-md-2">
                  <mat-form-field [style.fontSize]="'12px'" appearance="outline" class="full-width">
                    <mat-label>Year</mat-label>
                    <input matInput formControlName="year" placeholder="Year" type="number">
                  </mat-form-field>
                </div>
                <div class="form-group col-md-2">
                  <mat-form-field [style.fontSize]="'12px'" appearance="outline">
                    <mat-label>Induction Date</mat-label>
                    <input matInput formControlName="induct" [matDatepicker]="picker" placeholder="Induction Date">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker touchUi #picker></mat-datepicker>
                  </mat-form-field>
                </div>
                <div class="form-group col-md-2">
                  <mat-form-field [style.fontSize]="'12px'" appearance="outline" class="full-width">
                    <mat-label>Gross Weight</mat-label>
                    <input matInput formControlName="gross" placeholder="Gross Weight">
                  </mat-form-field>
                </div>
                <div class="form-group col-md-2">
                  <mat-form-field [style.fontSize]="'12px'" appearance="outline" class="full-width">
                    <mat-label>Unit Weight</mat-label>
                    <mat-select formControlName="weightUnit">
                      <mat-option></mat-option>
                      <mat-option value="Ton">Ton</mat-option>
                      <mat-option value="Kg">Kilogram</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="form-group col-md-2">
                  <mat-form-field [style.fontSize]="'12px'" appearance="outline" class="full-width">
                    <mat-label>Number of Tyre</mat-label>
                    <input matInput formControlName="tyreNum" type="number" placeholder="Number of Tyres">
                  </mat-form-field>
                </div>
                <div class="form-group col-md-2">
                  <mat-form-field [style.fontSize]="'12px'" appearance="outline" class="full-width">
                    <mat-label>Tyre Size</mat-label>
                    <input matInput formControlName="tyresize" placeholder="Size of Tyre">
                  </mat-form-field>
                </div>
                <div class="form-group col-md-2">
                  <mat-form-field [style.fontSize]="'12px'" appearance="outline">
                    <mat-label>Trailer Type</mat-label>
                    <mat-select formControlName="trailerType" [compareWith]="compareDropdownType">
                      <mat-option [value]=null></mat-option>
                      <mat-option *ngFor="let tralType of trailerTypeDropDown" [value]="tralType">
                        {{tralType.value}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="form-group col-md-2">
                  <mat-form-field [style.fontSize]="'12px'" appearance="outline">
                    <mat-label>Trailer Size</mat-label>
                    <mat-select formControlName="trailerSize" [compareWith]="compareDropdownType">
                      <mat-option [value]=null></mat-option>
                      <mat-option *ngFor="let tralSize of trailerSizeDropDown" [value]="tralSize">
                        {{tralSize.value}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>

              </div>
            </div>
          </div>


          <div class="form-navigation">
            <div>
              <button mat-raised-button class="btn btn-sm" type="reset" [routerLink]="['/trailer']"
                routerLinkActive="router-link-active">
                Back
              </button>
            </div>
            <div>
              <button mat-raised-button (click)="deleteTrailer()" type="button" class="btn btn-sm"
                routerLinkActive="router-link-active">
                Delete
              </button>
              <button mat-raised-button type="submit" class="btn btn-sm btn-danger"
                routerLinkActive="router-link-active">
                Save
              </button>
            </div>
          </div>

          <div class="card">
            <div class="card-body card-form">
              <div class="form-row">
                <div class="form-group col-md-2">
                  <mat-form-field [style.fontSize]="'12px'" appearance="outline" class="full-width">
                    <mat-label>Tyre Serial No.</mat-label>
                    <input matInput formControlName="tyreSerNum" placeholder="Tyre Serial No.">
                  </mat-form-field>
                </div>
                <div class="form-group col-md-2">
                  <mat-form-field [style.fontSize]="'12px'" appearance="outline" class="full-width">
                    <mat-label>Tyre Make</mat-label>
                    <input matInput formControlName="tyreMake" placeholder="Tyre Make">
                  </mat-form-field>
                </div>
                <div class="form-group col-md-2">
                  <mat-form-field [style.fontSize]="'12px'" appearance="outline" class="full-width">
                    <mat-label>Start Kms.</mat-label>
                    <input matInput formControlName="tyreStartKm" placeholder="Start Kms.">
                  </mat-form-field>
                </div>
                <div class="form-group col-md-2">
                  <mat-form-field [style.fontSize]="'12px'" appearance="outline" class="full-width">
                    <mat-label>Current Kms.</mat-label>
                    <input matInput formControlName="tyreTotalKm" placeholder="Current Kms.">
                  </mat-form-field>
                </div>
                <!-- <div class="form-group col-md-2">
                  <mat-form-field [style.fontSize]="'12px'" appearance="outline">
                    <mat-label>Status</mat-label>
                    <mat-select formControlName="tyreStatus">
                      <mat-option [value]=null></mat-option>
                      <mat-option value="Active">Active</mat-option>
                      <mat-option value="Inactive">Inactive</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div> -->
                <div class="form-group col-md-2">
                  <button (click)="pushTyresInArray()" mat-raised-button class="btn btn-sm btn-danger" type="button">
                    Add
                  </button>
                </div>
              </div>
            </div>
          </div>


          <div class="card">
            <div class="card-body">
              <div class="table-responsive">
                <table class="table">
                  <thead>
                    <th>
                      Tyre Serial No.
                    </th>
                    <th>
                      Tyre Make
                    </th>
                    <th>
                      Start Kms.
                    </th>
                    <th>
                      Current Kms.
                    </th>
                    <th>
                      Status
                    </th>
                    <th>
                      Actions
                    </th>
                  </thead>
                  <tbody>
                    <tr formArrayName="tyres" *ngFor="let tyre of trailerForm.get('tyres')['controls']; let id = index">
                      <td [formGroupName]="id">
                        <span *ngIf="!tyre.value.editable">{{tyre.value.tyreSerialNumber}}</span>
                        <span *ngIf="tyre.value.editable">
                          <mat-form-field [style.fontSize]="'11px'" appearance="outline" class="editable-form-field">
                            <input matInput formControlName="tyreSerialNumber" placeholder="Tyre Serial No.">
                          </mat-form-field>
                        </span>
                      </td>
                      <td [formGroupName]="id">
                        <span *ngIf="!tyre.value.editable">{{tyre.value.make}}</span>
                        <span *ngIf="tyre.value.editable">
                          <mat-form-field [style.fontSize]="'11px'" appearance="outline" class="editable-form-field">
                            <input matInput formControlName="make" placeholder="Tyre Make">
                          </mat-form-field>
                        </span>
                      </td>
                      <td [formGroupName]="id">
                        <span *ngIf="!tyre.value.editable">{{tyre.value.startingKm}}</span>
                        <span *ngIf="tyre.value.editable">
                          <mat-form-field [style.fontSize]="'11px'" appearance="outline" class="editable-form-field">
                            <input matInput formControlName="startingKm" placeholder="Start Km">
                          </mat-form-field>
                        </span>
                      </td>
                      <td [formGroupName]="id">
                        <span *ngIf="!tyre.value.editable">{{tyre.value.totalKm}}</span>
                        <span *ngIf="tyre.value.editable">
                          <mat-form-field [style.fontSize]="'11px'" appearance="outline" class="editable-form-field">
                            <input matInput formControlName="totalKm" placeholder="Current Km">
                          </mat-form-field>
                        </span>
                      </td>
                      <td [formGroupName]="id">
                        <span *ngIf="!tyre.value.editable">{{tyre.value.status}}</span>
                        <span *ngIf="tyre.value.editable">
                          <mat-form-field [style.fontSize]="'12px'" appearance="outline" class="editable-form-field">
                            <mat-select formControlName="status">
                              <mat-option></mat-option>
                              <mat-option value="Active">Active</mat-option>
                              <mat-option value="Inactive">Inactive</mat-option>
                            </mat-select>
                          </mat-form-field>
                        </span>
                      </td>
                      <td>
                        <span>
                          <button *ngIf="tyre.value.editable" mat-raised-button
                            class="btn btn-sm btn-danger btn-link btn-sm btn-just-icon" type="button"
                            (click)="saveEditTyre(id)">
                            <i class="material-icons">save</i>
                          </button>
                          <button *ngIf="!tyre.value.editable" mat-raised-button
                            class="btn btn-sm btn-danger btn-link btn-sm btn-just-icon" type="button"
                            (click)="makeEditable(id)">
                            <i class="material-icons">edit</i>
                          </button>
                          <button mat-raised-button class="btn btn-sm btn-danger btn-link btn-sm btn-just-icon"
                            type="button" (click)="removeTyre(id)">
                            <i class="material-icons">delete</i>
                          </button>
                        </span>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </form>
        <!-- main form end -->
      </div>
    </div>
  </div>
</div>