<div class="main-content">
  <div class="container-fluid">
    <!-- Add Purchase Order Button row -->
    <div class="row">
      <div class="col-md-12">
        <button
          mat-raised-button
          type="submit"
          class="btn btn-sm btn-danger pull-right"
          [routerLink]="['/purchaseOrder/add']"
          routerLinkActive="router-link-active"
        >
          <i class="material-icons">add</i>
          Add Purchase Order
        </button>
      </div>
      <!-- <div class="col-md-12">
        <div class="card">
          <div class="card-body card-form search-form">
            <form [formGroup]="form" (ngSubmit)="search()">
              <div class="form-row">
                <div class="form-group col-md-1">
                  <mat-form-field
                    [style.fontSize]="'12px'"
                    appearance="outline"
                    class="full-width"
                  >
                    <mat-label>Job ID</mat-label>
                    <input
                      matInput
                      placeholder="Job ID"
                      formControlName="jobId"
                    />
                  </mat-form-field>
                </div>
                <div class="form-group col-md-1">
                  <mat-form-field
                    [style.fontSize]="'12px'"
                    appearance="outline"
                    class="full-width"
                  >
                    <mat-label>RWB ID</mat-label>
                    <input
                      matInput
                      placeholder="RWB ID"
                      formControlName="rwbId"
                    />
                  </mat-form-field>
                </div>
                <div class="form-group col-md-2">
                  <mat-form-field
                    [style.fontSize]="'12px'"
                    appearance="outline"
                  >
                    <mat-label>Ownership</mat-label>
                    <mat-select formControlName="ownerShipStatus">
                      <mat-option value=""></mat-option>
                      <mat-option value="false">Owned</mat-option>
                      <mat-option value="true">Rental</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="form-group col-md-1">
                  <mat-form-field
                    [style.fontSize]="'12px'"
                    appearance="outline"
                    class="full-width"
                  >
                    <mat-label>Number Plate</mat-label>
                    <input
                      matInput
                      placeholder="Number Plate"
                      formControlName="lic"
                    />
                  </mat-form-field>
                </div>
                <div class="form-group col-md-2">
                  <mat-form-field
                    [style.fontSize]="'12px'"
                    appearance="outline"
                    class="date-time full-width"
                  >
                    <mat-label>Start Date</mat-label>
                    <input
                      matInput
                      [matDatepicker]="picker"
                      formControlName="start"
                    />
                    <mat-datepicker-toggle
                      matSuffix
                      [for]="picker"
                    ></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
                </div>
                <div class="form-group col-md-2">
                  <mat-form-field
                    [style.fontSize]="'12px'"
                    appearance="outline"
                    class="date-time full-width"
                  >
                    <mat-label>End Date</mat-label>
                    <input
                      matInput
                      [matDatepicker]="picker1"
                      formControlName="end"
                    />
                    <mat-datepicker-toggle
                      matSuffix
                      [for]="picker1"
                    ></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                  </mat-form-field>
                </div>
                <div class="form-group col-md-1">
                  
                  <mat-form-field
                    [style.fontSize]="'12px'"
                    appearance="outline"
                  >
                    <mat-label>Job Status</mat-label>
                    <mat-select formControlName="jobStatus">
                      <mat-option value=""></mat-option>
                      <mat-option value="Open">Open</mat-option>
                      <mat-option value="Close">Close</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-2 row-button">
                  <button class="btn btn-sm btn-danger" type="submit">
                    <i class="material-icons">search</i>
                  </button>
                  &nbsp;
                  <button
                    class="btn btn-sm btn-danger"
                    type="button"
                    (click)="ClearForm()"
                  >
                    <i class="material-icons">clear</i>
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div> -->

      <!-- main table start -->
      <div class="col-md-12">
        <div class="card">
          <!-- table header start -->
          <div class="card-header card-header-danger">
            <div class="">
              <form class="navbar-form">
                <div class="input-group no-border">
                  <input
                    type="text"
                    class="form-control"
                    matInput
                    (keyup)="applyFilter($event.target.value)"
                    placeholder="Search..."
                  />
                </div>
              </form>
            </div>
          </div>

          <!-- table body start -->
          <div class="card-body">
            <div class="table-responsive">
              <table
                mat-table
                [dataSource]="dataSource"
                class="mat-elevation-z8"
              >
                <!-- Date Column -->
                <ng-container matColumnDef="date">
                  <th mat-header-cell *matHeaderCellDef>Order No.</th>
                  <td mat-cell (click)="findOrderById(purchaseOrder)" *matCellDef="let purchaseOrder">
                    {{ purchaseOrder.purchaseOrderId }}
                  </td>
                  <td
                    mat-footer-cell
                    *matFooterCellDef
                    colspan="8"
                    class="footer-cell"
                  >
                    No Purchase Order Found.
                  </td>
                </ng-container>

                <!-- Purchase Order No. Column -->
                <ng-container matColumnDef="orderNo">
                  <th mat-header-cell *matHeaderCellDef>Order Date</th>
                  <td mat-cell (click)="findOrderById(purchaseOrder)" *matCellDef="let purchaseOrder">
                    {{ purchaseOrder.orderedOn }}
                  </td>
                  <td mat-footer-cell *matFooterCellDef class="no-display"></td>
                </ng-container>

                <!-- Vendor Name Column -->
                <ng-container matColumnDef="vendorName">
                  <th mat-header-cell *matHeaderCellDef>Vendor Name</th>
                  <td mat-cell (click)="findOrderById(purchaseOrder)" *matCellDef="let purchaseOrder">
                    {{ purchaseOrder.vendor?.companyName }}
                  </td>
                  <td mat-footer-cell *matFooterCellDef class="no-display"></td>
                </ng-container>

                <!-- Reference No. Column -->
                <ng-container matColumnDef="refNo">
                  <th mat-header-cell *matHeaderCellDef>Reference No.</th>
                  <td mat-cell (click)="findOrderById(purchaseOrder)" *matCellDef="let purchaseOrder">
                    {{ purchaseOrder.referenceNumber }}
                  </td>
                  <td mat-footer-cell *matFooterCellDef class="no-display"></td>
                </ng-container>

                <!-- Received Column -->
                <ng-container matColumnDef="received">
                  <th mat-header-cell *matHeaderCellDef>Receiving Date</th>
                  <td mat-cell (click)="findOrderById(purchaseOrder)" *matCellDef="let purchaseOrder">
                    {{ purchaseOrder.receivedOn }}
                  </td>
                  <td mat-footer-cell *matFooterCellDef class="no-display"></td>
                </ng-container>

                <!-- Amount Column -->
                <ng-container matColumnDef="amount">
                  <th mat-header-cell *matHeaderCellDef>Total Amount</th>
                  <td mat-cell (click)="findOrderById(purchaseOrder)" *matCellDef="let purchaseOrder">
                    {{ purchaseOrder.totalAmount }}
                  </td>
                  <td mat-footer-cell *matFooterCellDef class="no-display"></td>
                </ng-container>

                <!-- Status Column -->
                <ng-container matColumnDef="status">
                  <th mat-header-cell *matHeaderCellDef>Status</th>
                  <td mat-cell (click)="findOrderById(purchaseOrder)" *matCellDef="let purchaseOrder">
                    {{ purchaseOrder.purchaseOrderStatus?.value }}
                  </td>
                  <td mat-footer-cell *matFooterCellDef class="no-display"></td>
                </ng-container>

                <!-- Expected Delivery Date Column -->
                <!-- <ng-container matColumnDef="deliveryDate">
                  <th mat-header-cell *matHeaderCellDef>
                    Expected Delivery Date
                  </th>
                  <td mat-cell *matCellDef="let purchaseOrder">
                    {{ purchaseOrder.deliveryDate }}
                  </td>
                  <td mat-footer-cell *matFooterCellDef class="no-display"></td>
                </ng-container> -->

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr
                  mat-row
                  *matRowDef="let row; columns: displayedColumns"
                ></tr>
                <tr
                  mat-footer-row
                  *matFooterRowDef="displayedColumns"
                  [hidden]="dataSource && dataSource.data.length > 0"
                ></tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
