<div class="logo">
  <div class="simple-text">
    <!-- <div class="logo-img">
            <img src="/assets/img/angular2-logo-red.png" />
        </div> -->
    Logex.net
  </div>
</div>
<div class="sidebar-wrapper">
  <div *ngIf="isMobileMenu()">
    <form class="navbar-form">
      <span class="bmd-form-group">
        <div class="input-group no-border">
          <input
            type="text"
            value=""
            class="form-control"
            placeholder="Search..."
          />
          <button
            mat-raised-button
            type="submit"
            class="btn btn-sm btn-white btn-round btn-just-icon"
          >
            <i class="material-icons">search</i>
            <div class="ripple-container"></div>
          </button>
        </div>
      </span>
    </form>
    <ul class="nav navbar-nav nav-mobile-menu">
      <li class="nav-item">
        <a class="nav-link" href="javascript:void(0)">
          <i class="material-icons">dashboard</i>
          <p>
            <span class="d-lg-none d-md-block">Stats</span>
          </p>
        </a>
      </li>
      <li class="nav-item dropdown">
        <a
          class="nav-link"
          href="javascript:void(0)"
          id="navbarDropdownMenuLink"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          <i class="material-icons">notifications</i>
          <span class="notification">5</span>
          <p>
            <span class="d-lg-none d-md-block">Some Actions</span>
          </p>
        </a>
        <div
          class="dropdown-menu dropdown-menu-right"
          aria-labelledby="navbarDropdownMenuLink"
        >
          <a class="dropdown-item" href="#"
            >Mike John responded to your email</a
          >
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="javascript:void(0)">
          <i class="material-icons">person</i>
          <p>
            <span class="d-lg-none d-md-block">Account</span>
          </p>
        </a>
      </li>
    </ul>
  </div>
  <ul class="nav">
    <!-- <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="nav-item">
			<a class="nav-link" [routerLink]="[menuItem.path]">
				<i class="material-icons">{{menuItem.icon}}</i>
				<p>{{menuItem.title}}</p>
			</a>
    </li> -->
    <li routerLinkActive="active" class="nav-item">
      <a class="nav-link" routerLink="/dashboard">
        <i class="material-icons">dashboard</i>
        <p>Dashboard</p>
      </a>
    </li>
    <li routerLinkActive="active" class="nav-item">
      <a class="nav-link" routerLink="/companies">
        <i class="material-icons">house</i>
        <p>Companies</p>
      </a>
    </li>
    <li routerLinkActive="active" class="nav-item">
      <a class="nav-link" routerLink="/companyContract">
        <i class="material-icons">dashboard</i>
        <p>Company Contract</p>
      </a>
    </li>
    <li routerLinkActive="active" class="nav-item">
      <a class="nav-link" routerLink="/employees">
        <i class="material-icons">person</i>
        <p>Drivers</p>
      </a>
    </li>
    <!-- Asset Details option with nested List -->
    <li routerLinkActive="active" class="nav-item">
      <div class="nav-link nested-list-cont" (click)="assetsOpen = !assetsOpen">
        <div>
          <i class="material-icons">local_shipping</i>
          <p>Asset Details</p>
        </div>
        <div class="arrow">
          <i class="material-icons" [ngClass]="{ open: assetsOpen }"
            >expand_more</i
          >
        </div>
      </div>
      <ul class="nav nested-list assets" [ngClass]="{ open: assetsOpen }">
        <li routerLinkActive="active" class="nav-item">
          <a class="nav-link" routerLink="/tractors">
            <p>Tractors</p>
          </a>
        </li>
        <li routerLinkActive="active" class="nav-item">
          <a class="nav-link" routerLink="/tracker">
            <p>Tracker</p>
          </a>
        </li>
        <li routerLinkActive="active" class="nav-item">
          <a class="nav-link" routerLink="/trailer">
            <p>Trailer</p>
          </a>
        </li>
        <li routerLinkActive="active" class="nav-item">
          <a class="nav-link" routerLink="/container">
            <p>Container</p>
          </a>
        </li>
      </ul>
    </li>
    <li routerLinkActive="active" class="nav-item">
      <a class="nav-link" routerLink="/assetsCombination">
        <i class="material-icons">grid_on</i>
        <p>Assets Combination</p>
      </a>
    </li>
    <li routerLinkActive="active" class="nav-item">
      <a class="nav-link" routerLink="/job">
        <i class="material-icons">timeline</i>
        <p>Job</p>
      </a>
    </li>

    <li routerLinkActive="active" class="nav-item">
      <a class="nav-link" routerLink="/trips">
        <i class="material-icons">compare_arrows</i>
        <p>Trips</p>
      </a>
    </li>
    <li routerLinkActive="active" class="nav-item">
      <a class="nav-link" routerLink="/freightRates">
        <i class="material-icons">attach_money</i>
        <p>Rates</p>
      </a>
    </li>
    <!-- <li routerLinkActive="active" class="nav-item">
      <a class="nav-link" routerLink="/reimbursement">
        <i class="material-icons">rotate_90_degrees_ccw</i>
        <p>Reimbursement</p>
      </a>
    </li> -->
    <!-- Reimbursement option with nested List -->
    <li routerLinkActive="active" class="nav-item">
      <div
        class="nav-link nested-list-cont"
        (click)="reimbursementOpen = !reimbursementOpen"
      >
        <div>
          <i class="material-icons">rotate_90_degrees_ccw</i>
          <p>Reimbursement</p>
        </div>
        <div class="arrow">
          <i class="material-icons" [ngClass]="{ open: reimbursementOpen }"
            >expand_more</i
          >
        </div>
      </div>
      <ul
        class="nav nested-list reimbursement"
        [ngClass]="{ open: reimbursementOpen }"
      >
        <li class="nav-item">
          <a class="nav-link" routerLink="/reimbursement">
            <p>Send</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/reimbursement/approve">
            <p>Approve</p>
          </a>
        </li>
      </ul>
    </li>
    <li routerLinkActive="active" class="nav-item">
      <a class="nav-link" routerLink="/accounts">
        <i class="material-icons">functions</i>
        <p>Accounts</p>
      </a>
    </li>
    <li routerLinkActive="active" class="nav-item">
      <a class="nav-link" routerLink="/invoice">
        <i class="material-icons">receipt</i>
        <p>Invoice</p>
      </a>
    </li>
    <!-- Maintenance option with nested list -->
    <li routerLinkActive="active" class="nav-item">
      <div
        class="nav-link nested-list-cont"
        (click)="maintenanceOpen = !maintenanceOpen"
      >
        <div>
          <i class="material-icons">build</i>
          <p>Maintenance</p>
        </div>
        <div class="arrow">
          <i class="material-icons" [ngClass]="{ open: maintenanceOpen }"
            >expand_more</i
          >
        </div>
      </div>
      <ul
        class="nav nested-list maintenance"
        [ngClass]="{ open: maintenanceOpen }"
      >
        <li class="nav-item">
          <a class="nav-link" routerLink="/items">
            <p>Items</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/inventories">
            <p>Inventory</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/inventoryAdj">
            <p>Inventory Adjustement</p>
          </a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" routerLink="/vendors">
            <p>Vendors</p>
          </a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link" routerLink="/purchaseOrder">
            <p>Purchase Order</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/workOrder">
            <p>Work Order</p>
          </a>
        </li>
      </ul>
    </li>

    <!-- Settings option with nested list -->
    <li routerLinkActive="active" class="nav-item">
      <div
        class="nav-link nested-list-cont"
        (click)="settingsOpen = !settingsOpen"
      >
        <div>
          <i class="material-icons">settings</i>
          <p>Settings</p>
        </div>
        <div class="arrow">
          <i class="material-icons" [ngClass]="{ open: settingsOpen }"
            >expand_more</i
          >
        </div>
      </div>
      <ul class="nav nested-list settings" [ngClass]="{ open: settingsOpen }">
        <li class="nav-item">
          <a class="nav-link" routerLink="/addOptions">
            <p>Add Options</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/routes">
            <p>Routes</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/users&roles">
            <p>Users and Roles</p>
          </a>
        </li>
      </ul>
    </li>

    <li routerLinkActive="active" class="nav-item">
      <a class="nav-link" routerLink="/superAdmin">
        <i class="material-icons">dashboard</i>
        <p>Super Admin</p>
      </a>
    </li>
  </ul>
</div>
