.sidebar-wrapper {
  .nav {
    .nav-item {
      .nav-link {
        &.nested-list-cont {
          cursor: pointer;
          margin-top: 10px;
          margin-left: 15px;
          display: flex;
          justify-content: space-between;
          .arrow {
            .material-icons {
              transform: rotate(0deg);
              transition: transform 0.2s linear;
              &.open {
                transform: rotate(180deg);
              }
            }
          }
        }
      }
      .nested-list {
        margin-top: 0;
        height: 0;
        overflow: hidden;
        transition: height 0.2s linear;
        li {
          a {
            padding-left: 60px;
            margin-top: 0;
          }
        }
        &.open {
          &.settings {
            height: 150px;
          }
          &.maintenance {
            height: 250px;
          }
          &.assets {
            height: 200px;
          }
          &.reimbursement {
            height: 100px;
          }
        }
      }
    }
  }
}
