main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
main .center-div {
  text-align: center;
}
main .center-div .main-heading {
  font-weight: 600;
  font-size: 46px;
}

.tdBorderRight{
  border-right: 1px solid #e1e4e1;
}
