<div class="main-content">
    <div class="container-fluid">

        <!-- <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-warning card-header-icon">
                        <div class="card-icon">
                            <img src="../../assets/img/trailer.png" alt="">
                        </div>
                        <p class="card-category">Used Space</p>
                        <h3 class="card-title">49/50
                            <small>GB</small>
                        </h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons text-danger">warning</i>
                            <a href="javascript:void(0)">Get More Space...</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-success card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">store</i>
                        </div>
                        <p class="card-category">Revenue</p>
                        <h3 class="card-title">$34,245</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">date_range</i> Last 24 Hours
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-danger card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">info_outline</i>
                        </div>
                        <p class="card-category">Fixed Issues</p>
                        <h3 class="card-title">75</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">local_offer</i> Tracked from Github
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-info card-header-icon">
                        <div class="card-icon">
                            <i class="fa fa-twitter"></i>
                        </div>
                        <p class="card-category">Followers</p>
                        <h3 class="card-title">+245</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">update</i> Just Updated
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="card card-chart">
                    <div class="card-header card-header-success">
                        <div class="ct-chart" id="dailySalesChart"></div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Daily Sales</h4>
                        <p class="card-category">
                            <span class="text-success"><i class="fa fa-long-arrow-up"></i> 55% </span> increase in today
                            sales.</p>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> updated 4 minutes ago
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-chart">
                    <div class="card-header card-header-warning">
                        <div class="ct-chart" id="websiteViewsChart"></div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Email Subscriptions</h4>
                        <p class="card-category">Last Campaign Performance</p>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> campaign sent 2 days ago
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-chart">
                    <div class="card-header card-header-danger">
                        <div class="ct-chart" id="completedTasksChart"></div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Completed Tasks</h4>
                        <p class="card-category">Last Campaign Performance</p>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> campaign sent 2 days ago
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="card">
                    <div class="card-header card-header-tabs card-header-primary">
                        <!-- <div class="card-header card-header-warning"> -->
                        <h4 class="card-title">Financial Quick Look</h4>
                        <!-- </div> -->
                    </div>
                    <div class="card-body">
                        <div class="tab-content">
                            <div class="tab-pane active" id="profile">
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <td colspan="8">
                                                <h6>YTD</h6>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><strong>Income</strong></td>
                                            <td class="text-left tdBorderRight">
                                                {{financialData?.YTD?.income}}
                                            </td>
                                            <td><strong>Expense</strong></td>
                                            <td class="text-left tdBorderRight">
                                                {{financialData?.YTD?.expense}}
                                            </td>
                                            <td><strong>Fuel Expense</strong></td>
                                            <td class="text-left tdBorderRight">
                                                {{financialData?.YTD?.fuelExpense}}
                                            </td>
                                            <td><strong>Profit</strong></td>
                                            <td class="text-left">
                                                {{financialData?.YTD?.profit}}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="8">
                                                <h6>Last 7 Days</h6>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><strong>Income</strong></td>
                                            <td class="text-left tdBorderRight">
                                                {{financialData?.last7Days?.income}}
                                            </td>
                                            <td><strong>Expense</strong></td>
                                            <td class="text-left tdBorderRight">
                                                {{financialData?.last7Days?.expense}}
                                            </td>
                                            <td><strong>Fuel Expense</strong></td>
                                            <td class="text-left tdBorderRight">
                                                {{financialData?.last7Days?.fuelExpense}}
                                            </td>
                                            <td><strong>Profit</strong></td>
                                            <td class="text-left">
                                                {{financialData?.last7Days?.profit}}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="8">
                                                <h6>Last 30 Days</h6>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><strong>Income</strong></td>
                                            <td class="text-left tdBorderRight">
                                                {{financialData?.last30Days?.income}}
                                            </td>
                                            <td><strong>Expense</strong></td>
                                            <td class="text-left tdBorderRight">
                                                {{financialData?.last30Days?.expense}}
                                            </td>
                                            <td><strong>Fuel Expense</strong></td>
                                            <td class="text-left tdBorderRight">
                                                {{financialData?.last30Days?.fuelExpense}}
                                            </td>
                                            <td><strong>Profit</strong></td>
                                            <td class="text-left">
                                                {{financialData?.last30Days?.profit}}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="8">
                                                <h6>Last 90 Days</h6>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><strong>Income</strong></td>
                                            <td class="text-left tdBorderRight">
                                                {{financialData?.last90Days?.income}}
                                            </td>
                                            <td><strong>Expense</strong></td>
                                            <td class="text-left tdBorderRight">
                                                {{financialData?.last90Days?.expense}}
                                            </td>
                                            <td><strong>Fuel Expense</strong></td>
                                            <td class="text-left tdBorderRight">
                                                {{financialData?.last90Days?.fuelExpense}}
                                            </td>
                                            <td><strong>Profit</strong></td>
                                            <td class="text-left tdBorderRight">
                                                {{financialData?.last90Days?.profit}}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="card">
                    <div class="card-header card-header-tabs card-header-primary">
                        <!-- <div class="card-header card-header-warning"> -->
                        <h4 class="card-title">Assets</h4>
                        <!-- </div> -->
                    </div>
                    <div class="card-body">
                        <div class="tab-content">
                            <div class="tab-pane active" id="profile">
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <td colspan="2" >
                                                <h6>Tractors</h6>
                                            </td>
                                            <td><strong>Active</strong></td>
                                            <td class="text-left tdBorderRight">
                                                {{assetData?.Tractors?.Active}}
                                            </td>
                                            <td><strong>Inactive</strong></td>
                                            <td class="text-left">
                                                {{assetData?.Tractors?.Inactive}}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2">
                                                <h6>Trailers</h6>
                                            </td>
                                            <td><strong>Active</strong></td>
                                            <td class="text-left tdBorderRight">
                                                {{assetData?.Trailers?.Active}}
                                            </td>
                                            <td><strong>Inactive</strong></td>
                                            <td class="text-left">
                                                {{assetData?.Trailers?.Inactive}}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2">
                                                <h6>Containers</h6>
                                            </td>
                                            <td><strong>Active</strong></td>
                                            <td class="text-left tdBorderRight">
                                                {{assetData?.Containers?.Active}}
                                            </td>
                                            <td><strong>Inactive</strong></td>
                                            <td class="text-left">
                                                {{assetData?.Containers?.Inactive}}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2">
                                                <h6>Drivers</h6>
                                            </td>
                                            <td><strong>Active</strong></td>
                                            <td class="text-left tdBorderRight">
                                                {{assetData?.Drivers?.Active}}
                                            </td>
                                            <td><strong>Inactive</strong></td>
                                            <td class="text-left">
                                                {{assetData?.Drivers?.Inactive}}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2">
                                                <h6>Trackers</h6>
                                            </td>
                                            <td><strong>Active</strong></td>
                                            <td class="text-left tdBorderRight">
                                                {{assetData?.Trackers?.Active}}
                                            </td>
                                            <td><strong>Inactive</strong></td>
                                            <td class="text-left">
                                                {{assetData?.Trackers?.Inactive}}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title">Payments</h4>
                    </div>
                    <div class="card-body table-responsive">
                        <table class="table table-hover">
                            <thead class="text-strong">
                                <th>Paid</th>
                                <th>Partial Paid</th>
                                <th>Pending</th>
                                <th>Total</th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{{paymentData?.Paid}}</td>
                                    <td>{{paymentData?.PartialPaid}}</td>
                                    <td>{{paymentData?.Pending}}</td>
                                    <td>{{paymentData?.total}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title">Jobs</h4>
                    </div>
                    <div class="card-body table-responsive">
                        <table class="table table-hover">
                            <thead class="text-strong">
                                <th>Open</th>
                                <th>Close</th>
                                <th>Total</th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{{jobData?.Open}}</td>
                                    <td>{{jobData?.Close}}</td>
                                    <td>{{jobData?.total}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="col-lg-8 col-md-12">
                <div class="card">
                    <div class="card-header card-header-tabs card-header-primary">
                        <!-- <div class="card-header card-header-warning"> -->
                        <h4 class="card-title">Invoices</h4>
                        <!-- </div> -->
                    </div>
                    <div class="card-body">
                        <div class="tab-content">
                            <div class="tab-pane active" id="profile">
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <td colspan="2" >
                                                <h6>Dedicated</h6>
                                            </td>
                                            <td><strong>Generated</strong></td>
                                            <td class="text-left tdBorderRight">
                                                {{invoiceData?.Dedicated?.Generated}}
                                            </td>
                                            <td><strong>Pending</strong></td>
                                            <td class="text-left tdBorderRight">
                                                {{invoiceData?.Dedicated?.Pending}}
                                            </td>
                                            <td><strong>Total</strong></td>
                                            <td class="text-left">
                                                {{invoiceData?.Dedicated?.total}}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2">
                                                <h6>Per Trip</h6>
                                            </td>
                                            <td><strong>Generated</strong></td>
                                            <td class="text-left tdBorderRight">
                                                {{invoiceData?.PerTrip?.Generated}}
                                            </td>
                                            <td><strong>Pending</strong></td>
                                            <td class="text-left tdBorderRight">
                                                {{invoiceData?.PerTrip?.Pending}}
                                            </td>
                                            <td><strong>Total</strong></td>
                                            <td class="text-left">
                                                {{invoiceData?.PerTrip?.total}}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2">
                                                <h6>Per Ton</h6>
                                            </td>
                                            <td><strong>Generated</strong></td>
                                            <td class="text-left tdBorderRight">
                                                {{invoiceData?.PerTon?.Generated}}
                                            </td>
                                            <td><strong>Pending</strong></td>
                                            <td class="text-left tdBorderRight">
                                                {{invoiceData?.PerTon?.Pending}}
                                            </td>
                                            <td><strong>Total</strong></td>
                                            <td class="text-left">
                                                {{invoiceData?.PerTon?.total}}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2">
                                                <h6>Fixed</h6>
                                            </td>
                                            <td><strong>Generated</strong></td>
                                            <td class="text-left tdBorderRight">
                                                {{invoiceData?.Fixed?.Generated}}
                                            </td>
                                            <td><strong>Pending</strong></td>
                                            <td class="text-left tdBorderRight">
                                                {{invoiceData?.Fixed?.Pending}}
                                            </td>
                                            <td><strong>Total</strong></td>
                                            <td class="text-left">
                                                {{invoiceData?.Fixed?.total}}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title">Roadway Bills</h4>
                    </div>
                    <div class="card-body table-responsive">
                        <table class="table table-hover">
                            <thead class="text-strong">
                                <th>Booked</th>
                                <th>Dispatched</th>
                                <th>Loaded</th>
                                <th>Completed</th>
                                <th>Total</th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{{orderData?.Booked}}</td>
                                    <td>{{orderData?.Dispatched}}</td>
                                    <td>{{orderData?.Loaded}}</td>
                                    <td>{{orderData?.Completed}}</td>
                                    <td>{{orderData?.total}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <main>
    <div class="center-div">
        <p class="main-heading">
            LOGEX.NET FMS
        </p>
    </div>
</main> -->