<!-- Create company form component -->
<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">

        <!-- main form start -->
        <form [formGroup]="trackerForm" (ngSubmit)="submitTracker()">

          <div class="card-form status-dropdown">
            <div class="form-row d-flex justify-content-between">
              <div class="id-card">
                <p>Tracker ID # {{trackerForm.get('trackerId').value}}</p>
              </div>
              <div class="form-group col-md-2">
                <mat-form-field [style.fontSize]="'12px'" appearance="outline">
                  <mat-label>Status</mat-label>
                  <mat-select formControlName="status">
                    <mat-option></mat-option>
                    <mat-option value="Active">Active</mat-option>
                    <mat-option value="Inactive">Inactive</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

            </div>
          </div>
          <div class="card">
            <div class="card-body card-form">
              <div class="form-row">
                <div class="form-group col-md-3">
                  <mat-form-field [style.fontSize]="'12px'" appearance="outline">
                    <mat-label>Owner</mat-label>
                    <mat-select formControlName="owner" [compareWith]="compareCompany">
                      <mat-option [value]=null></mat-option>
                      <mat-option *ngFor="let comp of companiesDropDown" [value]="comp">{{comp.companyName}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="form-group col-md-3">
                  <mat-form-field [style.fontSize]="'12px'" appearance="outline">
                    <mat-label>Lease Type</mat-label>
                    <mat-select formControlName="leasetype" [compareWith]="compareDropdownType"
                      (selectionChange)="showSupplier($event.value)">
                      <mat-option [value]=null></mat-option>
                      <mat-option *ngFor="let lease of leaseTypeDropDown" [value]="lease">{{lease.value}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div *ngIf="showSuppField" class="form-group col-md-3">
                  <mat-form-field [style.fontSize]="'12px'" appearance="outline">
                    <mat-label>Supplier</mat-label>
                    <mat-select formControlName="suppId" [compareWith]="compareDropdownType">
                      <mat-option [value]=null></mat-option>
                      <mat-option *ngFor="let supType of supplierDropDown" [value]="supType">
                        {{supType.value}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="form-group col-md-2">
                  <mat-form-field [style.fontSize]="'12px'" appearance="outline">
                    <mat-label>Tracker Name</mat-label>
                    <input matInput formControlName="trackName" placeholder="Tracker Name">
                  </mat-form-field>
                </div>
                <div class="form-group col-md-2">
                  <mat-form-field [style.fontSize]="'12px'" appearance="outline">
                    <mat-label>Tracker Number</mat-label>
                    <input matInput formControlName="trackNum" placeholder="Tracker Number">
                  </mat-form-field>
                </div>
                <div class="form-group col-md-3">
                  <mat-form-field [style.fontSize]="'12px'" appearance="outline">
                    <mat-label>Installation Date</mat-label>
                    <input matInput formControlName="insDate" [matDatepicker]="picker" placeholder="Installation Date">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker touchUi #picker></mat-datepicker>
                  </mat-form-field>
                </div>
                <div class="form-group col-md-3">
                  <mat-form-field [style.fontSize]="'12px'" appearance="outline">
                    <mat-label>Tracker Return Date</mat-label>
                    <input matInput formControlName="retDate" [matDatepicker]="Apicker"
                      placeholder="Tracker Return Date">
                    <mat-datepicker-toggle matSuffix [for]="Apicker"></mat-datepicker-toggle>
                    <mat-datepicker touchUi #Apicker></mat-datepicker>
                  </mat-form-field>
                </div>
                <div class="form-group col-md-3">
                  <mat-form-field [style.fontSize]="'12px'" appearance="outline">
                    <mat-label>Contract Terms</mat-label>
                    <mat-select formControlName="contTerm">
                      <mat-option [value]=null></mat-option>
                      <mat-option value="Monthly">Monthly</mat-option>
                      <mat-option value="Yearly">Yearly</mat-option>
                      <mat-option value="PerTrip">Per Trip</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>




          <div class="form-navigation">
            <div>
              <button mat-raised-button class="btn btn-sm" type="reset" [routerLink]="['/tracker']"
                routerLinkActive="router-link-active">
                Back
              </button>
            </div>
            <div>
              <button mat-raised-button class="btn btn-sm" (click)="deleteTracker()" type="button"
                routerLinkActive="router-link-active">
                Delete
              </button>
              <button mat-raised-button class="btn btn-sm btn-danger" type="submit"
                routerLinkActive="router-link-active">
                Save
              </button>
            </div>
          </div>
        </form>
        <!-- main form end -->
      </div>
    </div>
  </div>
</div>