.freight-rates {
	.search-form {
		margin-top: 0 !important;
	}
	.job-head {
		padding: 8px 24px;
		background: #2f4154;
		margin-bottom: 8px;
		border-radius: 4px;
		.title {
			color: #fff;
			margin-bottom: 0 !important;
		}
	}

	::ng-deep .mat-accordion {
		.mat-expansion-panel {
			.mat-expansion-panel-header {
				.mat-expansion-panel-header-title {
					padding-top: 8px;
				}
				.mat-expansion-panel-header-description {
					display: flex;
					justify-content: space-between;
					.details {
						// cursor: default;
						display: flex;
						padding-top: 6px;
						.detail {
							font-size: 14px;
							margin-right: 20px;
							span {
								font-weight: 600;
							}
						}
						.mat-form-field {
							margin-right: 20px;
							.mat-form-field-wrapper {
								margin: 0 !important;
								padding: 0 !important;
								.mat-form-field-flex {
									.mat-form-field-infix {
										padding: 7px !important;
										border-top-width: 3px !important;
									}
								}
							}
						}
					}
					.actions {
						display: flex;
						justify-content: flex-end;
					}
				}
			}
			.mat-expansion-panel-body {
				.heading {
					margin-top: 12px;
					p {
						font-size: 18px;
						font-weight: 600;
					}
				}
				.flex-cont {
					display: flex;
					justify-content: flex-start;
					h5 {
						font-weight: 500;
						font-size: 14px;
						span {
							font-weight: 400;
						}
					}
					&.vehicle {
						justify-content: space-between;
					}
					&.rwb {
						h5 {
							margin-right: 16px;
						}
					}
				}
				.stops {
					h5 {
						font-weight: 500;
						font-size: 14px;
						span {
							font-weight: 400;
						}
					}
				}
			}
		}
	}
}
