<!-- Create company form component -->
<div class="main-content freight-rates">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<!-- main form start -->
				<div class="card-form status-dropdown">
					<div class="form-row d-flex justify-content-between">
						<!-- <div class="id-card">
              <p>Pending: 1</p>
            </div> -->
					</div>
				</div>

				<div class="card">
					<div class="card-body card-form search-form">
						<form [formGroup]="form">
							<div class="form-row">
								<div class="form-group col-md-2">
									<mat-form-field
										[style.fontSize]="'12px'"
										appearance="outline"
										class="full-width"
									>
										<mat-label>Job ID</mat-label>
										<input
											matInput
											placeholder="Job ID"
											formControlName="jobId"
										/>
									</mat-form-field>
								</div>
								<div class="form-group col-md-2">
									<mat-form-field
										[style.fontSize]="'12px'"
										appearance="outline"
										class="full-width"
									>
										<mat-label>RWB ID</mat-label>
										<input
											matInput
											placeholder="RWB ID"
											formControlName="rwbId"
										/>
									</mat-form-field>
								</div>
								<div class="form-group col-md-2">
									<mat-form-field
										[style.fontSize]="'12px'"
										appearance="outline"
										class="date-time full-width"
									>
										<mat-label>Start Date</mat-label>
										<input
											matInput
											[matDatepicker]="picker"
											formControlName="start"
										/>
										<mat-datepicker-toggle
											matSuffix
											[for]="picker"
										></mat-datepicker-toggle>
										<mat-datepicker #picker></mat-datepicker>
									</mat-form-field>
								</div>
								<div class="form-group col-md-2">
									<mat-form-field
										[style.fontSize]="'12px'"
										appearance="outline"
										class="date-time full-width"
									>
										<mat-label>End Date</mat-label>
										<input
											matInput
											[matDatepicker]="picker1"
											formControlName="end"
										/>
										<mat-datepicker-toggle
											matSuffix
											[for]="picker1"
										></mat-datepicker-toggle>
										<mat-datepicker #picker1></mat-datepicker>
									</mat-form-field>
								</div>
								<div class="form-group col-md-2">
									<!-- <mat-checkbox formControlName="rateStatus">Rate Status</mat-checkbox> -->
									<mat-form-field
										[style.fontSize]="'12px'"
										appearance="outline"
									>
										<mat-label>Rate Status</mat-label>
										<mat-select formControlName="rateStatus">
											<mat-option value="">All</mat-option>
											<mat-option value="true">Rate Added</mat-option>
											<mat-option value="false">Rate Pending</mat-option>
										</mat-select>
									</mat-form-field>
								</div>
								<div class="col-2 row-button">
									<button
										class="btn btn-sm btn-danger"
										type="button"
										(click)="search()"
									>
										Search
									</button>
								</div>
							</div>
						</form>
					</div>
				</div>

				<div class="col-12 job-head">
					<p class="title">Road Way Bills</p>
				</div>
				<mat-accordion>
					<mat-expansion-panel *ngFor="let bill of roadWayBills">
						<mat-expansion-panel-header
							(keydown.Space)="$event.stopImmediatePropagation()"
						>
							<mat-panel-description (click)="$event.stopPropagation()">
								<div class="details">
									<div class="detail">
										<span>{{ bill.jobId }}</span>
									</div>
									<div class="detail">
										<span>{{ bill.rwbId }}</span>
									</div>
									<div class="detail">
										<span>{{ bill.orderNumber }}</span>
									</div>
									<div class="detail">
										<span
											>{{ bill.route.routeFrom.code }} -
											{{ bill.route.routeTo.code }}</span
										>
									</div>

									<ng-template
										[ngIf]="
											bill.customerType.value ==
											environment.SystemTypes_CONTRACTUAL
										"
										[ngIfElse]="notContractual"
									>
										<div class="detail">
											<span>{{ bill.customer.companyName }}</span>
										</div>
									</ng-template>

									<ng-template #notContractual>
										<div class="detail">
											<span>{{ bill.broker.companyName }}</span>
										</div>
									</ng-template>

									<mat-form-field
										[style.fontSize]="'12px'"
										appearance="outline"
									>
										<input
											matInput
											placeholder="Rate Amount"
											type="text"
											name="rate"
											#rateValue
											[ngModel]="rate(bill?.incomes, 'amount')"
										/>
									</mat-form-field>

									<mat-form-field
										[style.fontSize]="'12px'"
										appearance="outline"
									>
										<input
											matInput
											placeholder="Rate Description"
											type="text"
											name="description"
											#description
											[ngModel]="rate(bill?.incomes, 'description')"
										/>
									</mat-form-field>
								</div>
								<div class="actions">
									<button
										mat-raised-button
										type="button"
										class="btn btn-sm btn-danger"
										(click)="
											saveRate(rateValue, description, bill.rwbId, bill.incomes)
										"
									>
										Save
									</button>
								</div>
							</mat-panel-description>
						</mat-expansion-panel-header>
						<ng-container
							*ngIf="
								bill.vehicleOwnership.value == environment.SystemTypes_OWNED
							"
						>
							<div class="heading">
								<p>RWB Info</p>
							</div>
							<div class="flex-cont rwb">
								<h5>
									RWB Status:
									<span>{{ bill.rwbStatus?.value }}</span>
								</h5>
								<h5>
									RWB Date:
									<span>{{ bill.rwbDate }}</span>
								</h5>
							</div>
							<div class="heading">
								<p>Vehicle Info</p>
							</div>
							<div class="flex-cont vehicle">
								<h5>
									Tractor:
									<span>{{ bill.tractor?.numberPlate }}</span>
								</h5>
								<h5>
									Trailer:
									<span>{{ bill.trailer?.vin }}</span>
								</h5>
								<h5>
									Conatainer:
									<span>{{ bill.container?.containerNumber }}</span>
								</h5>
								<h5>
									Driver 1:
									<span>{{ bill.driver1?.employeeName }}</span>
								</h5>
								<h5>
									Driver 2:
									<span>{{ bill.driver2?.employeeName }}</span>
								</h5>
							</div>
							<div class="heading">
								<p>Stops</p>
							</div>
							<div class="stops" *ngFor="let stop of bill.stops">
								<h5>
									Stop {{ stop.stopSequenceNumber }}:
									<span>{{
										stop.warehouse.address.street1 +
											", " +
											stop.warehouse.address.city.value +
											", " +
											stop.warehouse.address.state.value +
											", " +
											stop.warehouse.address.zipCode +
											", " +
											stop.warehouse.address.country
									}}</span>
								</h5>
							</div>
						</ng-container>
						<ng-container
							*ngIf="
								bill.vehicleOwnership.value == environment.SystemTypes_RENTAL
							"
						>
							<div class="heading">
								<p>RWB Info</p>
							</div>
							<div class="flex-cont rwb">
								<h5>
									RWB Status:
									<span>{{ bill.rwbStatus?.value }}</span>
								</h5>
								<h5>
									RWB Date:
									<span>{{ bill.rwbDate }}</span>
								</h5>
							</div>
							<div class="heading">
								<p>Vehicle Info</p>
							</div>
							<div class="flex-cont rwb">
								<h5>
									Vehicle Number:
									<span>{{ bill.rentalVehicle?.vehicleNumber }}</span>
								</h5>
								<h5>
									Equipment Type:
									<span>{{ bill.rentalVehicle?.equipmentType.value }}</span>
								</h5>
								<h5>
									Equipment Size:
									<span>{{ bill.rentalVehicle?.equipmentSize.value }}</span>
								</h5>
							</div>

							<div class="heading">
								<p>Stops</p>
							</div>
							<div class="stops" *ngFor="let stop of bill.stops">
								<h5>
									Stop {{ stop.stopSequenceNumber }}:
									<span>{{
										stop.warehouse.address.street1 +
											", " +
											stop.warehouse.address.city.value +
											", " +
											stop.warehouse.address.state.value +
											", " +
											stop.warehouse.address.zipCode +
											", " +
											stop.warehouse.address.country
									}}</span>
								</h5>
							</div>
						</ng-container>
					</mat-expansion-panel>
				</mat-accordion>
			</div>
		</div>
	</div>
</div>
