<div class="main-content">
  <div class="container-fluid">
    <div class="form-row d-flex justify-content-between">
      <div class="col-md-4">
        <button mat-raised-button type="button" class="btn btn-sm btn-danger" (click)="openBulkUploadDialog()">
          <i class="material-icons">add</i>
          Add in Bulk
        </button>
        <button mat-raised-button type="button" class="btn btn-sm btn-danger" (click)="exportDriverList()">
          <i class="material-icons">system_update_alt</i>
          Export
        </button>
      </div>
      <div class="col-md-2">
        <button mat-raised-button type="submit" class="btn btn-sm btn-danger pull-right"
          [routerLink]="['/employees/add']" routerLinkActive="router-link-active">
          <i class="material-icons">add</i>
          Add Employee
        </button>
      </div>
      <div class="col-md-12">
        <div class="card">
          <div class="card-body card-form search-form">
            <form [formGroup]="form" (ngSubmit)="searchEmployee()">

              <div class="form-row">

                <div class="form-group col-md-2">
                  <mat-form-field [style.fontSize]="'12px'" appearance="outline" class="full-width">
                    <mat-label>Emp No.</mat-label>
                    <input matInput placeholder="Emp No." formControlName="empNo" />
                  </mat-form-field>
                </div>
                <div class="form-group col-md-2">
                  <mat-form-field [style.fontSize]="'12px'" appearance="outline" class="full-width">
                    <mat-label>First Name</mat-label>
                    <input matInput placeholder="First Name" formControlName="fname" />
                  </mat-form-field>
                </div>
                <div class="form-group col-md-2">
                  <mat-form-field [style.fontSize]="'12px'" appearance="outline" class="full-width">
                    <mat-label>Last Name</mat-label>
                    <input matInput placeholder="Last Name" formControlName="lname" />
                  </mat-form-field>
                </div>
                <div class="form-group col-md-2">
                  <mat-form-field [style.fontSize]="'12px'" appearance="outline" class="full-width">
                    <mat-label>CNIC</mat-label>
                    <input matInput placeholder="Cnic Number" formControlName="cnic" />
                  </mat-form-field>
                </div>
                <div class="form-group col-md-2">
                  <mat-form-field [style.fontSize]="'12px'" appearance="outline" class="full-width">
                    <mat-label>License Number</mat-label>
                    <input matInput placeholder="License Number" formControlName="licence" />
                  </mat-form-field>
                </div>
                
                <div class="col-2 row-button">
                  <button class="btn btn-sm btn-danger" type="submit">
                    <i class="material-icons">search</i>
                  </button>
                  &nbsp;
                  <button class="btn btn-sm btn-danger" type="button" (click)="ClearForm()">
                    <i class="material-icons">clear</i>
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <div class="">
              <form class="navbar-form">
                <div class="input-group no-border">
                  <input type="text" class="form-control" matInput (keyup)="applyFilter($event.target.value)"
                    placeholder="Search..." />
                </div>
              </form>
            </div>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                <!-- Position Column -->
                <ng-container matColumnDef="empNo">
                  <th mat-header-cell *matHeaderCellDef>Emp #</th>
                  <td mat-cell (click)="findEmployeeById(employee)" *matCellDef="let employee">
                    {{ employee.employeeNumber }}
                  </td>
                  <td mat-footer-cell *matFooterCellDef colspan="8" class="footer-cell">
                    No Employee Found.
                  </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="name">
                  <th mat-header-cell *matHeaderCellDef>Full Name</th>
                  <td mat-cell (click)="findEmployeeById(employee)" *matCellDef="let employee">
                    {{ employee.employeeName }}
                  </td>
                  <td mat-footer-cell *matFooterCellDef class="no-display"></td>
                </ng-container>

                <!-- Weight Column -->
                <ng-container matColumnDef="dob">
                  <th mat-header-cell *matHeaderCellDef>Date of Birth</th>
                  <td mat-cell (click)="findEmployeeById(employee)" *matCellDef="let employee">
                    {{ employee.dateOfBirth }}
                  </td>
                  <td mat-footer-cell *matFooterCellDef class="no-display"></td>
                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="businessEntity">
                  <th mat-header-cell *matHeaderCellDef>Department</th>
                  <td mat-cell (click)="findEmployeeById(employee)" *matCellDef="let employee">
                    {{ employee.department.value }}
                  </td>
                  <td mat-footer-cell *matFooterCellDef class="no-display"></td>
                </ng-container>

                <ng-container matColumnDef="position">
                  <th mat-header-cell *matHeaderCellDef>Position</th>
                  <td mat-cell (click)="findEmployeeById(employee)" *matCellDef="let employee">
                    {{ employee.position.value }}
                  </td>
                  <td mat-footer-cell *matFooterCellDef class="no-display"></td>
                </ng-container>

                <ng-container matColumnDef="licenseExpiry">
                  <th mat-header-cell *matHeaderCellDef>License Number</th>
                  <td mat-cell (click)="findEmployeeById(employee)" *matCellDef="let employee">
                    {{ employee.licenceNumber }}
                  </td>
                  <td mat-footer-cell *matFooterCellDef class="no-display"></td>
                </ng-container>

                <ng-container matColumnDef="medicalExpiry">
                  <th mat-header-cell *matHeaderCellDef>CNIC</th>
                  <td mat-cell (click)="findEmployeeById(employee)" *matCellDef="let employee">
                    {{ employee.cnic }}
                  </td>
                  <td mat-footer-cell *matFooterCellDef class="no-display"></td>
                </ng-container>

                <ng-container matColumnDef="status">
                  <th mat-header-cell *matHeaderCellDef>Status</th>
                  <td mat-cell (click)="findEmployeeById(employee)" *matCellDef="let employee">
                    {{ employee.status }}
                  </td>
                  <td mat-footer-cell *matFooterCellDef class="no-display"></td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                <tr mat-footer-row *matFooterRowDef="displayedColumns"
                  [hidden]="dataSource && dataSource.data.length > 0"></tr>
              </table>
              <mat-paginator showFirstLastButtons
              [length]="length"
              [pageSize]="pageSize"
              [pageSizeOptions]="pageSizeOptions"
              (page)="pageEvent = getServerData($event)"></mat-paginator>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>