.main-content {
  .row {
    .col-md-12 {
      .card {
        .card-header {
          display: flex;
          justify-content: flex-end;
          form {
            .input-group {
              input {
                color: #fff;
              }
            }
          }
        }
        .card-body {
          .table-responsive {
            table {
              width: 100%;
            }
          }
        }
      }
    }
  }
}
