<div class="main-content">
  <div class="container-fluid">
    <div class="form-row d-flex justify-content-between">
      <div class="col-md-2">
        <button mat-raised-button type="button" class="btn btn-sm btn-danger" (click)="exportInventoryList()">
          <i class="material-icons">system_update_alt</i>
          Export List
        </button>
      </div>
    </div>
    <!-- Add Item Button row -->
    <div class="row">
      <!-- <div class="col-md-12">
        <button mat-raised-button type="submit" class="btn btn-sm btn-danger pull-right" [routerLink]="['/items/add']"
          routerLinkActive="router-link-active">
          <i class="material-icons">add</i>
          Add Item
        </button>
      </div> -->
      <!-- <div class="col-md-12">
        <div class="card">
          <div class="card-body card-form search-form">
            <form [formGroup]="form" (ngSubmit)="search()">
              <div class="form-row">
                <div class="form-group col-md-1">
                  <mat-form-field
                    [style.fontSize]="'12px'"
                    appearance="outline"
                    class="full-width"
                  >
                    <mat-label>Job ID</mat-label>
                    <input
                      matInput
                      placeholder="Job ID"
                      formControlName="jobId"
                    />
                  </mat-form-field>
                </div>
                <div class="form-group col-md-1">
                  <mat-form-field
                    [style.fontSize]="'12px'"
                    appearance="outline"
                    class="full-width"
                  >
                    <mat-label>RWB ID</mat-label>
                    <input
                      matInput
                      placeholder="RWB ID"
                      formControlName="rwbId"
                    />
                  </mat-form-field>
                </div>
                <div class="form-group col-md-2">
                  <mat-form-field
                    [style.fontSize]="'12px'"
                    appearance="outline"
                  >
                    <mat-label>Ownership</mat-label>
                    <mat-select formControlName="ownerShipStatus">
                      <mat-option value=""></mat-option>
                      <mat-option value="false">Owned</mat-option>
                      <mat-option value="true">Rental</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="form-group col-md-1">
                  <mat-form-field
                    [style.fontSize]="'12px'"
                    appearance="outline"
                    class="full-width"
                  >
                    <mat-label>Number Plate</mat-label>
                    <input
                      matInput
                      placeholder="Number Plate"
                      formControlName="lic"
                    />
                  </mat-form-field>
                </div>
                <div class="form-group col-md-2">
                  <mat-form-field
                    [style.fontSize]="'12px'"
                    appearance="outline"
                    class="date-time full-width"
                  >
                    <mat-label>Start Date</mat-label>
                    <input
                      matInput
                      [matDatepicker]="picker"
                      formControlName="start"
                    />
                    <mat-datepicker-toggle
                      matSuffix
                      [for]="picker"
                    ></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
                </div>
                <div class="form-group col-md-2">
                  <mat-form-field
                    [style.fontSize]="'12px'"
                    appearance="outline"
                    class="date-time full-width"
                  >
                    <mat-label>End Date</mat-label>
                    <input
                      matInput
                      [matDatepicker]="picker1"
                      formControlName="end"
                    />
                    <mat-datepicker-toggle
                      matSuffix
                      [for]="picker1"
                    ></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                  </mat-form-field>
                </div>
                <div class="form-group col-md-1">
                  <mat-form-field
                    [style.fontSize]="'12px'"
                    appearance="outline"
                  >
                    <mat-label>Job Status</mat-label>
                    <mat-select formControlName="jobStatus">
                      <mat-option value=""></mat-option>
                      <mat-option value="Open">Open</mat-option>
                      <mat-option value="Close">Close</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-2 row-button">
                  <button class="btn btn-sm btn-danger" type="submit">
                    <i class="material-icons">search</i>
                  </button>
                  &nbsp;
                  <button
                    class="btn btn-sm btn-danger"
                    type="button"
                    (click)="ClearForm()"
                  >
                    <i class="material-icons">clear</i>
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div> -->
      <!-- main table start -->
      <div class="col-md-12">
        <div class="card">
          <!-- table header start -->
          <div class="card-header card-header-danger">
            <div class="">
              <form class="navbar-form">
                <div class="input-group no-border">
                  <input type="text" class="form-control" matInput (keyup)="applyFilter($event.target.value)"
                    placeholder="Search..." />
                </div>
              </form>
            </div>
          </div>

          <!-- table body start -->
          <div class="card-body">
            <div class="table-responsive">
              <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                <!-- Name Column -->
                <ng-container matColumnDef="name">
                  <th mat-header-cell *matHeaderCellDef>Item Name</th>
                  <td mat-cell *matCellDef="let items">
                    {{ items.item?.itemName }}
                  </td>
                  <td mat-footer-cell *matFooterCellDef colspan="5" class="footer-cell">
                    No item Found.
                  </td>
                </ng-container>

                <!-- SKU Column -->
                <ng-container matColumnDef="sku">
                  <th mat-header-cell *matHeaderCellDef>SKU</th>
                  <td mat-cell *matCellDef="let items">
                    {{ items.item.itemSku }}
                  </td>
                  <td mat-footer-cell *matFooterCellDef class="no-display"></td>
                </ng-container>

                <!-- Category Hand Column -->
                <ng-container matColumnDef="category">
                  <th mat-header-cell *matHeaderCellDef>Qty. Expected</th>
                  <td mat-cell *matCellDef="let items">
                    {{ items.expectedQty }}
                  </td>
                  <td mat-footer-cell *matFooterCellDef class="no-display"></td>
                </ng-container>

                <ng-container matColumnDef="itemType">
                  <th mat-header-cell *matHeaderCellDef>Qty. In</th>
                  <td mat-cell *matCellDef="let items">
                    {{ items.qtyIn}}
                  </td>
                  <td mat-footer-cell *matFooterCellDef class="no-display"></td>
                </ng-container>

                <ng-container matColumnDef="qtyOut">
                  <th mat-header-cell *matHeaderCellDef>Qty. Out</th>
                  <td mat-cell *matCellDef="let items">
                    {{ items.qtyOut }}
                  </td>
                  <td mat-footer-cell *matFooterCellDef class="no-display"></td>
                </ng-container>

                <ng-container matColumnDef="stockOnhand">
                  <th mat-header-cell *matHeaderCellDef>Stock Onhand</th>
                  <td mat-cell *matCellDef="let items">
                    {{ items.qtyOnHand }}
                  </td>
                  <td mat-footer-cell *matFooterCellDef class="no-display"></td>
                </ng-container>

                <ng-container matColumnDef="committedStock">
                  <th mat-header-cell *matHeaderCellDef>Committed Stock</th>
                  <td mat-cell *matCellDef="let items">
                    {{ items.qtyCommitted }}
                  </td>
                  <td mat-footer-cell *matFooterCellDef class="no-display"></td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                <tr mat-footer-row *matFooterRowDef="displayedColumns"
                  [hidden]="dataSource && dataSource.data?.length > 0"></tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
