<div class="main-content">
  <div class="container-fluid">
    <div class="form-row d-flex justify-content-between">
      <div class="col-md-4">
        <button mat-raised-button type="button" class="btn btn-sm btn-danger" (click)="openBulkUploadDialog()">
          <i class="material-icons">add</i>
          Add in Bulk
        </button>
        <button mat-raised-button type="button" class="btn btn-sm btn-danger" (click)="exportTrailerList()">
          <i class="material-icons">system_update_alt</i>
          Export
        </button>
      </div>
      <div class="col-md-2">
        <button mat-raised-button type="submit" class="btn btn-sm btn-danger pull-right" [routerLink]="['/trailer/add']"
          routerLinkActive="router-link-active">
          <i class="material-icons">add</i>
          Add Trailer
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-body card-form search-form">
            <form [formGroup]="form" (ngSubmit)="search()">
              <div class="form-row">
                <!-- <div class="form-group col-md-3">
                  <mat-form-field
                    [style.fontSize]="'12px'"
                    appearance="outline"
                    class="full-width"
                  >
                    <mat-label>Truck Number</mat-label>
                    <input
                      matInput
                      placeholder="Number Plate"
                      formControlName="num"
                    />
                  </mat-form-field>
                </div> -->
                <div class="form-group col-md-3">
                  <mat-form-field
                    [style.fontSize]="'12px'"
                    appearance="outline"
                    class="full-width"
                  >
                    <mat-label>Trailer Number</mat-label>
                    <input
                      matInput
                      placeholder="Trailer Number"
                      formControlName="vin"
                    />
                  </mat-form-field>
                </div>
                
                <!-- <div class="form-group col-md-3">
                  <mat-form-field
                    [style.fontSize]="'12px'"
                    appearance="outline"
                    class="full-width"
                  >
                    <mat-label>Engine Number</mat-label>
                    <input
                      matInput
                      placeholder="Engine Number"
                      formControlName="enginenum"
                    />
                  </mat-form-field>
                </div> -->
                <div class="col-2 row-button">
                  <button class="btn btn-sm btn-danger" type="submit">
                    <i class="material-icons">search</i>
                  </button>
                  &nbsp;
                  <button
                    class="btn btn-sm btn-danger"
                    type="button"
                    (click)="ClearForm()"
                  >
                    <i class="material-icons">clear</i>
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <div class="">
              <form class="navbar-form">
                <div class="input-group no-border">
                  <input type="text" class="form-control" matInput (keyup)="applyFilter($event.target.value)"
                    placeholder="Search..." />
                </div>
              </form>
            </div>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                <!-- Position Column -->
                <ng-container matColumnDef="name">
                  <th mat-header-cell *matHeaderCellDef>Trailer Number</th>
                  <td mat-cell (click)="findTrailerById(trailer)" *matCellDef="let trailer">
                    {{ trailer.vin }}
                  </td>
                  <td mat-footer-cell *matFooterCellDef colspan="5" class="footer-cell">
                    No Trailer Found.
                  </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="businessType">
                  <th mat-header-cell *matHeaderCellDef>Lease Type</th>
                  <td mat-cell (click)="findTrailerById(trailer)" *matCellDef="let trailer">
                    {{ trailer.leaseType.value }}
                  </td>
                  <td mat-footer-cell *matFooterCellDef class="no-display"></td>
                </ng-container>

                <!-- Weight Column -->
                <ng-container matColumnDef="address">
                  <th mat-header-cell *matHeaderCellDef>Trailer Type</th>
                  <td mat-cell (click)="findTrailerById(trailer)" *matCellDef="let trailer">
                    {{ trailer.trailerType.value }}
                  </td>
                  <td mat-footer-cell *matFooterCellDef class="no-display"></td>
                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="verified">
                  <th mat-header-cell *matHeaderCellDef>Trailer Size</th>
                  <td mat-cell (click)="findTrailerById(trailer)" *matCellDef="let trailer">
                    {{ trailer.trailerSize.value }}
                  </td>
                  <td mat-footer-cell *matFooterCellDef class="no-display"></td>
                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="status">
                  <th mat-header-cell *matHeaderCellDef>Status</th>
                  <td mat-cell (click)="findTrailerById(trailer)" *matCellDef="let trailer">
                    {{ trailer.status }}
                  </td>
                  <td mat-footer-cell *matFooterCellDef class="no-display"></td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                <tr mat-footer-row *matFooterRowDef="displayedColumns"
                  [hidden]="dataSource && dataSource.data.length > 0"></tr>
              </table>
              <mat-paginator showFirstLastButtons
              [length]="length"
              [pageSize]="pageSize"
              [pageSizeOptions]="pageSizeOptions"
              (page)="pageEvent = getServerData($event)"></mat-paginator>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>