.form-row-stops {
  margin-bottom: 30px !important;
  .card-stops {
    margin-bottom: 12px !important;
  }
}

::ng-deep .card-body.job-window {
  .mat-accordion {
    .mat-expansion-panel {
      .mat-expansion-panel-header {
        .mat-expansion-panel-header-title {
          padding-top: 8px;
        }
        .mat-expansion-panel-header-description {
          display: flex;
          justify-content: space-between;
          .details {
            display: flex;
            padding-top: 6px;
            .detail {
              font-size: 14px;
              margin-right: 20px;
              span {
                font-weight: 600;
              }
            }
          }
          .actions {
            display: flex;
            justify-content: flex-end;
          }
        }
      }
    }
  }
}

::ng-deep .header-fields {
  display: flex;
  justify-content: space-between;
  .form-row {
    button{
      background: #fff !important;
      color: #000 !important;
    }
    .form-group {
      width: 500px;
      padding-bottom: 0 !important;
      .mat-form-field{
        color: #000 !important;
        .mat-form-field-wrapper {
          background: #fff;
          border-radius: 5px;
          padding-bottom: 0 !important;
        }
      }
      
    }
  }
}