<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-body card-form search-form">
            <form [formGroup]="searchForm" (ngSubmit)="search()">

              <div class="form-row">

                <div class="form-group col-md-1">
                  <mat-form-field [style.fontSize]="'12px'" appearance="outline" class="full-width">
                    <mat-label>Job ID</mat-label>
                    <input matInput placeholder="Job ID" formControlName="jobId" />
                  </mat-form-field>
                </div>
                <div class="form-group col-md-1">
                  <mat-form-field [style.fontSize]="'12px'" appearance="outline" class="full-width">
                    <mat-label>RWB ID</mat-label>
                    <input matInput placeholder="RWB ID" formControlName="rwbId" />
                  </mat-form-field>
                </div>
                <!-- <div class="form-group col-md-2">
                  <mat-form-field [style.fontSize]="'12px'" appearance="outline">
                    <mat-label>Ownership</mat-label>
                    <mat-select formControlName="ownerShipStatus">
                      <mat-option value=""></mat-option>
                      <mat-option value="false">Owned</mat-option>
                      <mat-option value="true">Rental</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div> -->
                <div class="form-group col-md-2">
                  <mat-form-field [style.fontSize]="'12px'" appearance="outline" class="full-width">
                    <mat-label>Number Plate</mat-label>
                    <input matInput placeholder="Number Plate" formControlName="lic" />
                  </mat-form-field>
                </div>
                <div class="form-group col-md-2">
                  <mat-form-field [style.fontSize]="'12px'" appearance="outline" class="date-time full-width">
                    <mat-label>Start Date</mat-label>
                    <input matInput [matDatepicker]="pickerStart" formControlName="start">
                    <mat-datepicker-toggle matSuffix [for]="pickerStart"></mat-datepicker-toggle>
                    <mat-datepicker #pickerStart></mat-datepicker>
                  </mat-form-field>
                </div>
                <div class="form-group col-md-2">
                  <mat-form-field [style.fontSize]="'12px'" appearance="outline" class="date-time full-width">
                    <mat-label>End Date</mat-label>
                    <input matInput [matDatepicker]="pickerEnd" formControlName="end">
                    <mat-datepicker-toggle matSuffix [for]="pickerEnd"></mat-datepicker-toggle>
                    <mat-datepicker #pickerEnd></mat-datepicker>
                  </mat-form-field>
                </div>
                <div class="form-group col-md-2">
                  <mat-form-field [style.fontSize]="'12px'" appearance="outline">
                    <mat-label>Job Status</mat-label>
                    <mat-select formControlName="jobStatus">
                      <mat-option value=""></mat-option>
                      <mat-option value="Open">Open</mat-option>
                      <mat-option value="Close">Close</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-2 row-button">
                  <button class="btn btn-sm btn-danger" type="submit">
                    <i class="material-icons">search</i>
                  </button>
                  &nbsp;
                  <button class="btn btn-sm btn-danger" type="button" (click)="ClearForm()">
                    <i class="material-icons">clear</i>
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>

    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-row form-row-stops">
          <div class="col-12">
            <div class="card card-plain card-stops">
              <div class="card-header card-header-danger card-form header-fields">
                <h4 class="card-title ">Trips</h4>
                <form [formGroup]="form">

                  <div class="form-row d-flex flex-row-reverse">

                    <button mat-raised-button class="btn btn-sm light-btn" type="button"
                      routerLinkActive="router-link-active" (click)="exportExcel()">
                      <i class="material-icons">import_export</i> Export
                    </button>

                    <div class="form-group col-2">
                      <mat-form-field [style.fontSize]="'12px'" appearance="outline">
                        <mat-label>End Date</mat-label>
                        <input matInput formControlName="end" [matDatepicker]="apicker" placeholder="End Date">
                        <mat-datepicker-toggle matSuffix [for]="apicker"></mat-datepicker-toggle>
                        <mat-datepicker #apicker></mat-datepicker>
                      </mat-form-field>

                    </div>
                    <div class="form-group col-2">
                      <mat-form-field [style.fontSize]="'12px'" appearance="outline">
                        <mat-label>Start Date</mat-label>
                        <input matInput formControlName="start" [matDatepicker]="picker" placeholder="Start Date">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                      </mat-form-field>
                    </div>
                   
                  </div>
                </form>
              </div>

              <div class="card-body job-window">
                <mat-accordion>
                  <mat-expansion-panel *ngFor="let job of jobData">
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        {{job.jobId}}
                      </mat-panel-title>
                      <mat-panel-description>
                        <div class="details">
                          <div class="detail">
                            Status:
                            <span>
                              {{job.jobStatus?.value}}
                            </span>
                          </div>
                          <div class="detail">
                            Start Date:
                            <span>
                              {{job.startDate}}
                            </span>
                          </div>
                          <div class="detail">
                            End Date:
                            <span>
                              {{job.endDate}}
                            </span>
                          </div>
                        </div>
                        <div class="actions">
                          <button mat-raised-button type="button" class="btn btn-sm btn-danger"
                            [routerLink]="['/trips/details' , job.jobId]" routerLinkActive="router-link-active">
                            <i class="material-icons">remove_red_eye</i>
                            View
                          </button>
                        </div>

                      </mat-panel-description>
                    </mat-expansion-panel-header>

                    <table class="table table-hover">
                      <thead>
                        <th>RWB ID</th>
                        <th>Order No.</th>
                        <th>Route</th>
                        <th>RWB Status</th>
                      </thead>
                      <tbody>
                        <tr *ngFor="let rwb of job.roadwayBills">
                          <td>
                            {{rwb.rwbId}}
                          </td>
                          <td>
                            {{rwb.orderNumber}}
                          </td>
                          <td>
                            <span>{{rwb.route.routeFrom.code}} - {{rwb.route.routeTo.code}}</span>
                          </td>
                          <td>
                            {{rwb.rwbStatus.value}}
                          </td>
                          
                        </tr>
                      </tbody>
                    </table>
                  </mat-expansion-panel>
                </mat-accordion>
                <mat-paginator showFirstLastButtons [length]="length" [pageSize]="pageSize"
                  [pageSizeOptions]="pageSizeOptions" (page)="pageEvent = getServerData($event)"></mat-paginator>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>