::ng-deep .mat-dialog-container {
  padding: 0 !important;
  background-color: transparent;
  box-shadow: none;
  .print-preview {
    border: none;
    height: calc(76vh - 7px);
    width: 100%;
  }
}
