.head {
  display: flex;
  justify-content: space-between;
}
::ng-deep .mat-tab-group {
  .mat-tab-body-wrapper {
    .mat-tab-body {
      .mat-tab-body-content {
        overflow: hidden;
      }
    }
  }
}
