<div class="head">
  <h2 mat-dialog-title>Bulk Upload</h2>
  <div>
    <button class="btn btn-sm btn-danger" type="button">
      <i class="material-icons">save_alt</i>
      bulk upload file format
    </button>
  </div>
</div>
<mat-tab-group>
  <mat-tab label="Upload Asset">
    <form [formGroup]="bulkUploadForm" (ngSubmit)="add()">
      <mat-dialog-content class="mat-typography">
        <div class="form-row">
          <div class="col-12">
            <mat-form-field [style.fontSize]="'12px'" appearance="outline">
              <mat-label>Bulk Assets File</mat-label>
              <ngx-mat-file-input
                formControlName="docs"
                placeholder="Bulk Assets File"
                [accept]="['.xls', '.xlsx', '.csv']"
              ></ngx-mat-file-input>
              <i class="material-icons" matSuffix>folder</i>
            </mat-form-field>
          </div>
        </div>
      </mat-dialog-content>
      <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close class="btn btn-sm" type="button">
          <i class="material-icons">close</i>
          Cancel
        </button>
        &nbsp;
        <button class="btn btn-sm btn-danger" type="submit">
          <i class="material-icons">publish</i>
          Upload
        </button>
      </mat-dialog-actions>
    </form>
  </mat-tab>
  <mat-tab label="Upload Tyres" *ngIf="showTyres">
    <form [formGroup]="tyresUploadForm" (ngSubmit)="addTyre()">
      <mat-dialog-content class="mat-typography">
        <div class="form-row">
          <div class="col-12">
            <mat-form-field [style.fontSize]="'12px'" appearance="outline">
              <mat-label>Bulk Tyres File</mat-label>
              <ngx-mat-file-input
                formControlName="docsTyre"
                placeholder="Bulk Assets File"
                [accept]="['.xls', '.xlsx', '.csv']"
              ></ngx-mat-file-input>
              <i class="material-icons" matSuffix>folder</i>
            </mat-form-field>
          </div>
        </div>
      </mat-dialog-content>
      <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close class="btn btn-sm" type="button">
          <i class="material-icons">close</i>
          Cancel
        </button>
        &nbsp;
        <button class="btn btn-sm btn-danger" type="submit">
          <i class="material-icons">publish</i>
          Upload
        </button>
      </mat-dialog-actions>
    </form>
  </mat-tab>
</mat-tab-group>
