<h2 mat-dialog-title>Receive Payment</h2>
<form [formGroup]="receivePaymentForm" (ngSubmit)="receive()">
	<mat-dialog-content class="mat-typography">
		<div class="form-row card-form">
			<div class="form-group col-md-6">
				<mat-form-field [style.fontSize]="'12px'" appearance="outline">
					<mat-label>Payment Date</mat-label>
					<input
						matInput
						formControlName="paymentDate"
						[matDatepicker]="picker"
						placeholder="Payment Date"
					/>
					<mat-datepicker-toggle
						matSuffix
						[for]="picker"
					></mat-datepicker-toggle>
					<mat-datepicker #picker></mat-datepicker>
				</mat-form-field>
			</div>
			<div class="form-group col-md-6">
				<mat-form-field
					[style.fontSize]="'12px'"
					appearance="outline"
					class="full-width"
				>
					<mat-label>Reference no.</mat-label>
					<input matInput formControlName="refNo" placeholder="Reference no." />
				</mat-form-field>
			</div>
			<div class="form-group col-md-6">
				<mat-form-field
					[style.fontSize]="'12px'"
					appearance="outline"
					class="full-width"
				>
					<mat-label>Payment Amount</mat-label>
					<input
						matInput
						formControlName="totalAmount"
						placeholder="Payment Amount"
					/>
				</mat-form-field>
			</div>
			<div class="form-group col-md-6">
				<mat-form-field
					[style.fontSize]="'12px'"
					appearance="outline"
					class="full-width"
				>
					<mat-label>Verified By</mat-label>
					<input
						matInput
						formControlName="verifiedBy"
						placeholder="Verified By"
					/>
				</mat-form-field>
			</div>
		</div>
	</mat-dialog-content>
	<mat-dialog-actions align="end">
		<button mat-button mat-dialog-close>Cancel</button>
		<button type="submit" mat-button cdkFocusInitial>Receive</button>
	</mat-dialog-actions>
</form>
