<!-- Create company form component -->
<div class="main-content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<!-- main form start -->
				<form [formGroup]="assetCombinationForm" (ngSubmit)="submitCombination()">
					<div class="card-form status-dropdown">
						<div class="form-row d-flex flex-row-reverse">
							<div class="form-group col-md-2">
								<mat-form-field [style.fontSize]="'12px'" appearance="outline">
									<mat-label>Status</mat-label>
									<mat-select formControlName="status">
										<mat-option></mat-option>
										<mat-option value="Active">Active</mat-option>
										<mat-option value="Inactive">Inactive</mat-option>
									</mat-select>
								</mat-form-field>
							</div>
						</div>
					</div>

					<div class="row assets-cards">
						<div class="col-md-4">
							<div class="card">
								<div class="card-header card-header-danger">
									Tractor
								</div>
								<div class="card-body">
									<div class="form-group">
										<!-- <mat-form-field [style.fontSize]="'12px'" appearance="outline">
											<mat-label>Tractor</mat-label>
											<mat-select formControlName="tractor">
												<mat-option [value]="null"></mat-option>
												<mat-option *ngFor="let tractors of tractorData" [value]="tractors">
													{{ tractors.numberPlate }}
												</mat-option>
											</mat-select>
										</mat-form-field> -->
										<mat-form-field [style.fontSize]="'12px'"  appearance="outline">
											<input type="text" (click)="focusedTractor()" placeholder="Tractor Number" aria-label="text" matInput formControlName=tractor
											  [matAutocomplete]="auto">
											<mat-autocomplete #auto="matAutocomplete" [displayWith]="displayTractor">
												<mat-option *ngFor="let tractors of filteredTractors" [value]="tractors">
													{{ tractors.numberPlate }}
												</mat-option>
											</mat-autocomplete>
											<!-- <mat-error *ngIf="billingForm.controls.city.errors?.required">City is required</mat-error> -->
										  </mat-form-field>
									</div>
								</div>
								<div class="card-footer">
									<h4 class="heading">
										Specifications:
									</h4>
									<div class="spec">
										<div>
											<div>
												<p>Id:</p>
											</div>
											<div>
												<p>
													{{
														assetCombinationForm.get("tractor").value?.tractorId
													}}
												</p>
											</div>
										</div>
										<div>
											<div>
												<p>License no:</p>
											</div>
											<div>
												<p>
													{{
														assetCombinationForm.get("tractor").value
															?.numberPlate
													}}
												</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="card">
								<div class="card-header card-header-danger">
									Tracker
								</div>
								<div class="card-body">
									<div class="form-group">
										<!-- <mat-form-field [style.fontSize]="'12px'" appearance="outline">
											<mat-label>Tracker</mat-label>
											<mat-select formControlName="tracker">
												<mat-option [value]="null"></mat-option>
												<mat-option *ngFor="let trackers of trackerData" [value]="trackers">
													{{ trackers.trackerNumber }}
												</mat-option>
											</mat-select>
										</mat-form-field> -->
										<mat-form-field [style.fontSize]="'12px'"  appearance="outline">
											<input type="text" (click)="focusedTracker()" placeholder="Tracker Number" aria-label="text" matInput formControlName=tracker
											  [matAutocomplete]="auto1">
											<mat-autocomplete #auto1="matAutocomplete" [displayWith]="displayTracker">
												<mat-option *ngFor="let trackers of filteredTrackers" [value]="trackers">
													{{ trackers.trackerNumber }}
												</mat-option>
											</mat-autocomplete>
											<!-- <mat-error *ngIf="billingForm.controls.city.errors?.required">City is required</mat-error> -->
										  </mat-form-field>
									</div>
								</div>
								<div class="card-footer">
									<h4 class="heading">
										Specifications:
									</h4>
									<div class="spec">
										<div>
											<div>
												<p>Id:</p>
											</div>
											<div>
												<p>
													{{
														assetCombinationForm.get("tracker").value?.trackerId
													}}
												</p>
											</div>
										</div>
										<div>
											<div>
												<p>Tracker Name:</p>
											</div>
											<div>
												<p>
													{{
														assetCombinationForm.get("tracker").value
															?.trackerName
													}}
												</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="card">
								<div class="card-header card-header-danger">
									Trailer
								</div>
								<div class="card-body">
									<div class="form-group">
										<!-- <mat-form-field [style.fontSize]="'12px'" appearance="outline">
											<mat-label>Trailer</mat-label>
											<mat-select formControlName="trailer">
												<mat-option [value]="null"></mat-option>
												<mat-option *ngFor="let trailers of trailerData" [value]="trailers">
													{{ trailers.vin }}
												</mat-option>
											</mat-select>
										</mat-form-field> -->
										<mat-form-field [style.fontSize]="'12px'"  appearance="outline">
											<input type="text" (click)="focusedTrailer()" placeholder="Trailer Number" aria-label="text" matInput formControlName=trailer
											  [matAutocomplete]="auto2">
											<mat-autocomplete #auto2="matAutocomplete" [displayWith]="displayTrailer">
												<mat-option *ngFor="let trailers of filteredTrailers" [value]="trailers">
													{{ trailers.vin }}
												</mat-option>
											</mat-autocomplete>
											<!-- <mat-error *ngIf="billingForm.controls.city.errors?.required">City is required</mat-error> -->
										  </mat-form-field>
									</div>
								</div>
								<div class="card-footer">
									<h4 class="heading">
										Specifications:
									</h4>
									<div class="spec">
										<div>
											<div>
												<p>Id:</p>
											</div>
											<div>
												<p>
													{{
														assetCombinationForm.get("trailer").value?.trailerId
													}}
												</p>
											</div>
										</div>
										<div>
											<div>
												<p>Size:</p>
											</div>
											<div>
												<p>
													{{
														assetCombinationForm.get("trailer").value
															?.trailerSize?.value
													}}
												</p>
											</div>
										</div>
										<div>
											<div>
												<p>Type:</p>
											</div>
											<div>
												<p>
													{{
														assetCombinationForm.get("trailer").value
															?.trailerType?.value
													}}
												</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="card">
								<div class="card-header card-header-danger">
									Container
								</div>
								<div class="card-body">
									<div class="form-group">
										<!-- <mat-form-field [style.fontSize]="'12px'" appearance="outline">
											<mat-label>Container</mat-label>
											<mat-select formControlName="container">
												<mat-option [value]="null"></mat-option>
												<mat-option *ngFor="let containers of containerData"
													[value]="containers">
													{{ containers.containerNumber }}
												</mat-option>
											</mat-select>
										</mat-form-field> -->
										<mat-form-field [style.fontSize]="'12px'"  appearance="outline">
											<input type="text" (click)="focusedContainer()" placeholder="Container Number" aria-label="text" matInput formControlName=container
											  [matAutocomplete]="auto3">
											<mat-autocomplete #auto3="matAutocomplete" [displayWith]="displayContainer">
												<mat-option *ngFor="let containers of filteredContainers"
													[value]="containers">
													{{ containers.containerNumber }}
												</mat-option>
											</mat-autocomplete>
											<!-- <mat-error *ngIf="billingForm.controls.city.errors?.required">City is required</mat-error> -->
										  </mat-form-field>
									</div>
								</div>
								<div class="card-footer">
									<h4 class="heading">
										Specifications:
									</h4>
									<div class="spec">
										<div>
											<div>
												<p>Id:</p>
											</div>
											<div>
												<p>
													{{
														assetCombinationForm.get("container").value?.containerId
													}}
												</p>
											</div>
										</div>
										<div>
											<div>
												<p>Size:</p>
											</div>
											<div>
												<p>
													{{
														assetCombinationForm.get("container").value?.containerSize?.value
													}}
												</p>
											</div>
										</div>
										<div>
											<div>
												<p>Type:</p>
											</div>
											<div>
												<p>
													{{
														assetCombinationForm.get("container").value?.containerType?.value
													}}
												</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="card">
								<div class="card-header card-header-danger">
									Driver 1
								</div>
								<div class="card-body">
									<div class="form-group">
										<!-- <mat-form-field [style.fontSize]="'12px'" appearance="outline">
											<mat-label>Driver 1</mat-label>
											<mat-select formControlName="driver1">
												<mat-option [value]="null"></mat-option>
												<mat-option *ngFor="let driver of driver1Data" [value]="driver">
													{{ driver.employeeNumber }} - {{ driver.employeeName }}
												</mat-option>
											</mat-select>
										</mat-form-field> -->
										<mat-form-field [style.fontSize]="'12px'" appearance="outline">
											<input type="text" (click)="focusedDriver()" placeholder="Driver1"
												aria-label="text" matInput formControlName=driver1
												[matAutocomplete]="auto4">
											<mat-autocomplete #auto4="matAutocomplete" [displayWith]="displayDriver">
												<mat-option *ngFor="let driver of filteredDriver1" [value]="driver">
													{{ driver.employeeNumber }} - {{ driver.employeeName }}
												</mat-option>
											</mat-autocomplete>
											<!-- <mat-error *ngIf="billingForm.controls.city.errors?.required">City is required</mat-error> -->
										</mat-form-field>
									</div>
								</div>
								<div class="card-footer">
									<h4 class="heading">
										Specifications:
									</h4>
									<div class="spec">
										<div>
											<div>
												<p>Id:</p>
											</div>
											<div>
												<p>
													{{
														assetCombinationForm.get("driver1").value
															?.employeeId
													}}
												</p>
											</div>
										</div>
										<div>
											<div>
												<p>Name:</p>
											</div>
											<div>
												<p>
													{{
														assetCombinationForm.get("driver1").value?.employeeName
													}}
												</p>
											</div>
										</div>
										<div>
											<div>
												<p>License no:</p>
											</div>
											<div>
												<p>
													{{
														assetCombinationForm.get("driver1").value
															?.licenceNumber
													}}
												</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="card">
								<div class="card-header card-header-danger">
									Driver 2
								</div>
								<div class="card-body">
									<div class="form-group">
										<!-- <mat-form-field [style.fontSize]="'12px'" appearance="outline">
											<mat-label>Driver 2</mat-label>
											<mat-select formControlName="driver2">
												<mat-option [value]="null"></mat-option>
												<mat-option *ngFor="let drivers of driver2Data" [value]="drivers">
													{{ drivers.employeeNumber }} -
													{{ drivers.employeeName }}
												</mat-option>
											</mat-select>
										</mat-form-field> -->
										<mat-form-field [style.fontSize]="'12px'" appearance="outline">
											<input type="text" (click)="focusedDriver()" placeholder="Driver2"
												aria-label="text" matInput formControlName=driver2
												[matAutocomplete]="auto5">
											<mat-autocomplete #auto5="matAutocomplete" [displayWith]="displayDriver">
												<mat-option *ngFor="let drivers of filteredDriver2" [value]="drivers">
													{{ drivers.employeeNumber }} -
													{{ drivers.employeeName }}
												</mat-option>
											</mat-autocomplete>
											<!-- <mat-error *ngIf="billingForm.controls.city.errors?.required">City is required</mat-error> -->
										</mat-form-field>
									</div>
								</div>
								<div class="card-footer">
									<h4 class="heading">
										Specifications:
									</h4>
									<div class="spec">
										<div>
											<div>
												<p>Id:</p>
											</div>
											<div>
												<p>
													{{
														assetCombinationForm.get("driver2").value
															?.employeeId
													}}
												</p>
											</div>
										</div>
										<div>
											<div>
												<p>Name:</p>
											</div>
											<div>
												<p>
													{{
														assetCombinationForm.get("driver2").value?.employeeName
													}}

												</p>
											</div>
										</div>
										<div>
											<div>
												<p>License no:</p>
											</div>
											<div>
												<p>
													{{
														assetCombinationForm.get("driver2").value
															?.licenceNumber
													}}
												</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-12">
							<mat-form-field [style.fontSize]="'12px'" appearance="outline" class="full-width">
								<mat-label>Note</mat-label>
								<textarea matInput formControlName="notes" placeholder="Add a Note"></textarea>
							</mat-form-field>
						</div>
					</div>

					<div class="form-navigation">
						<div>
							<button mat-raised-button class="btn btn-sm" type="reset"
								[routerLink]="['/assetsCombination']" routerLinkActive="router-link-active">
								Back
							</button>
						</div>
						<div>
							<button mat-raised-button class="btn btn-sm" type="button" (click)="deleteCombination()"
								routerLinkActive="router-link-active">
								Delete
							</button>
							<button mat-raised-button class="btn btn-danger btn-sm" type="submit"
								routerLinkActive="router-link-active">
								Save
							</button>
						</div>
					</div>
				</form>
				<!-- main form end -->
			</div>
		</div>
	</div>
</div>