::ng-deep .assets-cards {
  .card-body {
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
    .form-group {
      padding-bottom: 0 !important;
      .mat-form-field-wrapper {
        padding-bottom: 0 !important;
      }
    }
  }

  .card-footer {
    display: block;
    .heading {
      font-weight: 500;
    }
    .spec {
      div {
        display: flex;
        justify-content: space-between;
        div {
          p {
            margin-bottom: 0;
          }
        }
        div:last-child {
          p {
            font-weight: 500;
          }
        }
      }
    }
  }
}
::ng-deep .mat-autocomplete-panel{
  .mat-option{
    height: 36px !important;
    .mat-option-text{
      font-size: 12px !important;
    }
  }
}
  