::ng-deep .add-work {
	form {
		.mat-form-field {
			.btn-suffix {
				margin-top: -8px;
			}
		}
		.form-row {
			.col-12 {
				.card {
					.card-header {
						display: flex;
						justify-content: space-between;
					}
				}
			}
		}
		.tally-table {
			table {
				width: 100%;
				tr {
					td:first-child,
					th:first-child {
						padding-right: 50px;
					}
					td:last-child,
					th:last-child {
						text-align: right;
					}
				}
			}
		}
	}
}
