<!-- Add Work Order form component -->
<div class="main-content add-work">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<!-- main form start -->
				<form [formGroup]="addWorkOrder" (ngSubmit)="submit()">
					<div class="card-form status-dropdown">
						<div class="form-row d-flex justify-content-between">
							<div class="id-card">
								<p>Work Order ID # {{ addWorkOrder.get("orderId").value }}</p>
							</div>
							<div class="form-group col-md-2">
								<mat-form-field [style.fontSize]="'12px'" appearance="outline">
									<mat-label>Work Order Status</mat-label>
									<mat-select formControlName="orderStatus" [compareWith]="compareDropdownType">
										<mat-option [value]="null"></mat-option>
										<mat-option *ngFor="let status of orderStatusDropDown" [value]="status">
											{{ status.value }}
										</mat-option>
									</mat-select>
								</mat-form-field>
							</div>
						</div>
					</div>

					<!-- Add Work Order Form card start -->
					<div class="card">
						<div class="card-body card-form">
							<div class="form-row">
								<!-- basic info -->
								<div class="form-group col-md-3">
									<mat-form-field [style.fontSize]="'12px'" appearance="outline" class="full-width">
										<input type="text" placeholder="Truck Number" aria-label="Number" matInput
											formControlName="truck" [matAutocomplete]="auto" />
										<mat-autocomplete #auto="matAutocomplete" [displayWith]="displayTruck">
											<mat-option *ngFor="let option of filteredTruck" [value]="option">
												{{ option.numberPlate }}
											</mat-option>
										</mat-autocomplete>
									</mat-form-field>
								</div>
								<div class="form-group col-md-3">
									<mat-form-field [style.fontSize]="'12px'" appearance="outline" class="full-width">
										<mat-label>Truck Mileage(Km)</mat-label>
										<input matInput formControlName="truckKm" placeholder="Truck Kilometers"
											type="number" />
									</mat-form-field>
								</div>
								<div class="form-group col-md-3">
									<mat-form-field [style.fontSize]="'12px'" appearance="outline" class="full-width">
										<mat-label>Reference No.</mat-label>
										<input matInput formControlName="refNo" placeholder="Reference No."
											type="text" />
									</mat-form-field>
								</div>
								<div class="form-group col-md-3">
									<mat-form-field [style.fontSize]="'12px'" appearance="outline"
										class="date-time full-width">
										<mat-label>Work Order Date</mat-label>
										<input matInput [matDatepicker]="picker" formControlName="workOrderDate" />
										<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
										<mat-datepicker #picker></mat-datepicker>
									</mat-form-field>
								</div>
								<div class="form-group col-md-3">
									<mat-form-field [style.fontSize]="'12px'" appearance="outline"
										class="date-time full-width">
										<mat-label>Completion Date</mat-label>
										<input matInput [matDatepicker]="picker1" formControlName="completionDate" />
										<mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
										<mat-datepicker #picker1></mat-datepicker>
									</mat-form-field>
								</div>
								<div class="form-group col-md-3">
									<mat-form-field [style.fontSize]="'12px'" appearance="outline" class="full-width">
										<mat-label>Work Order Category</mat-label>
										<mat-select formControlName="orderCategory" [compareWith]="compareDropdownType">
											<mat-option [value]="null"></mat-option>
											<mat-option *ngFor="let ord of orderCategoryDropDown" [value]="ord">
												{{ ord.value }}
											</mat-option>
										</mat-select>
									</mat-form-field>
								</div>
								<div class="form-group col-md-3">
									<mat-form-field [style.fontSize]="'12px'" appearance="outline" class="full-width">
										<mat-label>Order Sub Category</mat-label>
										<mat-select formControlName="orderSubCategory"
											[compareWith]="compareDropdownType">
											<mat-option [value]="null"></mat-option>
											<mat-option *ngFor="let sub of orderSubCatDropDown" [value]="sub">
												{{ sub.value }}
											</mat-option>
										</mat-select>
									</mat-form-field>
								</div>
								<div class="form-group col-md-3">
									<mat-form-field [style.fontSize]="'12px'" appearance="outline" class="full-width">
										<mat-label>Base Station</mat-label>
										<mat-select formControlName="baseStation" [compareWith]="compareDropdownType">
											<mat-option [value]="null"></mat-option>
											<mat-option *ngFor="let base of baseStationDropDown" [value]="base">
												{{ base.value }}
											</mat-option>
										</mat-select>
									</mat-form-field>
								</div>
								<div class="form-group col-md-3">
									<mat-form-field [style.fontSize]="'12px'" appearance="outline" class="full-width">
										<mat-label>Priority</mat-label>
										<mat-select formControlName="priority" [compareWith]="compareDropdownType">
											<mat-option [value]="null"></mat-option>
											<mat-option *ngFor="let pri of priorityDropDown" [value]="pri">
												{{ pri.value }}
											</mat-option>
										</mat-select>
									</mat-form-field>
								</div>
								<div class="form-group col-md-3">
									<mat-form-field [style.fontSize]="'12px'" appearance="outline" class="full-width">
										<mat-label>Sender Name</mat-label>
										<input matInput formControlName="senderName" placeholder="Sender Name"
											type="text" />
									</mat-form-field>
								</div>
								<div class="form-group col-md-3">
									<mat-form-field [style.fontSize]="'12px'" appearance="outline" class="full-width">
										<mat-label>Workshop</mat-label>
										<mat-select formControlName="workShop"
											[compareWith]="compareWorkshop">
											<mat-option [value]="null"></mat-option>
											<mat-option *ngFor="let shop of workshopDropDown" [value]="shop">
												{{ shop.companyName }}
											</mat-option>
										</mat-select>
									</mat-form-field>
								</div>
								<div class="form-group col-md-3">
									<mat-form-field [style.fontSize]="'12px'" appearance="outline" class="full-width">
										<mat-label>Activity</mat-label>
										<input matInput formControlName="activity" placeholder="Activity" type="text" />
									</mat-form-field>
								</div>
							</div>
						</div>
					</div>

					<!-- Add Adjusted Enteries section -->
					<div class="form-row">
						<div class="col-12">
							<div class="card">
								<div class="card-header card-header-danger header-buttons">
									<h4 class="card-title">Items</h4>
									<div class="form-row d-flex flex-row-reverse">
										<button mat-raised-button class="btn btn-sm" type="button"
											(click)="addNewItem()" routerLinkActive="router-link-active">
											<i class="material-icons">add</i> Add Item
										</button>
									</div>
								</div>
								<div class="card-body card-form" formArrayName="itemList"
									*ngFor="let items of addWorkOrder.get('itemList')['controls']; let i = index">
									<div class="form-row" [formGroupName]="i">
										<div class="form-group col-md-3">
											<mat-form-field [style.fontSize]="'12px'" appearance="outline"
												class="full-width">
												<input type="text" placeholder="Item" aria-label="Number" matInput
													(input)="onSearchItem(i)" formControlName="item"
													[matAutocomplete]="auto" />
												<mat-autocomplete #auto="matAutocomplete" [displayWith]="displayItem">
													<mat-option *ngFor="let option of filteredItem" 
													(onSelectionChange)="getRate($event, i)" [value]="option">
														{{ option.itemName }}
													</mat-option>
												</mat-autocomplete>
											</mat-form-field>
										</div>
										<div class="form-group col-md-3">
											<mat-form-field [style.fontSize]="'12px'" appearance="outline"
												class="full-width">
												<mat-label>Quantity Used</mat-label>
												<input matInput formControlName="qtyUsed" placeholder="Quantity Used"
												(input)="getTotalAmount(i)"	type="number" />
											</mat-form-field>
										</div>
										<div class="form-group col-md-3">
											<mat-form-field [style.fontSize]="'12px'" appearance="outline"
												class="full-width">
												<mat-label>Rate</mat-label>
												<input matInput formControlName="rate" placeholder="Rate"
												(input)="getTotalAmount2(i)" type="number" />
											</mat-form-field>
										</div>
										<div class="form-group col-md-2">
											<mat-form-field [style.fontSize]="'12px'" appearance="outline"
												class="full-width">
												<mat-label>Amount</mat-label>
												<input matInput formControlName="amount" placeholder="Amount"
													type="number" />
											</mat-form-field>
										</div>
										<div class="col-md-1">
											<button mat-raised-button
												class="btn btn-sm btn-danger btn-link btn-sm btn-just-icon"
												type="button" (click)="deleteItem(i)">
												<i class="material-icons">delete</i>
											</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="form-row d-flex flex-row-reverse">
						<div class="col-4">
							<div class="card">
								<div class="card-body tally-table">
									<table>
										<tr>
											<th>Total Amount:</th>
											<th>{{addWorkOrder.get('totalAmount').value}}</th>
										</tr> 
									</table>
								</div>
							</div>
						</div>
					</div>

					<div class="form-navigation">
						<div>
							<button mat-raised-button class="btn btn-sm" type="reset" [routerLink]="['/workOrder']"
								routerLinkActive="router-link-active">
								Back
							</button>
							<button mat-raised-button class="btn btn-sm" type="button" *ngIf="showProgress"
								(click)="changeStatus('In Progress')" routerLinkActive="router-link-active">
								In Progress
							</button>
							<button mat-raised-button class="btn btn-sm" type="button" *ngIf="showClose"
							(click)="changeStatus('Close')" routerLinkActive="router-link-active">
								Order Close
							</button>
						</div>
						<div>
							<button mat-raised-button (click)="deleteWorkOrder()" type="button" class="btn btn-sm"
								routerLinkActive="router-link-active">
								Delete
							</button>
							<button mat-raised-button type="submit" class="btn btn-sm btn-danger"
								routerLinkActive="router-link-active">
								Save
							</button>
						</div>
					</div>
				</form>
				<!-- main form end -->
			</div>
		</div>
	</div>
</div>